Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

gitleaks:
  run: 'gitleaks detect --source . --config .gitleaks.toml --no-banner --verbose --staged
  
    '
  fail_text: 'ðŸ”’ Gitleaks detected potential secrets in staged files.
  
    Review the output above and remove or rotate any exposed credentials.
  
    See docs/hardening/secrets.md for guidance.
  
  ...

lint-staged:
  run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
  fail_text: Lint errors found. Run `pnpm lint` to see details.

typecheck-staged:
  run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
  fail_text: Type errors found. Run `pnpm typecheck` to see details.

fix(otel-core): use extensionless imports for Turbopack compatibility
  packages/otel-core/src/index.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): add missing user_management auth tables (mfa_totp, mfa_challenges, magic_links, invites)
  .github/workflows/e2e.yml
  apps/union-eyes/db/migrations/20260509_fixup_auth_mfa_magic_invites.sql
  apps/union-eyes/db/migrations/meta/_journal.json
  packages/platform-auth/src/password/handlers.ts
Due: gitleaks, lint-staged, typecheck-staged

test(platform-auth): expose login error detail in QA_TEST_ENV for E2E debug
  packages/platform-auth/src/password/handlers.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): register 20260711 auth migration in journal
  apps/union-eyes/db/migrations/meta/_journal.json
Due: gitleaks

test(union-eyes): exclude .next and node_modules from playwright testIgnore
  apps/union-eyes/playwright.config.ts
Due: gitleaks, lint-staged, typecheck-staged

test(union-eyes): expose 500 detail on workflow/transition for QA diagnostics
  apps/union-eyes/app/api/workflow/transition/route.ts
  apps/union-eyes/tests/e2e/case-escalation.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): re-add organization_members columns dropped in 0002 to match drizzle schema
  apps/union-eyes/db/migrations/20260712_align_organization_members_columns.sql
  apps/union-eyes/db/migrations/meta/_journal.json
Due: gitleaks

Phase A: environment isolation, release identity, prod-seed guards, IaC for 4 envs
  .github/workflows/deploy-union-eyes.yml
  apps/union-eyes/app/[locale]/(marketing)/insights/[slug]/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/insights/categories/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/insights/category/[slug]/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/insights/doctrine/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/insights/methodology/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/insights/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/insights/resonance/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/proof/page.tsx
  apps/union-eyes/infra/environments/provision-all.ps1
  apps/union-eyes/infra/environments/union-eyes-env.bicep
  apps/union-eyes/lib/runtime/environment.ts
  apps/union-eyes/lib/runtime/production-guard.mjs
  apps/union-eyes/lib/runtime/production-guard.ts
  apps/union-eyes/scripts/seed-cba-intelligence.ts
  apps/union-eyes/scripts/seed-clc-demo-environment.ts
  apps/union-eyes/scripts/seed-cupe-pilot.mjs
  apps/union-eyes/scripts/seed-employer-execution-marathon.ts
  apps/union-eyes/scripts/seed-test-env.ts
  apps/union-eyes/scripts/seed-union-eyes-demo.ts
  docs/union-eyes/release/environment-topology-audit.md
  docs/union-eyes/release/final-environment-go-no-go.md
  docs/union-eyes/release/phase-a-remediation-report.md
  docs/union-eyes/release/release-governance-standard.md
  docs/union-eyes/release/schema-parity-report.md
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): align runtime governance workflow pnpm version with packageManager
  .github/workflows/runtime-governance-attestation.yml
Due: gitleaks

fix(security): override fast-uri and fast-xml-builder to satisfy audit gate
  package.json
  pnpm-lock.yaml
Due: gitleaks

fix(ci): let pnpm/action-setup read packageManager version
  .github/workflows/runtime-governance-attestation.yml
Due: gitleaks

fix(ci): resolve remaining contract, runtime-governance, and e2e gate failures
  README.md
  packages/doctrine-enforcement/src/evaluator.ts
  tooling/contract-tests/data-residency.test.ts
  tooling/contract-tests/pilot-api-entitlement.test.ts
  tooling/contract-tests/rbac-property-based.test.ts
  tooling/contract-tests/trustcore-org-isolation.test.ts
  tooling/scripts/run-union-eyes-drizzle-bootstrap.mjs
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): stabilize union-eyes auth, seed, and feature-flag contract gates
  apps/union-eyes/app/api/auth/forgot-password/route.ts
  apps/union-eyes/app/api/auth/forgot-password/schemas.ts
  apps/union-eyes/app/api/auth/magic-link/request/route.ts
  apps/union-eyes/app/api/auth/magic-link/request/schemas.ts
  apps/union-eyes/app/api/workbench/assign/route.ts
  apps/union-eyes/app/api/workbench/assign/schemas.ts
  apps/union-eyes/app/api/workflow/transition/route.ts
  apps/union-eyes/app/api/workflow/transition/schemas.ts
  apps/union-eyes/lib/__tests__/auth-request-schemas.fuzz.test.ts
  apps/union-eyes/lib/__tests__/workbench-assign-schema.fuzz.test.ts
  apps/union-eyes/lib/__tests__/workflow-transition-schema.fuzz.test.ts
  apps/union-eyes/lib/pilot/__tests__/readiness-assessment.test.ts
  apps/union-eyes/scripts/seed-test-env.ts
  apps/union-eyes/tests/e2e/auth-session-switch.spec.ts
  ops/outputs/data-residency-runtime.json
  ops/outputs/governance-runtime-budget.json
  ops/outputs/onboarding-kpis.json
  ops/outputs/strategic-resilience-report.json
  tooling/contract-tests/console-union-eyes-auth-parity.test.ts
  tooling/contract-tests/feature-flag-evaluation.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(e2e-bootstrap): materialize QA baseline tables when snapshot is absent
  tooling/scripts/run-union-eyes-drizzle-bootstrap.mjs
Due: lint-staged

fix(e2e-bootstrap): use deterministic QA baseline sql for empty DB
  tooling/scripts/run-union-eyes-drizzle-bootstrap.mjs
  tooling/sql/union-eyes-qa-baseline.sql
Due: lint-staged

fix(e2e-bootstrap): add missing columns to organizations table schema
  tooling/sql/union-eyes-qa-baseline.sql
Due: none

fix(e2e-bootstrap): use DO blocks for enum creation (no IF NOT EXISTS support)
  tooling/sql/union-eyes-qa-baseline.sql
Due: none

fix(e2e-bootstrap): complete QA baseline schema — all missing columns
  tooling/sql/union-eyes-qa-baseline.sql
Due: none

test(union-eyes): align ai-feature-guard disclaimer assertion with doctrine text
  apps/union-eyes/lib/ai/__tests__/ai-feature-guard.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): harden decision-aggregate install against pnpm ENOENT race
  .github/workflows/platform-automation.yml
Due: gitleaks

fix(ci): remove setup-node pnpm cache in platform automation job
  .github/workflows/platform-automation.yml
Due: gitleaks

fix(e2e): prevent playwright test cancellation via connection pool management
  .github/workflows/e2e.yml
  apps/cfo/app/[locale]/dashboard/advisory-ai/page.tsx
  apps/cfo/app/[locale]/dashboard/ai-insights/page.tsx
  apps/union-eyes/db/db.ts
  apps/union-eyes/e2e/cba-intelligence.spec.ts
  apps/union-eyes/tests/e2e/_helpers.ts
  apps/union-eyes/tests/e2e/admin-assignment.spec.ts
  apps/union-eyes/tests/e2e/auditor-readonly.spec.ts
  apps/union-eyes/tests/e2e/auth-session-switch.spec.ts
  apps/union-eyes/tests/e2e/case-escalation.spec.ts
  apps/union-eyes/tests/e2e/case-resolution.spec.ts
  apps/union-eyes/tests/e2e/cross-org-block.spec.ts
  apps/union-eyes/tests/e2e/external-ux-tester.spec.ts
  apps/union-eyes/tests/e2e/member-intake.spec.ts
  apps/union-eyes/tests/e2e/steward-review.spec.ts
  apps/union-eyes/tests/e2e/ue-workflow.spec.ts
  docs/nzila-cognition-doctrine/README.md
  docs/nzila-cognition-doctrine/cfo-cognition-realignment.md
  docs/nzila-cognition-doctrine/cross-app-cognition-consistency.md
  docs/nzila-cognition-doctrine/executiveos-cognition-realignment.md
  docs/nzila-cognition-doctrine/faircase-governance-realignment.md
  docs/nzila-cognition-doctrine/final-cognition-convergence-readiness-review.md
  docs/nzila-cognition-doctrine/global-anti-surveillance-enforcement.md
  docs/nzila-cognition-doctrine/global-ux-cognition-refactor.md
  docs/nzila-cognition-doctrine/institutional-operational-cognition-doctrine.md
  docs/nzila-cognition-doctrine/knowledge-memory-infrastructure-refactor.md
  docs/nzila-cognition-doctrine/platform-cognition-substrate-refactor.md
  docs/nzila-cognition-doctrine/procurement-governance-positioning-refactor.md
  docs/nzila-cognition-doctrine/repo-wide-intelligence-audit.md
  docs/nzila-cognition-doctrine/ue-intelligence-realignment.md
  package.json
  tooling/scripts/validate-institutional-cognition-convergence.mjs
Due: gitleaks, lint-staged, typecheck-staged

docs(governance): add maturity-elevation + final-convergence doctrine layers
  docs/nzila-final-convergence/README.md
  docs/nzila-final-convergence/cross-app-live-e2e-realism-matrix.md
  docs/nzila-final-convergence/cross-app-ux-embodiment-finalization.md
  docs/nzila-final-convergence/executive-procurement-realism-hardening.md
  docs/nzila-final-convergence/final-full-maturity-review.md
  docs/nzila-final-convergence/institutional-field-pressure-hardening.md
  docs/nzila-final-convergence/live-operational-adoption-hardening.md
  docs/nzila-final-convergence/master-final-convergence-index.md
  docs/nzila-final-convergence/package-naming-substrate-finalization.md
  docs/nzila-final-convergence/real-operator-journey-finalization.md
  docs/nzila-final-convergence/runtime-semantic-convergence.md
  docs/nzila-maturity-elevation/README.md
  docs/nzila-maturity-elevation/cross-app-e2e-maturity-matrix.md
  docs/nzila-maturity-elevation/cross-app-ux-maturity-convergence.md
  docs/nzila-maturity-elevation/executive-cognition-maturity-elevation.md
  docs/nzila-maturity-elevation/final-maturity-readiness-review.md
  docs/nzila-maturity-elevation/full-maturity-gap-audit.md
  docs/nzila-maturity-elevation/full-role-continuity-maturity.md
  docs/nzila-maturity-elevation/master-maturity-index.md
  docs/nzila-maturity-elevation/operational-cadence-maturity-finalization.md
  docs/nzila-maturity-elevation/package-substrate-maturity-convergence.md
  docs/nzila-maturity-elevation/procurement-maturity-elevation.md
  docs/nzila-maturity-elevation/stabilization-ux-maturity.md
  package.json
  tooling/scripts/validate-final-convergence.mjs
  tooling/scripts/validate-maturity-convergence.mjs
Due: gitleaks, lint-staged

docs(live-audit): final operational truth layer - env, URLs, auth, personas, nav, e2e, gating, monetization, UE system
  docs/nzila-live-audit/README.md
  docs/nzila-live-audit/authoritative-url-domain-audit.md
  docs/nzila-live-audit/final-live-operational-status-report.md
  docs/nzila-live-audit/full-e2e-environment-validation.md
  docs/nzila-live-audit/full-environment-inventory-audit.md
  docs/nzila-live-audit/full-page-navigation-reality-audit.md
  docs/nzila-live-audit/live-auth-role-access-audit.md
  docs/nzila-live-audit/live-feature-gating-audit.md
  docs/nzila-live-audit/monetization-doctrine-alignment-audit.md
  docs/nzila-live-audit/test-persona-credentials-audit.md
  docs/nzila-live-audit/ue-whole-system-review.md
  package.json
  tooling/scripts/validate-live-operational-readiness.mjs
Due: gitleaks, lint-staged

docs(union-eyes): institutional operating infrastructure doctrine layer
  docs/union-eyes/institutional-operating-infrastructure/README.md
  docs/union-eyes/institutional-operating-infrastructure/final-ue-operating-infrastructure-review.md
  docs/union-eyes/institutional-operating-infrastructure/fsm-pilot-module-reconvergence.md
  docs/union-eyes/institutional-operating-infrastructure/full-executive-value-repositioning.md
  docs/union-eyes/institutional-operating-infrastructure/full-feature-gating-rearchitecture.md
  docs/union-eyes/institutional-operating-infrastructure/full-institutional-value-expansion-analysis.md
  docs/union-eyes/institutional-operating-infrastructure/full-marketing-category-positioning-refactor.md
  docs/union-eyes/institutional-operating-infrastructure/full-module-architecture-review.md
  docs/union-eyes/institutional-operating-infrastructure/full-monetization-rearchitecture.md
  docs/union-eyes/institutional-operating-infrastructure/full-navigation-ia-rearchitecture.md
  docs/union-eyes/institutional-operating-infrastructure/full-procurement-sales-motion-refactor.md
  docs/union-eyes/institutional-operating-infrastructure/ue-operating-system-reclassification.md
  package.json
  tooling/scripts/validate-ue-infrastructure.mjs
Due: gitleaks, lint-staged

docs(union-eyes): final navigation & monetization access matrix
  docs/union-eyes/navigation-monetization-matrix/README.md
  docs/union-eyes/navigation-monetization-matrix/core-principle-navigation-is-monetization.md
  docs/union-eyes/navigation-monetization-matrix/final-gating-philosophy.md
  docs/union-eyes/navigation-monetization-matrix/final-navigation-monetization-review.md
  docs/union-eyes/navigation-monetization-matrix/final-ux-structure.md
  docs/union-eyes/navigation-monetization-matrix/homepage-demo-sales-impact.md
  docs/union-eyes/navigation-monetization-matrix/marketing-impact-narrative-shift.md
  docs/union-eyes/navigation-monetization-matrix/tier1-institutional-continuity-core.md
  docs/union-eyes/navigation-monetization-matrix/tier2-governance-continuity-operations.md
  docs/union-eyes/navigation-monetization-matrix/tier3-institutional-operating-infrastructure.md
  docs/union-eyes/navigation-monetization-matrix/tier4-institutional-sovereignty-layer.md
  package.json
  tooling/scripts/validate-navigation-monetization.mjs
Due: gitleaks, lint-staged

docs(infra-convergence): live infrastructure reality corpus + validator
  docs/nzila-infrastructure-convergence/README.md
  docs/nzila-infrastructure-convergence/environment-isolation-implementation.md
  docs/nzila-infrastructure-convergence/final-live-infrastructure-certification.md
  docs/nzila-infrastructure-convergence/full-database-migration-legitimacy.md
  docs/nzila-infrastructure-convergence/full-deployment-parity-convergence.md
  docs/nzila-infrastructure-convergence/full-domain-url-convergence.md
  docs/nzila-infrastructure-convergence/full-live-e2e-certification.md
  docs/nzila-infrastructure-convergence/full-persona-auth-reality-convergence.md
  docs/nzila-infrastructure-convergence/full-pilot-mode-feature-flag-convergence.md
  docs/nzila-infrastructure-convergence/full-production-readiness-hardening.md
  docs/nzila-infrastructure-convergence/full-release-rollback-legitimacy.md
  docs/nzila-infrastructure-convergence/live-infrastructure-discovery.md
  package.json
  tooling/scripts/validate-live-infrastructure-convergence.mjs
Due: gitleaks, lint-staged

fix(ci): resolve PR #461 CI failures
  apps/union-eyes/tests/e2e/_helpers.ts
  apps/union-eyes/tests/e2e/case-escalation.spec.ts
  docs/nzila-live-audit/live-feature-gating-audit.md
  docs/nzila-live-audit/monetization-doctrine-alignment-audit.md
Due: gitleaks, lint-staged, typecheck-staged

feat(ue): refresh marketing hero to institutional infrastructure category
  apps/union-eyes/app/[locale]/page.tsx
Due: gitleaks, lint-staged, typecheck-staged

feat(console): refine cognition framing on Autopilot/RevOps section guides
  apps/console/components/command-section-guide.tsx
Due: gitleaks, lint-staged, typecheck-staged

docs(runtime-convergence): final runtime embodiment doctrine layer + validator
  docs/union-eyes/runtime-convergence/README.md
  docs/union-eyes/runtime-convergence/final-runtime-convergence-review.md
  docs/union-eyes/runtime-convergence/fsm-pilot-module-runtime-reconvergence.md
  docs/union-eyes/runtime-convergence/full-demo-pilot-experience-reconvergence.md
  docs/union-eyes/runtime-convergence/full-executive-procurement-experience-convergence.md
  docs/union-eyes/runtime-convergence/full-information-architecture-reconvergence.md
  docs/union-eyes/runtime-convergence/full-live-runtime-experience-certification.md
  docs/union-eyes/runtime-convergence/full-operational-rhythm-cadence-embodiment.md
  docs/union-eyes/runtime-convergence/full-runtime-cognition-semantic-sweep.md
  docs/union-eyes/runtime-convergence/full-runtime-monetization-embodiment.md
  docs/union-eyes/runtime-convergence/full-sidebar-navigation-convergence.md
  docs/union-eyes/runtime-convergence/full-symbol-package-semantic-convergence.md
  package.json
  tooling/scripts/validate-runtime-convergence.mjs
Due: gitleaks, lint-staged

feat(infra): execute tier-1 infrastructure remediations
  docs/nzila-infrastructure-convergence/README.md
  docs/nzila-infrastructure-convergence/tier-1-execution-log.md
  scripts/seed-demo-secrets.ps1
Due: gitleaks

ci(flow-pilot): narrow cutover-gate paths filter to flow-pilot scope only
  .github/workflows/flow-shopmoica-cutover-gate.yml
Due: gitleaks

chore(inventory): regenerate repo inventory snapshot
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

feat(dns): add demo.unioneyes.app provisioning helper for ACA bind
  scripts/dns/create-demo-unioneyes.ps1
Due: gitleaks

fix(flow-pilot): only fail cutover-check on runtime failures when --enforce
  scripts/flow-shopmoica-cutover-check.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(runtime-integrity): doctrine layer + validator for institutional identity & runtime integrity hardening
  docs/nzila-runtime-integrity/README.md
  docs/nzila-runtime-integrity/final-runtime-integrity-review.md
  docs/nzila-runtime-integrity/full-auth-role-lineage-audit.md
  docs/nzila-runtime-integrity/full-dashboard-runtime-failure-integrity.md
  docs/nzila-runtime-integrity/full-e2e-identity-convergence.md
  docs/nzila-runtime-integrity/full-governance-noise-reduction.md
  docs/nzila-runtime-integrity/full-governance-safe-failure-architecture.md
  docs/nzila-runtime-integrity/full-live-runtime-identity-certification.md
  docs/nzila-runtime-integrity/full-organization-identity-convergence.md
  docs/nzila-runtime-integrity/full-seeded-persona-legitimacy-hardening.md
  docs/nzila-runtime-integrity/full-workspace-package-substrate-convergence.md
  package.json
  tooling/scripts/validate-runtime-integrity.mjs
Due: gitleaks, lint-staged

feat(tier2-hardening): doctrine layer + fail-closed runtime gate + validator
  apps/union-eyes/instrumentation.ts
  apps/union-eyes/lib/runtime/fail-closed.test.ts
  apps/union-eyes/lib/runtime/fail-closed.ts
  docs/nzila-tier2-hardening/README.md
  docs/nzila-tier2-hardening/full-auth-identity-isolation-hardening.md
  docs/nzila-tier2-hardening/full-fail-closed-runtime-architecture.md
  docs/nzila-tier2-hardening/full-live-operational-degradation-certification.md
  docs/nzila-tier2-hardening/full-live-runtime-sovereignty-certification.md
  docs/nzila-tier2-hardening/full-pilot-fabric-legitimacy.md
  docs/nzila-tier2-hardening/full-runtime-mode-feature-sovereignty-hardening.md
  docs/nzila-tier2-hardening/full-secret-topology-sovereignty.md
  docs/nzila-tier2-hardening/full-workspace-substrate-sovereignty.md
  package.json
  tooling/scripts/validate-tier2-hardening.mjs
Due: gitleaks, lint-staged, typecheck-staged

Path conditions:
  gitleaks: any of: *.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}
  lint-staged: any of: *.{ts,tsx,js,jsx,mjs}
  typecheck-staged: any of: *.{ts,tsx}
