Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

lefthook.yml:

# lefthook.yml â€” Pre-commit guardrails for Nzila Automation monorepo
# Docs: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true

  commands:
    gitleaks:
      glob: "*.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}"
      run: >
        gitleaks detect
        --source .
        --config .gitleaks.toml
        --no-banner
        --verbose
        --staged
      fail_text: |
        ðŸ”’ Gitleaks detected potential secrets in staged files.
        Review the output above and remove or rotate any exposed credentials.
        See docs/hardening/secrets.md for guidance.
        Install gitleaks: https://github.com/gitleaks/gitleaks#installing

    lint-staged:
      glob: "*.{ts,tsx,js,jsx,mjs}"
      run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Lint errors found. Run `pnpm lint` to see details."

    typecheck-staged:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Type errors found. Run `pnpm typecheck` to see details."

pre-push:
  commands:
    contract-tests:
      run: >
        npx vitest run
        --config tooling/contract-tests/vitest.config.ts
        --dir tooling/contract-tests
      fail_text: |
        Contract tests failed. Run `pnpm contract-tests` to see details.
        Do not push code that violates repo invariants.

test(payments-stripe): achieve 95%+ coverage with comprehensive tests
  packages/payments-stripe/src/__tests__/client.test.ts
  packages/payments-stripe/src/__tests__/evidence.test.ts
  packages/payments-stripe/src/__tests__/normalize.test.ts
  packages/payments-stripe/src/__tests__/primitives.test.ts
  packages/payments-stripe/src/__tests__/reconciliation.test.ts
  packages/payments-stripe/src/__tests__/reports.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): refresh pnpm lockfile for frozen installs
  pnpm-lock.yaml
Due: gitleaks

chore: repo-wide consistency and platform-standard closure pass
  .github/workflows/repo-inventory-check.yml
  README.business.md
  README.md
  apps/control-plane/.env.example
  apps/mobility-client-portal/.env.example
  apps/mobility-client-portal/README.md
  apps/mobility/.env.example
  apps/mobility/README.md
  apps/nacp-exams/.env.example
  apps/nacp-exams/README.md
  apps/orchestrator-api/.env.example
  apps/orchestrator-api/README.md
  apps/partners/.env.example
  apps/platform-admin/.env.example
  apps/platform-admin/README.md
  apps/web/README.md
  docs/ga/GA_READINESS_GATE.md
  docs/plans/REPO_ASSESSMENT.md
  docs/platform/AUTH_MIGRATION_STATUS.md
  docs/platform/GA_READINESS.md
  docs/platform/platform-boundaries.md
  docs/platform/runtime-adoption-matrix.md
  docs/stress-test/ENTERPRISE_STRESS_TEST.md
  governance/exceptions/platform-adoption-exceptions.json
  ops/runbooks/security/README.md
  ops/runbooks/security/key-rotation.md
  ops/runbooks/security/keyvault-rotation.md
  ops/runbooks/ue-pilot.md
  packages/automation/tests/test_manifest_generator.py
  packages/automation/tests/test_pattern_extractor.py
  packages/automation/tests/test_platform_analyzer.py
  tooling/contract-tests/platform-adoption-exceptions.test.ts
  tooling/openapi-gen/src/__tests__/generator.test.ts
  tooling/openapi-gen/src/generator.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/package.json
  tooling/repo-inventory/src/check-drift.ts
  tooling/repo-inventory/src/generate.ts
  tooling/repo-inventory/tsconfig.json
Due: gitleaks, lint-staged, typecheck-staged

chore: repo-wide consistency and platform-standard closure pass (#345)
  .github/workflows/repo-inventory-check.yml
  README.business.md
  README.md
  apps/control-plane/.env.example
  apps/mobility-client-portal/.env.example
  apps/mobility-client-portal/README.md
  apps/mobility/.env.example
  apps/mobility/README.md
  apps/nacp-exams/.env.example
  apps/nacp-exams/README.md
  apps/orchestrator-api/.env.example
  apps/orchestrator-api/README.md
  apps/partners/.env.example
  apps/platform-admin/.env.example
  apps/platform-admin/README.md
  apps/web/README.md
  docs/ga/GA_READINESS_GATE.md
  docs/plans/REPO_ASSESSMENT.md
  docs/platform/AUTH_MIGRATION_STATUS.md
  docs/platform/GA_READINESS.md
  docs/platform/platform-boundaries.md
  docs/platform/runtime-adoption-matrix.md
  docs/stress-test/ENTERPRISE_STRESS_TEST.md
  governance/exceptions/platform-adoption-exceptions.json
  ops/runbooks/security/README.md
  ops/runbooks/security/key-rotation.md
  ops/runbooks/security/keyvault-rotation.md
  ops/runbooks/ue-pilot.md
  packages/automation/tests/test_manifest_generator.py
  packages/automation/tests/test_pattern_extractor.py
  packages/automation/tests/test_platform_analyzer.py
  tooling/contract-tests/platform-adoption-exceptions.test.ts
  tooling/openapi-gen/src/__tests__/generator.test.ts
  tooling/openapi-gen/src/generator.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/package.json
  tooling/repo-inventory/src/check-drift.ts
  tooling/repo-inventory/src/generate.ts
  tooling/repo-inventory/tsconfig.json
Due: gitleaks, lint-staged, typecheck-staged

fix: update pnpm-lock.yaml for tooling/repo-inventory package
  pnpm-lock.yaml
Due: gitleaks

fix: update pnpm-lock.yaml for tooling/repo-inventory package (#346)
  pnpm-lock.yaml
Due: gitleaks

feat: final system hardening + commercialization pass
  .github/workflows/compliance.yml
  .github/workflows/game-day.yml
  content/public/developer-guide.md
  content/public/security-overview.md
  docs/platform/auth-migration-final.md
  docs/platform/portfolio-matrix.md
  docs/platform/revenue-architecture.md
  docs/zonga/monetization-model.md
  governance/final-ga-check.ts
  governance/platform-exceptions.yaml
  packages/platform-revenue/eslint.config.mjs
  packages/platform-revenue/package.json
  packages/platform-revenue/src/index.ts
  packages/platform-revenue/src/service.ts
  packages/platform-revenue/src/types.ts
  packages/platform-revenue/tsconfig.json
  packages/zonga-monetization/eslint.config.mjs
  packages/zonga-monetization/package.json
  packages/zonga-monetization/src/analytics.ts
  packages/zonga-monetization/src/index.ts
  packages/zonga-monetization/src/payout-engine.ts
  packages/zonga-monetization/src/revenue-tracker.ts
  packages/zonga-monetization/src/types.ts
  packages/zonga-monetization/tsconfig.json
  pnpm-lock.yaml
  tooling/chaos/src/experiments.ts
  tooling/contract-tests/platform-drift-guard.test.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/src/generate.ts
  tooling/staging-certification/phase2-startup-runtime.cert.ts
  tooling/staging-certification/phase6-adversarial-failure.cert.ts
  tooling/threat-modeling/threatdragon.config.json
Due: gitleaks, lint-staged, typecheck-staged

fix: DRIFT-03 YAML parser for multiline reasons + add platform-revenue to package owners
  governance/platform-package-owners.yaml
  tooling/contract-tests/platform-drift-guard.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: add vitest.config.ts to platform-revenue and zonga-monetization
  packages/platform-revenue/vitest.config.ts
  packages/zonga-monetization/vitest.config.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: resolve openapi-gen lint warnings (--max-warnings 0)
  tooling/openapi-gen/eslint.config.mjs
  tooling/openapi-gen/src/__tests__/cli.test.ts
  tooling/openapi-gen/src/__tests__/generator.test.ts
Due: gitleaks, lint-staged, typecheck-staged

feat: final system completion pass (OBJ1-OBJ5)
  .github/workflows/app-floor-check.yml
  apps/control-plane/lib/platform-adapters/index.ts
  apps/control-plane/package.json
  apps/control-plane/services/index.ts
  apps/control-plane/services/revenue-aggregator.ts
  apps/control-plane/services/system-state.ts
  docs/platform/revenue-system.md
  governance/final-ga-check.ts
  packages/platform-auth/src/identity.ts
  packages/platform-auth/src/middleware.ts
  packages/platform-revenue/src/index.ts
  packages/platform-revenue/src/service.ts
  packages/platform-revenue/src/types.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: update lockfile for control-plane platform-revenue dep
  pnpm-lock.yaml
Due: gitleaks

fix: rename entityId to orgId in UnifiedRevenueRecord (org-semantic convention)
  docs/platform/revenue-system.md
  packages/platform-revenue/src/service.ts
  packages/platform-revenue/src/types.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: prefix unused lcpHandler with _ in platform-rum test
  packages/platform-rum/src/__tests__/web-vitals.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: replace explicit any with unknown in otel-core test
  packages/otel-core/src/__tests__/otel-core.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: pin cosign to v2.4.1 to avoid v2.5.2 bootstrap download failure
  .github/workflows/sbom.yml
Due: gitleaks

fix: secrets lint — remove unused imports, replace any with Record<string,unknown>
  packages/secrets/src/__tests__/keyvault.test.ts
  packages/secrets/src/__tests__/rotation.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: ai-control typecheck — add missing 'rules' property to mock classifier
  packages/ai-control/src/runner.test.ts
Due: gitleaks, lint-staged, typecheck-staged

feat: final completion pass — universal revenue enforcement, governed monetization, control plane dominance, auth purity, portfolio clarity
  README.md
  apps/cfo/package.json
  apps/control-plane/services/system-state.ts
  apps/flow/package.json
  apps/partners/package.json
  apps/trade/package.json
  apps/zonga/package.json
  docs/platform/governed-monetization.md
  governance/final-ga-check.ts
  packages/platform-governance/src/types.ts
  packages/platform-revenue/src/evidence-bridge.ts
  packages/platform-revenue/src/index.ts
  pnpm-lock.yaml
  tooling/contract-tests/auth-purity.test.ts
  tooling/contract-tests/control-plane-authority.test.ts
  tooling/contract-tests/revenue-enforcement.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: track apps/web/.env.example — add !.env.example negation to web gitignore
  apps/web/.env.example
  apps/web/.gitignore
Due: none

fix: contract test exclusions for migration-era code and mandate deps
  tooling/contract-tests/auth-purity.test.ts
  tooling/contract-tests/dead-deps.test.ts
  tooling/contract-tests/phantom-deps.test.ts
  tooling/contract-tests/revenue-enforcement.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: ai-control typecheck — use unknown cast for mock classifier with private members
  packages/ai-control/src/runner.test.ts
Due: gitleaks, lint-staged, typecheck-staged

feat: final completion pass — 24 GA gates, revenue evidence bridge, control plane API
  apps/control-plane/app/api/control-plane/system-state/route.ts
  governance/final-ga-check.ts
  tooling/contract-tests/control-plane-authority.test.ts
  tooling/contract-tests/revenue-enforcement.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): add requireApiAuth to system-state route + openapi-gen test type fix
  apps/control-plane/app/api/control-plane/system-state/route.ts
  tooling/openapi-gen/src/__tests__/cli.test.ts
Due: gitleaks, lint-staged, typecheck-staged

FINAL SYSTEM LOCK: 30 GA gates, 5 objectives closed
  docs/platform/what-is-nzila.md
  governance/final-ga-check.ts
  packages/platform-revenue/src/evidence-bridge.ts
  packages/platform-revenue/src/index.ts
  packages/platform-revenue/src/service.ts
  tooling/contract-tests/auth-purity.test.ts
  tooling/contract-tests/control-plane-authority.test.ts
  tooling/contract-tests/revenue-enforcement.test.ts
Due: gitleaks, lint-staged, typecheck-staged

docs: FINAL PERCEPTION LOCK — system-first README, control plane as entry point, 2 flagship products, noise reduction
  README.md
  docs/platform/what-is-nzila.md
Due: gitleaks

fix(ci): update pnpm-lock.yaml for platform-integrations-types
  pnpm-lock.yaml
Due: gitleaks

fix(integration-fabric): resolve CI failures — lint, contract tests, SSRF
  governance/platform-package-owners.yaml
  packages/platform-integrations-connectors/eslint.config.mjs
  packages/platform-integrations-connectors/src/rest-api-connector.ts
  packages/platform-integrations-types/eslint.config.mjs
  packages/platform-integrations-types/src/sync.ts
  packages/platform-integrations/eslint.config.mjs
  packages/platform-integrations/src/execution-engine.ts
  packages/platform-integrations/src/mapping-engine.ts
  packages/platform-integrations/src/sync-engine.ts
  packages/platform-integrations/src/webhook-engine.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: resolve CodeQL ReDoS + lint coverage ignores
  apps/zonga/eslint.config.mjs
  packages/ai-registry/eslint.config.mjs
  packages/otel-core/eslint.config.mjs
  packages/platform-integrations/src/mapping-engine.ts
  packages/platform-rum/eslint.config.mjs
Due: gitleaks, lint-staged, typecheck-staged

fix(mobility-ai): add missing EligibilityResult fields in copilot test
  packages/mobility-ai/src/copilot.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(platform-contracts): narrow integrationDependencies type literals in test
  packages/platform-contracts/src/coverage-branch.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(zonga-rights): type customRules as FeeRule[] to fix literal widening
  packages/zonga-rights/src/rights-proof.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: entity-graph EMPLOYER→ORGANIZATION, event-fabric Crypto cast, integrations-types passWithNoTests
  packages/platform-entity-graph/src/entity-graph.test.ts
  packages/platform-event-fabric/src/event-fabric.test.ts
  packages/platform-integrations-types/package.json
Due: gitleaks, lint-staged, typecheck-staged

fix(platform-integrations): add missing verifiedAt to test mock
  packages/platform-integrations/src/identity-linker.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(platform-data-fabric): use valid ResolutionStrategy in test
  packages/platform-data-fabric/src/data-fabric.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: zonga-payments typecheck + connectors configJson/signature fixes
  packages/platform-integrations-connectors/src/csv-sftp-connector.ts
  packages/platform-integrations-connectors/src/rest-api-connector.ts
  packages/platform-integrations-connectors/src/webhook-connector.ts
  packages/zonga-payments/src/adapters/mobile-money-adapters.test.ts
  packages/zonga-payments/src/adapters/stripe.adapter.test.ts
  packages/zonga-payments/src/adapters/vodacom-mpesa.client.test.ts
  packages/zonga-payments/src/payment-flow.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: platform-semantic-search typecheck — cast PgTable for symbol index access
  packages/platform-semantic-search/src/semantic-search.test.ts
Due: gitleaks, lint-staged, typecheck-staged
