Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

gitleaks:
  run: 'gitleaks detect --source . --config .gitleaks.toml --no-banner --verbose --staged
  
    '
  fail_text: 'ðŸ”’ Gitleaks detected potential secrets in staged files.
  
    Review the output above and remove or rotate any exposed credentials.
  
    See docs/hardening/secrets.md for guidance.
  
  ...

lint-staged:
  run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
  fail_text: Lint errors found. Run `pnpm lint` to see details.

typecheck-staged:
  run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
  fail_text: Type errors found. Run `pnpm typecheck` to see details.

feat(control-system): complete 10/10 hardening pass
  ARCHITECTURE.md
  apps/console/control-manifest.json
  apps/console/middleware.ts
  apps/control-plane/app/api/control-plane/authority/authorize-workflow/route.ts
  apps/control-plane/app/api/control-plane/authority/decisions/route.ts
  apps/control-plane/app/api/control-plane/authority/entitlements/route.ts
  apps/control-plane/control-manifest.json
  apps/control-plane/middleware.ts
  apps/control-plane/server/authority/decision.ts
  apps/control-plane/server/authority/entitlements.ts
  apps/control-plane/server/authority/index.ts
  apps/control-plane/server/authority/workflow-authorizer.ts
  apps/control-plane/tsconfig.json
  apps/orchestrator-api/control-manifest.json
  apps/orchestrator-api/src/execution-engine.ts
  apps/orchestrator-api/src/index.ts
  apps/orchestrator-api/src/routes/execute.ts
  apps/orchestrator-api/tsconfig.json
  apps/platform-admin/app/api/admin/org/route.ts
  apps/platform-admin/control-manifest.json
  apps/platform-admin/lib/control-plane-client.ts
  apps/platform-admin/lib/org-scope-guard.ts
  apps/platform-admin/middleware.ts
  apps/platform-admin/tsconfig.json
  packages/platform-contracts/package.json
  packages/platform-contracts/src/control-plane-client.ts
  packages/platform-contracts/src/control-system.ts
  packages/platform-contracts/src/correlation-middleware.ts
  packages/platform-contracts/src/index.ts
  tests/system/org-scope.test.ts
  tests/system/workflow-authorization.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): resolve failed governance and dependency gates
  apps/console/lib/policy-enforcement.ts
  apps/orchestrator-api/package.json
  apps/platform-admin/app/api/admin/org/route.ts
  apps/platform-admin/lib/org-scope-guard.ts
  package.json
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

fix(contract): resolve governance gate failures in manifests, idempotency, deps, and semantic convergence
  apps/console/control-manifest.json
  apps/orchestrator-api/control-manifest.json
  apps/orchestrator-api/package.json
  apps/platform-admin/app/api/admin/org/route.ts
  apps/union-eyes/app/api/employer-execution/__tests__/execution-hardening.test.ts
  apps/union-eyes/app/api/employer-execution/__tests__/execution-scenario-pack.test.ts
  apps/union-eyes/app/api/employer-execution/_lib.ts
  apps/union-eyes/app/api/employer-execution/payroll-runs/[id]/route.ts
  apps/union-eyes/app/api/employer-execution/remittance-runs/route.ts
  apps/union-eyes/app/api/employer-execution/replay/[runId]/route.ts
  apps/union-eyes/services/financial-service/src/services/employer-execution/evidence-chain.ts
  apps/union-eyes/services/financial-service/src/services/employer-execution/types.ts
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

fix(jurisdiction-compliance): use local vitest config for package tests
  packages/platform-jurisdiction-compliance/package.json
  packages/platform-jurisdiction-compliance/vitest.config.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(zonga-streaming-aws): align coverage tests with current APIs and harden S3 key sanitization
  packages/zonga-streaming-aws/src/cloudfront-delivery/cloudfront-delivery.test.ts
  packages/zonga-streaming-aws/src/ivs-live/ivs-live.test.ts
  packages/zonga-streaming-aws/src/mediaconvert/mediaconvert.test.ts
  packages/zonga-streaming-aws/src/metrics/metrics.test.ts
  packages/zonga-streaming-aws/src/s3-storage/index.ts
  packages/zonga-streaming-aws/src/s3-storage/s3-storage.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(platform-pilot-metrics): resolve vi.mock hoisting and drizzle SQL mock dispatch
  packages/platform-pilot-metrics/src/service.alerting.integration.test.ts
  packages/platform-pilot-metrics/src/service.alerting.test.ts
  packages/platform-pilot-metrics/src/service.audit.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ga): satisfy studio maturity gates and sync pnpm env check
  apps/orchestrator-api/README.md
  apps/orchestrator-api/instrumentation.ts
  apps/orchestrator-api/src/api-guards.ts
  apps/orchestrator-api/src/env.ts
  apps/orchestrator-api/src/execution-engine.ts
  apps/platform-admin/README.md
  tooling/build-env-check.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(orchestrator-api): trim helper file headers
  apps/orchestrator-api/instrumentation.ts
  apps/orchestrator-api/src/api-guards.ts
  apps/orchestrator-api/src/env.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): add governed case access and repository controls
  apps/union-eyes/app/[locale]/dashboard/documents/page.tsx
  apps/union-eyes/app/api/documents/repository/[id]/route.ts
  apps/union-eyes/app/api/documents/repository/[id]/versions/route.ts
  apps/union-eyes/app/api/documents/repository/route.ts
  apps/union-eyes/app/api/grievances/[id]/access/route.ts
  apps/union-eyes/app/api/grievances/[id]/documents/route.ts
  apps/union-eyes/app/api/grievances/[id]/route.ts
  apps/union-eyes/app/api/search/universal/route.ts
  apps/union-eyes/components/grievances/grievance-detail-console.tsx
  apps/union-eyes/components/header-actions.tsx
  apps/union-eyes/db/migrations/README.md
  apps/union-eyes/db/migrations/manual/070_governed_case_access_documents.sql
  apps/union-eyes/db/migrations/rollback/rollback_0082_governed_case_access_documents.sql
  apps/union-eyes/db/schema/documents-schema.ts
  apps/union-eyes/db/schema/domains/claims/grievance-lifecycle.ts
  apps/union-eyes/docs/GOVERNED_CASE_ACCESS_AND_DOCUMENTS.md
  apps/union-eyes/lib/audited-case-mutations.ts
  apps/union-eyes/lib/services/case-access-service.ts
  apps/union-eyes/lib/services/document-governance-service.test.ts
  apps/union-eyes/lib/services/document-governance-service.ts
  apps/union-eyes/package.json
  apps/union-eyes/scripts/run-drizzle-migrate.mjs
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): satisfy migration and stack authority hooks
  apps/union-eyes/app/api/documents/repository/route.ts
  apps/union-eyes/package.json
  tooling/scripts/run-union-eyes-drizzle-migrate.mjs
Due: gitleaks, lint-staged, typecheck-staged

fix(governance): align control manifests with validator
  apps/console/control-manifest.json
  apps/control-plane/control-manifest.json
  apps/platform-admin/control-manifest.json
  ops/outputs/control-manifest-report.json
Due: gitleaks

fix(ci): harden k6 key import in perf gate
  .github/workflows/ci.yml
Due: gitleaks

feat(union-eyes): add case intelligence layer
  apps/union-eyes/app/api/grievances/[id]/intelligence/route.ts
  apps/union-eyes/app/api/grievances/[id]/related-documents/route.ts
  apps/union-eyes/components/grievances/case-graph-summary.tsx
  apps/union-eyes/components/grievances/case-intelligence-panel.tsx
  apps/union-eyes/components/grievances/grievance-detail-console.tsx
  apps/union-eyes/components/grievances/precedent-documents-panel.tsx
  apps/union-eyes/components/grievances/related-documents-panel.tsx
  apps/union-eyes/components/grievances/similar-cases-panel.tsx
  apps/union-eyes/docs/GOVERNED_CASE_ACCESS_AND_DOCUMENTS.md
  apps/union-eyes/lib/services/case-knowledge-graph-service.ts
  apps/union-eyes/lib/services/case-related-documents-service.test.ts
  apps/union-eyes/lib/services/case-related-documents-service.ts
  apps/union-eyes/lib/services/document-authorization-service.test.ts
  apps/union-eyes/lib/services/document-authorization-service.ts
  apps/union-eyes/services/case-intelligence/case-knowledge-graph-service.ts
  apps/union-eyes/services/case-intelligence/case-pattern-detection-service.test.ts
  apps/union-eyes/services/case-intelligence/case-pattern-detection-service.ts
  apps/union-eyes/services/case-intelligence/feature-extractor.ts
  apps/union-eyes/services/case-intelligence/ml-relevance-service.test.ts
  apps/union-eyes/services/case-intelligence/ml-relevance-service.ts
  apps/union-eyes/services/case-intelligence/precedent-matching-service.test.ts
  apps/union-eyes/services/case-intelligence/precedent-matching-service.ts
  apps/union-eyes/services/case-intelligence/related-documents-service.test.ts
  apps/union-eyes/services/case-intelligence/related-documents-service.ts
  apps/union-eyes/services/case-intelligence/scoring-engine.ts
  apps/union-eyes/services/case-intelligence/similarity-provider.ts
  apps/union-eyes/services/case-intelligence/types.ts
  docs/union-eyes/case-intelligence.md
Due: gitleaks, lint-staged, typecheck-staged

feat(governance): finalize transactional deploy and authority gates
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/repo-inventory-check.yml
  README.md
  apps/abr/package.json
  apps/agrimo/package.json
  apps/cfo/package.json
  apps/cora/package.json
  apps/flow/package.json
  apps/mobility-client-portal/package.json
  apps/mobility/package.json
  apps/nacp-exams/package.json
  apps/partners/package.json
  apps/platform-admin/package.json
  apps/trade/package.json
  apps/union-eyes/README.md
  apps/union-eyes/package.json
  apps/zonga/package.json
  docs/ga/GA_READINESS_GATE.md
  docs/platform/auth-migration-architecture.md
  docs/platform/portfolio-matrix.md
  governance/ga/certification-state.json
  ops/runbooks/platform/production-transactional-rollback.md
  package.json
  packages/union-claims-financial/package.json
  packages/union-claims-financial/src/index.ts
  packages/union-claims-financial/tsconfig.json
  scripts/deploy-transactional.ts
  scripts/validate-auth-authority.ts
  scripts/validate-ga-state.ts
  scripts/validate-truth-authority.ts
  scripts/validate-workspace-links.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
  tooling/repo-inventory/src/check-drift.ts
  tooling/repo-inventory/src/generate.ts
  tooling/repo-inventory/src/schema.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): refresh lockfile for frozen install
  pnpm-lock.yaml
Due: gitleaks

feat(union-eyes): harden activation with replayable billing and governed ML insights
  apps/union-eyes/app/api/analytics/insights/weekly-summary/route.ts
  apps/union-eyes/app/api/analytics/operational/derived-case-metrics/route.ts
  apps/union-eyes/app/api/billing/replay-invoice/route.ts
  apps/union-eyes/app/api/cron/sla-watchdog/route.ts
  apps/union-eyes/app/api/grievances/[id]/documents/route.ts
  apps/union-eyes/app/api/grievances/[id]/related-documents/route.ts
  apps/union-eyes/app/api/grievances/[id]/route.ts
  apps/union-eyes/app/api/grievances/[id]/status/route.ts
  apps/union-eyes/app/api/grievances/import/route.ts
  apps/union-eyes/app/api/grievances/route.ts
  apps/union-eyes/app/api/ml/predictions/sla-breach-risk/route.ts
  apps/union-eyes/app/api/onboarding/events/route.ts
  apps/union-eyes/app/api/pilot/events/route.ts
  apps/union-eyes/app/api/pilot/feedback/route.ts
  apps/union-eyes/lib/services/pilot-tracking.ts
  apps/union-eyes/services/platform-economics/billing-service.ts
  tooling/contract-tests/api-authz-coverage.test.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(repo-inventory): refresh generated inventory outputs
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

feat: implement four production workstreams (billing, alerts, ML feedback, pilot bootstrap)
  apps/union-eyes/app/api/alerts/realtime/route.ts
  apps/union-eyes/app/api/cron/billing-lifecycle/route.ts
  apps/union-eyes/app/api/cron/observability-alerts/route.ts
  apps/union-eyes/app/api/ml/predictions/sla-breach-risk/feedback/route.ts
  apps/union-eyes/app/api/payments/webhooks/stripe/route.ts
  apps/union-eyes/app/api/pilot/bootstrap/cupe/route.ts
  apps/union-eyes/config/public-api-routes.ts
  apps/union-eyes/services/observability/realtime-alerting-service.ts
  apps/union-eyes/services/platform-economics/billing-service.ts
Due: gitleaks, lint-staged, typecheck-staged

docs(packages): add critical package READMEs for audit compliance
  packages/ai-control/README.md
  packages/platform-integrations-connectors/README.md
  packages/platform-integrations-types/README.md
  packages/platform-jurisdiction-compliance/README.md
  packages/platform-pilot-metrics-types/README.md
  packages/platform-pilot-metrics/README.md
  packages/platform-shell/README.md
Due: gitleaks

fix(contracts): update entityId exceptions and INV-PE-03/08 for proxy architecture
  tooling/contract-tests/org-semantic-convergence.test.ts
  tooling/contract-tests/policy-enforcement-wiring.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(security): upgrade follow-redirects to 1.16.0 and wire trivyignores in governance scan
  .github/workflows/nzila-governance.yml
  package.json
  pnpm-lock.yaml
Due: gitleaks

fix(ci): correct trivyignores indentation in governance workflow
  .github/workflows/nzila-governance.yml
Due: gitleaks

fix(security): waive stale next-intl trivy advisory in fs scan
  .trivyignore
Due: none

fix(ci): scope blocking trivy fs gate to vuln scanner only
  .github/workflows/nzila-governance.yml
Due: gitleaks

fix(security): bump scripts-book lockfiles to picomatch 2.3.2
  packages/scripts-book/nzila-scripts-book-template/pnpm-lock.yaml
  packages/scripts-book/pnpm-lock.yaml
Due: gitleaks

fix(ci): split trivy gate into blocking table scan and non-blocking sarif
  .github/workflows/nzila-governance.yml
Due: gitleaks

docs(platform): add lifecycle, ownership, kilo usage and coverage dashboard guidance
  ARCHITECTURE.md
  CONTRIBUTING.md
  docs/platform/APP_LIFECYCLE_PROCESS.md
  docs/platform/COVERAGE_REPORTING.md
  docs/platform/KILO_USAGE_PATTERNS.md
  docs/platform/PACKAGE_OWNERSHIP_MATRIX.md
  package.json
  tooling/scripts/generate-coverage-dashboard.mjs
Due: gitleaks, lint-staged

feat(governance): implement 5 gap-closure items
  .github/workflows/ci.yml
  ARCHITECTURE.md
  CONTRIBUTING.md
  docs/platform/AI_INCIDENT_DRILL_RUNBOOK.md
  docs/platform/AI_INCIDENT_PLAYBOOK_DATA_POISONING.md
  docs/platform/AI_INCIDENT_PLAYBOOK_MODEL_DRIFT_COMPROMISE.md
  docs/platform/AI_INCIDENT_PLAYBOOK_PROMPT_INJECTION.md
  docs/platform/COMMAND_CATALOG.md
  docs/platform/EVIDENCE_LIFECYCLE_POLICY.md
  docs/platform/STRATEGIC_TELEMETRY.md
  ops/outputs/governance-gate-report.json
  package.json
  reports/strategy/quarterly-scorecard.json
  reports/strategy/quarterly-scorecard.md
  scripts/validate-evidence-lifecycle-policy.ts
  tests/load/smoke.js
  tooling/governance/validate-governance-gate.ts
  tooling/scripts/generate-quarterly-strategic-scorecard.mjs
  tooling/scripts/show-command-catalog.mjs
Due: gitleaks, lint-staged, typecheck-staged

feat(governance): add model inversion and adversarial inputs AI incident playbooks
  docs/platform/AI_INCIDENT_PLAYBOOK_ADVERSARIAL_INPUTS.md
  docs/platform/AI_INCIDENT_PLAYBOOK_MODEL_INVERSION.md
  ops/outputs/governance-gate-report.json
  tooling/governance/validate-governance-gate.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(governance): world-class gap closure — onboarding, SLO policy, alerting runbook, data residency, domain map, third-party risk, seccomp profiles, DORA pipeline, turbo cache strategy
  .github/workflows/ci.yml
  docker-compose.yml
  docs/platform/ALERTING_RUNBOOK.md
  docs/platform/DATA_RESIDENCY_POLICY.md
  docs/platform/DOMAIN_EXPERTISE_MAP.md
  docs/platform/ONBOARDING.md
  docs/platform/SLO_ERROR_BUDGET_POLICY.md
  docs/platform/THIRD_PARTY_RISK_REGISTER.md
  docs/platform/TURBO_CACHE_STRATEGY.md
  ops/outputs/cost-allocation.json
  ops/outputs/dora-metrics.json
  ops/outputs/governance-gate-report.json
  package.json
  security/runtime/seccomp-default.json
  tooling/governance/validate-governance-gate.ts
  tooling/scripts/collect-cost-attribution.mjs
  tooling/scripts/collect-dora-metrics.mjs
  turbo.json
Due: gitleaks, lint-staged, typecheck-staged

feat(governance): add runtime enforcement and predictive controls for DORA/cost pipeline
  .github/workflows/ci.yml
  docs/platform/ALERTING_RUNBOOK.md
  docs/platform/DATA_RESIDENCY_POLICY.md
  docs/platform/ONBOARDING.md
  docs/platform/SLO_ERROR_BUDGET_POLICY.md
  ops/outputs/cost-allocation.json
  ops/outputs/dora-metrics.json
  ops/outputs/governance-gate-report.json
  package.json
  tooling/contract-tests/cost-collector-hardening.test.ts
  tooling/contract-tests/dora-collector-hardening.test.ts
  tooling/governance/validate-governance-gate.ts
  tooling/scripts/collect-cost-attribution.mjs
  tooling/scripts/collect-dora-metrics.mjs
Due: gitleaks, lint-staged, typecheck-staged

feat(resilience): enforce vendor diversification and emerging-threat governance
  .github/workflows/ci.yml
  docs/platform/DATA_RESIDENCY_POLICY.md
  docs/platform/DOMAIN_EXPERTISE_MAP.md
  docs/platform/EMERGING_THREAT_MODEL.md
  docs/platform/ONBOARDING.md
  docs/platform/REGULATORY_CHANGE_MONITORING.md
  docs/platform/VENDOR_DIVERSIFICATION_STRATEGY.md
  governance/resilience/emerging-threat-register.json
  governance/resilience/regulatory-watchlist.json
  governance/resilience/succession-and-cross-training.json
  governance/resilience/vendor-diversification-registry.json
  ops/inputs/onboarding-metrics.json
  ops/outputs/data-residency-runtime.json
  ops/outputs/governance-gate-report.json
  ops/outputs/onboarding-kpis.json
  ops/outputs/strategic-resilience-report.json
  package.json
  tooling/contract-tests/data-residency-runtime-verifier.test.ts
  tooling/contract-tests/strategic-resilience-hardening.test.ts
  tooling/governance/validate-governance-gate.ts
  tooling/scripts/collect-onboarding-kpis.mjs
  tooling/scripts/validate-strategic-resilience.mjs
  tooling/scripts/verify-data-residency-runtime.mjs
Due: gitleaks, lint-staged, typecheck-staged

feat(resilience): implement remaining critical runbooks and runtime budget enforcement
  .github/workflows/ci.yml
  docs/platform/AI_INCIDENT_DRILL_RUNBOOK.md
  docs/platform/AI_INCIDENT_PLAYBOOK_DEPENDENCY_CONFUSION.md
  docs/platform/AI_INCIDENT_PLAYBOOK_HALLUCINATION.md
  docs/platform/AI_INCIDENT_PLAYBOOK_POST_QUANTUM_MIGRATION.md
  docs/platform/DISASTER_RECOVERY_PLAYBOOK_AZURE_REGION_LOSS.md
  docs/platform/EMERGING_THREAT_MODEL.md
  docs/platform/ONBOARDING.md
  ops/inputs/onboarding-metrics.json
  ops/outputs/data-residency-runtime.json
  ops/outputs/governance-gate-report.json
  ops/outputs/governance-runtime-budget.json
  ops/outputs/onboarding-kpis.json
  ops/outputs/strategic-resilience-report.json
  package.json
  tooling/contract-tests/governance-runtime-budget.test.ts
  tooling/contract-tests/onboarding-kpi-github-enrichment.test.ts
  tooling/governance/validate-governance-gate.ts
  tooling/scripts/check-governance-runtime-budget.mjs
  tooling/scripts/collect-onboarding-kpis.mjs
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): update repo inventory to reflect new governance artifacts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

fix(security): waive protobufjs critical vulns (1116756, 1116757) — static schemas only, no user input
  tooling/security/supply-chain-policy.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): ignore generatedAt timestamp in inventory drift check
  .github/workflows/repo-inventory-check.yml
Due: gitleaks

fix(ci): correct inventory drift check logic
  .github/workflows/repo-inventory-check.yml
Due: gitleaks

fix(ci): use python to compare inventory ignoring timestamps
  .github/workflows/repo-inventory-check.yml
Due: gitleaks

chore(inventory): update timestamp to current run
  tooling/repo-inventory/output/inventory.json
Due: gitleaks

Path conditions:
  gitleaks: any of: *.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}
  lint-staged: any of: *.{ts,tsx,js,jsx,mjs}
  typecheck-staged: any of: *.{ts,tsx}
