Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

lefthook.yml:

# lefthook.yml â€” Pre-commit guardrails for Nzila Automation monorepo
# Docs: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true

  commands:
    gitleaks:
      glob: "*.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}"
      run: >
        gitleaks detect
        --source .
        --config .gitleaks.toml
        --no-banner
        --verbose
        --staged
      fail_text: |
        ðŸ”’ Gitleaks detected potential secrets in staged files.
        Review the output above and remove or rotate any exposed credentials.
        See docs/hardening/secrets.md for guidance.
        Install gitleaks: https://github.com/gitleaks/gitleaks#installing

    lint-staged:
      glob: "*.{ts,tsx,js,jsx,mjs}"
      run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Lint errors found. Run `pnpm lint` to see details."

    typecheck-staged:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Type errors found. Run `pnpm typecheck` to see details."

pre-push:
  commands:
    contract-tests:
      run: >
        npx vitest run
        --config tooling/contract-tests/vitest.config.ts
        --dir tooling/contract-tests
      fail_text: |
        Contract tests failed. Run `pnpm contract-tests` to see details.
        Do not push code that violates repo invariants.

fix(e2e): align console health contract assertion
  apps/console/e2e/console.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(e2e): harden flow specs for non-json CI responses
  apps/flow/e2e/flow.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(e2e): harden control-plane spec for unauthenticated CI runs
  apps/control-plane/e2e/control-plane.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(e2e): simplify control-plane CI assertions to URL-only checks
  apps/control-plane/e2e/control-plane.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(e2e): accept 404 in control-plane API route smoke test
  apps/control-plane/e2e/control-plane.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: Make predictive DORA signal enforcement optional
  tooling/scripts/collect-dora-metrics.mjs
Due: lint-staged

feat(intelligence): Executive Operating System page + platform-intelligence-home package
  apps/console/app/(dashboard)/intelligence/page.tsx
  apps/console/app/(dashboard)/layout.tsx
  apps/console/app/api/intelligence/context/route.ts
  apps/console/package.json
  packages/platform-intelligence-home/eslint.config.mjs
  packages/platform-intelligence-home/package.json
  packages/platform-intelligence-home/package.meta.json
  packages/platform-intelligence-home/src/briefing-service.ts
  packages/platform-intelligence-home/src/dashboard-service.ts
  packages/platform-intelligence-home/src/data-sync-service.ts
  packages/platform-intelligence-home/src/deal-service.ts
  packages/platform-intelligence-home/src/decision-engine.ts
  packages/platform-intelligence-home/src/funding-service.ts
  packages/platform-intelligence-home/src/index.ts
  packages/platform-intelligence-home/src/insight-service.ts
  packages/platform-intelligence-home/src/intelligence-home.test.ts
  packages/platform-intelligence-home/src/michel-panel.ts
  packages/platform-intelligence-home/src/partner-service.ts
  packages/platform-intelligence-home/src/risk-service.ts
  packages/platform-intelligence-home/src/scoring-service.ts
  packages/platform-intelligence-home/src/types.ts
  packages/platform-intelligence-home/tsconfig.json
  packages/platform-intelligence-home/vitest.config.ts
  packages/platform-lakehouse/eslint.config.mjs
  packages/platform-lakehouse/package.json
  packages/platform-lakehouse/package.meta.json
  packages/platform-lakehouse/src/catalog.ts
  packages/platform-lakehouse/src/funding-radar.ts
  packages/platform-lakehouse/src/index.ts
  packages/platform-lakehouse/src/lakehouse.test.ts
  packages/platform-lakehouse/src/types.ts
  packages/platform-lakehouse/src/warehouse-schema.ts
  packages/platform-lakehouse/tsconfig.json
  packages/platform-lakehouse/vitest.config.ts
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

feat(intelligence): Executive Operating System page + platform-intelligence-home package (#395)
  apps/console/app/(dashboard)/intelligence/page.tsx
  apps/console/app/(dashboard)/layout.tsx
  apps/console/app/api/intelligence/context/route.ts
  apps/console/package.json
  packages/platform-intelligence-home/eslint.config.mjs
  packages/platform-intelligence-home/package.json
  packages/platform-intelligence-home/package.meta.json
  packages/platform-intelligence-home/src/briefing-service.ts
  packages/platform-intelligence-home/src/dashboard-service.ts
  packages/platform-intelligence-home/src/data-sync-service.ts
  packages/platform-intelligence-home/src/deal-service.ts
  packages/platform-intelligence-home/src/decision-engine.ts
  packages/platform-intelligence-home/src/funding-service.ts
  packages/platform-intelligence-home/src/index.ts
  packages/platform-intelligence-home/src/insight-service.ts
  packages/platform-intelligence-home/src/intelligence-home.test.ts
  packages/platform-intelligence-home/src/michel-panel.ts
  packages/platform-intelligence-home/src/partner-service.ts
  packages/platform-intelligence-home/src/risk-service.ts
  packages/platform-intelligence-home/src/scoring-service.ts
  packages/platform-intelligence-home/src/types.ts
  packages/platform-intelligence-home/tsconfig.json
  packages/platform-intelligence-home/vitest.config.ts
  packages/platform-lakehouse/eslint.config.mjs
  packages/platform-lakehouse/package.json
  packages/platform-lakehouse/package.meta.json
  packages/platform-lakehouse/src/catalog.ts
  packages/platform-lakehouse/src/funding-radar.ts
  packages/platform-lakehouse/src/index.ts
  packages/platform-lakehouse/src/lakehouse.test.ts
  packages/platform-lakehouse/src/types.ts
  packages/platform-lakehouse/src/warehouse-schema.ts
  packages/platform-lakehouse/tsconfig.json
  packages/platform-lakehouse/vitest.config.ts
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): add READMEs for platform-intelligence-home and platform-lakehouse
  packages/platform-intelligence-home/README.md
  packages/platform-lakehouse/README.md
  reports/readme-audit.json
Due: gitleaks

fix(ci): escape JSX entities and extend lifecycle manifest for new tables
  apps/console/app/(dashboard)/chief-of-staff/page.tsx
  apps/console/app/(dashboard)/finance/collections/page.tsx
  packages/data-lifecycle/src/manifest.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): register new tables in org-scoped registry and ownership
  governance/platform-package-owners.yaml
  packages/db/src/org-registry.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): contract test fixes for api error responses and ITSM dashboard
  apps/console/app/(dashboard)/itsm/dashboard/page.tsx
  apps/console/app/api/intelligence/context/route.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): add canonical auth authority declaration to README
  README.md
Due: gitleaks

chore: revamp business README + remove stray .worktrees/main-fix gitlink
  README.business.md
Due: gitleaks

chore(repo-inventory): regenerate + fix ABR purpose (FAIRCASE rebrand)
  apps/abr/README.md
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

fix(contract-tests): broaden telemetry gate to accept OTel + Fastify route patterns
  tooling/contract-tests/telemetry-manifest-enforcement.test.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(governance): wire platform manifest drift gate + telemetry test + workflow path filters
  .github/workflows/agri-core-check.yml
  .github/workflows/e2e.yml
  .github/workflows/portfolio-governance.yml
  scripts/generate-platform-products.ts
  security/dependabot-triage-2026-04-21.md
Due: gitleaks, lint-staged, typecheck-staged

feat: status page + workflow consolidation + dependabot fixes (items 1-5)
  .github/workflows-archive/README.md
  .github/workflows-archive/agri-gov-ingestion-check.yml
  .github/workflows/agri-core-check.yml
  .github/workflows/cupe-pilot-readiness.yml
  apps/web/app/reliability/page.tsx
  apps/web/app/status/page.tsx
  package.json
  pnpm-lock.yaml
  tech-repo-scaffold/vertical-apps/template/backend/requirements.txt
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): green main — auth weekone routes, register weekone, ignore date drift
  apps/abr/maturity.json
  apps/agrimo/maturity.json
  apps/cfo/maturity.json
  apps/console/maturity.json
  apps/control-plane/maturity.json
  apps/cora/maturity.json
  apps/flow/maturity.json
  apps/mobility-client-portal/maturity.json
  apps/mobility/maturity.json
  apps/nacp-exams/maturity.json
  apps/orchestrator-api/maturity.json
  apps/partners/maturity.json
  apps/platform-admin/maturity.json
  apps/trade/maturity.json
  apps/union-eyes/maturity.json
  apps/web/maturity.json
  apps/weekone/app/api/cash/route.ts
  apps/weekone/app/api/deals/route.ts
  apps/weekone/app/api/priorities/route.ts
  apps/weekone/app/api/weekly-brief/route.ts
  apps/weekone/maturity.json
  apps/zonga/maturity.json
  docs/platform/portfolio-matrix.md
  nzila-truth-manifest.json
  packages/platform-contracts/src/registry.ts
  reports/portfolio-investor-view.md
  reports/portfolio-ops-dashboard.json
  reports/portfolio-status.json
  reports/portfolio-status.md
  scripts/generate-portfolio-artifacts.ts
  scripts/lib/portfolio-governance.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): classify weekone (stack-authority, control-manifest) + idempotency exception
  apps/weekone/control-manifest.json
  governance/exceptions/mutation-idempotency.json
  ops/outputs/data-residency-runtime.json
  ops/outputs/governance-runtime-budget.json
  ops/outputs/onboarding-kpis.json
  ops/outputs/strategic-resilience-report.json
  tooling/contract-tests/mutation-idempotency.test.ts
  tooling/contract-tests/stack-authority.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): GA gate threshold override for weekone (INCUBATING)
  tooling/ga-check/ga-check.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(weekone): silence no-html-link-for-pages on sign-in API redirect
  apps/weekone/app/sign-in/page.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(registry): weekone devPort 3009->3016 (collision) + bump count assertion to 18
  packages/platform-contracts/src/registry.test.ts
  packages/platform-contracts/src/registry.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes): prod hardening — custom domain, trust page, CI/CD, commercial docs
  .github/workflows/gitops-deploy.yml
  Dockerfile
  apps/union-eyes/.env.example
  apps/union-eyes/app/(marketing)/app/route.ts
  apps/union-eyes/app/(marketing)/page.tsx
  apps/union-eyes/app/(marketing)/trust/page.tsx
  apps/union-eyes/app/layout.tsx
  apps/union-eyes/app/robots.ts
  apps/union-eyes/app/sitemap.ts
  apps/union-eyes/proxy.ts
  apps/union-eyes/public/manifest.json
  docs/commercial/azure-godaddy-cutover.md
  docs/commercial/executive-summary.md
  docs/commercial/implementation-timeline.md
  docs/commercial/pilot-offer-cupe.md
  docs/commercial/pricing-framework.md
  docs/commercial/security-one-pager.md
  docs/commercial/why-union-eyes.md
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes): prod hardening — custom domain, trust page, CI/CD, commercial docs (#398)
  .github/workflows/gitops-deploy.yml
  Dockerfile
  apps/union-eyes/.env.example
  apps/union-eyes/app/(marketing)/app/route.ts
  apps/union-eyes/app/(marketing)/page.tsx
  apps/union-eyes/app/(marketing)/trust/page.tsx
  apps/union-eyes/app/layout.tsx
  apps/union-eyes/app/robots.ts
  apps/union-eyes/app/sitemap.ts
  apps/union-eyes/proxy.ts
  apps/union-eyes/public/manifest.json
  docs/commercial/azure-godaddy-cutover.md
  docs/commercial/executive-summary.md
  docs/commercial/implementation-timeline.md
  docs/commercial/pilot-offer-cupe.md
  docs/commercial/pricing-framework.md
  docs/commercial/security-one-pager.md
  docs/commercial/why-union-eyes.md
Due: gitleaks, lint-staged, typecheck-staged

fix: migrate remaining unioneyes.ca -> unioneyes.app URLs (footers, dues, tests)
  apps/abr/components/public/site-footer.tsx
  apps/agrimo/components/public/site-footer.tsx
  apps/flow/components/public/site-footer.tsx
  apps/mobility/components/public/site-footer.tsx
  apps/union-eyes/lib/__tests__/sanitize.test.ts
  apps/union-eyes/lib/jobs/dues-reminder-scheduler.ts
  apps/union-eyes/lib/services/__tests__/dues-notifications.test.ts
  apps/union-eyes/lib/services/dues-notifications.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(governance): refresh GA check report (2026-04-22)
  governance/ga/GA_CHECK_REPORT.md
  governance/ga/ga-check.json
Due: gitleaks

docs: add weekone brand strategy, faircase commercial docs, test scaffold
  apps/test-scaffold-gp/.eslintrc.json
  apps/test-scaffold-gp/README.md
  apps/test-scaffold-gp/app-architecture.meta.json
  apps/test-scaffold-gp/app/api/health/route.ts
  apps/test-scaffold-gp/app/layout.tsx
  apps/test-scaffold-gp/app/page.tsx
  apps/test-scaffold-gp/control-manifest.json
  apps/test-scaffold-gp/lib/enforcement.ts
  apps/test-scaffold-gp/package.json
  apps/test-scaffold-gp/tsconfig.json
  apps/weekone/BRAND_STRATEGY.md
  apps/weekone/BRAND_STRATEGY_V2.md
  apps/weekone/EXECUTION_PLAN_90D.md
  apps/weekone/LAUNCH_PLAYBOOK.md
  apps/weekone/OPERATING_FINANCE.md
  apps/weekone/REVENUE_ENGINE.md
  docs/faircase/abr-intelligence-strategy.md
  docs/faircase/commercial-execution-plan.md
  docs/faircase/landing-page-copy.md
  docs/faircase/methodology-memo.md
  docs/faircase/pilot-package-v1.md
  docs/faircase/procurement-trust-kit.md
Due: gitleaks, lint-staged, typecheck-staged

feat: close final 10/10 delta — governance, procurement, investor, typecheck
  apps/abr/maturity.json
  apps/flow/maturity.json
  apps/test-scaffold-gp/package.json
  apps/test-scaffold-gp/tsconfig.json
  apps/union-eyes/app/(marketing)/trust/page.tsx
  apps/union-eyes/maturity.json
  apps/weekone/tsconfig.json
  docs/commercial/claims-ledger.md
  docs/demos/union-eyes-demo-seed.md
  docs/procurement/demo-personas.md
  docs/procurement/dpa.md
  docs/procurement/vendor-questionnaire.md
  governance/portfolio/product-catalog.json
  package.json
  pnpm-lock.yaml
  reports/investor/24-month-scenario.md
  reports/ops/snapshot.json
  reports/ops/snapshot.md
  tooling/contract-tests/metric-classification.test.ts
  tooling/tiers/app-tiers.json
  tooling/truth/metric-schema.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: app floor + catalog gaps (ci: add missing .env.example, README, catalog entry)
  apps/test-scaffold-gp/.env.example
  apps/weekone/.env.example
  apps/weekone/README.md
  governance/portfolio/product-catalog.json
Due: gitleaks

fix: ci failures - stale artifacts, broken links, app count drift
  apps/test-scaffold-gp/maturity.json
  docs/platform/platform-boundaries.md
  docs/platform/portfolio-matrix.md
  nzila-truth-manifest.json
  reports/investor/24-month-scenario.md
  reports/portfolio-investor-view.md
  reports/portfolio-ops-dashboard.json
  reports/portfolio-status.json
  reports/portfolio-status.md
Due: gitleaks

fix: add test-scaffold-gp to platform envelope + regenerate manifests
  platform/products/_index.json
  platform/products/_portfolio-classification.json
  platform/products/_pricing-matrix.json
  platform/products/_telemetry-requirements.json
  platform/products/_trust-listings.json
  platform/products/abr.json
  platform/products/agrimo.json
  platform/products/cfo.json
  platform/products/console.json
  platform/products/control-plane.json
  platform/products/cora.json
  platform/products/envelope.config.json
  platform/products/flow.json
  platform/products/mobility-client-portal.json
  platform/products/mobility.json
  platform/products/nacp-exams.json
  platform/products/orchestrator-api.json
  platform/products/partners.json
  platform/products/test-scaffold-gp.json
  platform/products/trade.json
  platform/products/union-eyes.json
  platform/products/web.json
  platform/products/weekone.json
  platform/products/zonga.json
Due: gitleaks

fix: contract test infrastructure for test-scaffold-gp + marketing route exemption
  apps/test-scaffold-gp/README.md
  apps/test-scaffold-gp/eslint.config.mjs
  apps/test-scaffold-gp/lib/auth.ts
  apps/test-scaffold-gp/lib/evidence.ts
  apps/test-scaffold-gp/package.json
  governance/ga/GA_CHECK_REPORT.md
  governance/ga/ga-check.json
  packages/platform-contracts/src/registry.ts
  tooling/contract-tests/org-isolation.test.ts
  tooling/ga-check/ga-check.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: update pnpm-lock.yaml for test-scaffold-gp new workspace deps
  pnpm-lock.yaml
Due: gitleaks

fix: regenerate portfolio artifacts (test-scaffold-gp now in registry)
  docs/platform/portfolio-matrix.md
  nzila-truth-manifest.json
  reports/portfolio-ops-dashboard.json
  reports/portfolio-status.json
  reports/portfolio-status.md
Due: gitleaks
