Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

gitleaks:
  run: 'gitleaks detect --source . --config .gitleaks.toml --no-banner --verbose --staged
  
    '
  fail_text: 'ðŸ”’ Gitleaks detected potential secrets in staged files.
  
    Review the output above and remove or rotate any exposed credentials.
  
    See docs/hardening/secrets.md for guidance.
  
  ...

lint-staged:
  run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
  fail_text: Lint errors found. Run `pnpm lint` to see details.

typecheck-staged:
  run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
  fail_text: Type errors found. Run `pnpm typecheck` to see details.

chore(trustcore): scaffold feat branch + gitignore gtm folder
  .gitignore
Due: none

feat(trustcore): trust ops v1 foundations - risks register, trustcore-core package, extended roles
  apps/trustcore/app/trust-center/[orgId]/page.tsx
  apps/trustcore/lib/auth/getAuthContext.ts
  apps/trustcore/lib/rbac/requireRole.ts
  apps/trustcore/node_modules
  apps/trustcore/types/core.ts
  packages/db/drizzle/0023_trustcore_risks.sql
  packages/db/src/queries/trustcore.ts
  packages/db/src/schema/trustcore.ts
  packages/trustcore-core/package.json
  packages/trustcore-core/src/index.ts
  packages/trustcore-core/src/risks/index.test.ts
  packages/trustcore-core/src/risks/index.ts
  packages/trustcore-core/src/scoring/computeTrustScore.test.ts
  packages/trustcore-core/src/scoring/computeTrustScore.ts
  packages/trustcore-core/src/scoring/index.ts
  packages/trustcore-core/src/tasks/index.test.ts
  packages/trustcore-core/src/tasks/index.ts
  packages/trustcore-core/src/trust-engine/index.test.ts
  packages/trustcore-core/src/trust-engine/index.ts
  packages/trustcore-core/tsconfig.json
  packages/trustcore-core/vitest.config.ts
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

feat(trustcore): add org_name to privacy programs (migration 0025)
  apps/trustcore/app/trust-center/[orgId]/page.tsx
  packages/db/drizzle/0025_trustcore_privacy_programs_org_name.sql
  packages/db/src/schema/trustcore.ts
Due: gitleaks, lint-staged, typecheck-staged

refactor(trustcore): consolidate Law 25 compliance scoring into @nzila/trustcore-core
  apps/trustcore/lib/compliance/engine.ts
  apps/trustcore/package.json
  apps/trustcore/types/core.ts
  packages/db/package.json
  packages/db/src/queries/trustcore.ts
  packages/trustcore-core/package.json
  packages/trustcore-core/src/compliance/dashboard.ts
  packages/trustcore-core/src/compliance/evaluators.ts
  packages/trustcore-core/src/compliance/index.test.ts
  packages/trustcore-core/src/compliance/index.ts
  packages/trustcore-core/src/compliance/types.ts
  packages/trustcore-core/src/index.ts
  packages/trustcore-core/src/trust-engine/index.ts
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

feat(trustops-intelligence): add mandate risk scoring + claim batch classifier (E3)
  packages/trustops-intelligence/package.json
  packages/trustops-intelligence/src/claim-batch-classifier/index.ts
  packages/trustops-intelligence/src/index.test.ts
  packages/trustops-intelligence/src/index.ts
  packages/trustops-intelligence/src/mandate-risk-score/index.ts
  packages/trustops-intelligence/tsconfig.json
  packages/trustops-intelligence/vitest.config.ts
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

feat(trustcore-trustops): scaffold E1 contracts + E2 logic + E4 Next 16 app on port 3018 (E1, E2, E4)
  apps/trustcore-trustops/app/api/mandates/[mandateId]/transition/route.ts
  apps/trustcore-trustops/app/globals.css
  apps/trustcore-trustops/app/layout.tsx
  apps/trustcore-trustops/app/mandates/[mandateId]/claims/page.tsx
  apps/trustcore-trustops/app/mandates/[mandateId]/creditors/page.tsx
  apps/trustcore-trustops/app/mandates/[mandateId]/page.tsx
  apps/trustcore-trustops/app/mandates/page.tsx
  apps/trustcore-trustops/app/page.tsx
  apps/trustcore-trustops/eslint.config.mjs
  apps/trustcore-trustops/lib/mandates-store.ts
  apps/trustcore-trustops/next-env.d.ts
  apps/trustcore-trustops/next.config.ts
  apps/trustcore-trustops/package.json
  apps/trustcore-trustops/postcss.config.mjs
  apps/trustcore-trustops/tsconfig.json
  packages/platform-shell/src/registry/default-modules.ts
  packages/trustcore-contracts/package.json
  packages/trustcore-contracts/src/attestations/index.ts
  packages/trustcore-contracts/src/claims/index.ts
  packages/trustcore-contracts/src/creditors/index.ts
  packages/trustcore-contracts/src/fsm/index.ts
  packages/trustcore-contracts/src/index.ts
  packages/trustcore-contracts/src/mandates/index.ts
  packages/trustcore-contracts/src/trust-severity/index.ts
  packages/trustcore-contracts/tsconfig.json
  packages/trustcore-contracts/vitest.config.ts
  packages/trustcore-trustops/package.json
  packages/trustcore-trustops/src/claims/index.ts
  packages/trustcore-trustops/src/creditors/index.ts
  packages/trustcore-trustops/src/fsm/index.ts
  packages/trustcore-trustops/src/index.test.ts
  packages/trustcore-trustops/src/index.ts
  packages/trustcore-trustops/src/progress/index.ts
  packages/trustcore-trustops/tsconfig.json
  packages/trustcore-trustops/vitest.config.ts
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

feat(trustcore-trustops): E5 Drizzle DB wiring + migration 0024
  apps/trustcore-trustops/app/api/mandates/[mandateId]/transition/route.ts
  apps/trustcore-trustops/app/mandates/[mandateId]/claims/page.tsx
  apps/trustcore-trustops/app/mandates/[mandateId]/creditors/page.tsx
  apps/trustcore-trustops/app/mandates/[mandateId]/page.tsx
  apps/trustcore-trustops/app/mandates/page.tsx
  apps/trustcore-trustops/lib/mandates-store.ts
  apps/trustcore-trustops/package.json
  packages/db/drizzle/0024_trustops_foundations.sql
  packages/db/src/schema/trustcore.ts
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

feat(trustcore-trustops): wire RBAC, otel, events, decision-engine (Step F)
  apps/trustcore-trustops/app/api/mandates/[mandateId]/transition/route.ts
  apps/trustcore-trustops/app/mandates/[mandateId]/claims/page.tsx
  apps/trustcore-trustops/app/mandates/[mandateId]/creditors/page.tsx
  apps/trustcore-trustops/app/mandates/[mandateId]/page.tsx
  apps/trustcore-trustops/app/mandates/page.tsx
  apps/trustcore-trustops/lib/api-guards.ts
  apps/trustcore-trustops/lib/organization-utils.ts
  apps/trustcore-trustops/package.json
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

test(trustcore-trustops): add org-isolation contract test (gate 1/5)
  tooling/contract-tests/trustcore-trustops-org-isolation.test.ts
Due: gitleaks, lint-staged, typecheck-staged

test(trustops-intelligence): add scoring-parity golden-vector test (gate 2/5)
  packages/trustops-intelligence/src/scoring-parity.test.ts
Due: gitleaks, lint-staged, typecheck-staged

test(trustcore-trustops): 100% coverage on FSM module (gate 3/5)
  packages/trustcore-trustops/src/fsm/index.ts
  packages/trustcore-trustops/src/index.test.ts
Due: gitleaks, lint-staged, typecheck-staged

test(trustcore-trustops): assert OTEL nzila.org.id on transition span (gate 4/5)
  apps/trustcore-trustops/app/api/mandates/[mandateId]/transition/route.test.ts
  apps/trustcore-trustops/vitest.config.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(trustcore-core): break turbo build cycle and fix lint errors
  apps/trustcore-trustops/app/api/mandates/[mandateId]/transition/route.ts
  apps/trustcore-trustops/lib/mandates-store.ts
  packages/trustcore-core/package.json
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

chore(trustcore): register apps in canonical catalog and add README/env templates
  apps/trustcore-trustops/.env.example
  apps/trustcore-trustops/README.md
  apps/trustcore/.env.example
  apps/trustcore/README.md
  governance/portfolio/product-catalog.json
Due: gitleaks

chore(portfolio): regenerate artifacts after registering trustcore apps
  apps/abr/maturity.json
  apps/agrimo/maturity.json
  apps/cfo/maturity.json
  apps/console/maturity.json
  apps/control-plane/maturity.json
  apps/cora/maturity.json
  apps/flow/maturity.json
  apps/maestria/maturity.json
  apps/mobility-client-portal/maturity.json
  apps/mobility/maturity.json
  apps/nacp-exams/maturity.json
  apps/nzila-hq/maturity.json
  apps/orchestrator-api/maturity.json
  apps/partners/maturity.json
  apps/platform-admin/maturity.json
  apps/test-scaffold-gp/maturity.json
  apps/trade/maturity.json
  apps/trustcore-trustops/maturity.json
  apps/trustcore/maturity.json
  apps/union-eyes/maturity.json
  apps/veridian-care/maturity.json
  apps/veridian-site/maturity.json
  apps/web/maturity.json
  apps/weekone/maturity.json
  apps/zonga/maturity.json
  docs/platform/portfolio-matrix.md
  nzila-truth-manifest.json
  reports/portfolio-investor-view.md
  reports/portfolio-ops-dashboard.json
  reports/portfolio-status.json
  reports/portfolio-status.md
Due: gitleaks

fix(portfolio): add trustcore + trustcore-trustops to envelope.config and regen manifests
  platform/products/_index.json
  platform/products/_portfolio-classification.json
  platform/products/_pricing-matrix.json
  platform/products/_telemetry-requirements.json
  platform/products/_trust-listings.json
  platform/products/abr.json
  platform/products/agrimo.json
  platform/products/cfo.json
  platform/products/console.json
  platform/products/control-plane.json
  platform/products/cora.json
  platform/products/envelope.config.json
  platform/products/flow.json
  platform/products/maestria.json
  platform/products/mobility-client-portal.json
  platform/products/mobility.json
  platform/products/nacp-exams.json
  platform/products/nzila-hq.json
  platform/products/orchestrator-api.json
  platform/products/partners.json
  platform/products/platform-admin.json
  platform/products/test-scaffold-gp.json
  platform/products/trade.json
  platform/products/trustcore-trustops.json
  platform/products/trustcore.json
  platform/products/union-eyes.json
  platform/products/veridian-care.json
  platform/products/veridian-site.json
  platform/products/web.json
  platform/products/weekone.json
  platform/products/zonga.json
Due: gitleaks

fix(ci): refresh inventory + ops snapshot + schema snapshot for trustcore apps
  README.md
  docs/platform/platform-boundaries.md
  reports/ops/snapshot.json
  reports/ops/snapshot.md
  tooling/db/schema-snapshot.json
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

feat(trustcore-core): risk register migration 0023, RBAC permissions map, extend PlatformRole union
  apps/trustcore-trustops/control-manifest.json
  apps/trustcore-trustops/eslint.config.mjs
  apps/trustcore/control-manifest.json
  apps/trustcore/eslint.config.mjs
  docs/platform/portfolio-matrix.md
  migrations/0023_trustcore_risk_register.sql
  nzila-truth-manifest.json
  packages/db/src/org-registry.ts
  packages/db/src/schema/trustcore.ts
  packages/platform-contracts/src/registry.test.ts
  packages/platform-contracts/src/registry.ts
  packages/platform-contracts/src/role.ts
  packages/trustcore-core/package.json
  packages/trustcore-core/src/index.ts
  packages/trustcore-core/src/rbac/index.test.ts
  packages/trustcore-core/src/rbac/index.ts
  reports/portfolio-ops-dashboard.json
  reports/portfolio-status.json
  reports/portfolio-status.md
  tooling/contract-tests/stack-authority.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: resolve all contract test and dependency audit CI failures on PR #461
  apps/trustcore-trustops/app/api/mandates/[mandateId]/transition/route.ts
  apps/trustcore-trustops/lib/evidence.ts
  apps/trustcore/app/api/billing/create-checkout-session/route.ts
  apps/trustcore/app/api/billing/webhook/route.ts
  apps/trustcore/app/api/internal/notify/route.ts
  apps/trustcore/app/api/leads/route.ts
  apps/trustcore/lib/analytics/track.ts
  apps/trustcore/lib/evidence.ts
  apps/trustcore/lib/evidence/logEvent.ts
  apps/trustcore/lib/stripe.ts
  apps/veridian-admin/proxy.ts
  apps/veridian-care/proxy.ts
  apps/veridian-site/proxy.ts
  governance/exceptions/mutation-idempotency.json
  ops/outputs/data-residency-runtime.json
  ops/outputs/governance-runtime-budget.json
  ops/outputs/onboarding-kpis.json
  ops/outputs/strategic-resilience-report.json
  packages/data-lifecycle/src/manifest.ts
  tooling/contract-tests/api-authz-coverage.test.ts
  tooling/contract-tests/db-boundary.test.ts
  tooling/contract-tests/org-isolation-runtime.test.ts
  tooling/contract-tests/org-semantic-convergence.test.ts
  tooling/contract-tests/schema-lifecycle-drift.test.ts
  tooling/contract-tests/vertical-governance.test.ts
  tooling/security/supply-chain-policy.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: upgrade axios to >=1.15.2 via pnpm override to resolve Trivy CVEs
  package.json
  pnpm-lock.yaml
Due: gitleaks

fix: satisfy GA gate Studio maturity >=7/10 for trustcore and trustcore-trustops
  apps/trustcore-trustops/app/api/health/route.ts
  apps/trustcore-trustops/instrumentation.ts
  apps/trustcore-trustops/lib/ai-client.ts
  apps/trustcore-trustops/lib/env.ts
  apps/trustcore-trustops/lib/ml-client.ts
  apps/trustcore/app/api/health/route.ts
  apps/trustcore/instrumentation.ts
  apps/trustcore/lib/ai-client.ts
  apps/trustcore/lib/api-guards.ts
  apps/trustcore/lib/env.ts
  apps/trustcore/lib/ml-client.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: propagate AiTrace.requestId in trustcore and trustcore-trustops ai-client
  apps/trustcore-trustops/lib/ai-client.ts
  apps/trustcore/lib/ai-client.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: make union-eyes migration fault-tolerant for cross-migration FK deps
  apps/union-eyes/db/migrations/20260507_fixup_phase5b_org_fks.sql
  apps/union-eyes/db/migrations/meta/_journal.json
  tooling/scripts/run-union-eyes-drizzle-migrate.mjs
Due: gitleaks, lint-staged

fix: resolve trustcore lint errors (no-restricted-imports, no-unused-vars)
  apps/trustcore/app/api/billing/create-checkout-session/route.ts
  apps/trustcore/app/api/billing/webhook/route.ts
  apps/trustcore/lib/api-guards.ts
  apps/trustcore/package.json
Due: gitleaks, lint-staged, typecheck-staged

chore: update pnpm-lock.yaml for @nzila/payments-stripe dep in trustcore
  pnpm-lock.yaml
Due: gitleaks

fix(union-eyes): add fixup migration for missing break_glass_activations table
  apps/union-eyes/db/migrations/20260507_fixup_create_break_glass_activations.sql
  apps/union-eyes/db/migrations/meta/_journal.json
Due: gitleaks

chore: update schema snapshot for trustcore.ts changes
  tooling/db/schema-snapshot.json
Due: gitleaks

fix(union-eyes): comprehensive fixup migrations for schema gaps in 0005-0008
  apps/union-eyes/db/migrations/20260507_fixup_create_break_glass_activations.sql
  apps/union-eyes/db/migrations/20260507_fixup_pre_0008_missing_tables.sql
  apps/union-eyes/db/migrations/meta/_journal.json
  scripts/gen-fixup-migration.mjs
Due: gitleaks, lint-staged

chore(ga): update GA check report timestamp
  governance/ga/GA_CHECK_REPORT.md
  governance/ga/ga-check.json
Due: gitleaks

fix(union-eyes): fix ARRAY[] default expression in fixup migrations
  apps/union-eyes/db/migrations/20260507_fixup_create_break_glass_activations.sql
  scripts/gen-fixup-migration.mjs
Due: lint-staged

fix(union-eyes): fix isTableCreated regex and regenerate fixup migrations
  apps/union-eyes/db/migrations/20260507_fixup_create_break_glass_activations.sql
  apps/union-eyes/db/migrations/20260507_fixup_pre_0008_missing_tables.sql
  scripts/gen-fixup-migration.mjs
Due: lint-staged

fix(union-eyes): extend alert_severity enum before migration 0008 runs
  apps/union-eyes/db/migrations/20260507_fixup_pre_0008_missing_tables.sql
Due: none

debug: log migration tag and statement index on failure
  tooling/scripts/run-union-eyes-drizzle-migrate.mjs
Due: lint-staged

fix(union-eyes): handle malformed DO DROP TYPE statements in 0008 migration
  tooling/scripts/run-union-eyes-drizzle-migrate.mjs
Due: lint-staged

fix(union-eyes): handle repeated migration blocks in 0008 via faultTolerantSql
  apps/union-eyes/db/migrations/20260507_fixup_pre_0008_missing_tables.sql
  tooling/scripts/run-union-eyes-drizzle-migrate.mjs
Due: lint-staged

fix(trustcore): typecheck errors, AppName entries, migration runner regex fix
  apps/trustcore-trustops/app/api/health/route.ts
  apps/trustcore-trustops/lib/ai-client.ts
  apps/trustcore-trustops/package.json
  apps/trustcore/app/api/health/route.ts
  apps/trustcore/lib/ai-client.ts
  apps/trustcore/lib/api-guards.ts
  apps/trustcore/lib/stripe.ts
  apps/trustcore/package.json
  apps/trustcore/vitest.config.ts
  packages/os-core/src/config/env.ts
  packages/os-core/src/telemetry/boot.ts
  pnpm-lock.yaml
  tooling/scripts/run-union-eyes-drizzle-migrate.mjs
Due: gitleaks, lint-staged, typecheck-staged

fix(deps): patch dependabot vulnerabilities (axios, next-intl, ip-address, icu-minify)
  package.json
  pnpm-lock.yaml
Due: gitleaks

fix(governance): clear contract gates and turbopack build for cognition routes
  apps/union-eyes/components/knowledge-transfer/institutional-operating-intelligence/operating-intelligence-workspace.tsx
  apps/union-eyes/next-env.d.ts
  governance/ai/inventory.json
  governance/exceptions/stack-authority.json
  ops/outputs/data-residency-runtime.json
  ops/outputs/governance-runtime-budget.json
  ops/outputs/onboarding-kpis.json
  ops/outputs/strategic-resilience-report.json
  packages/institutional-cognition-core/src/cache/index.ts
  packages/institutional-cognition-core/src/contracts/index.ts
  packages/institutional-cognition-core/src/explainability/index.ts
  packages/institutional-cognition-core/src/governance/index.ts
  packages/institutional-cognition-core/src/index.ts
  packages/institutional-cognition-core/src/observability/index.ts
  packages/institutional-cognition-core/src/ontology-governance/deep-semantics.ts
  packages/institutional-cognition-core/src/ontology-governance/index.ts
  packages/institutional-cognition-core/src/orchestration/context-aware.ts
  packages/institutional-cognition-core/src/orchestration/index.ts
  packages/institutional-cognition-core/src/orchestration/intelligent.ts
  packages/institutional-cognition-core/src/reasoning/index.ts
  packages/institutional-cognition-core/src/registry/index.ts
  packages/institutional-cognition-core/src/sdk/index.ts
  tooling/contract-tests/org-isolation.test.ts
  tooling/contract-tests/org-scope-enforcement.test.ts
  tooling/contract-tests/org-semantic-convergence.test.ts
  tooling/contract-tests/ue-persona-access.test.ts
  tooling/contract-tests/vertical-governance.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): make e2e bootstrap fault-tolerant on fresh DB and drop residual clerkOrganizationId refs
  apps/union-eyes/app/api/users/me/organizations/route.ts
  apps/union-eyes/db/migrations/20260507_fixup_pre_0008_missing_tables.sql
  apps/union-eyes/db/migrations/20260508_fixup_post_0019_align_modern_schema.sql
  apps/union-eyes/db/migrations/meta/_journal.json
  apps/union-eyes/db/schema-organizations.ts
  apps/union-eyes/lib/__tests__/api-auth-guard.test.ts
  apps/union-eyes/lib/api-auth-guard.ts
  apps/union-eyes/lib/auth/__tests__/rbac-server.test.ts
  apps/union-eyes/lib/auth/rbac-server.ts
  apps/union-eyes/scripts/test-org-resolve.ts
  tooling/scripts/run-union-eyes-drizzle-migrate.mjs
Due: gitleaks, lint-staged, typecheck-staged

Path conditions:
  gitleaks: any of: *.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}
  lint-staged: any of: *.{ts,tsx,js,jsx,mjs}
  typecheck-staged: any of: *.{ts,tsx}
