Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

gitleaks:
  run: 'gitleaks detect --source . --config .gitleaks.toml --no-banner --verbose --staged
  
    '
  fail_text: 'ðŸ”’ Gitleaks detected potential secrets in staged files.
  
    Review the output above and remove or rotate any exposed credentials.
  
    See docs/hardening/secrets.md for guidance.
  
  ...

lint-staged:
  run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
  fail_text: Lint errors found. Run `pnpm lint` to see details.

typecheck-staged:
  run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
  fail_text: Type errors found. Run `pnpm typecheck` to see details.

fix(ue): resolve org membership under withSystemContext in auth guard
  apps/union-eyes/lib/__tests__/api-auth-guard.test.ts
  apps/union-eyes/lib/api-auth-guard.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ue): resolve entitlements and roles under withSystemContext
  apps/union-eyes/lib/auth/rbac-server.ts
  apps/union-eyes/services/platform-economics/entitlement-guard.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ue): scope grievance list/get queries with withRLSContext
  apps/union-eyes/app/api/grievances/[id]/route.ts
  apps/union-eyes/app/api/grievances/route.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(ue): Phase G status after 0000255 — original blockers cleared, authority still BLOCKED
  reports/union-eyes/runtime-schema-lineage/PHASE_G_HTTP_RERUN.json
  reports/union-eyes/runtime-schema-lineage/PHASE_G_STATUS.json
  reports/union-eyes/runtime-schema-lineage/PHASE_G_STATUS.md
Due: gitleaks

fix(ue): Phase G docs — PLATFORM_SQL 0006 + repository RLS + matrix path
  apps/union-eyes/app/api/documents/repository/[id]/route.ts
  apps/union-eyes/db/migrations-platform/0006_documents_runtime_columns.sql
  apps/union-eyes/db/migrations-platform/meta/_journal.json
  scripts/_phase_g_http_rerun.mts
  tooling/contract-tests/ue-raw-db-classification.json
  tooling/scripts/run-union-eyes-schema-lineage-cleanroom.mjs
Due: gitleaks, lint-staged, typecheck-staged

chore(ue): Phase G PASS evidence — 0000259 authority matrix
  ops/governance-snapshots/staging-1790188834472.json
  reports/union-eyes/runtime-schema-lineage/DISPATCH_STATUS.json
  reports/union-eyes/runtime-schema-lineage/PHASE_G_HTTP_RERUN.json
  reports/union-eyes/runtime-schema-lineage/PHASE_G_STATUS.json
  reports/union-eyes/runtime-schema-lineage/PHASE_G_STATUS.md
Due: gitleaks

chore(ue): canonical snapshot lifecycle PASS — 92611387 publish/restore
  reports/union-eyes/runtime-schema-lineage/CANONICAL_SNAPSHOT_LIFECYCLE.json
  reports/union-eyes/runtime-schema-lineage/CANONICAL_SNAPSHOT_LIFECYCLE.md
  reports/union-eyes/runtime-schema-lineage/DISPATCH_STATUS.json
  reports/union-eyes/runtime-schema-lineage/snapshots/staging-canonical-20260923T184938Z-92611387.meta.json
Due: gitleaks

chore(release): allow platform-admin staging deploy (B-005)
  governance/release/deployment-inventory.json
Due: gitleaks

test(union-eyes): mock withClaimedWorkbookAccess in memory-holders routes
  apps/union-eyes/app/api/workbook/[id]/memory-holders/[holderId]/__tests__/route.test.ts
  apps/union-eyes/app/api/workbook/[id]/memory-holders/__tests__/route.test.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

feat(sage): synthesis-context DO_NOT_REGRESS + LT/IM pilot readiness
  docs/public-service/operations/reference-configs/leadership-transition-institutional-memory/README.md
  docs/public-service/operations/reference-configs/leadership-transition-institutional-memory/continuity-discovery.md
  docs/public-service/operations/reference-configs/leadership-transition-institutional-memory/continuity-matrix-extension.md
  docs/public-service/operations/reference-configs/leadership-transition-institutional-memory/evidence-source-classes.yaml
  docs/public-service/operations/reference-configs/leadership-transition-institutional-memory/institution-workspace.yaml
  docs/public-service/operations/reference-configs/leadership-transition-institutional-memory/knowledge-dependency-map.md
  docs/public-service/operations/reference-configs/leadership-transition-institutional-memory/pilot-definition.md
  docs/public-service/operations/reference-configs/leadership-transition-institutional-memory/success-metrics.md
  docs/public-service/operations/sage-acceptance/AUTHZ_AUDIT_IDEMPOTENCY_INVENTORY.md
  docs/public-service/operations/sage-acceptance/B005_STAGING_DEPLOY_PROCEDURE.md
  docs/public-service/operations/sage-acceptance/G11_MANUAL_A11Y_CHECKLIST.md
  docs/public-service/operations/sage-acceptance/INSTITUTIONAL_MEMORY_GAP_ANALYSIS.md
  fixtures/leadership-transition-institutional-memory/README.md
  fixtures/leadership-transition-institutional-memory/chronology-2022-2026.json
  fixtures/leadership-transition-institutional-memory/synthesis-candidates.json
  packages/sage-core/package.json
  packages/sage-core/src/index.ts
  packages/sage-core/src/synthesis-context.fixture.test.ts
  packages/sage-core/src/synthesis-context.test.ts
  packages/sage-core/src/synthesis-context.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

feat(sage): wire synthesis choke across all evidence retrieval paths
  apps/platform-admin/app/api/sage/workspaces/[workspaceId]/institutional-context/route.ts
  apps/platform-admin/lib/sage/__tests__/institutional-context-choke.test.ts
  apps/platform-admin/lib/sage/evidence-service.ts
  docs/public-service/operations/reference-configs/leadership-transition-institutional-memory/DEMO_PATH.md
  docs/public-service/operations/reference-configs/leadership-transition-institutional-memory/README.md
  docs/public-service/operations/reference-configs/leadership-transition-institutional-memory/handoff-checklist.md
  docs/public-service/operations/sage-acceptance/INSTITUTIONAL_MEMORY_GAP_ANALYSIS.md
  docs/public-service/operations/sage-acceptance/PHASE3_SUMMARY.md
  docs/public-service/operations/sage-acceptance/READINESS_PACKAGE.md
  docs/public-service/operations/sage-acceptance/SYNTHESIS_CHOKE_ENTRY_POINTS.md
  fixtures/leadership-transition-institutional-memory/claim-register.json
  packages/sage-core/package.json
  packages/sage-core/src/claim-chain.ts
  packages/sage-core/src/index.ts
  packages/sage-core/src/institutional-context.test.ts
  packages/sage-core/src/institutional-context.ts
  packages/sage-core/src/services.ts
  packages/sage-core/src/synthesis-choke-architecture.test.ts
  packages/sage-core/src/synthesis-context.fixture.test.ts
  packages/sage-core/src/synthesis-context.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

fix(platform-admin): add /api/ready and /api/version for GitOps smoke
  apps/platform-admin/app/api/ready/route.ts
  apps/platform-admin/app/api/version/route.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

fix(platform-admin): require Idempotency-Key on institutional-context POST
  apps/platform-admin/app/api/sage/workspaces/[workspaceId]/institutional-context/route.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): soft-skip missing Django tables in scoped RLS migrations
  apps/union-eyes/db/migrations-cache/0010_tenant_isolation_rls_foundation.sql
  apps/union-eyes/db/migrations-cache/0011_storage_authority_rls_completion.sql
  apps/union-eyes/db/migrations-cache/0012_storage_authority_rls_final_closure.sql
Due: none

fix(security): remediate adm-zip 1239030; drop expired unused waivers
  package.json
  pnpm-lock.yaml
  tooling/security/supply-chain-policy.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ops): refresh ops evidence snapshot (stale >7d)
  reports/ops/snapshot.json
  reports/ops/snapshot.md
Due: gitleaks

fix(security): recognize workbook claimed-access in org-scope red-team fuzz
  security/redteam/ue-org-scope-fuzz.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(security): remediate adm-zip 1239030; drop expired unused waivers (#804)
  package.json
  pnpm-lock.yaml
  tooling/security/supply-chain-policy.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ops): refresh ops evidence snapshot (stale >7d) (#805)
  reports/ops/snapshot.json
  reports/ops/snapshot.md
Due: gitleaks

fix(union-eyes): soft-skip missing Django tables in scoped RLS migrations (#803)
  apps/union-eyes/db/migrations-cache/0010_tenant_isolation_rls_foundation.sql
  apps/union-eyes/db/migrations-cache/0011_storage_authority_rls_completion.sql
  apps/union-eyes/db/migrations-cache/0012_storage_authority_rls_final_closure.sql
Due: none

fix(security): recognize workbook claimed-access in org-scope red-team fuzz (#806)
  security/redteam/ue-org-scope-fuzz.test.ts
Due: gitleaks, lint-staged, typecheck-staged

civic/sage: synthesis-context DO_NOT_REGRESS + Leadership Transition pilot readiness (#802)
  apps/platform-admin/app/api/ready/route.ts
  apps/platform-admin/app/api/sage/workspaces/[workspaceId]/institutional-context/route.ts
  apps/platform-admin/app/api/version/route.ts
  apps/platform-admin/lib/sage/__tests__/institutional-context-choke.test.ts
  apps/platform-admin/lib/sage/evidence-service.ts
  docs/public-service/operations/reference-configs/leadership-transition-institutional-memory/DEMO_PATH.md
  docs/public-service/operations/reference-configs/leadership-transition-institutional-memory/README.md
  docs/public-service/operations/reference-configs/leadership-transition-institutional-memory/continuity-discovery.md
  docs/public-service/operations/reference-configs/leadership-transition-institutional-memory/continuity-matrix-extension.md
  docs/public-service/operations/reference-configs/leadership-transition-institutional-memory/evidence-source-classes.yaml
  docs/public-service/operations/reference-configs/leadership-transition-institutional-memory/handoff-checklist.md
  docs/public-service/operations/reference-configs/leadership-transition-institutional-memory/institution-workspace.yaml
  docs/public-service/operations/reference-configs/leadership-transition-institutional-memory/knowledge-dependency-map.md
  docs/public-service/operations/reference-configs/leadership-transition-institutional-memory/pilot-definition.md
  docs/public-service/operations/reference-configs/leadership-transition-institutional-memory/success-metrics.md
  docs/public-service/operations/sage-acceptance/AUTHZ_AUDIT_IDEMPOTENCY_INVENTORY.md
  docs/public-service/operations/sage-acceptance/B005_STAGING_DEPLOY_PROCEDURE.md
  docs/public-service/operations/sage-acceptance/G11_MANUAL_A11Y_CHECKLIST.md
  docs/public-service/operations/sage-acceptance/INSTITUTIONAL_MEMORY_GAP_ANALYSIS.md
  docs/public-service/operations/sage-acceptance/PHASE3_SUMMARY.md
  docs/public-service/operations/sage-acceptance/READINESS_PACKAGE.md
  docs/public-service/operations/sage-acceptance/SYNTHESIS_CHOKE_ENTRY_POINTS.md
  fixtures/leadership-transition-institutional-memory/README.md
  fixtures/leadership-transition-institutional-memory/chronology-2022-2026.json
  fixtures/leadership-transition-institutional-memory/claim-register.json
  fixtures/leadership-transition-institutional-memory/synthesis-candidates.json
  packages/sage-core/package.json
  packages/sage-core/src/claim-chain.ts
  packages/sage-core/src/index.ts
  packages/sage-core/src/institutional-context.test.ts
  packages/sage-core/src/institutional-context.ts
  packages/sage-core/src/services.ts
  packages/sage-core/src/synthesis-choke-architecture.test.ts
  packages/sage-core/src/synthesis-context.fixture.test.ts
  packages/sage-core/src/synthesis-context.test.ts
  packages/sage-core/src/synthesis-context.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

docs: converge root/index docs, archive completed programmes, widen link-check coverage
  .linkcheckignore
  ARCHITECTURE.md
  README.business.md
  README.md
  apps/zonga/.env.example
  apps/zonga/ZONGA_AWS_LAUNCH_CHECKLIST.md
  docs/INDEX.md
  docs/README.md
  docs/categories/historical-archive/README.md
  docs/categories/historical-archive/archive/README.md
  docs/categories/historical-archive/archive/debug-logs/ci-failure-log.txt
  docs/categories/historical-archive/archive/debug-logs/clerk-validation.txt
  docs/categories/historical-archive/archive/debug-logs/test-failures.txt
  docs/categories/historical-archive/archive/debug-logs/test-output.txt
  docs/categories/historical-archive/archive/debug-logs/vitest-output.txt
  docs/categories/historical-archive/archive/iterations/PHASE_2_AUDIT_STRATEGY.md
  docs/categories/historical-archive/archive/iterations/PHASE_2_FINDINGS_LEDGER.md
  docs/categories/platform-and-operations/architecture/ARCHITECTURE_GOVERNANCE_INDEX.md
  docs/categories/platform-and-operations/explanation/README.md
  docs/categories/platform-and-operations/ops/EXEC_RHYTHM.md
  docs/categories/platform-and-operations/reference/README.md
  docs/categories/products-and-market/union-eyes/README.md
  docs/categories/products-and-market/union-eyes/runtime-authority-audit/semantic-observability-baseline.md
  docs/categories/products-and-market/union-eyes/runtime-authority-audit/wave10-platform-ontology-stabilization-review.md
  docs/categories/products-and-market/zonga/AWS_ZONGA_SETUP.md
  docs/categories/stakeholders/how-to/README.md
  docs/categories/stakeholders/tutorials/README.md
  docs/categories/stakeholders/tutorials/adding-ai.md
  scripts/aws-zonga-setup.ps1
  scripts/aws-zonga-setup.sh
Due: gitleaks

docs: add CIVIC section and completed-programme-record guidance to docs index
  docs/INDEX.md
Due: gitleaks

docs: format converged docs and refresh generated doc-consistency/index reports
  ARCHITECTURE.md
  docs/categories/historical-archive/README.md
  docs/categories/stakeholders/how-to/README.md
  docs/documentation-index.md
  docs/ops/ownership-registry.md
  docs/ops/release-governance/release-governance-audit.md
  reports/claim-verification.json
  reports/claim-verification.md
  reports/doc-consistency.json
  reports/doc-consistency.md
  reports/documentation-index.json
  reports/ownership-registry.json
  reports/release-governance-audit.json
  reports/release-secret-audit.json
  reports/repo-excellence-audit.json
  reports/repo-excellence-audit.md
  reports/union-eyes-authority-convergence-report.json
  reports/union-eyes-authority-convergence-report.md
  reports/union-eyes-explicit-grant-dry-run.json
  reports/union-eyes-explicit-grant-dry-run.md
  reports/union-eyes-public-schema-grant-census.json
  reports/union-eyes-public-schema-grant-census.md
  reports/unsafe-claims.md
Due: gitleaks

docs: restore canonical '## Portfolio Governance' heading required by validate-canonical-truth
  README.md
Due: gitleaks

docs(union-eyes,reports): reconcile UE temporal truth and narrow claim-report evidence scope
  docs/union-eyes/README.md
  docs/union-eyes/pilot-evidence-pack/BUYER_REVIEW_INDEX.md
  docs/union-eyes/pilot-evidence-pack/CI_GOVERNANCE_EVIDENCE.md
  docs/union-eyes/pilot-evidence-pack/INVESTOR_TECHNICAL_DILIGENCE_SUMMARY.md
  docs/union-eyes/pilot-evidence-pack/LIVE_EVIDENCE_CAPTURE_RUNBOOK.md
  docs/union-eyes/pilot-evidence-pack/ORG_ISOLATION_CONTROL_MAP.md
  docs/union-eyes/pilot-evidence-pack/PILOT_OPERATIONS_RUNBOOK.md
  docs/union-eyes/pilot-evidence-pack/PILOT_READINESS_MEMO.md
  docs/union-eyes/pilot-evidence-pack/PILOT_SCOPE_LOCK.md
  docs/union-eyes/pilot-evidence-pack/PILOT_SUCCESS_METRICS.md
  docs/union-eyes/pilot-evidence-pack/READINESS_COMMANDS.md
  docs/union-eyes/pilot-evidence-pack/README.md
  docs/union-eyes/pilot-evidence-pack/RUNTIME_EVIDENCE_PACK.md
  docs/union-eyes/pilot-evidence-pack/SECURITY_BUYER_PACK.md
  packages/platform-validation/src/claim-verification.ts
  reports/claim-verification.json
  reports/claim-verification.md
  reports/strategic/unsafe-claims.md
  reports/unsafe-claims.md
  tooling/validation/claim-verification.ts
Due: gitleaks, lint-staged, typecheck-staged

docs: add document disposition register and temporal banners for programme trees
  docs/DOCUMENT_DISPOSITION.md
  docs/INDEX.md
  docs/README.md
  docs/nzila-field-operations/master-field-operations-index.md
  docs/nzila-finalization/master-finalization-index.md
  docs/nzila-infrastructure-convergence/README.md
  docs/nzila-live-audit/README.md
  docs/nzila-operational-proving/master-operational-proving-index.md
  docs/nzila-residual-closure/README.md
  docs/nzila-rollout-governance/master-rollout-governance-index.md
  docs/nzila-runtime-integrity/README.md
  docs/nzila-sovereignty-proving/README.md
  docs/nzila-tier2-hardening/README.md
  docs/nzila-tier3-operating-infrastructure/README.md
  docs/readiness/README.md
  docs/union-eyes/reality-remediation/README.md
  docs/union-eyes/runtime-convergence/README.md
  reports/doc-consistency.json
  reports/doc-consistency.md
Due: gitleaks

chore(reports): refresh generated reports and normalize formatting
  docs/categories/historical-archive/archive/iterations/PHASE_2_AUDIT_STRATEGY.md
  docs/categories/historical-archive/archive/iterations/PHASE_2_FINDINGS_LEDGER.md
  docs/categories/products-and-market/zonga/AWS_ZONGA_SETUP.md
  docs/documentation-index.md
  docs/ops/ownership-registry.md
  docs/ops/release-governance/release-governance-audit.md
  reports/claim-verification.json
  reports/claim-verification.md
  reports/doc-consistency.json
  reports/doc-consistency.md
  reports/documentation-index.json
  reports/ownership-registry.json
  reports/release-governance-audit.json
  reports/release-secret-audit.json
  reports/repo-excellence-audit.json
  reports/repo-excellence-audit.md
  reports/union-eyes-authority-convergence-report.json
  reports/union-eyes-authority-convergence-report.md
  reports/union-eyes-explicit-grant-dry-run.json
  reports/union-eyes-explicit-grant-dry-run.md
  reports/union-eyes-public-schema-grant-census.json
  reports/union-eyes-public-schema-grant-census.md
  reports/unsafe-claims.md
Due: gitleaks

feat(governance): enforce CIVIC OCI doctrine integrity
  .github/workflows/portfolio-governance.yml
  docs/oci/CIVIC_OCI_DOCTRINE_INTEGRITY.md
  governance/foundations/civic-oci-doctrine.contract.json
  package.json
  scripts/lib/civic-oci-doctrine.ts
  scripts/validate-civic-oci-doctrine.ts
  tooling/contract-tests/civic-oci-doctrine-integrity.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(governance): use explicit doctrine validator command
  .github/workflows/portfolio-governance.yml
  docs/oci/CIVIC_OCI_DOCTRINE_INTEGRITY.md
  package.json
Due: gitleaks

chore(governance): refresh repository inventory
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

feat(governance): enforce CIVIC / OCI doctrine integrity (#810)
  .github/workflows/portfolio-governance.yml
  docs/oci/CIVIC_OCI_DOCTRINE_INTEGRITY.md
  governance/foundations/civic-oci-doctrine.contract.json
  package.json
  scripts/lib/civic-oci-doctrine.ts
  scripts/validate-civic-oci-doctrine.ts
  tooling/contract-tests/civic-oci-doctrine-integrity.test.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

docs(convergence): record pre-phase-0 engineering estate
  docs/engineering-convergence/2026-09-24_PRE_PHASE_0_CONVERGENCE.md
Due: gitleaks

fix(platform-admin): retain runtime build identity
  Dockerfile
  tooling/contract-tests/platform-admin-version-truth.test.ts
Due: gitleaks, lint-staged, typecheck-staged

Path conditions:
  gitleaks: any of: *.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}
  lint-staged: any of: *.{ts,tsx,js,jsx,mjs}
  typecheck-staged: any of: *.{ts,tsx}
