Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

gitleaks:
  run: 'gitleaks detect --source . --config .gitleaks.toml --no-banner --verbose --staged
  
    '
  fail_text: 'ðŸ”’ Gitleaks detected potential secrets in staged files.
  
    Review the output above and remove or rotate any exposed credentials.
  
    See docs/hardening/secrets.md for guidance.
  
  ...

lint-staged:
  run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
  fail_text: Lint errors found. Run `pnpm lint` to see details.

typecheck-staged:
  run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
  fail_text: Type errors found. Run `pnpm typecheck` to see details.

fix: trade-core typecheck — non-null assert on transitions[0] spread
  packages/trade-core/src/machines/engine.test.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(zonga): AWS-backed streaming infrastructure (IVS live + S3/MediaConvert/CloudFront VOD)
  apps/control-plane/app/(dashboard)/layout.tsx
  apps/control-plane/app/(dashboard)/streaming/page.tsx
  apps/control-plane/components/streaming/live-stream-table.tsx
  apps/control-plane/components/streaming/media-jobs-table.tsx
  apps/control-plane/components/streaming/stream-event-log.tsx
  apps/control-plane/server/streaming-data.ts
  apps/zonga/app/api/live/[streamId]/ingest/route.ts
  apps/zonga/app/api/live/[streamId]/playback/route.ts
  apps/zonga/app/api/live/[streamId]/route.ts
  apps/zonga/app/api/live/route.ts
  apps/zonga/app/api/stream/[assetId]/route.ts
  apps/zonga/db/migrations/0002_zonga_streaming_infrastructure.sql
  apps/zonga/docs/PILOT_DEMO_GUIDE.md
  apps/zonga/features/media/live-streaming-service.ts
  apps/zonga/features/media/media-job-service.ts
  apps/zonga/features/media/playback-service.ts
  apps/zonga/package.json
  docs/aws-streaming-architecture.md
  docs/live-event-operator-runbook.md
  packages/zonga-streaming-aws/package.json
  packages/zonga-streaming-aws/src/cloudfront-delivery/cloudfront-delivery.test.ts
  packages/zonga-streaming-aws/src/cloudfront-delivery/index.ts
  packages/zonga-streaming-aws/src/index.ts
  packages/zonga-streaming-aws/src/ivs-live/index.ts
  packages/zonga-streaming-aws/src/ivs-live/ivs-live.test.ts
  packages/zonga-streaming-aws/src/mediaconvert/index.ts
  packages/zonga-streaming-aws/src/mediaconvert/mediaconvert.test.ts
  packages/zonga-streaming-aws/src/metrics/index.ts
  packages/zonga-streaming-aws/src/metrics/metrics.test.ts
  packages/zonga-streaming-aws/src/s3-storage/index.ts
  packages/zonga-streaming-aws/src/s3-storage/s3-storage.test.ts
  packages/zonga-streaming-aws/src/types.ts
  packages/zonga-streaming-aws/tsconfig.json
  packages/zonga-streaming-aws/vitest.config.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: resolve tsconfig extends path for platform-revenue and zonga-monetization
  packages/platform-revenue/package.json
  packages/platform-revenue/tsconfig.json
  packages/zonga-monetization/tsconfig.json
  pnpm-lock.yaml
Due: gitleaks

fix(zonga-streaming-aws): add missing eslint.config.mjs
  packages/zonga-streaming-aws/eslint.config.mjs
Due: lint-staged

fix: resolve all typecheck and lint errors across monorepo
  apps/control-plane/lib/api-auth.test.ts
  apps/zonga/features/media/live-streaming-service.ts
  apps/zonga/features/media/media-job-service.ts
  apps/zonga/features/media/playback-service.ts
  apps/zonga/features/media/types.ts
  packages/agri-events/src/event-bus.test.ts
  packages/commerce-services/src/sagas/sagas.test.ts
  packages/ingestion-core/src/__tests__/runner.test.ts
  packages/integrations-runtime/src/__tests__/coverage-edges.test.ts
  packages/integrations-runtime/src/policy.ts
  packages/os-core/src/__tests__/boot-assert.test.ts
  packages/os-core/src/__tests__/idempotency-extended.test.ts
  packages/os-core/src/crypto/fips-extended.test.ts
  packages/os-core/src/evidence/__tests__/verify-pack.test.ts
  packages/os-core/src/evidence/collectors/__tests__/security.test.ts
  packages/os-core/src/policy/__tests__/authorize-extended.test.ts
  packages/os-core/src/retention/__tests__/enforce.test.ts
  packages/os-core/src/secrets/__tests__/keyvault.test.ts
  packages/os-core/src/secrets/keyvault-extended.test.ts
  packages/platform-decision-engine/src/__tests__/decision-engine.test.ts
  packages/platform-events/src/__tests__/bus.test.ts
  packages/platform-events/src/__tests__/dispatcher-store.test.ts
  packages/platform-governed-ai/src/governed-ai.test.ts
  packages/platform-ops/src/index.test.ts
  packages/platform-shell/src/components/components.test.tsx
  packages/platform-shell/src/context/provider.test.tsx
  packages/zonga-core/src/services.test.ts
  packages/zonga-growth/src/discovery.test.ts
  packages/zonga-growth/src/engagement-engine-functions.test.ts
  packages/zonga-growth/src/feed-composer.test.ts
  packages/zonga-growth/src/recommendations.test.ts
  packages/zonga-growth/src/referral.test.ts
  packages/zonga-growth/src/sharing-service.test.ts
  packages/zonga-streaming-aws/src/ivs-live/index.ts
  packages/zonga-streaming-aws/src/mediaconvert/index.ts
  packages/zonga-streaming-aws/src/types.ts
  packages/zonga-streaming-aws/tsconfig.json
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): sync jurisdiction package deps and lockfile
  packages/platform-jurisdiction-compliance/package.json
  pnpm-lock.yaml
Due: gitleaks

chore(governance): finalize control-plane authority delta pass
  README.md
  apps/control-plane/app/(dashboard)/integrations/page.tsx
  apps/control-plane/app/(dashboard)/revenue/page.tsx
  apps/control-plane/app/api/control-plane/integrations/dead-letters/route.ts
  apps/control-plane/app/api/control-plane/integrations/route.ts
  apps/control-plane/server/integration-data.ts
  apps/control-plane/server/revenue-data.ts
  apps/zonga/app/api/stream/[assetId]/route.ts
  docs/plans/REPO_ASSESSMENT.md
  governance/final-ga-check.ts
  tooling/repo-inventory/generate.ts
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
  tooling/repo-inventory/src/check-drift.ts
  tooling/repo-inventory/src/generate.ts
Due: gitleaks, lint-staged, typecheck-staged

docs: move loose root-level files into appropriate subdirectories
  README.md
  docs/GOLDEN_PATH_DEVELOPER_GUIDE.md
  docs/architecture/aws-streaming-architecture.md
  docs/archive/AI_ML_REMEDIATION_STATUS.md
  docs/archive/CLEANUP_CHANGE_SUMMARY.md
  docs/backlog/REMEDIATION_TASKS.md
  docs/governance/BLINDSPOTS_VALIDATION.md
  docs/ops/live-event-operator-runbook.md
  docs/plans/LOAD_PROJECTION_CAPACITY_PLAN.md
  docs/plans/REPO_ASSESSMENT.md
Due: gitleaks

fix(ci): resolve 4 contract test failures blocking governance gate
  apps/platform-admin/app/entity-graph/page.tsx
  apps/zonga/app/api/metrics/route.ts
  governance/platform-package-owners.yaml
  packages/db/src/org-registry.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): resolve latest contract-action failures
  apps/zonga/instrumentation.ts
  apps/zonga/middleware.ts
  docs/GOLDEN_PATH_DEVELOPER_GUIDE.md
  tooling/contract-tests/api-route-otel.test.ts
  tooling/contract-tests/cross-org-breach-http.test.ts
  tooling/contract-tests/org-isolation-runtime.test.ts
  tooling/contract-tests/org-isolation.test.ts
  tooling/contract-tests/org-scope-enforcement.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: restore pilot metrics CI install and typecheck
  packages/platform-pilot-metrics/package.json
  packages/platform-pilot-metrics/src/service.alerting.integration.test.ts
  packages/platform-pilot-metrics/src/service.ts
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

fix: restore pilot metrics CI install and typecheck (#349)
  packages/platform-pilot-metrics/package.json
  packages/platform-pilot-metrics/src/service.alerting.integration.test.ts
  packages/platform-pilot-metrics/src/service.ts
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

fix: restore pilot contract governance coverage
  apps/union-eyes/lib/pilot-metrics.ts
  apps/zonga/lib/pilot-metrics.ts
  packages/data-lifecycle/src/manifest.ts
  packages/platform-pilot-metrics/src/service.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: unblock platform-admin build and schema snapshot drift
  apps/platform-admin/app/entity-graph/page.tsx
  packages/platform-pilot-metrics-types/eslint.config.mjs
  tooling/db/schema-snapshot.json
Due: gitleaks, lint-staged, typecheck-staged

fix: add eslint flat config for platform pilot metrics
  packages/platform-pilot-metrics/eslint.config.mjs
Due: lint-staged

fix: unblock ci lint and turbopack module resolution
  apps/zonga/i18n.ts
  packages/platform-pilot-metrics/src/index.ts
  packages/platform-revenue/src/evidence-bridge.ts
  packages/platform-revenue/src/index.ts
  packages/platform-revenue/src/service.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): resolve typecheck, test, and console build regressions
  packages/ai-control/src/budget.ts
  packages/ai-control/src/classifier.ts
  packages/ai-control/src/index.ts
  packages/ai-control/src/logging.ts
  packages/ai-control/src/policy.ts
  packages/ai-control/src/runner.ts
  packages/ai-core/src/gateway.ts
  packages/audit/src/store.test.ts
  packages/ml-core/src/training-pipeline.ts
  packages/os-core/src/ai-env.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): unblock zonga build and connectors coverage
  apps/zonga/i18n.ts
  packages/platform-integrations-connectors/src/connectors.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): replace pnpm audit with npm bulk advisory endpoint
  .github/workflows/compliance.yml
  .github/workflows/control-tests.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/nzila-governance.yml
  .github/workflows/release-train.yml
  package.json
  templates/app-adoption/.github/workflows/ci.yml
  tooling/security/npm-bulk-audit.mjs
Due: gitleaks, lint-staged

fix(zonga): suppress no-empty-object-type lint error in i18n.ts
  apps/zonga/i18n.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(platform): consolidate authority map, adoption gates, and platform package guidance
  ARCHITECTURE.md
  apps/cfo/app-architecture.meta.json
  apps/flow/docs/ARCHITECTURE_SHAPE.md
  apps/zonga/app-architecture.meta.json
  docs/README.md
  docs/architecture/ARCHITECTURE_GOVERNANCE_INDEX.md
  docs/architecture/PLATFORM_PACKAGE_AUTHORITY.md
  docs/platform/CONSOLIDATION_CLOSEOUT.md
  docs/platform/PLATFORM_CONSOLIDATION_COMPLETION_REPORT.md
  docs/platform/WHEN_TO_USE_PLATFORM_PACKAGES.md
  docs/platform/runtime-adoption-matrix.md
  governance/exceptions/platform-concern-adoption-exceptions.json
  governance/platform-package-authority.json
  governance/reports/platform-concern-adoption-report.json
  package.json
  packages/contracts/README.md
  packages/events/README.md
  packages/observability/README.md
  packages/platform-auth/README.md
  packages/platform-billing/README.md
  packages/platform-integrations/README.md
  packages/platform-notifications/README.md
  packages/platform-revenue/README.md
  platform/registry/platform-registry.json
  scripts/README.md
  scripts/platform-adoption-gate.ts
  scripts/platform-authority-check.ts
  scripts/platform-contract-check.ts
  scripts/platform-vs-app-check.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(governance): add required path fields for concern exceptions
  governance/exceptions/platform-concern-adoption-exceptions.json
Due: gitleaks

fix(ci): reduce artifact scope and resolve typecheck issues
  .github/workflows/ci.yml
  package.json
  packages/platform-integrations-connectors/src/connectors.test.ts
Due: gitleaks, lint-staged, typecheck-staged

merge
  apps/flow/app/actions/orders.ts
  apps/flow/app/actions/purchase-orders.ts
  apps/flow/app/api/governance/telemetry/route.ts
  apps/flow/app/api/metrics/route.ts
  apps/flow/app/api/quotes/[id]/route.ts
  apps/flow/app/api/quotes/review/route.ts
  apps/flow/app/api/quotes/send/route.ts
  apps/flow/docs/CONTROL_LAYER_ARCHITECTURE.md
  apps/flow/docs/DOMAIN_EVENTS_MODEL.md
  apps/flow/docs/FINAL_LOCKDOWN_STATUS.md
  apps/flow/docs/INTEGRATION_LOCKDOWN_AUDIT.md
  apps/flow/docs/LOCKDOWN_AUDIT.md
  apps/flow/docs/PAYMENT_GATING_MODEL.md
  apps/flow/e2e/flow.spec.ts
  apps/flow/instrumentation.ts
  apps/flow/lib/control/bootstrap-assertions.ts
  apps/flow/lib/control/bootstrap.ts
  apps/flow/lib/control/command-bus.ts
  apps/flow/lib/control/dispatch/event-requirement.ts
  apps/flow/lib/control/dispatch/side-effect-dispatcher.ts
  apps/flow/lib/control/guards/payment-guard.ts
  apps/flow/lib/control/handlers/trigger-sales-to-procurement.handler.ts
  apps/flow/lib/control/types.ts
  apps/flow/lib/events/event-types.ts
  apps/flow/lib/events/persist.ts
  apps/flow/lib/services/payment-state-service.ts
  apps/flow/lib/telemetry/counters.ts
  apps/flow/package.json
  apps/flow/scripts/flow-lockdown-check.ts
  packages/agri-intelligence/src/loss.ts
  packages/agri-intelligence/src/yield.ts
  packages/db/src/schema/flow/enums.ts
  packages/intelligence/src/correlation.ts
  packages/intelligence/src/registry.ts
  packages/platform-reasoning-engine/src/strategies.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(db): refresh schema snapshot
  tooling/db/schema-snapshot.json
Due: gitleaks

refactor flow lifecycle control hardening
  apps/flow/docs/architecture/DOMAIN_MODEL.md
  apps/flow/docs/pilots/SHOPMOICA-END-TO-END-WORKFLOW.md
  apps/flow/lib/control/handlers/send-quote.handler.ts
  apps/flow/lib/production-actions.ts
  apps/flow/lib/services/production-gating-service.ts
  apps/flow/lib/services/quote-approval-service.ts
  apps/flow/lib/services/quote-to-po-service.ts
  apps/flow/scripts/flow-lockdown-check.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): clear governance gate failures for employer execution
  apps/union-eyes/app/api/employer-execution/payroll-runs/route.ts
  apps/union-eyes/app/api/employer-execution/remittance-runs/route.ts
  apps/union-eyes/app/api/employer-execution/replay/[runId]/route.ts
  apps/union-eyes/app/api/employer-execution/timesheets/route.ts
  tooling/contract-tests/ue-persona-access.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: finalize pre-existing hardening and governance cleanup
  apps/flow/docs/DOMAIN_EVENTS_MODEL.md
  apps/flow/docs/FINAL_LOCKDOWN_STATUS.md
  apps/flow/docs/INTEGRATION_LOCKDOWN_AUDIT.md
  apps/flow/docs/LOCKDOWN_AUDIT.md
  apps/flow/docs/PAYMENT_GATING_MODEL.md
  apps/flow/docs/architecture/DOMAIN_MODEL.md
  apps/union-eyes/app/[locale]/surveys/[surveyId]/page.tsx
  apps/union-eyes/app/api/employer-execution/__tests__/execution-hardening.test.ts
  apps/union-eyes/app/api/employer-execution/_lib.ts
  apps/union-eyes/app/api/employer-execution/payroll-runs/[id]/route.ts
  apps/union-eyes/app/api/employer-execution/payroll-runs/route.ts
  apps/union-eyes/app/api/employer-execution/remittance-runs/route.ts
  apps/union-eyes/app/api/employer-execution/replay/[runId]/route.ts
  apps/union-eyes/i18n.ts
  apps/union-eyes/middleware.ts
  apps/union-eyes/scripts/seed-employer-execution-marathon.ts
  apps/union-eyes/services/financial-service/src/services/employer-execution/compliance-engine.ts
  apps/union-eyes/services/financial-service/src/services/employer-execution/payroll-calculation-engine.ts
  apps/union-eyes/services/financial-service/src/services/employer-execution/replay-engine.ts
  apps/union-eyes/services/financial-service/src/services/employer-execution/types.ts
  tooling/contract-tests/api-versioning.test.ts
  tooling/contract-tests/governance-helpers.ts
  tooling/contract-tests/stack-authority.test.ts
  tooling/contract-tests/ue-persona-access.test.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes): harden employer execution — executable rules, replay attribution, canonical severity
  apps/union-eyes/app/[locale]/dashboard/employer-execution/compliance/page.tsx
  apps/union-eyes/app/[locale]/dashboard/employer-execution/payroll-runs/[id]/page.tsx
  apps/union-eyes/app/[locale]/dashboard/employer-execution/remittance-runs/[id]/page.tsx
  apps/union-eyes/app/api/employer-execution/__tests__/execution-hardening.test.ts
  apps/union-eyes/app/api/employer-execution/_lib.ts
  apps/union-eyes/app/api/employer-execution/compliance/route.ts
  apps/union-eyes/app/api/employer-execution/payroll-runs/[id]/route.ts
  apps/union-eyes/app/api/employer-execution/payroll-runs/route.ts
  apps/union-eyes/app/api/employer-execution/remittance-runs/route.ts
  apps/union-eyes/app/api/employer-execution/replay/[runId]/route.ts
  apps/union-eyes/components/employer-execution/ComplianceIssuesPanel.tsx
  apps/union-eyes/components/employer-execution/ReplayDiffViewer.tsx
  apps/union-eyes/db/schema/domains/employer-execution/employer-compliance.ts
  apps/union-eyes/scripts/seed-employer-execution-marathon.ts
  apps/union-eyes/services/financial-service/src/routes/employer-payroll-runs.ts
  apps/union-eyes/services/financial-service/src/services/employer-execution/cba-version-resolver.ts
  apps/union-eyes/services/financial-service/src/services/employer-execution/compliance-engine.ts
  apps/union-eyes/services/financial-service/src/services/employer-execution/payroll-calculation-engine.ts
  apps/union-eyes/services/financial-service/src/services/employer-execution/replay-engine.ts
  apps/union-eyes/services/financial-service/src/services/employer-execution/rule-resolution-engine.ts
  apps/union-eyes/services/financial-service/src/services/employer-execution/types.ts
  docs/union-eyes/employer-execution/architecture.md
  docs/union-eyes/employer-execution/controls-matrix.md
  docs/union-eyes/employer-execution/remittance-lifecycle.md
  docs/union-eyes/employer-execution/replay-audit-model.md
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): rename ReplayDiffEntry.entityId -> subjectId to pass org-semantic-convergence contract test
  apps/union-eyes/app/[locale]/dashboard/employer-execution/payroll-runs/[id]/page.tsx
  apps/union-eyes/app/api/employer-execution/__tests__/execution-hardening.test.ts
  apps/union-eyes/app/api/employer-execution/_lib.ts
  apps/union-eyes/app/api/employer-execution/replay/[runId]/route.ts
  apps/union-eyes/components/employer-execution/ReplayDiffViewer.tsx
  apps/union-eyes/scripts/seed-employer-execution-marathon.ts
  apps/union-eyes/services/financial-service/src/services/employer-execution/replay-engine.ts
  apps/union-eyes/services/financial-service/src/services/employer-execution/types.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(cfo): update app_tier to PRODUCTION in app-architecture.meta.json
  apps/cfo/app-architecture.meta.json
Due: gitleaks

fix(zonga-streaming-aws): correct test import paths from ../src/* to extensionless relative imports
  packages/zonga-streaming-aws/src/cloudfront-delivery/cloudfront-delivery.test.ts
  packages/zonga-streaming-aws/src/ivs-live/ivs-live.test.ts
  packages/zonga-streaming-aws/src/mediaconvert/mediaconvert.test.ts
  packages/zonga-streaming-aws/src/metrics/metrics.test.ts
  packages/zonga-streaming-aws/src/s3-storage/s3-storage.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): enforce executable-rule-only payroll evaluation
  apps/union-eyes/app/api/employer-execution/__tests__/execution-hardening.test.ts
  apps/union-eyes/services/financial-service/src/services/employer-execution/payroll-calculation-engine.ts
  apps/union-eyes/services/financial-service/src/services/employer-execution/rule-resolution-engine.ts
  apps/union-eyes/services/financial-service/src/services/employer-execution/types.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes): finalize employer execution replay, composition, and evidence chain
  apps/union-eyes/app/[locale]/dashboard/employer-execution/payroll-runs/[id]/page.tsx
  apps/union-eyes/app/[locale]/dashboard/employer-execution/remittance-runs/[id]/page.tsx
  apps/union-eyes/app/api/employer-execution/__tests__/execution-hardening.test.ts
  apps/union-eyes/app/api/employer-execution/__tests__/execution-scenario-pack.test.ts
  apps/union-eyes/app/api/employer-execution/_lib.ts
  apps/union-eyes/app/api/employer-execution/payroll-runs/[id]/route.ts
  apps/union-eyes/app/api/employer-execution/remittance-runs/route.ts
  apps/union-eyes/app/api/employer-execution/replay/[runId]/route.ts
  apps/union-eyes/components/employer-execution/PayrollRunTracePanel.tsx
  apps/union-eyes/components/employer-execution/ReplayDiffViewer.tsx
  apps/union-eyes/db/schema/domains/employer-execution/employer-artifacts.ts
  apps/union-eyes/services/financial-service/src/services/employer-execution/evidence-chain.ts
  apps/union-eyes/services/financial-service/src/services/employer-execution/index.ts
  apps/union-eyes/services/financial-service/src/services/employer-execution/payroll-calculation-engine.ts
  apps/union-eyes/services/financial-service/src/services/employer-execution/replay-engine.ts
  apps/union-eyes/services/financial-service/src/services/employer-execution/rule-resolution-engine.ts
  apps/union-eyes/services/financial-service/src/services/employer-execution/types.ts
  docs/union-eyes/employer-execution/architecture.md
  docs/union-eyes/employer-execution/controls-matrix.md
  docs/union-eyes/employer-execution/evidence-chain.md
  docs/union-eyes/employer-execution/remittance-lifecycle.md
  docs/union-eyes/employer-execution/replay-audit-model.md
  docs/union-eyes/employer-execution/scenario-pack.md
Due: gitleaks, lint-staged, typecheck-staged

feat(control-plane): add policy evaluate + governance action APIs
  ARCHITECTURE.md
  apps/console/.env.example
  apps/console/control-manifest.json
  apps/console/lib/governance/state-machine.ts
  apps/console/lib/policy-enforcement.ts
  apps/control-plane/app/api/control-plane/governance/actions/route.ts
  apps/control-plane/app/api/control-plane/policy/evaluate/route.ts
  apps/control-plane/lib/audit-db.ts
  apps/control-plane/lib/capability-ownership.ts
  apps/control-plane/server/governance/state-machine.ts
  apps/orchestrator-api/control-manifest.json
  apps/orchestrator-api/src/index.ts
  apps/orchestrator-api/src/platform.ts
  tests/system/control-plane-boundaries.test.ts
  tests/system/vitest.config.ts
  vitest.config.ts
Due: gitleaks, lint-staged, typecheck-staged

Path conditions:
  gitleaks: any of: *.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}
  lint-staged: any of: *.{ts,tsx,js,jsx,mjs}
  typecheck-staged: any of: *.{ts,tsx}
