Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

gitleaks:
  run: 'gitleaks detect --source . --config .gitleaks.toml --no-banner --verbose --staged
  
    '
  fail_text: 'ðŸ”’ Gitleaks detected potential secrets in staged files.
  
    Review the output above and remove or rotate any exposed credentials.
  
    See docs/hardening/secrets.md for guidance.
  
  ...

lint-staged:
  run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
  fail_text: Lint errors found. Run `pnpm lint` to see details.

typecheck-staged:
  run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
  fail_text: Type errors found. Run `pnpm typecheck` to see details.

fix: resolve zonga build and typecheck CI failures (#316)
  apps/union-eyes/app/api/admin/ingest/batches/[id]/route.ts
  apps/zonga/features/discovery/ranking-service.ts
  apps/zonga/package.json
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

chore: narrow security-design-review paths to reduce false positives
  .github/workflows/security-design-review.yml
Due: gitleaks

fix: observability .js imports + contract test ENOENT resilience
  packages/observability/src/app-telemetry.ts
  packages/observability/src/exporter.ts
  packages/observability/src/index.ts
  packages/observability/src/logger.ts
  packages/observability/src/middleware.ts
  packages/observability/src/sdk.ts
  packages/observability/src/spans.ts
  tooling/contract-tests/org-semantic-convergence.test.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(zonga): wire branding governance into all app surfaces
  apps/zonga/app/(marketing)/page.tsx
  apps/zonga/app/[locale]/dashboard/layout.tsx
  apps/zonga/app/forgot-password/page.tsx
  apps/zonga/app/login/page.tsx
  apps/zonga/app/reset-password/page.tsx
  apps/zonga/app/sign-in/[[...sign-in]]/page.tsx
  apps/zonga/app/sign-up/[[...sign-up]]/page.tsx
  apps/zonga/app/signup/page.tsx
  apps/zonga/components/auth/auth-page-layout.tsx
  apps/zonga/components/branding/ZongaBrandMark.tsx
  apps/zonga/components/dashboard/sidebar.tsx
  apps/zonga/components/public/site-footer.tsx
  apps/zonga/components/public/site-navigation.tsx
  apps/zonga/docs/BRANDING_AND_PARTNERSHIP_GOVERNANCE.md
  apps/zonga/lib/branding/branding-integration.test.ts
  tooling/contract-tests/zonga-brand-governance.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): remove .js imports in platform-observability + exempt config Maps from GA gate
  apps/control-plane/server/adapters/events.ts
  apps/zonga/lib/branding/placements.ts
  apps/zonga/lib/branding/registry.ts
  ci-failure-log.txt
  packages/platform-observability/src/health.ts
  packages/platform-observability/src/metrics.ts
  packages/platform-observability/src/span.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(zonga): complete branding governance surface coverage
  apps/zonga/app/(marketing)/about/page.tsx
  apps/zonga/app/(marketing)/case-studies/page.tsx
  apps/zonga/app/(marketing)/contact/page.tsx
  apps/zonga/docs/BRANDING_AND_PARTNERSHIP_GOVERNANCE.md
  apps/zonga/lib/branding/brand-config.ts
  apps/zonga/lib/branding/branding-integration.test.ts
  apps/zonga/lib/branding/index.ts
  tooling/contract-tests/zonga-brand-governance.test.ts
Due: gitleaks, lint-staged, typecheck-staged

harden(zonga): activate branding runtime + CI enforcement gate
  apps/zonga/app/(marketing)/page.tsx
  apps/zonga/app/[locale]/dashboard/layout.tsx
  apps/zonga/app/layout.tsx
  apps/zonga/components/public/site-footer.tsx
  apps/zonga/lib/branding/branding-integration.test.ts
  tooling/contract-tests/zonga-brand-governance.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(zonga): remove unused getClientBrand import
  apps/zonga/app/[locale]/dashboard/layout.tsx
Due: gitleaks, lint-staged, typecheck-staged

feat: add @nzila/fsm-core and @nzila/ingestion-core packages
  packages/fsm-core/package.json
  packages/fsm-core/src/__tests__/engine.test.ts
  packages/fsm-core/src/audited.ts
  packages/fsm-core/src/builders.ts
  packages/fsm-core/src/engine.ts
  packages/fsm-core/src/index.ts
  packages/fsm-core/src/registry.ts
  packages/fsm-core/src/types.ts
  packages/fsm-core/tsconfig.json
  packages/fsm-core/vitest.config.ts
  packages/ingestion-core/package.json
  packages/ingestion-core/src/__tests__/runner.test.ts
  packages/ingestion-core/src/audited.ts
  packages/ingestion-core/src/builders.ts
  packages/ingestion-core/src/index.ts
  packages/ingestion-core/src/registry.ts
  packages/ingestion-core/src/runner.ts
  packages/ingestion-core/src/types.ts
  packages/ingestion-core/tsconfig.json
  packages/ingestion-core/vitest.config.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: gitleaks, lint-staged, typecheck-staged

feat: add event bridges and contract tests for fsm-core and ingestion-core
  packages/fsm-core/src/events.ts
  packages/fsm-core/src/index.ts
  packages/ingestion-core/src/events.ts
  packages/ingestion-core/src/index.ts
  tooling/contract-tests/fsm-core.test.ts
  tooling/contract-tests/ingestion-core.test.ts
Due: gitleaks, lint-staged, typecheck-staged

feat: add @nzila/onboarding-core and @nzila/pilot-mode packages
  packages/onboarding-core/package.json
  packages/onboarding-core/src/__tests__/engine.test.ts
  packages/onboarding-core/src/audited.ts
  packages/onboarding-core/src/builders.ts
  packages/onboarding-core/src/engine.ts
  packages/onboarding-core/src/events.ts
  packages/onboarding-core/src/index.ts
  packages/onboarding-core/src/registry.ts
  packages/onboarding-core/src/types.ts
  packages/onboarding-core/tsconfig.json
  packages/onboarding-core/vitest.config.ts
  packages/pilot-mode/package.json
  packages/pilot-mode/src/__tests__/engine.test.ts
  packages/pilot-mode/src/audited.ts
  packages/pilot-mode/src/builders.ts
  packages/pilot-mode/src/engine.ts
  packages/pilot-mode/src/events.ts
  packages/pilot-mode/src/index.ts
  packages/pilot-mode/src/registry.ts
  packages/pilot-mode/src/types.ts
  packages/pilot-mode/tsconfig.json
  packages/pilot-mode/vitest.config.ts
  pnpm-lock.yaml
  tooling/contract-tests/onboarding-core.test.ts
  tooling/contract-tests/pilot-mode.test.ts
  vitest.config.ts
Due: gitleaks, lint-staged, typecheck-staged

feat: wire @nzila/fsm-core, pilot-mode, and onboarding-core into domain packages
  packages/agri-core/package.json
  packages/agri-core/src/fsm/index.ts
  packages/ai-core/package.json
  packages/ai-core/src/policy/actionsPolicy.ts
  packages/ai-core/src/policy/pilotGate.ts
  packages/commerce-state/package.json
  packages/commerce-state/src/compat.ts
  packages/commerce-state/src/index.ts
  packages/deal-engine/package.json
  packages/deal-engine/src/lifecycle.ts
  packages/mobility-case-engine/package.json
  packages/mobility-case-engine/src/lifecycle.ts
  packages/pilot-mode/src/engine.ts
  packages/zonga-core/package.json
  packages/zonga-core/src/creator-onboarding-flow.ts
  packages/zonga-core/src/index.ts
  pnpm-lock.yaml
  tooling/contract-tests/org-semantic-convergence.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): add eslint configs for new packages + bump next to 16.2.3 (CVE-2026-23869)
  apps/abr/package.json
  apps/agrimo/package.json
  apps/cfo/package.json
  apps/console/package.json
  apps/control-plane/package.json
  apps/cora/package.json
  apps/flow/package.json
  apps/mobility-client-portal/package.json
  apps/mobility/package.json
  apps/nacp-exams/package.json
  apps/partners/package.json
  apps/platform-admin/package.json
  apps/trade/package.json
  apps/union-eyes/package.json
  apps/web/package.json
  apps/zonga/package.json
  packages/fsm-core/eslint.config.mjs
  packages/ingestion-core/eslint.config.mjs
  packages/onboarding-core/eslint.config.mjs
  packages/pilot-mode/eslint.config.mjs
  packages/platform-auth/package.json
  pnpm-lock.yaml
Due: gitleaks, lint-staged

fix(ci): remove noUncheckedIndexedAccess from new package tsconfigs
  packages/fsm-core/tsconfig.json
  packages/ingestion-core/tsconfig.json
  packages/onboarding-core/tsconfig.json
  packages/pilot-mode/tsconfig.json
Due: gitleaks

fix(os-core): add non-null assertions for noUncheckedIndexedAccess compat
  packages/os-core/src/telemetry/metrics.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(os-core,platform-auth): non-null assertions for noUncheckedIndexedAccess compat
  packages/os-core/src/evidence/generate-evidence-index.ts
  packages/os-core/src/evidence/seal.ts
  packages/os-core/src/evidence/verify-pack.ts
  packages/os-core/src/hash.ts
  packages/os-core/src/idempotency.ts
  packages/os-core/src/rateLimit.ts
  packages/platform-auth/src/password/auth-service.ts
  packages/platform-auth/src/password/session.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(governed-workflow): add @nzila/governed-workflow package — Phase 3
  packages/governed-workflow/package.json
  packages/governed-workflow/src/__tests__/governed-workflow.test.ts
  packages/governed-workflow/src/builders.ts
  packages/governed-workflow/src/events.ts
  packages/governed-workflow/src/index.ts
  packages/governed-workflow/src/orchestrator.ts
  packages/governed-workflow/src/registry.ts
  packages/governed-workflow/src/types.ts
  packages/governed-workflow/tsconfig.json
  packages/governed-workflow/vitest.config.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(observability): canonical createAppBoot() + standardize all 17 app instrumentation files — Phase 4
  apps/abr/instrumentation.ts
  apps/cfo/instrumentation.ts
  apps/console/instrumentation.ts
  apps/control-plane/instrumentation.ts
  apps/cora/instrumentation.ts
  apps/flow/instrumentation.ts
  apps/mobility-client-portal/instrumentation.ts
  apps/mobility/instrumentation.ts
  apps/partners/instrumentation.ts
  apps/platform-admin/instrumentation.ts
  apps/trade/instrumentation.ts
  apps/web/instrumentation.ts
  apps/zonga/instrumentation.ts
  packages/os-core/src/__tests__/boot.test.ts
  packages/os-core/src/config/env.ts
  packages/os-core/src/telemetry/boot.ts
  packages/os-core/src/telemetry/index.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(ci): platform adoption gate — enforce shell, schema-core, workflow, observability — Phase 5
  apps/abr/package.json
  apps/agrimo/package.json
  apps/cfo/package.json
  apps/console/package.json
  apps/control-plane/package.json
  apps/cora/package.json
  apps/flow/package.json
  apps/mobility-client-portal/package.json
  apps/mobility/package.json
  apps/nacp-exams/package.json
  apps/partners/package.json
  apps/platform-admin/package.json
  apps/trade/package.json
  apps/web/package.json
  apps/zonga/package.json
  package.json
  pnpm-lock.yaml
  scripts/platform-adoption-gate.ts
Due: gitleaks, lint-staged, typecheck-staged

docs: persona-based navigation spine (buyer, operator, auditor) — Phase 6
  docs/README.md
  docs/personas/01-buyer.md
  docs/personas/02-operator.md
  docs/personas/03-auditor.md
Due: gitleaks

docs: platform consolidation closeout — adoption matrix, exceptions, readiness — Phase 7
  docs/platform/CONSOLIDATION_CLOSEOUT.md
Due: gitleaks

fix(ci): dead-deps allowlist, instrumentation contract, governed-workflow lint, platform-shell .js imports
  packages/governed-workflow/eslint.config.mjs
  packages/platform-shell/src/components/AppSwitcher.tsx
  packages/platform-shell/src/components/GlobalNav.tsx
  packages/platform-shell/src/components/NzilaAppShell.tsx
  packages/platform-shell/src/components/OrgSelector.tsx
  packages/platform-shell/src/components/ShellLayout.tsx
  packages/platform-shell/src/components/UserMenu.tsx
  packages/platform-shell/src/components/index.ts
  packages/platform-shell/src/context/index.ts
  packages/platform-shell/src/context/provider.tsx
  packages/platform-shell/src/index.ts
  packages/platform-shell/src/registry/index.ts
  tooling/contract-tests/dead-deps.test.ts
  tooling/contract-tests/instrumentation-mandatory.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): phantom-deps allowlist + entityId semantic skip for schema-core/governed-workflow
  tooling/contract-tests/org-semantic-convergence.test.ts
  tooling/contract-tests/phantom-deps.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(os-core): use vi.stubEnv for NODE_ENV assignment (TS2540)
  packages/os-core/src/__tests__/boot.test.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(zonga): add streaming, analytics, intelligence, growth packages + wire API routes + tests
  apps/zonga/app/api/analytics/route.ts
  apps/zonga/app/api/recommendations/route.ts
  apps/zonga/app/api/referral/route.ts
  apps/zonga/app/api/social/feed/route.ts
  apps/zonga/app/api/stream/[assetId]/route.ts
  apps/zonga/package.json
  packages/zonga-analytics/eslint.config.mjs
  packages/zonga-analytics/package.json
  packages/zonga-analytics/src/analytics.test.ts
  packages/zonga-analytics/src/dashboards/index.ts
  packages/zonga-analytics/src/events/index.ts
  packages/zonga-analytics/src/index.ts
  packages/zonga-analytics/src/metrics/index.ts
  packages/zonga-analytics/tsconfig.json
  packages/zonga-analytics/vitest.config.ts
  packages/zonga-growth/src/feed-composer.ts
  packages/zonga-growth/src/growth-extensions.test.ts
  packages/zonga-growth/src/index.ts
  packages/zonga-growth/src/referral.ts
  packages/zonga-intelligence/src/content-similarity.ts
  packages/zonga-intelligence/src/index.ts
  packages/zonga-intelligence/src/intelligence-extensions.test.ts
  packages/zonga-intelligence/src/recommendation-cache.ts
  packages/zonga-intelligence/src/trending.ts
  packages/zonga-streaming/eslint.config.mjs
  packages/zonga-streaming/package.json
  packages/zonga-streaming/src/delivery/index.ts
  packages/zonga-streaming/src/index.ts
  packages/zonga-streaming/src/player/index.ts
  packages/zonga-streaming/src/streaming.test.ts
  packages/zonga-streaming/src/transcode/index.ts
  packages/zonga-streaming/src/upload/index.ts
  packages/zonga-streaming/tsconfig.json
  packages/zonga-streaming/vitest.config.ts
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

fix: resolve ESLint unused-var warnings and entityId contract violations
  apps/zonga/app/api/analytics/route.ts
  apps/zonga/app/api/recommendations/route.ts
  apps/zonga/app/api/referral/route.ts
  apps/zonga/app/api/social/feed/route.ts
  apps/zonga/app/api/stream/[assetId]/route.ts
  packages/zonga-analytics/src/analytics.test.ts
  packages/zonga-analytics/src/events/index.ts
Due: gitleaks, lint-staged, typecheck-staged

feat: harden platform toward 10/10 assessment score
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/lighthouse.yml
  README.md
  apps/agrimo/lib/resolve-org.ts
  apps/cfo/lib/rbac.ts
  apps/console/lib/rbac.ts
  apps/cora/lib/resolve-org.ts
  apps/flow/lib/resolve-org.ts
  apps/nacp-exams/lib/resolve-org.ts
  apps/zonga/lib/resolve-nav.ts
  apps/zonga/lib/resolve-org.ts
  lighthouserc.js
  packages/events/src/adapters/azure-service-bus.ts
  packages/events/src/durable-bus.ts
  packages/events/src/index.ts
  packages/os-core/src/config/super-admins.ts
  packages/os-core/src/openapi.ts
  packages/os-core/src/policy/authorize.ts
  tooling/contract-tests/api-versioning.test.ts
  tooling/contract-tests/encryption-validation.test.ts
  tooling/contract-tests/file-size-enforcement.test.ts
  tooling/contract-tests/gdpr-compliance.test.ts
  tooling/contract-tests/oncall-alerting.test.ts
  tooling/contract-tests/test-dir-convention.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): resolve Lighthouse 500, pip-audit syntax, CodeQL Python failures
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-audit.yml
  .github/workflows/lighthouse.yml
  apps/union-eyes/backend/billing/tasks.py
Due: gitleaks

fix(ci): resolve 7 CI failures in PR #327
  .github/codeql/codeql-config.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/lighthouse.yml
  apps/abr/backend/requirements.txt
  apps/agrimo/backend/requirements.txt
  apps/cfo/components/auth/auth-page-layout.tsx
  apps/flow/app/(dashboard)/quotes/page.tsx
  apps/flow/app/[locale]/dashboard/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/locale-site-navigation.tsx
  apps/union-eyes/app/[locale]/dashboard/communications/campaigns/page.tsx
  apps/union-eyes/app/[locale]/dashboard/communications/distribution-lists/[id]/page.tsx
  apps/union-eyes/app/[locale]/dashboard/communications/templates/page.tsx
  apps/union-eyes/backend/billing/tasks.py
  apps/union-eyes/backend/requirements.txt
  apps/union-eyes/components/clause-library/ClauseLibrarySearch.tsx
  apps/union-eyes/components/public/site-navigation.tsx
  apps/union-eyes/components/union-structure/CommitteeManagement.tsx
  apps/zonga/backend/requirements.txt
  apps/zonga/components/language-switcher.tsx
  packages/os-core/src/openapi.ts
  packages/zonga-intelligence/src/content-similarity.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: consolidate SUPER_ADMIN_EMAILS + externalize TAM data
  apps/partners/lib/partner-auth.ts
  apps/trade/lib/resolve-org.ts
  apps/union-eyes/lib/auth/rbac-server.ts
  packages/analytics/data/market_data.json
  packages/analytics/portfolio/vertical_performance.py
  packages/analytics/predictions/market_expansion.py
  packages/os-core/package.json
  packages/os-core/src/config/super-admins.ts
Due: gitleaks, lint-staged, typecheck-staged

docs: add security audit readiness, pentest scope, and certification roadmap
  governance/security/AUDIT_READINESS.md
  governance/security/PENTEST_SCOPE.md
  ops/compliance/CERTIFICATION_ROADMAP.md
  packages/analytics/portfolio/vertical_performance.py
  packages/analytics/predictions/market_expansion.py
Due: gitleaks

fix: resolve typecheck errors in governed-workflow events + zonga API routes
  apps/zonga/app/api/analytics/route.ts
  apps/zonga/app/api/recommendations/route.ts
  apps/zonga/app/api/referral/route.ts
  apps/zonga/app/api/social/feed/route.ts
  apps/zonga/app/api/stream/[assetId]/route.ts
  packages/governed-workflow/src/events.ts
  packages/zonga-analytics/src/events/index.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: resolve lint warnings in zonga referral and stream routes
  apps/zonga/app/api/referral/route.ts
  apps/zonga/app/api/stream/[assetId]/route.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: correct computeUploadKey test regex to match dot-preserving sanitizer
  packages/zonga-streaming/src/streaming.test.ts
Due: gitleaks, lint-staged, typecheck-staged

Path conditions:
  gitleaks: any of: *.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}
  lint-staged: any of: *.{ts,tsx,js,jsx,mjs}
  typecheck-staged: any of: *.{ts,tsx}
