Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

lefthook.yml:

# lefthook.yml â€” Pre-commit guardrails for Nzila Automation monorepo
# Docs: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true

  commands:
    gitleaks:
      glob: "*.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}"
      run: >
        gitleaks detect
        --source .
        --config .gitleaks.toml
        --no-banner
        --verbose
        --staged
      fail_text: |
        ðŸ”’ Gitleaks detected potential secrets in staged files.
        Review the output above and remove or rotate any exposed credentials.
        See docs/hardening/secrets.md for guidance.
        Install gitleaks: https://github.com/gitleaks/gitleaks#installing

    lint-staged:
      glob: "*.{ts,tsx,js,jsx,mjs}"
      run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Lint errors found. Run `pnpm lint` to see details."

    typecheck-staged:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Type errors found. Run `pnpm typecheck` to see details."

pre-push:
  commands:
    contract-tests:
      run: >
        npx vitest run
        --config tooling/contract-tests/vitest.config.ts
        --dir tooling/contract-tests
      fail_text: |
        Contract tests failed. Run `pnpm contract-tests` to see details.
        Do not push code that violates repo invariants.

Wave 0 §4: externally-inert demo provider stubs + vitest wiring
  apps/union-eyes-demo/lib/providers/__tests__/inert.test.ts
  apps/union-eyes-demo/lib/providers/inert.ts
  apps/union-eyes-demo/package.json
  apps/union-eyes-demo/test/server-only-shim.ts
  apps/union-eyes-demo/vitest.config.ts
  apps/union-eyes/next-env.d.ts
  reports/wave0/demo-import-audit.json
Due: gitleaks, lint-staged, typecheck-staged

feat(reality-env): §5 canonical env-identity contract shared by all demo/deploy guards
  apps/union-eyes-demo/env.ts
  apps/union-eyes-demo/package.json
  apps/union-eyes/lib/reality/demo-deployment-guard.ts
  apps/union-eyes/package.json
  package.json
  packages/reality-env/package.json
  packages/reality-env/src/__tests__/index.test.ts
  packages/reality-env/src/index.ts
  packages/reality-env/tsconfig.json
  packages/reality-env/vitest.config.ts
  pnpm-lock.yaml
  reports/wave0/demo-import-audit.json
  tooling/reality/demo-deployment-guard.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(reality-scan): section 6 anti-theatre expansion - 13 new R-3 scenarios + root-only markers + comment-aware R-3
  docs/union-eyes/reality-remediation/16_ANTI_THEATRE_BASELINE.md
  reports/anti-theatre.json
  reports/anti-theatre.md
  tooling/reality/__tests__/anti-theatre-scan.test.ts
  tooling/reality/anti-theatre-scan.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(reality-registry): §7 route reconciliation — register 3 nav-404 surfaces + CI invariant
  apps/union-eyes/lib/reality/__tests__/route-reconciliation.test.ts
  apps/union-eyes/lib/reality/capability-registry.ts
  docs/union-eyes/reality-remediation/19_ROUTE_RECONCILIATION.md
  reports/anti-theatre.json
  reports/anti-theatre.md
Due: gitleaks, lint-staged, typecheck-staged

feat(reality-scan): §8 operational build demo-string scanner + allowlist + UE-BUILD-OPERATIONAL-ISOLATION
  apps/union-eyes/lib/reality/capability-registry.ts
  docs/union-eyes/reality-remediation/20_OPERATIONAL_BUILD_DEMO_SCAN.md
  package.json
  reports/operational-build-demo-scan.json
  reports/operational-build-demo-scan.md
  tooling/reality/operational-build-demo-allowlist.json
  tooling/reality/operational-build-scan.ts
Due: gitleaks, lint-staged, typecheck-staged

proof(reality-scan): §9 demo-vs-operational build isolation proof
  reports/wave-0-build-isolation-proof.md
  reports/wave-0-build-isolation.demo.json
  reports/wave-0-build-isolation.demo.md
  reports/wave-0-build-isolation.operational.json
  reports/wave-0-build-isolation.operational.md
Due: gitleaks

feat(reality-scan): §10 Wave 0 validation matrix consolidating §6/§7/§8/§9
  docs/union-eyes/reality-remediation/21_WAVE_0_VALIDATION_MATRIX.md
  reports/wave-0-validation-matrix.json
Due: gitleaks

docs(reality-scan): §14 Wave 0 programme summary (abridged, §11–§13 blocked)
  docs/union-eyes/reality-remediation/22_WAVE_0_SUMMARY.md
Due: gitleaks

correct(reality-scan): reverse §8/§9 verdict; publish real artifact-to-artifact proof
  apps/union-eyes/lib/reality/capability-registry.ts
  docs/union-eyes/reality-remediation/21_WAVE_0_VALIDATION_MATRIX.md
  docs/union-eyes/reality-remediation/22_WAVE_0_SUMMARY.md
  docs/union-eyes/reality-remediation/23_WAVE_0_CORRECTION.md
  reports/wave-0-artifact-proof.demo.json
  reports/wave-0-artifact-proof.md
  reports/wave-0-artifact-proof.operational.json
  reports/wave-0-build-isolation-proof.md
Due: gitleaks, lint-staged, typecheck-staged

refactor(reality): Task E — retire operational-build-demo-allowlist.json, enforce hardcoded audit-trail permit
  apps/union-eyes/components/documents/documents-console.tsx
  apps/union-eyes/lib/dashboard/require-dashboard-access.ts
  docs/union-eyes/reality-remediation/20_OPERATIONAL_BUILD_DEMO_SCAN.md
  reports/operational-build-demo-scan.json
  reports/operational-build-demo-scan.md
  tooling/reality/operational-build-demo-allowlist.json
  tooling/reality/operational-build-scan.ts
Due: gitleaks, lint-staged, typecheck-staged

refactor(reality): Tasks G+H — remove /dashboard/reports dead-link, add 'synthetic' generic sentinel
  apps/union-eyes/app/[locale]/dashboard/reports/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/reports/page.tsx
  apps/union-eyes/components/dashboards/federation-dashboard.tsx
  apps/union-eyes/components/sidebar.tsx
  apps/union-eyes/config/continuity-ontology-matrix.json
  apps/union-eyes/lib/__tests__/pilot-admin-operational.test.ts
  apps/union-eyes/lib/dashboard/role-experience.ts
  apps/union-eyes/lib/pilot-admin-operational.ts
  apps/union-eyes/lib/reality/__tests__/route-reconciliation.test.ts
  apps/union-eyes/lib/reality/capability-registry.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(reality): Task F — operational bundle scan verified clean (0 hits)
  apps/union-eyes/lib/reality/capability-registry.ts
  apps/union-eyes/next.config.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes-ui): add ESLint 9 flat config (pre-existing lint blocker)
  packages/union-eyes-ui/eslint.config.mjs
Due: lint-staged

chore(task-j): add ACR task file for BuildKit-enabled union-eyes image build
  reports/phase0/task-j/acr-task.yaml
Due: gitleaks

docs(task-j): container image built via ACR + BuildKit, awaiting deploy approval
  reports/phase0/task-j/README.md
  reports/phase0/task-j/build-meta.txt
Due: gitleaks

feat(reality): Task J — staging rollout of union-eyes image (digest 73b4b7bd6190…)
  apps/union-eyes/lib/reality/capability-registry.ts
  reports/operational-build-demo-scan.json
  reports/operational-build-demo-scan.md
  reports/phase0/task-j/rollback-revision.txt
  reports/phase0/task-j/smoke.json
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes/deadline-engine): Wave 1 Phase A — durable reminder outbox
  apps/union-eyes/app/api/cron/deadline-overdue/route.ts
  apps/union-eyes/app/api/cron/deadline-reminders/route.ts
  apps/union-eyes/db/schema/deadline-engine-schema.ts
  apps/union-eyes/db/schema/index.ts
  apps/union-eyes/lib/__tests__/deadline-tracking-system.test.ts
  apps/union-eyes/lib/deadline-engine/__tests__/audit.test.ts
  apps/union-eyes/lib/deadline-engine/__tests__/email-adapter.test.ts
  apps/union-eyes/lib/deadline-engine/__tests__/no-op-regression.test.ts
  apps/union-eyes/lib/deadline-engine/__tests__/recipient-resolver.test.ts
  apps/union-eyes/lib/deadline-engine/__tests__/reminder-scheduler.test.ts
  apps/union-eyes/lib/deadline-engine/__tests__/reminder-worker.test.ts
  apps/union-eyes/lib/deadline-engine/audit.ts
  apps/union-eyes/lib/deadline-engine/email-adapter.ts
  apps/union-eyes/lib/deadline-engine/index.ts
  apps/union-eyes/lib/deadline-engine/recipient-resolver.ts
  apps/union-eyes/lib/deadline-engine/reminder-scheduler.ts
  apps/union-eyes/lib/deadline-engine/reminder-worker.ts
  apps/union-eyes/lib/deadline-engine/types.ts
  apps/union-eyes/lib/deadline-tracking-system.ts
  apps/union-eyes/lib/reality/capability-registry.ts
  docs/union-eyes/reality-remediation/deadline-engine/00-charter.md
  docs/union-eyes/reality-remediation/deadline-engine/01-current-state-inventory.md
  migrations/0045_union_eyes_deadline_engine.sql
Due: gitleaks, lint-staged, typecheck-staged

build(union-eyes): ACR task for Wave 1 Phase A image
  reports/phase0/wave-1-phase-a/acr-task.yaml
Due: gitleaks

fix(deadline-engine): parameterize NODE_MAX_OLD_SPACE for ACR Basic SKU 4GB runner
  Dockerfile
  reports/phase0/wave-1-phase-a/acr-run-cx70-meta.json
  reports/phase0/wave-1-phase-a/acr-task.yaml
Due: gitleaks

security(union-eyes): Wave 1 Phase A image hardening
  Dockerfile
  package.json
  pnpm-lock.yaml
Due: gitleaks

docs(deadline-engine): Wave 1 Phase A evidence dossier - live staging proof
  apps/union-eyes/lib/reality/capability-registry.ts
  reports/phase0/wave-1-phase-a/.firewall-rule-name
  reports/phase0/wave-1-phase-a/EVIDENCE-DOSSIER.md
  reports/phase0/wave-1-phase-a/build-meta.txt
  reports/phase0/wave-1-phase-a/cron-run-1.json
  reports/phase0/wave-1-phase-a/cron-run-2.json
  reports/phase0/wave-1-phase-a/cves-hardened-packages.txt
  reports/phase0/wave-1-phase-a/cves-hardened.md
  reports/phase0/wave-1-phase-a/cves-hardened.sarif
  reports/phase0/wave-1-phase-a/cves-packages.txt
  reports/phase0/wave-1-phase-a/cves.md
  reports/phase0/wave-1-phase-a/cves.sarif
  reports/phase0/wave-1-phase-a/d1-scenario-setup.json
  reports/phase0/wave-1-phase-a/d1-scenario.json
  reports/phase0/wave-1-phase-a/d2-bounce-scenario.json
  reports/phase0/wave-1-phase-a/d3-failure.json
  reports/phase0/wave-1-phase-a/demo-contam-scan-hardened.json
  reports/phase0/wave-1-phase-a/demo-contam-scan-hardened.md
  reports/phase0/wave-1-phase-a/demo-contam-scan.json
  reports/phase0/wave-1-phase-a/demo-contam-scan.md
  reports/phase0/wave-1-phase-a/image-digest.txt
  reports/phase0/wave-1-phase-a/rollback-revision.txt
  reports/phase0/wave-1-phase-a/sbom-hardened.spdx.json
  reports/phase0/wave-1-phase-a/sbom.spdx.json
  reports/phase0/wave-1-phase-a/smoke.json
Due: gitleaks, lint-staged, typecheck-staged

docs(deadline-engine): SUPERSEDES 32de2ef67 -- Wave 1 Phase A IN_PROGRESS, revert overclaimed capabilities
  apps/union-eyes/lib/reality/capability-registry.ts
  reports/phase0/wave-1-phase-a/EVIDENCE-DOSSIER.md
Due: gitleaks, lint-staged, typecheck-staged

chore(migrations): register 0045_union_eyes_deadline_engine in immutability manifest
  migrations/migration-manifest.json
Due: gitleaks

security(union-eyes): rotate cron secret + move to KV-backed refs; request Resend rotation
  reports/phase0/wave-1-phase-a/RESEND-ROTATION-REQUEST.md
  reports/phase0/wave-1-phase-a/secret-rotation-cron.json
Due: gitleaks

feat(union-eyes): staging-proof scenario runner + schema-drift verifier + Wave 1A progress tracker
  apps/union-eyes/app/api/staging-proof/deadline-engine/scenario/route.ts
  reports/phase0/wave-1-phase-a/PROGRESS.md
  scripts/wave1a/verify-deadline-engine-schema.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): harden deadline proof harness
  .github/workflows/ci.yml
  apps/union-eyes/app/api/__tests__/staging-proof-deadline-engine.route.test.ts
  apps/union-eyes/app/api/staging-proof/deadline-engine/scenario/route.ts
  apps/union-eyes/lib/deadline-engine/__tests__/reminder-scheduler.test.ts
  apps/union-eyes/lib/deadline-engine/reminder-scheduler.ts
  apps/union-eyes/lib/staging-proof/__tests__/deadline-engine-auth.test.ts
  apps/union-eyes/lib/staging-proof/deadline-engine-auth.ts
  migrations/0046_union_eyes_staging_proof_controls.sql
  migrations/migration-manifest.json
  package.json
  reports/phase0/wave-1-phase-a/PROGRESS.md
  scripts/wave1a/verify-deadline-engine-schema.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): make deadline proof runs atomic
  apps/union-eyes/app/api/__tests__/staging-proof-deadline-engine.route.test.ts
  apps/union-eyes/app/api/staging-proof/deadline-engine/scenario/route.ts
  apps/union-eyes/lib/staging-proof/__tests__/deadline-engine-auth.test.ts
  apps/union-eyes/lib/staging-proof/deadline-engine-auth.ts
  migrations/0047_union_eyes_staging_proof_runs.sql
  migrations/migration-manifest.json
  scripts/wave1a/verify-deadline-engine-schema.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(governance): classify system proof routes
  apps/union-eyes-demo/control-manifest.json
  apps/union-eyes-demo/maturity.json
  apps/union-eyes/app/api/admin/pilot-status/route.ts
  apps/union-eyes/app/api/cron/deadline-overdue/route.ts
  governance/exceptions/mutation-idempotency.json
  nzila-truth-manifest.json
  packages/platform-contracts/src/registry.test.ts
  packages/platform-contracts/src/registry.ts
  tooling/contract-tests/api-authz-coverage.test.ts
  tooling/contract-tests/org-isolation-runtime.test.ts
  tooling/contract-tests/org-isolation.test.ts
  tooling/contract-tests/org-scope-enforcement.test.ts
  tooling/contract-tests/ue-no-raw-db.test.ts
  tooling/contract-tests/vertical-governance.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(governance): align demo contracts
  apps/union-eyes-demo/lib/logger.ts
  apps/union-eyes-demo/lib/providers/inert.ts
  packages/platform-contracts/src/registry.ts
  tooling/contract-tests/stack-authority.test.ts
  tooling/contract-tests/ue-cupe4373-authz-no-bypass.test.ts
  tooling/contract-tests/ue-persona-access.test.ts
Due: gitleaks, lint-staged, typecheck-staged

test(union-eyes): fix admin/pilot-status route test module init
  apps/union-eyes/app/api/__tests__/admin-pilot-status.route.test.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(cupe-national): Phase 0 baseline stabilization
  packages/db/drizzle/0033_fix_pilot_alerts_rule_fk.sql
  reports/audits/cupe-national-implementation-program.md
  reports/audits/cupe-national-phase-0/e2e-pilot-mode-gating-20260722.log
  reports/audits/cupe-national-phase-0/failure-inventory.md
  reports/audits/cupe-national-phase-0/vitest-api-20260722-162507.log
  reports/audits/cupe-national-phase-0/vitest-run-20260722-162228.log
  reports/audits/cupe-national-phase-ledger.md
Due: gitleaks

chore(cupe-national): Phase 0 · governed platform migration runner + lineage-gap diagnosis
  reports/audits/cupe-national-phase-0/migration-baseline-dev.log
  reports/audits/cupe-national-phase-0/migration-clean-run.log
  reports/audits/cupe-national-phase-0/migration-lineage-gap.md
  reports/audits/cupe-national-phase-ledger.md
  tooling/scripts/apply-platform-migrations.mjs
Due: gitleaks, lint-staged

phase-0a(db): add checked-in bootstrap baseline for platform schema prerequisites
  packages/db/bootstrap/0000_platform_schema_prerequisites.sql
  packages/db/bootstrap/platform_schema_prerequisites.json
Due: gitleaks

phase-0a(runner): two-phase lifecycle + reconciliation + partial-failure allowlist
  packages/db/drizzle/.known-partial-failures.json
  tooling/scripts/apply-platform-migrations.mjs
Due: gitleaks, lint-staged

phase-0a(evidence): capture runner proof logs for empty, partial, materialized DBs
  reports/audits/cupe-national-phase-0/migration-clean-run.log
  reports/audits/cupe-national-phase-0/migration-existing-db-reconciliation.log
  reports/audits/cupe-national-phase-0/migration-idempotency.log
  reports/audits/cupe-national-phase-0/migration-reconcile-safe.log
  reports/audits/cupe-national-phase-0/migration-survey.log
Due: none

phase-0a(audit): close PH0-OPEN-001 AMBER, register PH0-FIX-003/004 + PH0-OPEN-006/007/008/009
  reports/audits/cupe-national-phase-0/migration-baseline-design.md
  reports/audits/cupe-national-phase-0/migration-lineage-gap.md
  reports/audits/cupe-national-phase-0/migration-validation-summary.md
  reports/audits/cupe-national-phase-ledger.md
Due: gitleaks

Phase 0A.1: heal historical migration lineage (0034/0035/0036/0037 healers)
  packages/db/drizzle/.known-partial-failures.json
  packages/db/drizzle/0034_heal_orchestrator_runtime_hardening.sql
  packages/db/drizzle/0035_heal_trustcore_law25_chain.sql
  packages/db/drizzle/0036_heal_audit_events_canonical_hash.sql
  packages/db/drizzle/0037_heal_pilot_alerting_hardening.sql
  tooling/scripts/apply-platform-migrations.mjs
Due: gitleaks, lint-staged

Phase 0A.1: empty-DB replay evidence + tracking-table witness
  reports/audits/cupe-national-phase-0/migration-clean-run.log
  reports/audits/cupe-national-phase-0/migration-healer-idempotency.log
  reports/audits/cupe-national-phase-0/migration-schema-comparison.txt
  reports/audits/cupe-national-phase-0/migration-tracking-witness.txt
Due: none

Phase 0A.1: closure docs + phase ledger amendment (GREEN)
  reports/audits/cupe-national-phase-0/migration-healer-design.md
  reports/audits/cupe-national-phase-0/migration-healer-statement-map.md
  reports/audits/cupe-national-phase-0/migration-lineage-gap.md
  reports/audits/cupe-national-phase-0/migration-validation-summary.md
  reports/audits/cupe-national-phase-ledger.md
Due: gitleaks
