Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

lefthook.yml:

# lefthook.yml â€” Pre-commit guardrails for Nzila Automation monorepo
# Docs: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true

  commands:
    gitleaks:
      glob: "*.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}"
      run: >
        gitleaks detect
        --source .
        --config .gitleaks.toml
        --no-banner
        --verbose
        --staged
      fail_text: |
        ðŸ”’ Gitleaks detected potential secrets in staged files.
        Review the output above and remove or rotate any exposed credentials.
        See docs/hardening/secrets.md for guidance.
        Install gitleaks: https://github.com/gitleaks/gitleaks#installing

    lint-staged:
      glob: "*.{ts,tsx,js,jsx,mjs}"
      run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Lint errors found. Run `pnpm lint` to see details."

    typecheck-staged:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Type errors found. Run `pnpm typecheck` to see details."

pre-push:
  commands:
    contract-tests:
      run: >
        npx vitest run
        --config tooling/contract-tests/vitest.config.ts
        --dir tooling/contract-tests
      fail_text: |
        Contract tests failed. Run `pnpm contract-tests` to see details.
        Do not push code that violates repo invariants.

fix: apps/union-eyes/package.json to reduce vulnerabilities
  apps/union-eyes/package.json
Due: gitleaks

fix: apps/abr/package.json to reduce vulnerabilities
  apps/abr/package.json
Due: gitleaks

fix(ci): fix SBOM generation — add pnpm install, fix download-artifact version
  .github/workflows/sbom.yml
Due: gitleaks

feat(@nzila/ui): v6 design language — canonical tokens, semantic themes, product accents, retokenized primitives
  packages/ui/PORTFOLIO_ADOPTION_REPORT.md
  packages/ui/UX_DESIGN_SYSTEM.md
  packages/ui/src/__tests__/Badge.test.tsx
  packages/ui/src/__tests__/Button.test.tsx
  packages/ui/src/__tests__/Card.test.tsx
  packages/ui/src/__tests__/tokens.test.ts
  packages/ui/src/components/Badge.tsx
  packages/ui/src/components/Button.tsx
  packages/ui/src/components/Card.tsx
  packages/ui/src/components/EmptyState.tsx
  packages/ui/src/components/ErrorPanel.tsx
  packages/ui/src/components/SectionHeader.tsx
  packages/ui/src/components/Skeleton.tsx
  packages/ui/src/components/Stat.tsx
  packages/ui/src/globals.css
  packages/ui/src/index.ts
  packages/ui/src/tokens.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(portfolio): v7 Phase 1 — data-product accents + canonical CSS across 8 priority apps
  apps/agrimo/app/globals.css
  apps/agrimo/app/layout.tsx
  apps/console/app/globals.css
  apps/console/app/layout.tsx
  apps/control-plane/app/globals.css
  apps/control-plane/app/layout.tsx
  apps/flow/app/globals.css
  apps/flow/app/layout.tsx
  apps/nzila-hq/app/globals.css
  apps/nzila-hq/app/layout.tsx
  apps/union-eyes/app/globals.css
  apps/union-eyes/app/layout.tsx
  apps/veridian-care/app/globals.css
  apps/veridian-care/app/layout.tsx
  apps/zonga/app/globals.css
  apps/zonga/app/layout.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): resolve all 11 PR #448 workflow failures for nzila-hq
  .gitleaks.toml
  README.md
  apps/nzila-hq/README.md
  apps/nzila-hq/eslint.config.mjs
  apps/nzila-hq/maturity.json
  docs/platform/platform-boundaries.md
  docs/platform/portfolio-matrix.md
  governance/portfolio/product-catalog.json
  nzila-truth-manifest.json
  packages/platform-contracts/src/registry.ts
  reports/portfolio-investor-view.md
  reports/portfolio-ops-dashboard.json
  reports/portfolio-status.json
  reports/portfolio-status.md
  security/redteam/adversarial.test.ts
  tooling/contract-tests/api-authz-coverage.test.ts
  tooling/contract-tests/api-schema-contracts.test.ts
  tooling/contract-tests/db-boundary.test.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

fix(hq): remove skeleton inline grid styles
  apps/nzila-hq/components/primitives/Skeleton.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(hq): replace inline progress styles
  apps/nzila-hq/app/allocation/page.tsx
  apps/nzila-hq/app/finance/cfo/page.tsx
Due: gitleaks, lint-staged, typecheck-staged

Fix PR448 CI blockers: build, ai-evals, docs, GA, portfolio artifacts
  apps/console/CONSOLE_10_10_DELTA.md
  apps/console/lib/perf/store.ts
  apps/veridian-care/app/globals.css
  apps/zonga/lib/services/cache-service.ts
  governance/privacy/vendor/standard-contractual-clauses.md
  reports/portfolio-ops-dashboard.json
  reports/portfolio-status.json
  tooling/ai-evals/datasets/console/adversarial-prompts.json
  tooling/ai-evals/datasets/console/bias-panel.json
  tooling/ai-evals/datasets/memora/adversarial-prompts.json
  tooling/ai-evals/datasets/memora/bias-panel.json
  tooling/ai-evals/datasets/union-eyes/adversarial-prompts.json
  tooling/ai-evals/datasets/union-eyes/bias-panel.json
  tooling/ga-check/ga-check.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: maestria onboarding files + app count updates + ENGINE_UI_PATTERN regex
  apps/maestria/.env.example
  apps/maestria/README.md
  apps/maestria/control-manifest.json
  apps/maestria/proxy.ts
  apps/nzila-hq/NZILA_HQ_DELTA.md
  docs/platform/platform-boundaries.md
  packages/ui/PORTFOLIO_ADOPTION_REPORT.md
  scripts/check-brand-leakage.ts
Due: gitleaks, lint-staged, typecheck-staged

fix ci gates: maestria org guards, stack authority, lint/typecheck
  README.md
  apps/maestria/app/api/maestria/access/route.ts
  apps/maestria/app/api/maestria/analytics/events/route.ts
  apps/maestria/app/api/maestria/analytics/kpis/route.ts
  apps/maestria/app/api/maestria/approvals/route.ts
  apps/maestria/app/api/maestria/assets/screenshots/route.ts
  apps/maestria/app/api/maestria/connectors/[system]/callback/route.ts
  apps/maestria/app/api/maestria/connectors/[system]/route.ts
  apps/maestria/app/api/maestria/connectors/status/route.ts
  apps/maestria/app/api/maestria/exports/route.ts
  apps/maestria/app/api/maestria/import/csv/route.ts
  apps/maestria/app/api/maestria/notifications/route.ts
  apps/maestria/app/api/maestria/onboarding/readiness/route.ts
  apps/maestria/app/api/maestria/ops/records/route.ts
  apps/maestria/app/api/maestria/pricing/quote/route.ts
  apps/maestria/app/api/maestria/proposals/[id]/pdf/route.ts
  apps/maestria/app/api/metrics/route.ts
  apps/maestria/app/api/readiness/route.ts
  apps/maestria/app/api/users/[id]/activate/route.ts
  apps/maestria/app/api/users/[id]/role/route.ts
  apps/maestria/app/api/users/invite/route.ts
  apps/maestria/lib/api-authorization.ts
  apps/union-eyes/lib/utils/pdf-generator.ts
  packages/flow-engine/eslint.config.mjs
  packages/flow-engine/package.json
  platform/products/envelope.config.json
  pnpm-lock.yaml
  tooling/contract-tests/stack-authority.test.ts
Due: gitleaks, lint-staged, typecheck-staged

feat: finalize marketing visuals, accessibility fixes, and module terminology alignment
  apps/maestria/app/[locale]/(marketing)/marketing/about/page.tsx
  apps/maestria/app/[locale]/(marketing)/marketing/content.ts
  apps/maestria/app/[locale]/(marketing)/marketing/features/page.tsx
  apps/maestria/app/[locale]/(marketing)/marketing/layout.tsx
  apps/maestria/app/[locale]/(marketing)/marketing/marketing.module.css
  apps/maestria/app/[locale]/(marketing)/marketing/page.tsx
  apps/maestria/app/[locale]/(marketing)/marketing/pricing/page.tsx
  apps/maestria/app/[locale]/components/AccessProvider.tsx
  apps/maestria/app/[locale]/components/LiveCommerceSurfaces.tsx
  apps/maestria/app/[locale]/layout.tsx
  apps/maestria/eslint.config.mjs
  apps/maestria/next.config.ts
  apps/maestria/package.json
  apps/maestria/vitest.config.ts
  apps/union-eyes/app/(marketing)/features/ai-workbench/page.tsx
  apps/union-eyes/app/(marketing)/features/grievance-tracking/page.tsx
  apps/union-eyes/app/(marketing)/features/inbox/page.tsx
  apps/union-eyes/app/(marketing)/features/member-portal/page.tsx
  apps/union-eyes/app/(marketing)/features/priorities/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/features/ai-workbench/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/features/analytics/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/features/grievance-tracking/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/features/inbox/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/features/member-portal/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/features/priorities/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/locale-site-footer.tsx
  apps/union-eyes/app/[locale]/(marketing)/locale-site-navigation.tsx
  apps/union-eyes/app/[locale]/(marketing)/pilot-request/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/pricing/page.tsx
  apps/union-eyes/app/[locale]/page.tsx
  apps/union-eyes/components/public/site-footer.tsx
  apps/union-eyes/components/public/site-navigation.tsx
  apps/union-eyes/docs/TERMINOLOGY_ALIGNMENT.md
  packages/flow-engine/vitest.config.ts
  packages/platform-contracts/src/registry.test.ts
  pnpm-lock.yaml
  scripts/provision-all-test-users.mjs
Due: gitleaks, lint-staged, typecheck-staged

chore: generate maestria + nzila-hq platform product manifests
  platform/products/_index.json
  platform/products/_portfolio-classification.json
  platform/products/_pricing-matrix.json
  platform/products/_telemetry-requirements.json
  platform/products/_trust-listings.json
  platform/products/abr.json
  platform/products/agrimo.json
  platform/products/cfo.json
  platform/products/console.json
  platform/products/cora.json
  platform/products/flow.json
  platform/products/maestria.json
  platform/products/mobility-client-portal.json
  platform/products/mobility.json
  platform/products/nacp-exams.json
  platform/products/nzila-hq.json
  platform/products/orchestrator-api.json
  platform/products/partners.json
  platform/products/platform-admin.json
  platform/products/test-scaffold-gp.json
  platform/products/trade.json
  platform/products/union-eyes.json
  platform/products/veridian-admin.json
  platform/products/veridian-care.json
  platform/products/veridian-site.json
  platform/products/web.json
  platform/products/zonga.json
Due: gitleaks

fix(contract-tests): CORE-002 use exact package name match to avoid @nzila/flow substring collision
  tooling/contract-tests/shared-core-enforcement.test.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(portfolio): regenerate 44 portfolio artifacts to resolve CI drift
  apps/abr/maturity.json
  apps/agrimo/maturity.json
  apps/cfo/maturity.json
  apps/console/maturity.json
  apps/control-plane/maturity.json
  apps/cora/maturity.json
  apps/flow/maturity.json
  apps/maestria/maturity.json
  apps/mobility-client-portal/maturity.json
  apps/mobility/maturity.json
  apps/nacp-exams/maturity.json
  apps/nzila-hq/maturity.json
  apps/orchestrator-api/maturity.json
  apps/partners/maturity.json
  apps/platform-admin/maturity.json
  apps/test-scaffold-gp/maturity.json
  apps/trade/maturity.json
  apps/union-eyes/maturity.json
  apps/veridian-admin/maturity.json
  apps/veridian-care/maturity.json
  apps/veridian-site/maturity.json
  apps/web/maturity.json
  apps/weekone/maturity.json
  apps/zonga/maturity.json
  docs/platform/portfolio-matrix.md
  nzila-truth-manifest.json
  reports/portfolio-investor-view.md
  reports/portfolio-ops-dashboard.json
  reports/portfolio-status.json
  reports/portfolio-status.md
Due: gitleaks

fix(maestria): wire OTel boot via instrumentation.ts for telemetry contract enforcement
  apps/maestria/instrumentation.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: resolve E2E TypeScript bug and GA Gate failures on PR #448
  apps/flow/app/(marketing)/components/animated-features.tsx
  apps/maestria/README.md
  apps/maestria/lib/shopmoica-pilot-data.ts
  tooling/ga-check/ga-check.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(maestria): resolve all 4 typecheck failures on PR #448
  apps/maestria/app/[locale]/components/LiveCommerceSurfaces.tsx
  apps/maestria/vitest.config.ts
  packages/os-core/src/telemetry/boot.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(ops): refresh ops evidence snapshot [stale >7d]
  reports/ops/snapshot.json
  reports/ops/snapshot.md
Due: gitleaks

fix(maestria): allow empty vitest suite in CI
  apps/maestria/package.json
Due: gitleaks

fix(maestria): defer PDF module loading for turbopack build
  apps/maestria/app/api/maestria/proposals/[id]/pdf/route.ts
  apps/maestria/lib/proposal-pdf.ts
  apps/maestria/types/pdfkit-js.d.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(maestria): resolve lint failures in onboarding contact csv and pdf types
  apps/maestria/app/[locale]/internal/onboarding/page.tsx
  apps/maestria/app/api/contact/route.ts
  apps/maestria/lib/maestria-csv-import.ts
  apps/maestria/types/pdfkit-js.d.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(maestria): type event handlers in proposal PDF
  apps/maestria/lib/proposal-pdf.ts
Due: gitleaks, lint-staged, typecheck-staged

chore: update repo-inventory output for 2026-04-30
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

chore: refresh maestria next-env and ga-check artifacts
  apps/maestria/next-env.d.ts
  governance/ga/GA_CHECK_REPORT.md
  governance/ga/ga-check.json
Due: gitleaks, lint-staged, typecheck-staged

fix(contract-tests): add maestria platform-shell drift exception
  governance/exceptions/platform-adoption-exceptions.json
  governance/platform-exceptions.yaml
Due: gitleaks

fix(ci): reduce docker context to avoid runner disk exhaustion
  .dockerignore
Due: none

fix: remove dynamic re-exports from [locale] pages, fix portfolio drift check, update workflow count
  README.business.md
  apps/control-plane/app/[locale]/(dashboard)/business/metrics/page.tsx
  apps/control-plane/app/[locale]/(dashboard)/business/simulated-economics/page.tsx
  apps/control-plane/app/[locale]/(dashboard)/governance/history/page.tsx
  apps/control-plane/app/[locale]/(dashboard)/governance/policy-performance/page.tsx
  apps/control-plane/app/[locale]/(dashboard)/governance/policy-regression/page.tsx
  apps/control-plane/app/[locale]/(dashboard)/ops/control-center/page.tsx
  apps/control-plane/app/[locale]/(dashboard)/ops/evidence/page.tsx
  apps/control-plane/app/[locale]/(dashboard)/releases/page.tsx
  scripts/lib/portfolio-governance.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: remove redundant pnpm version from release-governance workflow
  .github/workflows/release-governance.yml
Due: gitleaks

fix: resolve ga-check root init error and rate-limit map false positive
  apps/control-plane/app/api/control-plane/ops/control-center/route.ts
  tooling/ga-check/ga-check.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): pass required args to release tag command
  .github/workflows/release-governance.yml
Due: gitleaks
