Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

gitleaks:
  run: 'gitleaks detect --source . --config .gitleaks.toml --no-banner --verbose --staged
  
    '
  fail_text: 'ðŸ”’ Gitleaks detected potential secrets in staged files.
  
    Review the output above and remove or rotate any exposed credentials.
  
    See docs/hardening/secrets.md for guidance.
  
  ...

lint-staged:
  run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
  fail_text: Lint errors found. Run `pnpm lint` to see details.

typecheck-staged:
  run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
  fail_text: Type errors found. Run `pnpm typecheck` to see details.

fix: use valid tier enum for test-scaffold-gp registry entry
  packages/platform-contracts/src/registry.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: satisfy contract enforcement for test-scaffold-gp and refresh truth artifacts
  apps/test-scaffold-gp/eslint.config.mjs
  docs/platform/portfolio-matrix.md
  nzila-truth-manifest.json
  reports/portfolio-ops-dashboard.json
  reports/portfolio-status.json
  reports/portfolio-status.md
Due: gitleaks, lint-staged

fix: isolate golden-path scaffold test and satisfy governance lint invariants
  apps/test-scaffold-gp/eslint.config.mjs
  apps/test-scaffold-gp/lib/enforcement.ts
  tooling/contract-tests/golden-path-invariants.test.ts
  tooling/golden-path/scaffold-governed-app.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(platform-contracts): update registry test count to 19 and exempt DEPRECATED tier from Entra check
  packages/platform-contracts/src/registry.test.ts
Due: gitleaks, lint-staged, typecheck-staged

chore: regenerate repo inventory (19 apps, 220 contract tests, 42 workflows)
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

docs(readme): sync app and workflow counts with canonical inventory
  README.md
Due: gitleaks

feat(delta): close final blockers with ops evidence, tier gates, and buyer hardening
  .github/workflows/ci.yml
  .github/workflows/ops-pack.yml
  apps/abr/maturity.json
  apps/flow/maturity.json
  apps/test-scaffold-gp/lib/enforcement.ts
  apps/test-scaffold-gp/types/shims.d.ts
  apps/union-eyes/app/(marketing)/trust/page.tsx
  apps/union-eyes/maturity.json
  apps/union-eyes/scripts/seed-union-eyes-demo.ts
  docs/commercial/security-one-pager.md
  docs/commercial/vendor-risk-pack/README.md
  docs/commercial/vendor-risk-pack/access-control-model.md
  docs/commercial/vendor-risk-pack/architecture-diagram.md
  docs/commercial/vendor-risk-pack/backup-restore-summary.md
  docs/commercial/vendor-risk-pack/data-flow-summary.md
  docs/commercial/vendor-risk-pack/dpa.md
  docs/commercial/vendor-risk-pack/export-offboarding-process.md
  docs/commercial/vendor-risk-pack/incident-response-summary.md
  docs/commercial/vendor-risk-pack/security-one-pager.md
  docs/commercial/vendor-risk-pack/subprocessor-list.md
  docs/commercial/vendor-risk-pack/support-sla.md
  package.json
  reports/ops/snapshot.json
  reports/ops/snapshot.md
  reports/union-eyes/claims-ledger.md
  scripts/validate-tier-focus.ts
  tooling/ops/validate-ops-pack.ts
  tooling/scripts/generate-ops-evidence.mjs
Due: gitleaks, lint-staged, typecheck-staged

chore(release): enforce main-only semver tagging and prod tag guard
  .github/workflows/deploy-production.yml
  scripts/release/tag-release.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): resolve contract gate failures in org isolation and platform drift
  apps/union-eyes/app/[locale]/app/route.ts
  governance/exceptions/platform-adoption-exceptions.json
  governance/platform-exceptions.yaml
Due: gitleaks, lint-staged, typecheck-staged

chore(change-management): add approved PROD record for union-eyes deployment
  ops/change-records/CHG-2026-0106.json
Due: gitleaks

chore(dns): add certificate checks and drift reasons to health report
  scripts/dns/health.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(inventory): split packages metric by scope
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
  tooling/repo-inventory/src/generate.ts
  tooling/repo-inventory/src/schema.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(deploy): sync change records from main before gate
  .github/workflows/deploy-console.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/deploy-union-eyes.yml
  .github/workflows/deploy-web.yml
Due: gitleaks

fix(deploy-union-eyes): normalize CNAME comparison in DNS verification
  .github/workflows/deploy-union-eyes.yml
Due: gitleaks

fix(deploy-union-eyes): use dig +short CNAME instead of nslookup for DNS verification
  .github/workflows/deploy-union-eyes.yml
Due: gitleaks

fix(deploy-union-eyes): correct staging DNS target default to nzila-os-union-eyes
  .github/workflows/deploy-union-eyes.yml
Due: gitleaks

fix(dns): align staging default target with deployed union-eyes app
  scripts/dns/lib.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(web): build cross-app links with nzilaventures custom domains
  .github/workflows/deploy-web.yml
  .github/workflows/gitops-deploy.yml
Due: gitleaks

fix(web): build cross-app links with nzilaventures custom domains (#411)
  .github/workflows/deploy-web.yml
  .github/workflows/gitops-deploy.yml
Due: gitleaks

chore(repo-inventory): sync generated app code file counts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

Add branch/tag governance policy and CI enforcement
  .github/workflows/branch-tag-governance.yml
  docs/runbooks/branching-tagging-governance.md
  package.json
  scripts/release/validate-branch-tag-policy.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): marketing site UX hardening for CLC convention
  apps/union-eyes/app/(marketing)/case-studies/page.tsx
  apps/union-eyes/app/(marketing)/contact/page.tsx
  apps/union-eyes/app/(marketing)/governance/page.tsx
  apps/union-eyes/app/(marketing)/page.tsx
  apps/union-eyes/app/(marketing)/pilot-request/page.tsx
  apps/union-eyes/app/(marketing)/story/page.tsx
  apps/union-eyes/components/public/site-navigation.tsx
  apps/union-eyes/lib/monitoring/status-page.ts
  apps/union-eyes/messages/fr-CA.json
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): resolve union-eyes and portfolio check failures
  apps/abr/maturity.json
  apps/agrimo/maturity.json
  apps/cfo/maturity.json
  apps/console/maturity.json
  apps/control-plane/maturity.json
  apps/cora/maturity.json
  apps/flow/maturity.json
  apps/mobility-client-portal/maturity.json
  apps/mobility/maturity.json
  apps/nacp-exams/maturity.json
  apps/orchestrator-api/maturity.json
  apps/partners/maturity.json
  apps/platform-admin/maturity.json
  apps/test-scaffold-gp/maturity.json
  apps/trade/maturity.json
  apps/union-eyes/app/(marketing)/case-studies/page.tsx
  apps/union-eyes/app/(marketing)/page.tsx
  apps/union-eyes/maturity.json
  apps/web/maturity.json
  apps/weekone/maturity.json
  apps/zonga/maturity.json
  docs/platform/portfolio-matrix.md
  nzila-truth-manifest.json
  reports/portfolio-investor-view.md
  reports/portfolio-ops-dashboard.json
  reports/portfolio-status.json
  reports/portfolio-status.md
Due: gitleaks, lint-staged, typecheck-staged

test(union-eyes): align status page health assertions with managed service messaging
  apps/union-eyes/lib/monitoring/__tests__/status-page.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): add missing required staging parity tables
  apps/union-eyes/db/migrations/0096_add_missing_ue_required_tables.sql
Due: none

chore(ops): standardize health checks and align weekone dev port
  apps/weekone/package.json
  docs/buyers/RELIABILITY_SUMMARY.md
  docs/ops/ENVIRONMENT_OPERATIONS.md
  docs/ops/HEALTH_CHECK_STANDARD.md
  docs/ops/staging-recovery-runbook.md
  docs/ops/staging-runtime-drift-runbook.md
  governance/release/deployment-inventory.json
  ops/outputs/data-residency-runtime.json
  ops/outputs/governance-runtime-budget.json
  ops/outputs/onboarding-kpis.json
  ops/outputs/strategic-resilience-report.json
  ops/runbooks/ue-pilot.md
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

fix(ci): resolve tier-focus labels from live PR
  scripts/validate-tier-focus.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(ci): align inventory artifacts with linux generator
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

fix(ci): harden migration diff and patch xmldom override
  package.json
  pnpm-lock.yaml
  scripts/release/validate-migration-safety.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): harden migration diff and patch xmldom override (#414)
  package.json
  pnpm-lock.yaml
  scripts/release/validate-migration-safety.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(web): clear lint issues and skip missing staging apps
  .github/workflows/gitops-deploy.yml
  apps/web/app/contact/page.tsx
  apps/web/app/investors/page.tsx
  apps/web/app/page.tsx
  apps/web/app/platform/page.tsx
  apps/web/app/products/page.tsx
  apps/web/i18n.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(web): clear lint issues and skip missing staging apps (#416)
  .github/workflows/gitops-deploy.yml
  apps/web/app/contact/page.tsx
  apps/web/app/investors/page.tsx
  apps/web/app/page.tsx
  apps/web/app/platform/page.tsx
  apps/web/app/products/page.tsx
  apps/web/i18n.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(gitops): make staging DNS preflight non-blocking
  .github/workflows/gitops-deploy.yml
Due: gitleaks

Path conditions:
  gitleaks: any of: *.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}
  lint-staged: any of: *.{ts,tsx,js,jsx,mjs}
  typecheck-staged: any of: *.{ts,tsx}
