Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

gitleaks:
  run: 'gitleaks detect --source . --config .gitleaks.toml --no-banner --verbose --staged
  
    '
  fail_text: 'ðŸ”’ Gitleaks detected potential secrets in staged files.
  
    Review the output above and remove or rotate any exposed credentials.
  
    See docs/hardening/secrets.md for guidance.
  
  ...

lint-staged:
  run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
  fail_text: Lint errors found. Run `pnpm lint` to see details.

typecheck-staged:
  run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
  fail_text: Type errors found. Run `pnpm typecheck` to see details.

test(contract): recognize %5F-encoded public routes; fix swept-in invariant violations
  apps/console/lib/org-context.ts
  apps/union-eyes/lib/knowledge-transfer/propagation/__tests__/dependency-propagator.test.ts
  tooling/contract-tests/api-authz-coverage.test.ts
  tooling/contract-tests/api-schema-contracts.test.ts
  tooling/contract-tests/org-isolation-runtime.test.ts
  tooling/contract-tests/org-isolation.test.ts
  tooling/contract-tests/org-scope-enforcement.test.ts
  tooling/contract-tests/telemetry-coverage.test.ts
  tooling/contract-tests/ue-persona-access.test.ts
  tooling/contract-tests/vertical-governance.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): remove invalid vitest v4 'all' coverage option; fix trade branch coverage; refresh ops snapshot
  apps/abr/vitest.config.ts
  apps/agrimo/vitest.config.ts
  apps/console/vitest.config.ts
  apps/control-plane/vitest.config.ts
  apps/cora/vitest.config.ts
  apps/flow/vitest.config.ts
  apps/mobility/vitest.config.ts
  apps/nacp-exams/vitest.config.ts
  apps/orchestrator-api/vitest.config.ts
  apps/partners/vitest.config.ts
  apps/platform-admin/vitest.config.ts
  apps/trade/app/api/health/route.test.ts
  apps/trade/vitest.config.ts
  apps/trustcore-trustops/vitest.config.ts
  apps/trustcore/vitest.config.ts
  apps/union-eyes/services/financial-service/vitest.config.ts
  apps/union-eyes/vitest.config.ts
  apps/veridian-admin/vitest.config.ts
  apps/veridian-care/vitest.config.ts
  apps/veridian-site/vitest.config.ts
  apps/web/vitest.config.ts
  apps/weekone/vitest.config.ts
  reports/ops/snapshot.json
  reports/ops/snapshot.md
Due: gitleaks, lint-staged, typecheck-staged

chore(security): renew expired supply chain waivers through 2026-09-18
  tooling/security/supply-chain-policy.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(security): resolve unwaived dependency advisories
  apps/union-eyes/services/financial-service/package.json
  package.json
  packages/comms-email/package.json
  pnpm-lock.yaml
Due: gitleaks

fix(ci): resolve failing union-eyes, flow e2e, and trivy gates
  apps/flow/e2e/flow.spec.ts
  apps/union-eyes/app/[locale]/(marketing)/pilot/apply/page.tsx
  apps/union-eyes/messages/fr.json
  apps/union-eyes/messages/it.json
  apps/union-eyes/messages/pt.json
  package.json
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): constrain undici override to 7.x and harden flow e2e for rate limiting
  apps/flow/e2e/flow.spec.ts
  package.json
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): resolve IaC Security Scan checkov failures
  infrastructure/bicep/main.bicep
  infrastructure/bicep/modules/keyvault-secret.bicep
  infrastructure/bicep/modules/waf.bicep
Due: none

fix(union-eyes/e2e): resolve role-nav + cba-intelligence E2E failures
  apps/union-eyes/e2e/authenticated-role-navigation.spec.ts
  apps/union-eyes/e2e/cba-intelligence.spec.ts
  apps/union-eyes/e2e/helpers/role-fixtures.ts
  apps/union-eyes/lib/dashboard/role-experience.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes/e2e): drop upgrade-insecure-requests+HSTS for http test build
  .github/workflows/e2e.yml
  apps/union-eyes/next.config.ts
Due: gitleaks, lint-staged, typecheck-staged

test(cora): cover npm_package_version fallback to meet 99% branch threshold
  apps/cora/app/api/version/route.test.ts
Due: gitleaks, lint-staged, typecheck-staged

test(apps): cover env-fallback and rejected-settle branches in health/version routes
  apps/agrimo/app/api/health/route.test.ts
  apps/console/app/api/health/route.test.ts
  apps/control-plane/app/api/health/route.test.ts
  apps/control-plane/app/api/version/route.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(e2e): stage .next/static + public into standalone output
  .github/workflows/e2e.yml
Due: gitleaks

fix(ci): pass GITHUB_TOKEN to tier-focus label gate
  .github/workflows/ci.yml
Due: gitleaks

chore(ci): refresh repo inventory lock + capture E2E timeout artifacts
  .github/workflows/e2e.yml
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

fix(security): clear unwaived high/critical dependency advisories (#577)
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  apps/agrimo/app/api/health/route.test.ts
  apps/console/app/api/health/route.test.ts
  apps/control-plane/app/api/health/route.test.ts
  apps/control-plane/app/api/version/route.test.ts
  apps/cora/app/api/version/route.test.ts
  apps/flow/e2e/flow.spec.ts
  apps/union-eyes/app/[locale]/(marketing)/pilot/apply/page.tsx
  apps/union-eyes/e2e/authenticated-role-navigation.spec.ts
  apps/union-eyes/e2e/cba-intelligence.spec.ts
  apps/union-eyes/e2e/helpers/role-fixtures.ts
  apps/union-eyes/lib/dashboard/role-experience.ts
  apps/union-eyes/messages/fr.json
  apps/union-eyes/messages/it.json
  apps/union-eyes/messages/pt.json
  apps/union-eyes/next.config.ts
  apps/union-eyes/services/financial-service/package.json
  infrastructure/bicep/main.bicep
  infrastructure/bicep/modules/keyvault-secret.bicep
  infrastructure/bicep/modules/waf.bicep
  package.json
  packages/comms-email/package.json
  pnpm-lock.yaml
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

test(union-eyes): fix flaky E2E — drop networkidle, mobile nav assertion
  apps/union-eyes/e2e/authenticated-role-navigation.spec.ts
  apps/union-eyes/e2e/cape-features.spec.ts
  apps/union-eyes/e2e/empty-states.spec.ts
  apps/union-eyes/e2e/member-journey.spec.ts
  apps/union-eyes/e2e/missing-routes.spec.ts
  apps/union-eyes/e2e/ocra-adaptive-flow.spec.ts
  apps/union-eyes/e2e/permission-boundaries.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

test(union-eyes): fix remaining 2 E2E fails (cba gating race, redirect race)
  apps/union-eyes/e2e/cba-intelligence.spec.ts
  apps/union-eyes/e2e/helpers/navigation-assertions.ts
Due: gitleaks, lint-staged, typecheck-staged

test(union-eyes): bound sidebar click w/ goto fallback (detach race)
  apps/union-eyes/e2e/helpers/navigation-assertions.ts
Due: gitleaks, lint-staged, typecheck-staged

test(union-eyes): fix flaky E2E (networkidle timeouts + mobile nav) (#583)
  apps/union-eyes/e2e/authenticated-role-navigation.spec.ts
  apps/union-eyes/e2e/cape-features.spec.ts
  apps/union-eyes/e2e/cba-intelligence.spec.ts
  apps/union-eyes/e2e/empty-states.spec.ts
  apps/union-eyes/e2e/helpers/navigation-assertions.ts
  apps/union-eyes/e2e/member-journey.spec.ts
  apps/union-eyes/e2e/missing-routes.spec.ts
  apps/union-eyes/e2e/ocra-adaptive-flow.spec.ts
  apps/union-eyes/e2e/permission-boundaries.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(ops): refresh ops evidence snapshot (freshness gate)
  reports/ops/snapshot.json
  reports/ops/snapshot.md
Due: gitleaks

chore(db): refresh schema snapshot timestamp (30-day preflight gate)
  tooling/db/schema-snapshot.json
Due: gitleaks

chore(ops): refresh ops evidence snapshot (freshness gate) (#585)
  reports/ops/snapshot.json
  reports/ops/snapshot.md
  tooling/db/schema-snapshot.json
Due: gitleaks

ci(trivy): allow on-demand re-runs via workflow_dispatch
  .github/workflows/trivy.yml
Due: gitleaks

ci(union-eyes): derive backend PG* from DATABASE_URL secret
  .github/workflows/deploy-union-eyes.yml
Due: gitleaks

ci(gitops): make image build/push resilient to Docker Hub flakes
  .github/workflows/gitops-deploy.yml
Due: gitleaks

ci(trivy): allow on-demand re-runs via workflow_dispatch (#584)
  .github/workflows/trivy.yml
Due: gitleaks

ci(union-eyes): derive backend PG* from DATABASE_URL secret (#582)
  .github/workflows/deploy-union-eyes.yml
Due: gitleaks

ci(gitops): make image build/push resilient to Docker Hub flakes (#581)
  .github/workflows/gitops-deploy.yml
Due: gitleaks

ci(br5): temporary dispatch-only build-identity proof workflow
  .github/workflows/build-identity-proof.yml
Due: gitleaks

ci(br5): temporary dispatch-only build-identity proof workflow (#587)
  .github/workflows/build-identity-proof.yml
Due: gitleaks

chore(br5): remove temporary build-identity proof workflow
  .github/workflows/build-identity-proof.yml
Due: gitleaks

chore(br5): remove temporary build-identity proof workflow (#588)
  .github/workflows/build-identity-proof.yml
Due: gitleaks

ci(br5): add env-scoped staging deploy proof workflow (Phase D.4)
  .github/workflows/br5-staging-deploy-proof.yml
Due: gitleaks

ci(br5): add env-scoped staging deploy proof workflow (Phase D.4) (#589)
  .github/workflows/br5-staging-deploy-proof.yml
Due: gitleaks

chore(br5): remove temporary staging deploy-proof workflow (Phase D.4)
  .github/workflows/br5-staging-deploy-proof.yml
Due: gitleaks

chore(br5): remove temporary staging deploy-proof workflow (Phase D.4) (#590)
  .github/workflows/br5-staging-deploy-proof.yml
Due: gitleaks

docs(courtlens): add phase 0 reuse-first migration plan
  docs/courtlens/README.md
  docs/courtlens/implementation-sequence.md
  docs/courtlens/legacy-product-inventory.md
  docs/courtlens/migration-gap-analysis.md
  docs/courtlens/pilot-readiness-plan.md
  docs/courtlens/target-architecture.md
Due: gitleaks

docs(courtlens): add phase 1 abr reuse audit
  docs/courtlens/phase-1/abr-reuse-audit.md
  docs/documentation-index.md
Due: gitleaks

feat(courtlens): phase 2e.5 mutation idempotency and client post hardening
  apps/abr/app/[locale]/dashboard/courtlens/matters/[matterId]/ReviewerActions.tsx
  apps/abr/app/[locale]/dashboard/courtlens/matters/[matterId]/__tests__/ReviewerActions.test.tsx
  apps/abr/lib/idempotency.test.ts
  apps/abr/lib/idempotency.ts
  docs/courtlens/phase-2/reviewer-workflow-ui.md
Due: gitleaks, lint-staged, typecheck-staged

feat(courtlens): phase 2e reviewer workflow actions on verified server controls
  apps/abr/app/[locale]/dashboard/courtlens/matters/[matterId]/ReviewerActions.tsx
  apps/abr/app/[locale]/dashboard/courtlens/matters/[matterId]/__tests__/ReviewerActions.test.tsx
  apps/abr/app/[locale]/dashboard/courtlens/matters/[matterId]/page.tsx
  apps/abr/app/[locale]/dashboard/courtlens/matters/__tests__/pages.test.tsx
  apps/abr/app/api/courtlens/matters/[matterId]/ai-summary-status/__tests__/route.test.ts
  apps/abr/app/api/courtlens/matters/[matterId]/ai-summary-status/route.ts
  apps/abr/app/api/courtlens/matters/[matterId]/referral-status/__tests__/route.test.ts
  apps/abr/app/api/courtlens/matters/[matterId]/referral-status/route.ts
  apps/abr/app/api/courtlens/matters/[matterId]/transition/__tests__/route.test.ts
  apps/abr/app/api/courtlens/matters/[matterId]/transition/route.ts
  docs/courtlens/phase-2/reviewer-workflow-ui.md
  docs/documentation-index.md
Due: gitleaks, lint-staged, typecheck-staged

Path conditions:
  gitleaks: any of: *.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}
  lint-staged: any of: *.{ts,tsx,js,jsx,mjs}
  typecheck-staged: any of: *.{ts,tsx}
