Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

lefthook.yml:

# lefthook.yml â€” Pre-commit guardrails for Nzila Automation monorepo
# Docs: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true

  commands:
    gitleaks:
      glob: "*.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}"
      run: >
        gitleaks detect
        --source .
        --config .gitleaks.toml
        --no-banner
        --verbose
        --staged
      fail_text: |
        ðŸ”’ Gitleaks detected potential secrets in staged files.
        Review the output above and remove or rotate any exposed credentials.
        See docs/hardening/secrets.md for guidance.
        Install gitleaks: https://github.com/gitleaks/gitleaks#installing

    lint-staged:
      glob: "*.{ts,tsx,js,jsx,mjs}"
      run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Lint errors found. Run `pnpm lint` to see details."

    typecheck-staged:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Type errors found. Run `pnpm typecheck` to see details."

pre-push:
  commands:
    contract-tests:
      run: >
        npx vitest run
        --config tooling/contract-tests/vitest.config.ts
        --dir tooling/contract-tests
      fail_text: |
        Contract tests failed. Run `pnpm contract-tests` to see details.
        Do not push code that violates repo invariants.

chore(p0-5): apply formatter to jurisdiction_loader and refresh health snapshot
  apps/agrimo/backend/compliance/jurisdiction_loader.py
  reports/runtime/health-latest.json
Due: gitleaks

fix(union-eyes): repair priority-override audited insert (P0 retro-fix)
  apps/union-eyes/app/api/grievances/[id]/priority-override/route.ts
  reports/runtime/health-latest.json
Due: gitleaks, lint-staged, typecheck-staged

fix(security): bump drizzle-orm and uuid to patched versions
  apps/union-eyes/package.json
  packages/platform-cognition-core/package.json
  packages/platform-growth-os/package.json
  packages/ue-cognition/package.json
Due: gitleaks

test(zonga): add org-isolation and payout authorization regression coverage
  apps/zonga/tests/security/org-isolation.test.ts
  apps/zonga/tests/security/payout-authorization.test.ts
  apps/zonga/tests/security/route-guard-coverage.test.ts
Due: gitleaks, lint-staged, typecheck-staged

test(veridian): harden synthetic demo posture and access guards
  apps/veridian-admin/app/layout.tsx
  apps/veridian-admin/lib/security-regression.test.ts
  apps/veridian-admin/proxy.ts
  apps/veridian-care/components/synthetic-warning.tsx
  apps/veridian-care/lib/security-regression.test.ts
  apps/veridian-care/proxy.ts
  apps/veridian-site/components/synthetic-warning.tsx
  apps/veridian-site/lib/security-regression.test.ts
  reports/veridian/demo-readiness-report.md
Due: gitleaks, lint-staged, typecheck-staged

test(agrimo): harden canonical staging health proof posture
  apps/agrimo/app/api/ready/route.test.ts
  apps/agrimo/app/api/ready/route.ts
  apps/agrimo/lib/__tests__/health-proof-hardening.test.ts
  apps/agrimo/vitest.config.ts
  governance/release/deployment-inventory.json
  reports/agrimo-frontdoor-django-authority.md
  reports/runtime/health-latest.json
  scripts/proof/check-health.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(runtime): stabilize live health proof posture and failure matrix
  governance/release/deployment-inventory.json
  reports/agrimo-frontdoor-django-authority.md
  reports/runtime/health-latest.json
  reports/runtime/live-health-failure-matrix.json
  reports/runtime/live-health-stabilization-report.md
Due: gitleaks

chore(runtime): rerun live health and refresh staging stabilization artifacts
  governance/release/deployment-inventory.json
  reports/runtime/health-latest.json
  reports/runtime/live-health-failure-matrix.json
  reports/runtime/live-health-stabilization-report.md
Due: gitleaks

chore(runtime): refresh staging activation evidence and veridian deployment posture
  apps/union-eyes/lib/__tests__/organization-utils.test.ts
  apps/union-eyes/lib/auth/__tests__/index.test.ts
  reports/runtime/health-latest.json
Due: gitleaks, lint-staged, typecheck-staged

chore(runtime): update live health artifacts and fix ue auth test timeout
  apps/union-eyes/lib/auth/__tests__/index.test.ts
  reports/runtime/health-latest.json
  reports/runtime/live-health-failure-matrix.json
  reports/runtime/live-health-stabilization-report.md
Due: gitleaks, lint-staged, typecheck-staged

fix(health): advisory-aware exit policy — block only on policyCritical failures
  scripts/proof/__tests__/check-health-exit-policy.test.ts
  scripts/proof/check-health.ts
  scripts/proof/vitest.config.ts
  vitest.config.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(health): skip endpoint probes for undeployed staging apps - bypass hanging lefthook
  scripts/proof/check-health.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(runtime): refresh health artifact post-veridian skip fix
  reports/runtime/health-latest.json
Due: gitleaks

fix(health): align pilot app health routes with degraded-over-200 contract; stabilize probe generator and test timeouts
  apps/agrimo/app/api/health/route.ts
  apps/agrimo/lib/__tests__/health-proof-hardening.test.ts
  apps/cora/app/api/health/route.ts
  apps/trade/app/api/health/route.ts
  apps/zonga/app/api/health/route.ts
  packages/commerce-services/src/aging-report.test.ts
  packages/db/src/__tests__/runtime.test.ts
  packages/platform-contracts/src/coverage-branch.test.ts
  reports/runtime/health-latest.json
  scripts/proof/check-health.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(portfolio): regenerate platform product JSONs to resolve governance drift
  platform/products/_index.json
  platform/products/_portfolio-classification.json
  platform/products/_pricing-matrix.json
  platform/products/_telemetry-requirements.json
  platform/products/_trust-listings.json
  platform/products/abr.json
  platform/products/agrimo.json
  platform/products/cfo.json
  platform/products/console.json
  platform/products/control-plane.json
  platform/products/cora.json
  platform/products/flow.json
  platform/products/maestria.json
  platform/products/mobility-client-portal.json
  platform/products/mobility.json
  platform/products/nacp-exams.json
  platform/products/nzila-hq.json
  platform/products/orchestrator-api.json
  platform/products/partners.json
  platform/products/platform-admin.json
  platform/products/test-scaffold-gp.json
  platform/products/trade.json
  platform/products/union-eyes.json
  platform/products/veridian-admin.json
  platform/products/veridian-care.json
  platform/products/veridian-site.json
  platform/products/web.json
  platform/products/weekone.json
  platform/products/zonga.json
Due: gitleaks

fix(governance): add no-console exceptions for veridian edge proxy dev-only catch blocks
  governance/exceptions/no-console.json
Due: gitleaks

fix(union-eyes): correct migration journal entry order
  apps/union-eyes/db/migrations/meta/_journal.json
Due: gitleaks

fix(union-eyes): add idempotency guards to migrations and seed error handling
  apps/union-eyes/db/migrations/0001_phase5b_inter_union_features.sql
  apps/union-eyes/db/migrations/0005_lazy_kate_bishop.sql
  apps/union-eyes/db/migrations/0006_flat_stepford_cuckoos.sql
  apps/union-eyes/db/migrations/0008_lean_mother_askani.sql
  apps/union-eyes/db/migrations/0019_lonely_stephen_strange.sql
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

Fix union-eyes migration idempotency and waive new axios advisories
  apps/union-eyes/db/migrations/0051_add_messaging_rls_policies.sql
  tooling/security/supply-chain-policy.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(migrations): rename duplicate migration prefixes to unique numbers
  apps/union-eyes/db/migrations/0097_add_missing_training_fks.sql
  apps/union-eyes/db/migrations/0098_msc_enterprise_billing.sql
Due: none

fix(ci): sync pnpm lockfile with union-eyes dependency update
  pnpm-lock.yaml
Due: gitleaks

fix(ci): repair e2e migration journal ordering and relax non-enforce cutover gate
  apps/union-eyes/db/migrations/meta/_journal.json
  scripts/flow-shopmoica-cutover-check.ts
Due: gitleaks, lint-staged, typecheck-staged

Fix tier-focus approval aliases and harden UE org FK migration
  apps/union-eyes/db/migrations/0001_phase5b_inter_union_features.sql
  ops/outputs/data-residency-runtime.json
  ops/outputs/governance-runtime-budget.json
  ops/outputs/onboarding-kpis.json
  ops/outputs/strategic-resilience-report.json
  scripts/validate-tier-focus.ts
Due: gitleaks, lint-staged, typecheck-staged

chore: regenerate repo inventory 2026-05-05 (+5 packages, +38 test files)
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

fix(union-eyes): remove dead audit_security seed deletes (schema dropped in migration 0019)
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): move claims cleanup to separate transaction to prevent 25P02 abort cascade
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): move claims insert to separate transaction to prevent 25P02 abort cascade
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): update error checking to handle direct postgres-js error structures
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): also handle missing table for organization_members insert
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): improve error detection with multiple fallbacks and message pattern matching
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): add debug logging and check for nested error arrays
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): add guard to skip claimUpdates insert if no claim IDs
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): simplify error checking with explicit logic and add detailed logging
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ue): Restore claim_updates table and harden seed script
  apps/union-eyes/db/migrations/0099_restore_claim_updates_table.sql
  apps/union-eyes/package.json
  apps/union-eyes/scripts/seed-test-env.ts
  apps/union-eyes/scripts/validate-db-contract.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ue): Add missing schema columns for organizations table
  apps/union-eyes/db/migrations/0100_add_clerk_organization_id.sql
  apps/union-eyes/db/migrations/0101_add_clc_financial_columns.sql
Due: none

fix(ue): unblock e2e bootstrap on fresh CI databases
  apps/union-eyes/db/migrations/0102_create_user_management_core_tables.sql
  apps/union-eyes/db/migrations/0103_align_claims_identifier_columns.sql
  apps/union-eyes/db/migrations/meta/_journal.json
  apps/union-eyes/scripts/validate-db-contract.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): cast db.execute results through unknown for TS2352
  apps/union-eyes/scripts/validate-db-contract.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(auth): add migration for missing user_management session/mfa tables
  apps/union-eyes/db/migrations/0104_add_user_management_session_mfa_tables.sql
  apps/union-eyes/db/migrations/meta/_journal.json
Due: gitleaks

chore(inventory): refresh repo inventory outputs after union-eyes migration
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks
