Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

gitleaks:
  run: 'gitleaks detect --source . --config .gitleaks.toml --no-banner --verbose --staged
  
    '
  fail_text: 'ðŸ”’ Gitleaks detected potential secrets in staged files.
  
    Review the output above and remove or rotate any exposed credentials.
  
    See docs/hardening/secrets.md for guidance.
  
  ...

lint-staged:
  run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
  fail_text: Lint errors found. Run `pnpm lint` to see details.

typecheck-staged:
  run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
  fail_text: Type errors found. Run `pnpm typecheck` to see details.

docs(phase-0c): §7 register rebuild — Run 6.1''' failure signatures categorized
  reports/audits/cupe-national-phase-0/phase-0c/phase-0c2r-run611prime-failures.csv
  reports/audits/cupe-national-phase-0/phase-0c/phase-0c2r-run611prime-failures.json
  reports/audits/cupe-national-phase-0/phase-0c/phase-0c2r-run611prime-register.md
  scripts/extract-run611prime-signatures.ts
Due: gitleaks, lint-staged, typecheck-staged

Add files via upload
  Nzila Ventures Business Plan 1-Aug-2026.pdf
Due: none

fix(union-eyes): repair role-based dashboard landing
  apps/union-eyes/app/[locale]/dashboard/governance/page.tsx
  apps/union-eyes/app/[locale]/dashboard/page.tsx
  apps/union-eyes/components/dashboard/dashboard-landing-redirect.tsx
  apps/union-eyes/components/dashboard/role-experience-guard.tsx
  apps/union-eyes/e2e/helpers/auth.ts
  apps/union-eyes/e2e/helpers/navigation-assertions.ts
  apps/union-eyes/lib/dashboard/__tests__/role-experience.test.ts
  apps/union-eyes/lib/dashboard/role-experience.test.ts
  apps/union-eyes/lib/dashboard/role-experience.ts
Due: gitleaks, lint-staged, typecheck-staged

test(union-eyes): restore contract-strength navigation assertions
  apps/union-eyes/e2e/authenticated-role-navigation.spec.ts
  apps/union-eyes/e2e/helpers/auth.ts
  apps/union-eyes/e2e/helpers/navigation-assertions.ts
  apps/union-eyes/lib/dashboard/role-experience.test.ts
  apps/union-eyes/tests/e2e/_helpers.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): resolve 14 E2E failures — missing routes, navigation, and access
  apps/union-eyes/app/[locale]/dashboard/cases/page.tsx
  apps/union-eyes/app/[locale]/dashboard/documents/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/documents/page.tsx
  apps/union-eyes/app/[locale]/dashboard/grievances/page.tsx
  apps/union-eyes/app/[locale]/dashboard/inbox/page.tsx
  apps/union-eyes/app/[locale]/dashboard/priorities/page.tsx
  apps/union-eyes/app/[locale]/dashboard/work/page.tsx
  apps/union-eyes/e2e/governance/deployment-legitimacy-visibility.spec.ts
  apps/union-eyes/e2e/helpers/auth.ts
  apps/union-eyes/e2e/helpers/navigation-assertions.ts
  apps/union-eyes/e2e/stakeholder-demo-journeys.spec.ts
  apps/union-eyes/playwright.config.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): correct documents access boundary and smoke test resilience
  apps/union-eyes/app/[locale]/dashboard/documents/layout.tsx
  apps/union-eyes/e2e/smoke.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(contracts): register new dashboard pages in PAGE_ACCESS_MATRIX
  apps/union-eyes/app/[locale]/dashboard/governance/page.tsx
  tooling/contract-tests/governance-helpers.ts
  tooling/contract-tests/ue-persona-access.test.ts
Due: gitleaks, lint-staged, typecheck-staged

test(union-eyes): add focused sidebar-click navigation contract test
  apps/union-eyes/e2e/authenticated-role-navigation.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): resolve 2 remaining failures from second full suite run
  apps/union-eyes/app/[locale]/dashboard/strike-fund/page.tsx
  apps/union-eyes/e2e/authenticated-role-navigation.spec.ts
  apps/union-eyes/e2e/pilot-mode-gating.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): align strike-fund guards and harden flaky auth-e2e checks
  apps/union-eyes/app/[locale]/dashboard/strike-fund/[fundId]/page.tsx
  apps/union-eyes/app/[locale]/dashboard/strike-fund/page.tsx
  apps/union-eyes/e2e/authenticated-role-navigation.spec.ts
  apps/union-eyes/e2e/cape-features.spec.ts
  apps/union-eyes/e2e/helpers/auth.ts
  tooling/contract-tests/ue-persona-access.test.ts
Due: gitleaks, lint-staged, typecheck-staged

test(union-eyes): add transient-navigation retry helper for flaky cape/stakeholder E2E paths
  apps/union-eyes/e2e/cape-features.spec.ts
  apps/union-eyes/e2e/helpers/navigation-assertions.ts
  apps/union-eyes/e2e/stakeholder-demo-journeys.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(union-eyes): ignore playwright-report and test-results in eslint
  apps/union-eyes/eslint.config.mjs
Due: lint-staged

chore(deps): reconcile pnpm-lock.yaml after merge with main
  pnpm-lock.yaml
Due: gitleaks

chore(reports): regenerate doc-consistency + governance-audit reports on merged tree
  docs/documentation-index.md
  docs/ops/ownership-registry.md
  docs/ops/release-governance/release-governance-audit.md
  reports/doc-consistency.json
  reports/doc-consistency.md
  reports/documentation-index.json
  reports/ownership-registry.json
  reports/release-governance-audit.json
  reports/release-secret-audit.json
  reports/repo-excellence-audit.json
  reports/repo-excellence-audit.md
Due: gitleaks

fix(deps): narrow js-yaml override and drop dead gray-matter deps post-merge
  apps/console/package.json
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: gitleaks

fix(union-eyes): repair js-yaml Next alias + warm marketing route in e2e readiness
  apps/union-eyes/next-env.d.ts
  apps/union-eyes/next.config.ts
  apps/union-eyes/tests/e2e/_helpers.ts
Due: gitleaks, lint-staged, typecheck-staged

test(union-eyes): pre-warm pilot-excluded routes in gating spec beforeAll
  apps/union-eyes/e2e/pilot-mode-gating.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

test(union-eyes): move marketing warm-hit from shared helper to smoke spec
  apps/union-eyes/e2e/smoke.spec.ts
  apps/union-eyes/tests/e2e/_helpers.ts
Due: gitleaks, lint-staged, typecheck-staged

test(union-eyes): guard smoke tests against dev-server memory-restart window
  apps/union-eyes/e2e/smoke.spec.ts
  apps/union-eyes/playwright.config.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): use config-relative POSIX path for js-yaml Turbopack alias
  apps/union-eyes/next.config.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(docs): repair broken links, sync inventory counts, add union-eyes-demo env template
  README.business.md
  README.md
  apps/union-eyes-demo/.env.example
  apps/union-eyes-demo/reports/cupe4373-demo-instance-validation.md
  docs/union-eyes/reality-remediation/21_WAVE_0_VALIDATION_MATRIX.md
  docs/union-eyes/reality-remediation/23_WAVE_0_CORRECTION.md
  reports/phase0/task-j/README.md
  reports/phase0/wave-1-phase-a/PROGRESS.md
  reports/wave-0-artifact-proof.md
  reports/wave-0-build-isolation-proof.md
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

fix(security): bump pnpm overrides to close HIGH CVEs and waive base-image tar CVE
  .trivyignore
  package.json
  pnpm-lock.yaml
Due: gitleaks

chore(governance): register union-eyes-demo in catalog + platform-shell exceptions
  governance/exceptions/platform-adoption-exceptions.json
  governance/platform-exceptions.yaml
  governance/portfolio/product-catalog.json
Due: gitleaks

chore(governance): regenerate portfolio artifacts + GA maturity override for union-eyes-demo
  apps/abr/maturity.json
  apps/agrimo/maturity.json
  apps/cfo/maturity.json
  apps/console/maturity.json
  apps/control-plane/maturity.json
  apps/cora/maturity.json
  apps/flow/maturity.json
  apps/maestria/maturity.json
  apps/mobility-client-portal/maturity.json
  apps/mobility/maturity.json
  apps/nacp-exams/maturity.json
  apps/nzila-hq/maturity.json
  apps/orchestrator-api/maturity.json
  apps/partners/maturity.json
  apps/platform-admin/maturity.json
  apps/test-scaffold-gp/maturity.json
  apps/trade/maturity.json
  apps/trustcore-trustops/maturity.json
  apps/trustcore/maturity.json
  apps/union-eyes-demo/maturity.json
  apps/union-eyes/maturity.json
  apps/veridian-admin/maturity.json
  apps/veridian-care/maturity.json
  apps/veridian-site/maturity.json
  apps/web/maturity.json
  apps/weekone/maturity.json
  apps/zonga/maturity.json
  docs/platform/portfolio-matrix.md
  governance/ga/GA_CHECK_REPORT.md
  governance/ga/ga-check.json
  nzila-truth-manifest.json
  reports/portfolio-investor-view.md
  reports/portfolio-ops-dashboard.json
  reports/portfolio-status.json
  reports/portfolio-status.md
  tooling/ga-check/ga-check.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(governance): add union-eyes-demo to platform envelope + regen 32 manifests
  platform/products/_index.json
  platform/products/_portfolio-classification.json
  platform/products/_pricing-matrix.json
  platform/products/_telemetry-requirements.json
  platform/products/_trust-listings.json
  platform/products/abr.json
  platform/products/agrimo.json
  platform/products/cfo.json
  platform/products/console.json
  platform/products/control-plane.json
  platform/products/cora.json
  platform/products/envelope.config.json
  platform/products/flow.json
  platform/products/maestria.json
  platform/products/mobility-client-portal.json
  platform/products/mobility.json
  platform/products/nacp-exams.json
  platform/products/nzila-hq.json
  platform/products/orchestrator-api.json
  platform/products/partners.json
  platform/products/platform-admin.json
  platform/products/test-scaffold-gp.json
  platform/products/trade.json
  platform/products/trustcore-trustops.json
  platform/products/union-eyes-demo.json
  platform/products/union-eyes.json
  platform/products/veridian-admin.json
  platform/products/veridian-care.json
  platform/products/veridian-site.json
  platform/products/web.json
  platform/products/weekone.json
  platform/products/zonga.json
Due: gitleaks

test(union-eyes-demo): spy on logger.warn (real sink) in inert marker test
  apps/union-eyes-demo/lib/providers/__tests__/inert.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes,governance): stabilise no-fsm E2E helper + baseline reality/verify script aliases
  apps/union-eyes/e2e/helpers/navigation-assertions.ts
  tooling/scripts/baselines/script-alias-regression-baseline.json
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes,codeql): close residual E2E flakes + CodeQL js/incomplete-sanitization
  apps/union-eyes/e2e/cape-features.spec.ts
  apps/union-eyes/e2e/no-fsm-overexposure.spec.ts
  tooling/reality/anti-theatre-scan.ts
  tooling/reality/operational-build-scan.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes,e2e): revert waitUntil:'commit' — narrow-catch ERR_ABORTED instead
  apps/union-eyes/e2e/no-fsm-overexposure.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: apps/union-eyes/package.json to reduce vulnerabilities
  apps/union-eyes/package.json
Due: gitleaks

fix(security): bump next to 16.2.12 and cryptography to >=48.0.1 across apps
  apps/abr/backend/requirements.txt
  apps/abr/package.json
  apps/agrimo/backend/requirements.txt
  apps/agrimo/package.json
  apps/cfo/package.json
  apps/console/package.json
  apps/control-plane/package.json
  apps/cora/package.json
  apps/flow/package.json
  apps/maestria/package.json
  apps/mobility-client-portal/package.json
  apps/mobility/package.json
  apps/nacp-exams/package.json
  apps/nzila-hq/package.json
  apps/partners/package.json
  apps/platform-admin/package.json
  apps/test-scaffold-gp/package.json
  apps/trade/package.json
  apps/trustcore-trustops/package.json
  apps/trustcore/package.json
  apps/union-eyes-demo/package.json
  apps/union-eyes/backend/requirements.txt
  apps/union-eyes/package.json
  apps/veridian-admin/package.json
  apps/veridian-care/package.json
  apps/veridian-site/package.json
  apps/web/package.json
  apps/weekone/package.json
  apps/zonga/backend/requirements.txt
  apps/zonga/package.json
  tech-repo-scaffold/vertical-apps/template/backend/requirements.txt
  tech-repo-scaffold/vertical-apps/template/frontend/package.json
  tooling/backstage/templates/nextjs-app-template/skeleton/package.json
Due: gitleaks

fix(security,union-eyes): mitigate Aikido SAST findings on insights-parser
  apps/union-eyes/lib/__tests__/insights-parser.test.ts
  apps/union-eyes/lib/insights-parser.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(test-substrate): resolve cupe vocabulary from source
  apps/union-eyes/lib/__tests__/cupe-vocabulary-resolution.test.ts
  apps/union-eyes/vitest.config.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(evidence): refresh schema snapshot freshness
  tooling/db/schema-snapshot.json
Due: gitleaks

fix(ops): make Azure cost collection cross-platform
  package.json
  pnpm-lock.yaml
  tooling/contract-tests/cost-collector-hardening.test.ts
  tooling/scripts/collect-cost-attribution.mjs
Due: gitleaks, lint-staged, typecheck-staged

fix(zonga): stop recursive uncaught exception amplification
  apps/zonga/instrumentation.node.test.ts
  apps/zonga/instrumentation.node.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): correct optional queue health semantics
  apps/union-eyes/app/api/__tests__/queue-status.route.test.ts
  apps/union-eyes/app/api/__tests__/ready.route.test.ts
  apps/union-eyes/app/api/ready/route.ts
  apps/union-eyes/app/api/union-eyes/queue-status/route.ts
  apps/union-eyes/backend/auth_core/tests/test_health_contract.py
  apps/union-eyes/backend/auth_core/urls.py
  apps/union-eyes/backend/auth_core/views.py
Due: gitleaks, lint-staged, typecheck-staged

Path conditions:
  gitleaks: any of: *.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}
  lint-staged: any of: *.{ts,tsx,js,jsx,mjs}
  typecheck-staged: any of: *.{ts,tsx}
