Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

gitleaks:
  run: 'gitleaks detect --source . --config .gitleaks.toml --no-banner --verbose --staged
  
    '
  fail_text: 'ðŸ”’ Gitleaks detected potential secrets in staged files.
  
    Review the output above and remove or rotate any exposed credentials.
  
    See docs/hardening/secrets.md for guidance.
  
  ...

lint-staged:
  run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
  fail_text: Lint errors found. Run `pnpm lint` to see details.

typecheck-staged:
  run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
  fail_text: Type errors found. Run `pnpm typecheck` to see details.

fix(db): reconcile schema snapshot baseline
  tooling/contract-tests/schema-snapshot-sync.test.ts
  tooling/db/schema-snapshot.json
  tooling/db/schema-snapshot.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(sage): harden recipient invitation delivery with crash-safe notifications
  migrations/0040_sage_phase_8a_notification_outbox.sql
  packages/sage-core/src/delivery-crash-recovery.test.ts
  packages/sage-core/src/delivery-rate-limiter.test.ts
  packages/sage-core/src/delivery-rate-limiter.ts
  packages/sage-core/src/delivery-services.ts
  packages/sage-core/src/delivery-types.ts
  packages/sage-core/src/index.ts
  packages/sage-core/src/notification-dispatcher.ts
  packages/sage-core/src/notification-encryption-comprehensive.test.ts
  packages/sage-core/src/notification-encryption.ts
  packages/sage-core/src/postgres-mappers.ts
  packages/sage-core/src/postgres-repository.ts
  packages/sage-core/src/repository.ts
  packages/sage-core/src/session-token-hardening.test.ts
Due: gitleaks, lint-staged, typecheck-staged

docs(sage): complete final implementation proof
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/00-proof-charter.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/01-environment-and-version-record.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/02-deployment-and-migration-proof.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/03-positive-flow-proof.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/04-adversarial-flow-proof.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/05-authorization-and-rls-proof.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/06-delivery-and-notification-proof.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/07-retention-hold-destruction-proof.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/08-observability-and-incident-proof.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/09-backup-restore-proof.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/10-accessibility-and-localization-proof.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/11-security-and-privacy-proof.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/12-performance-and-reliability-proof.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/13-defect-and-remediation-ledger.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/14-final-gate-matrix.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/15-launch-governance-decision.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/evidence-manifest.json
  tooling/contract-tests/sage-proof-run-consistency.test.ts
Due: gitleaks, lint-staged, typecheck-staged

docs(sage): complete final implementation proof
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/00-proof-charter.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/01-environment-and-version-record.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/02-deployment-and-migration-proof.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/03-positive-flow-proof.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/04-adversarial-flow-proof.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/05-authorization-and-rls-proof.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/06-delivery-and-notification-proof.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/07-retention-hold-destruction-proof.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/08-observability-and-incident-proof.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/09-backup-restore-proof.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/10-accessibility-and-localization-proof.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/11-security-and-privacy-proof.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/12-performance-and-reliability-proof.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/13-defect-and-remediation-ledger.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/14-final-gate-matrix.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/15-launch-governance-decision.md
  docs/public-service/operations/proof-runs/004-sage-final-implementation-proof/evidence-manifest.json
  tooling/contract-tests/sage-proof-run-consistency.test.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

ci(deploy-staging): build promotable artifact on push to main (no deploy)
  .github/workflows/deploy-staging.yml
Due: gitleaks

chore(tools): make lint-staged-eslint script Windows-safe
  scripts/lint-staged-eslint.mjs
Due: lint-staged

fix(union-eyes,sage-core): repair pre-existing test failures uncovered during Gap 3 workspace validation
  apps/union-eyes/app/api/__tests__/all-routes-import-matrix.test.ts
  apps/union-eyes/app/api/__tests__/route-invocation-helpers.ts
  apps/union-eyes/lib/__tests__/insights-parser.test.ts
  apps/union-eyes/lib/whitepaper/__tests__/source-path.test.ts
  packages/sage-core/src/delivery.test.ts
  packages/sage-core/src/notification-dispatcher.ts
Due: gitleaks, lint-staged, typecheck-staged

docs(courtlens): Phase 0 verified refactor plan + legacy inventory + branch-base contract
  docs/courtlens/legacy-inventory-review.json
  docs/courtlens/legacy-inventory-review.schema.json
  docs/courtlens/legacy-inventory.csv
  docs/courtlens/legacy-inventory.manifest.json
  docs/courtlens/legacy-inventory.schema.json
  docs/courtlens/phase-1-fr-review-ledger.schema.json
  docs/courtlens/refactor-branch-base.json
  docs/courtlens/refactor-plan.md
  docs/documentation-index.md
  docs/ops/ownership-registry.md
  docs/ops/release-governance/release-governance-audit.md
  reports/doc-consistency.json
  reports/doc-consistency.md
  reports/documentation-index.json
  reports/ownership-registry.json
  reports/release-governance-audit.json
  reports/release-secret-audit.json
  reports/repo-excellence-audit.json
  reports/repo-excellence-audit.md
  scripts/courtlens/__init__.py
  scripts/courtlens/build_legacy_inventory.py
  scripts/courtlens/tests/__init__.py
  scripts/courtlens/tests/conftest.py
  scripts/courtlens/tests/test_build_legacy_inventory.py
Due: gitleaks

feat(abr): close CourtLens Gap 3 implementation and proof tooling
  apps/abr/app/[locale]/dashboard/courtlens/matters/[matterId]/ReviewPacketExportControls.tsx
  apps/abr/app/[locale]/dashboard/courtlens/matters/[matterId]/__tests__/ReviewPacketExportControls.test.tsx
  apps/abr/app/[locale]/dashboard/courtlens/matters/[matterId]/page.tsx
  apps/abr/app/[locale]/dashboard/courtlens/matters/__tests__/pages.test.tsx
  apps/abr/app/[locale]/layout.tsx
  apps/abr/app/api/courtlens/matters/[matterId]/review-packet/__tests__/route.test.ts
  apps/abr/app/api/courtlens/matters/[matterId]/review-packet/route.ts
  apps/abr/e2e/courtlens-review-packet.spec.mjs
  apps/abr/messages/en-CA.json
  apps/abr/messages/fr-CA.json
  apps/abr/modules/incidents/__tests__/courtlens-review-packet.test.ts
  apps/abr/modules/incidents/courtlens-review-packet.ts
  apps/abr/next-env.d.ts
  apps/abr/playwright.config.ts
  apps/abr/scripts/courtlens-gap3-fixture.ts
  artifacts/courtlens-gap3-closure/canonical-schema-report.json
  artifacts/courtlens-gap3-closure/credential-sanitization.json
  artifacts/courtlens-gap3-closure/final-closure-report.json
  artifacts/courtlens-gap3-closure/live/en-json-body.json
  artifacts/courtlens-gap3-closure/live/en-json-headers.txt
  artifacts/courtlens-gap3-closure/live/fr-md-body.md
  artifacts/courtlens-gap3-closure/live/fr-md-headers.txt
  artifacts/courtlens-gap3-fixture/cleanup-report.json
  docs/courtlens/phase-2/demo-smoke-gate.md
  docs/courtlens/phase-2/tenant-matter-queue-api.md
  docs/courtlens/phase-2/tenant-matter-ui.md
Due: gitleaks, lint-staged, typecheck-staged

fix(abr): harden CourtLens review-packet audit persistence and proof coverage
  apps/abr/app/api/abr/incidents/[id]/actions/route.ts
  apps/abr/app/api/abr/incidents/[id]/assign/route.ts
  apps/abr/app/api/abr/incidents/[id]/route.ts
  apps/abr/app/api/abr/incidents/[id]/transition/route.ts
  apps/abr/app/api/abr/incidents/route.ts
  apps/abr/app/api/courtlens/matters/[matterId]/ai-summary-status/route.ts
  apps/abr/app/api/courtlens/matters/[matterId]/referral-status/route.ts
  apps/abr/app/api/courtlens/matters/[matterId]/review-packet/__tests__/route.db.integration.test.ts
  apps/abr/app/api/courtlens/matters/[matterId]/review-packet/route.ts
  apps/abr/app/api/courtlens/matters/[matterId]/route.ts
  apps/abr/app/api/courtlens/matters/[matterId]/transition/route.ts
  apps/abr/app/api/courtlens/matters/route.ts
  apps/abr/app/api/courtlens/public-intake/route.ts
  apps/abr/lib/audit-log.ts
  apps/abr/scripts/__tests__/courtlens-gap3-fixture.test.ts
  apps/abr/scripts/courtlens-gap3-fixture.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(abr): separate vitest/playwright runners and stabilize audit org resolution
  apps/abr/lib/audit-log.ts
  apps/abr/package.json
  apps/abr/playwright.config.ts
  apps/abr/vitest.config.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(abr,audit): persist canonical hash timestamp + version for independent recomputation (CourtLens Gap 3)
  apps/abr/lib/__tests__/audit-log.canonical.test.ts
  apps/abr/lib/audit-log.ts
  packages/db/drizzle/0032_audit_events_canonical_hash.sql
  packages/db/src/schema/operations.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(db): regenerate schema snapshot for audit_events.occurred_at + hash_version
  tooling/db/schema-snapshot.json
Due: gitleaks

docs(courtlens): Phase 0 verified refactor plan + legacy inventory + branch-base contract
  docs/courtlens/legacy-inventory-review.json
  docs/courtlens/legacy-inventory-review.schema.json
  docs/courtlens/legacy-inventory.csv
  docs/courtlens/legacy-inventory.manifest.json
  docs/courtlens/legacy-inventory.schema.json
  docs/courtlens/phase-1-fr-review-ledger.schema.json
  docs/courtlens/refactor-branch-base.json
  docs/courtlens/refactor-plan.md
  docs/documentation-index.md
  docs/ops/ownership-registry.md
  docs/ops/release-governance/release-governance-audit.md
  reports/doc-consistency.json
  reports/doc-consistency.md
  reports/documentation-index.json
  reports/ownership-registry.json
  reports/phase0/scope-report.json
  reports/release-governance-audit.json
  reports/release-secret-audit.json
  reports/repo-excellence-audit.json
  reports/repo-excellence-audit.md
  scripts/courtlens/__init__.py
  scripts/courtlens/build_legacy_inventory.py
  scripts/courtlens/tests/__init__.py
  scripts/courtlens/tests/conftest.py
  scripts/courtlens/tests/test_build_legacy_inventory.py
Due: gitleaks

chore(security): allowlist CourtLens e2e local-dev DB fallback fingerprint
  .gitleaksignore
Due: none

feat(abr): close CourtLens Gap 3 implementation (product only)
  apps/abr/app/[locale]/dashboard/courtlens/matters/[matterId]/ReviewPacketExportControls.tsx
  apps/abr/app/[locale]/dashboard/courtlens/matters/[matterId]/__tests__/ReviewPacketExportControls.test.tsx
  apps/abr/app/[locale]/dashboard/courtlens/matters/[matterId]/page.tsx
  apps/abr/app/[locale]/dashboard/courtlens/matters/__tests__/pages.test.tsx
  apps/abr/app/[locale]/layout.tsx
  apps/abr/app/api/courtlens/matters/[matterId]/review-packet/__tests__/route.test.ts
  apps/abr/app/api/courtlens/matters/[matterId]/review-packet/route.ts
  apps/abr/e2e/courtlens-review-packet.spec.mjs
  apps/abr/messages/en-CA.json
  apps/abr/messages/fr-CA.json
  apps/abr/modules/incidents/__tests__/courtlens-review-packet.test.ts
  apps/abr/modules/incidents/courtlens-review-packet.ts
  apps/abr/next-env.d.ts
  apps/abr/playwright.config.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(abr): harden CourtLens review-packet audit persistence (product only)
  apps/abr/app/api/abr/incidents/[id]/actions/route.ts
  apps/abr/app/api/abr/incidents/[id]/assign/route.ts
  apps/abr/app/api/abr/incidents/[id]/route.ts
  apps/abr/app/api/abr/incidents/[id]/transition/route.ts
  apps/abr/app/api/abr/incidents/route.ts
  apps/abr/app/api/courtlens/matters/[matterId]/ai-summary-status/route.ts
  apps/abr/app/api/courtlens/matters/[matterId]/referral-status/route.ts
  apps/abr/app/api/courtlens/matters/[matterId]/review-packet/__tests__/route.db.integration.test.ts
  apps/abr/app/api/courtlens/matters/[matterId]/review-packet/route.ts
  apps/abr/app/api/courtlens/matters/[matterId]/route.ts
  apps/abr/app/api/courtlens/matters/[matterId]/transition/route.ts
  apps/abr/app/api/courtlens/matters/route.ts
  apps/abr/app/api/courtlens/public-intake/route.ts
  apps/abr/lib/audit-log.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(abr,audit): persist canonical hash timestamp and version for independent recomputation
  apps/abr/lib/__tests__/audit-log.canonical.test.ts
  apps/abr/lib/audit-log.ts
  packages/db/drizzle/0032_audit_events_canonical_hash.sql
  packages/db/src/schema/operations.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(db): regenerate schema snapshot for audit_events.occurred_at and hash_version
  tooling/db/schema-snapshot.json
Due: gitleaks

docs(courtlens): Phase 0 v3 planning artifacts
  docs/courtlens/gap3-product-commit-disposition.json
  docs/courtlens/legacy-inventory-review.json
  docs/courtlens/legacy-inventory-review.schema.json
  docs/courtlens/legacy-inventory.csv
  docs/courtlens/legacy-inventory.manifest.json
  docs/courtlens/legacy-inventory.schema.json
  docs/courtlens/phase-1-fr-review-ledger.schema.json
  docs/courtlens/refactor-branch-base.json
  docs/courtlens/refactor-plan.md
  scripts/courtlens/__init__.py
  scripts/courtlens/build_legacy_inventory.py
  scripts/courtlens/build_review_ledger.py
  scripts/courtlens/build_scope_report.py
  scripts/courtlens/tests/__init__.py
  scripts/courtlens/tests/conftest.py
  scripts/courtlens/tests/test_build_legacy_inventory.py
  scripts/courtlens/tests/test_build_review_ledger.py
Due: gitleaks

docs(courtlens): add Phase 0 v3 scope-report
  reports/phase0/scope-report.json
Due: gitleaks

chore(courtlens,docs,gov): regenerate baselines from phase0-v3 HEAD
  docs/documentation-index.md
  docs/ops/ownership-registry.md
  docs/ops/release-governance/release-governance-audit.md
  reports/doc-consistency.json
  reports/doc-consistency.md
  reports/documentation-index.json
  reports/ownership-registry.json
  reports/release-governance-audit.json
  reports/release-secret-audit.json
  reports/repo-excellence-audit.json
  reports/repo-excellence-audit.md
  scripts/courtlens/build_legacy_inventory.py
  scripts/courtlens/build_scope_report.py
  scripts/courtlens/tests/test_build_legacy_inventory.py
  scripts/courtlens/tests/test_build_review_ledger.py
Due: gitleaks

chore(courtlens): three-way test:fast differential (main/int-v2/phase0-v3)
  reports/phase0/test-fast-differential.json
  scripts/courtlens/build_test_fast_differential.py
Due: gitleaks

chore(courtlens): reconcile scope-report vs PR #653 file list (31 files, verdict=RECONCILED)
  reports/phase0/scope-report.json
Due: gitleaks

chore(ci): unblock #652 CI (branch policy + gitleaks self-leak)
  .gitleaksignore
  scripts/release/validate-branch-tag-policy.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(security): allowlist historical .gitleaksignore self-match (commit d94ef09b1)
  .gitleaksignore
Due: none

fix(security): pin websocket-driver + adm-zip via pnpm overrides; remove expired protobufjs waivers
  package.json
  pnpm-lock.yaml
  tooling/security/supply-chain-policy.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(ops): regenerate ops evidence snapshot (fixes stale-snapshot CI failure)
  reports/ops/snapshot.json
  reports/ops/snapshot.md
Due: gitleaks

fix(sage-core): inject clock into NotificationDispatcher to stop time-drift dead-lettering
  packages/sage-core/src/delivery.test.ts
  packages/sage-core/src/notification-dispatcher.ts
Due: gitleaks, lint-staged, typecheck-staged

Path conditions:
  gitleaks: any of: *.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}
  lint-staged: any of: *.{ts,tsx,js,jsx,mjs}
  typecheck-staged: any of: *.{ts,tsx}
