Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

gitleaks:
  run: 'gitleaks detect --source . --config .gitleaks.toml --no-banner --verbose --staged
  
    '
  fail_text: 'ðŸ”’ Gitleaks detected potential secrets in staged files.
  
    Review the output above and remove or rotate any exposed credentials.
  
    See docs/hardening/secrets.md for guidance.
  
  ...

lint-staged:
  run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
  fail_text: Lint errors found. Run `pnpm lint` to see details.

typecheck-staged:
  run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
  fail_text: Type errors found. Run `pnpm typecheck` to see details.

fix(gitops): make staging DNS preflight non-blocking
  .github/workflows/gitops-deploy.yml
Due: gitleaks

fix(gitops): make staging DNS preflight non-blocking (#417)
  .github/workflows/gitops-deploy.yml
Due: gitleaks

fix(gitops): scope smoke checks to deployed apps
  .github/workflows/gitops-deploy.yml
Due: gitleaks

fix(gitops): scope smoke checks to deployed apps (#418)
  .github/workflows/gitops-deploy.yml
Due: gitleaks

fix(ci): apply lint and contract gate remediations
  apps/nacp-exams/hooks/useExamBoardCompliance.ts
  apps/nacp-exams/lib/compliance/exam-board-validator.ts
  apps/union-eyes/app/api/auth/mfa/enroll/route.ts
  apps/union-eyes/lib/cognition/ue-adapter.ts
  governance/platform-package-owners.yaml
  ops/outputs/data-residency-runtime.json
  ops/outputs/governance-runtime-budget.json
  ops/outputs/onboarding-kpis.json
  ops/outputs/strategic-resilience-report.json
  packages/platform-cognition-core/src/__tests__/cognition.test.ts
  packages/platform-cognition-core/src/utils.ts
  packages/ue-cognition/src/__tests__/ue-cognition.test.ts
  tests/capital-engine-v2.spec.ts
  tooling/contract-tests/ue-persona-access.test.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(staging-seed): add Phase 1 shared seed framework + CLI
  apps/zonga/tests/launch-readiness.test.ts
  package.json
  pnpm-lock.yaml
  tooling/staging-seed/README.md
  tooling/staging-seed/eslint.config.mjs
  tooling/staging-seed/package.json
  tooling/staging-seed/src/cli.ts
  tooling/staging-seed/src/core/profiles.ts
  tooling/staging-seed/src/core/registry.ts
  tooling/staging-seed/src/core/reporter.ts
  tooling/staging-seed/src/core/rng.ts
  tooling/staging-seed/src/core/runner.ts
  tooling/staging-seed/src/core/time.ts
  tooling/staging-seed/src/core/types.ts
  tooling/staging-seed/src/index.ts
  tooling/staging-seed/src/shared/activity-logs.ts
  tooling/staging-seed/src/shared/events.ts
  tooling/staging-seed/src/shared/index.ts
  tooling/staging-seed/src/shared/invoices.ts
  tooling/staging-seed/src/shared/notifications.ts
  tooling/staging-seed/src/shared/organizations.ts
  tooling/staging-seed/src/shared/people.ts
  tooling/staging-seed/src/shared/tickets.ts
  tooling/staging-seed/src/shared/users.ts
  tooling/staging-seed/tests/cli.test.ts
  tooling/staging-seed/tests/profiles.test.ts
  tooling/staging-seed/tests/rng.test.ts
  tooling/staging-seed/tests/runner.test.ts
  tooling/staging-seed/tests/shared.test.ts
  tooling/staging-seed/tests/time.test.ts
  tooling/staging-seed/tsconfig.json
  tooling/staging-seed/vitest.config.ts
  vitest.config.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(staging-seed): Phase 2 union-eyes reference seeder
  pnpm-lock.yaml
  tooling/staging-seed/src/cli.ts
  tooling/staging-seed/src/seeders/union-eyes.ts
  tooling/staging-seed/tests/cli.test.ts
  tooling/staging-seed/tests/seeders.union-eyes.test.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(staging-seed): Phase 2.1 — flow + zonga reference seeders
  tooling/staging-seed/src/cli.ts
  tooling/staging-seed/src/seeders/flow.ts
  tooling/staging-seed/src/seeders/zonga.ts
  tooling/staging-seed/tests/seeders.flow-zonga.test.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(staging-seed): Phase 2.2 - weekone + agrimo + cora + faircase reference seeders
  apps/union-eyes/lib/staging-seed/index.ts
  tooling/staging-seed/src/cli.ts
  tooling/staging-seed/src/seeders/agrimo.ts
  tooling/staging-seed/src/seeders/cora.ts
  tooling/staging-seed/src/seeders/faircase.ts
  tooling/staging-seed/src/seeders/weekone.ts
  tooling/staging-seed/tests/seeders.batch2.test.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(staging-seed): Phase 2.3 - console + control-plane reference seeders (9/9 apps)
  tooling/staging-seed/src/cli.ts
  tooling/staging-seed/src/seeders/console.ts
  tooling/staging-seed/src/seeders/control-plane.ts
  tooling/staging-seed/tests/seeders.batch3.test.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(staging-seed): refresh pnpm-lock.yaml after dropping @nzila/staging-seed from union-eyes
  pnpm-lock.yaml
Due: gitleaks

chore(portfolio): regenerate portfolio-matrix.md (refresh generated date)
  docs/platform/portfolio-matrix.md
Due: gitleaks

chore(portfolio): regenerate all drifted portfolio artifacts (today=2026-04-24)
  apps/abr/maturity.json
  apps/agrimo/maturity.json
  apps/cfo/maturity.json
  apps/console/maturity.json
  apps/control-plane/maturity.json
  apps/cora/maturity.json
  apps/flow/maturity.json
  apps/mobility-client-portal/maturity.json
  apps/mobility/maturity.json
  apps/nacp-exams/maturity.json
  apps/orchestrator-api/maturity.json
  apps/partners/maturity.json
  apps/platform-admin/maturity.json
  apps/test-scaffold-gp/maturity.json
  apps/trade/maturity.json
  apps/union-eyes/maturity.json
  apps/web/maturity.json
  apps/weekone/maturity.json
  apps/zonga/maturity.json
  nzila-truth-manifest.json
  reports/portfolio-investor-view.md
  reports/portfolio-ops-dashboard.json
  reports/portfolio-status.json
  reports/portfolio-status.md
Due: gitleaks

feat(staging-seed): Phase 3A.0 — persistence foundation (safety + JSONB + audit + reset)
  tooling/staging-seed/migrations/001_staging_seed_tables.sql
  tooling/staging-seed/src/cli.ts
  tooling/staging-seed/src/core/runner.ts
  tooling/staging-seed/src/core/types.ts
  tooling/staging-seed/src/db/adapter.ts
  tooling/staging-seed/src/db/index.ts
  tooling/staging-seed/src/db/persister.ts
  tooling/staging-seed/src/db/postgres-adapter.ts
  tooling/staging-seed/src/db/safety.ts
  tooling/staging-seed/src/index.ts
  tooling/staging-seed/src/seeders/_persist-helpers.ts
  tooling/staging-seed/src/seeders/flow.ts
  tooling/staging-seed/src/seeders/union-eyes.ts
  tooling/staging-seed/src/seeders/weekone.ts
  tooling/staging-seed/src/seeders/zonga.ts
  tooling/staging-seed/tests/db/persister.test.ts
  tooling/staging-seed/tests/db/safety.test.ts
  tooling/staging-seed/tests/seeders.batch2.test.ts
  tooling/staging-seed/tests/seeders.flow-zonga.test.ts
  tooling/staging-seed/tests/seeders.union-eyes.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): green up doc-hygiene, schema-drift, and contract tests on PR #422
  docs/commercial/close-package/PILOT_ROI_CALCULATOR.md
  docs/commercial/trust-center/README.md
  governance/exceptions/no-console.json
  tooling/contract-tests/api-authz-coverage.test.ts
  tooling/contract-tests/api-route-otel.test.ts
  tooling/contract-tests/api-schema-contracts.test.ts
  tooling/contract-tests/db-boundary.test.ts
  tooling/contract-tests/mutation-idempotency.test.ts
  tooling/contract-tests/org-isolation-runtime.test.ts
  tooling/contract-tests/org-isolation.test.ts
  tooling/contract-tests/org-scope-enforcement.test.ts
  tooling/contract-tests/vertical-governance.test.ts
  tooling/db/schema-snapshot.json
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): add staging-seed dep + exhaustive switch + exclude .next from vitest
  apps/union-eyes/lib/staging-seed/index.ts
  apps/union-eyes/package.json
  apps/union-eyes/vitest.config.ts
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

chore(seed): remove 3 legacy auth seed scripts; orient docs to staging-seed framework
  apps/flow/docs/STAGING_SEED_GUIDE.md
  docs/governance/APP_GOLD_STANDARD.md
  docs/platform/AUTH_MIGRATION_STATUS.md
  fixtures/cupe/README.md
  scripts/README.md
  scripts/seed-admin-user.mjs
  scripts/seed-test-auth-accounts.mjs
  scripts/seed-zonga-auth-accounts.mjs
Due: gitleaks, lint-staged

chore(seed): legacy seed cleanup phase B - deprecation banners + framework callouts
  apps/flow/lib/seed-flow-staging.ts
  apps/union-eyes/scripts/seed-cba-intelligence.ts
  apps/union-eyes/scripts/seed-cupe-pilot.mjs
  apps/union-eyes/scripts/seed-employer-execution-marathon.ts
  apps/union-eyes/scripts/seed-union-eyes-demo.ts
  docs/commercial/sales-kit/02-45-minute-demo-script.md
  docs/commercial/sales-kit/AUTH_SCREENSHOT_INDEX.md
  docs/commercial/vendor-risk-pack/access-control-model.md
  docs/governance/CBA_INTELLIGENCE_VALIDATION_REPORT.md
Due: gitleaks, lint-staged, typecheck-staged

feat(seed): legacy seed cleanup phase C - unified legacy delegation CLI
  apps/union-eyes/scripts/seed-cba-intelligence.ts
  apps/union-eyes/scripts/seed-cupe-pilot.mjs
  apps/union-eyes/scripts/seed-union-eyes-demo.ts
  package.json
  tooling/staging-seed/README.md
  tooling/staging-seed/src/cli.ts
  tooling/staging-seed/src/legacy-bridge/registry.ts
  tooling/staging-seed/src/legacy-bridge/runner.ts
  tooling/staging-seed/tests/legacy.test.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(seed): phase D - migrate CBA Intelligence shapes into framework seeder
  docs/governance/CBA_INTELLIGENCE_VALIDATION_REPORT.md
  tooling/staging-seed/src/seeders/union-eyes.ts
  tooling/staging-seed/tests/seeders.union-eyes.test.ts
Due: gitleaks, lint-staged, typecheck-staged

test(zonga): end-to-end AWS smoke + CDN misconfig finding
  packages/zonga-streaming-aws/scripts/smoke-aws-e2e.mjs
  reports/ZONGA_AWS_SETUP_COMPLETE.md
Due: gitleaks, lint-staged

fix(zonga): remediate CloudFront origin misconfig - end-to-end now green
  packages/zonga-streaming-aws/scripts/fix-cloudfront-origin.mjs
  reports/ZONGA_AWS_SETUP_COMPLETE.md
Due: gitleaks, lint-staged

feat(union-eyes): complete Commercial Enablement Pass — trust/procurement acceleration (#425)
  .github/workflows/access-review-gate.yml
  .github/workflows/dr-drill-reminder.yml
  apps/union-eyes/app/[locale]/dashboard/ops/performance/page.tsx
  apps/union-eyes/maturity.json
  artifacts/commercial/business-continuity-summary.md
  artifacts/commercial/executive-brief.md
  artifacts/commercial/pilot-proposal.md
  artifacts/commercial/procurement-pack.md
  artifacts/commercial/security-onepager.md
  artifacts/commercial/trust-center-summary.md
  docs/ops/azure-monitor/union-eyes-route-performance.workbook.json
  docs/public/procurement-statements.md
  docs/public/restore-readiness-summary.md
  docs/public/trust-center.md
  docs/templates/business-continuity-summary.md
  docs/templates/executive-brief.md
  docs/templates/pilot-proposal.md
  docs/templates/procurement-pack.md
  docs/templates/security-onepager.md
  docs/templates/trust-center-summary.md
  docs/union-eyes/dr/blob-recovery.md
  docs/union-eyes/dr/continuity-matrix.md
  docs/union-eyes/dr/database-restore.md
  docs/union-eyes/dr/restore-drill-runbook.md
  docs/union-eyes/dr/rollback-procedure.md
  package.json
  reports/compliance/access-review/2026-Q2.json
  reports/compliance/access-review/2026-Q2.md
  reports/db/restore-drill-2026-04.json
  reports/dr/live-restore-drill-template.md
  reports/dr/restore-drill-2026-04-24.json
  reports/dr/restore-drill-2026-04-24.md
  reports/ops/performance-summary.md
  scripts/db/restore-drill.ts
  scripts/dr/drill-checklist.ts
  scripts/dr/drill-plan.ts
  scripts/dr/drill-report.ts
  scripts/ue/access-review-generate.ts
  scripts/ue/access-review-validate.ts
  scripts/ue/generate-commercial-docs.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(post-425): fix link-check + regen portfolio artifacts
  apps/abr/maturity.json
  apps/agrimo/maturity.json
  apps/cfo/maturity.json
  apps/console/maturity.json
  apps/control-plane/maturity.json
  apps/cora/maturity.json
  apps/flow/maturity.json
  apps/mobility-client-portal/maturity.json
  apps/mobility/maturity.json
  apps/nacp-exams/maturity.json
  apps/orchestrator-api/maturity.json
  apps/partners/maturity.json
  apps/platform-admin/maturity.json
  apps/test-scaffold-gp/maturity.json
  apps/trade/maturity.json
  apps/union-eyes/maturity.json
  apps/web/maturity.json
  apps/weekone/maturity.json
  apps/zonga/maturity.json
  docs/commercial/close-package/PILOT_ROI_CALCULATOR.md
  docs/commercial/trust-center/README.md
  docs/platform/portfolio-matrix.md
  nzila-truth-manifest.json
  reports/portfolio-investor-view.md
  reports/portfolio-ops-dashboard.json
  reports/portfolio-status.json
  reports/portfolio-status.md
Due: gitleaks

fix(ue): map ops/performance page + exclude .next from UE vitest
  apps/union-eyes/vitest.config.ts
  tooling/contract-tests/ue-persona-access.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: resolve contract governance and db-boundary regressions
  apps/flow/app/[locale]/dashboard/page.tsx
  apps/flow/app/api/webhooks/stripe/route.ts
  apps/flow/lib/dashboard-aggregates.ts
  apps/flow/lib/stripe-webhook-persistence.ts
  apps/weekone/app/api/analytics/route.ts
  apps/weekone/app/api/collaborators/invite/route.ts
  apps/weekone/app/api/newsletter/route.ts
  apps/weekone/app/api/onboarding/activation/route.ts
  apps/weekone/app/api/templates/download/route.ts
  apps/weekone/app/api/waitlist/route.ts
  governance/exceptions/mutation-idempotency.json
  tooling/contract-tests/api-authz-coverage.test.ts
  tooling/contract-tests/api-route-otel.test.ts
  tooling/contract-tests/org-isolation-runtime.test.ts
  tooling/contract-tests/org-isolation.test.ts
  tooling/contract-tests/org-scope-enforcement.test.ts
  tooling/contract-tests/vertical-governance.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: resolve flow CI regressions and refresh schema snapshot
  apps/flow/app/[locale]/dashboard/page.tsx
  apps/flow/app/api/webhooks/stripe/route.ts
  tooling/db/schema-snapshot.json
Due: gitleaks, lint-staged, typecheck-staged

fix(zonga): type report paths in launch readiness test
  apps/zonga/tests/launch-readiness.test.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(repo-inventory): sync inventory to 2026-04-24 state
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

perf: remove framer-motion from marketing site components
  apps/web/components/public/AnimatedCounter.tsx
  apps/web/components/public/BackToTop.tsx
  apps/web/components/public/Navigation.tsx
  apps/web/components/public/PageTransition.tsx
  apps/web/components/public/ScrollReveal.tsx
Due: gitleaks, lint-staged, typecheck-staged

perf: remove framer-motion from marketing site components (#427)
  apps/web/components/public/AnimatedCounter.tsx
  apps/web/components/public/BackToTop.tsx
  apps/web/components/public/Navigation.tsx
  apps/web/components/public/PageTransition.tsx
  apps/web/components/public/ScrollReveal.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(web): remove unused framer-motion dependency
  apps/web/package.json
Due: gitleaks

fix(web): remove unused framer-motion dependency (#428)
  apps/web/package.json
Due: gitleaks

Path conditions:
  gitleaks: any of: *.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}
  lint-staged: any of: *.{ts,tsx,js,jsx,mjs}
  typecheck-staged: any of: *.{ts,tsx}
