Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

lefthook.yml:

# lefthook.yml â€” Pre-commit guardrails for Nzila Automation monorepo
# Docs: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true

  commands:
    gitleaks:
      glob: "*.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}"
      run: >
        gitleaks detect
        --source .
        --config .gitleaks.toml
        --no-banner
        --verbose
        --staged
      fail_text: |
        ðŸ”’ Gitleaks detected potential secrets in staged files.
        Review the output above and remove or rotate any exposed credentials.
        See docs/hardening/secrets.md for guidance.
        Install gitleaks: https://github.com/gitleaks/gitleaks#installing

    lint-staged:
      glob: "*.{ts,tsx,js,jsx,mjs}"
      run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Lint errors found. Run `pnpm lint` to see details."

    typecheck-staged:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Type errors found. Run `pnpm typecheck` to see details."

pre-push:
  commands:
    contract-tests:
      run: >
        npx vitest run
        --config tooling/contract-tests/vitest.config.ts
        --dir tooling/contract-tests
      fail_text: |
        Contract tests failed. Run `pnpm contract-tests` to see details.
        Do not push code that violates repo invariants.

feat(marketing): primary CTAs route to /institutional-continuity-risk landing
  apps/union-eyes/app/(marketing)/components/animated-cta.tsx
  apps/union-eyes/app/(marketing)/components/role-page-content.tsx
  apps/union-eyes/app/[locale]/(marketing)/executive-intelligence/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/features/ai-workbench/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/features/analytics/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/features/grievance-tracking/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/features/inbox/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/features/member-portal/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/features/priorities/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/insights/category/[slug]/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/insights/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/institutional-continuity/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/pricing/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/solutions/executive-leadership/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/solutions/governance-leadership/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/solutions/labour-leadership/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/solutions/operations-leadership/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/solutions/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/solutions/procurement/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/solutions/technology-leadership/page.tsx
  apps/union-eyes/app/[locale]/page.tsx
  apps/union-eyes/messages/en-CA.json
  apps/union-eyes/messages/en.json
  apps/union-eyes/messages/fr-CA.json
Due: gitleaks, lint-staged, typecheck-staged

feat(marketing): complete CTA migration to /institutional-continuity-risk
  apps/union-eyes/app/(marketing)/contact/contact-form.tsx
  apps/union-eyes/app/[locale]/(marketing)/case-studies/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/conventions/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/for-clc/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/locale-role-page-content.tsx
  apps/union-eyes/app/[locale]/(marketing)/locale-site-navigation.tsx
  apps/union-eyes/app/[locale]/(marketing)/proof/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/story/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/trust/page.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): resolve typecheck, e2e, and ga-check failures on PR 543
  apps/console/lib/proof-center-ports-db.ts
  apps/union-eyes/app/[locale]/(marketing)/pricing/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/story/page.tsx
  apps/union-eyes/e2e/stakeholder-demo-journeys.spec.ts
  apps/union-eyes/messages/en-CA.json
  apps/union-eyes/messages/en.json
  apps/union-eyes/messages/fr-CA.json
  apps/union-eyes/messages/fr.json
  apps/union-eyes/messages/it.json
  apps/union-eyes/messages/pt.json
  docs/documentation-index.md
  docs/ops/ownership-registry.md
  docs/ops/release-governance/release-governance-audit.md
  governance/ga/GA_CHECK_REPORT.md
  governance/ga/ga-check.json
  reports/doc-consistency.json
  reports/doc-consistency.md
  reports/documentation-index.json
  reports/ownership-registry.json
  reports/release-governance-audit.json
  reports/release-secret-audit.json
  reports/repo-excellence-audit.json
  reports/repo-excellence-audit.md
Due: gitleaks, lint-staged, typecheck-staged

Fix audit policy and generated scan noise
  apps/union-eyes/eslint.config.mjs
  scripts/build-ownership-registry.ts
  scripts/repo/build-excellence-audit.ts
  tooling/contract-tests/invariants.test.ts
  tooling/security/supply-chain-policy.ts
Due: gitleaks, lint-staged, typecheck-staged

Fix CI gates after main consolidation
  apps/union-eyes/lib/oci/benchmark/sectorBaselines.ts
  pnpm-lock.yaml
  tooling/contract-tests/org-isolation.test.ts
  tooling/contract-tests/org-scope-enforcement.test.ts
  tooling/contract-tests/org-semantic-convergence.test.ts
  tooling/contract-tests/ue-persona-access.test.ts
  tooling/contract-tests/vertical-governance.test.ts
Due: gitleaks, lint-staged, typecheck-staged

Fix union-eyes E2E build blockers
  apps/union-eyes/app/[locale]/(marketing)/pricing/page.tsx
  apps/union-eyes/components/icra/ICRAAssessmentFlow.tsx
Due: gitleaks, lint-staged, typecheck-staged

Fix sitemap insight category alias
  apps/union-eyes/lib/insights-parser.ts
Due: gitleaks, lint-staged, typecheck-staged

Fix UE CI regressions and align doctrine whitepaper seed paths
  apps/union-eyes/app/api/icra/submit/route.ts
  apps/union-eyes/app/api/icra/telemetry/route.ts
  apps/union-eyes/components/icra/ICRAAssessmentFlow.tsx
  apps/union-eyes/components/icra/ICRAProfile.tsx
  apps/union-eyes/lib/ai/mamba-service.ts
  apps/union-eyes/lib/icra-pdf/reportDataMapper.ts
  apps/union-eyes/lib/icra/insight-engine.ts
  apps/union-eyes/lib/icra/observability.ts
  apps/union-eyes/lib/icra/questions.ts
  apps/union-eyes/lib/icra/types.ts
  apps/union-eyes/lib/marketing-hero-imagery.ts
  apps/union-eyes/lib/oci/frameworks/continuity-burden-map.ts
  apps/union-eyes/lib/oci/frameworks/continuity-survivability-matrix.ts
  apps/union-eyes/lib/oci/frameworks/governance-entropy-scale.ts
  apps/union-eyes/lib/oci/frameworks/reconstruction-burden-index.ts
  apps/union-eyes/lib/oci/frameworks/stewardship-density-index.ts
  apps/union-eyes/lib/organizational-observability/source.ts
  apps/union-eyes/lib/organizational-topology/__tests__/source.test.ts
  apps/union-eyes/lib/organizational-topology/source.ts
  apps/union-eyes/lib/services/__tests__/invoice-generator.test.ts
  apps/union-eyes/lib/services/invoice-generator.ts
  apps/union-eyes/lib/trust/TrustMetricsPdfDocument.tsx
  apps/union-eyes/lib/trust/__tests__/system-metrics.test.ts
  apps/union-eyes/lib/trust/system-metrics.ts
  apps/union-eyes/next-env.d.ts
  docs/doctrine/whitepapers/whitepapers.registry.json
  ops/outputs/data-residency-runtime.json
  ops/outputs/governance-runtime-budget.json
  ops/outputs/onboarding-kpis.json
  ops/outputs/strategic-resilience-report.json
  packages/platform-knowledge-registry/src/doctrine-whitepapers.ts
Due: gitleaks, lint-staged, typecheck-staged

Fix UE build by removing client-path telemetry barrel export
  apps/union-eyes/lib/icra/adaptation/index.ts
Due: gitleaks, lint-staged, typecheck-staged

Fix UE e2e selectors and staff nav label expectations
  apps/union-eyes/components/icra/ICRAAssessmentFlow.tsx
  apps/union-eyes/e2e/helpers/role-fixtures.ts
Due: gitleaks, lint-staged, typecheck-staged

GTM: implement dual-entry continuity model and organizational naming
  apps/union-eyes/app/[locale]/(marketing)/institutional-continuity/page.tsx
  apps/union-eyes/lib/icra/copy.ts
  apps/union-eyes/lib/icra/tiers.ts
  apps/union-eyes/lib/insights-parser.ts
  apps/web/app/continuity-assessment/page.tsx
  apps/web/app/institutional-continuity/page.tsx
  apps/web/app/organizational-continuity/page.tsx
  apps/web/app/page.tsx
  apps/web/components/public/Footer.tsx
  apps/web/components/public/Navigation.tsx
  apps/web/messages/en-CA.json
  apps/web/messages/fr-CA.json
  apps/web/next.config.ts
Due: gitleaks, lint-staged, typecheck-staged

Docs: add OCI/OCRA executive and methodology whitepaper architecture v2
  docs/oci/whitepapers/OCI_METHOD_COMPANION_WHITEPAPER_STRUCTURE.md
  docs/oci/whitepapers/OCI_METHOD_WHITEPAPER_v1.md
  docs/oci/whitepapers/OCI_OCRA_EXECUTIVE_WHITEPAPER_STRUCTURE.md
  docs/oci/whitepapers/OCI_OCRA_WHITEPAPER_ARCHITECTURE_v2.md
Due: gitleaks

Docs: revise executive whitepaper flow to operational-reality-first synthesis
  docs/oci/whitepapers/OCI_OCRA_EXECUTIVE_WHITEPAPER_STRUCTURE.md
  docs/oci/whitepapers/OCI_OCRA_WHITEPAPER_ARCHITECTURE_v2.md
Due: gitleaks

Docs: world-class whitepaper buildout — operational reality edition, methodology companion, expanded canonical authority
  docs/oci/whitepapers/OCI_METHOD_COMPANION_WHITEPAPER.md
  docs/oci/whitepapers/OCI_METHOD_WHITEPAPER_v1.md
  docs/oci/whitepapers/THE_CONTINUITY_GAP_OPERATIONAL_REALITY_EDITION.md
Due: gitleaks

Docs: world-class elevation — depth, evidence anchors, worked examples, adoption roadmap, sector implications, brand enforcement doctrine
  docs/oci/whitepapers/OCI_METHOD_COMPANION_WHITEPAPER.md
  docs/oci/whitepapers/OCI_METHOD_WHITEPAPER_v1.md
  docs/oci/whitepapers/THE_CONTINUITY_GAP_OPERATIONAL_REALITY_EDITION.md
Due: gitleaks

Docs: normalize institution language to organization across whitepapers
  docs/oci/whitepapers/OCI_METHOD_COMPANION_WHITEPAPER.md
  docs/oci/whitepapers/OCI_METHOD_WHITEPAPER_v1.md
  docs/oci/whitepapers/THE_CONTINUITY_GAP_OPERATIONAL_REALITY_EDITION.md
Due: gitleaks

Whitepapers: hub + dynamic routes for new whitepapers, shared markdown renderer matching continuity-gap theme, nav/footer submenus
  apps/union-eyes/app/(marketing)/whitepapers/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/locale-site-footer.tsx
  apps/union-eyes/app/[locale]/(marketing)/locale-site-navigation.tsx
  apps/union-eyes/app/[locale]/(marketing)/whitepapers/[slug]/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/whitepapers/page.tsx
  apps/union-eyes/components/public/site-footer.tsx
  apps/union-eyes/components/public/site-navigation.tsx
  apps/union-eyes/lib/whitepaper/library.ts
  apps/union-eyes/lib/whitepaper/markdown-renderer.tsx
Due: gitleaks, lint-staged, typecheck-staged

ci(deploy-union-eyes): harden smoke checks with retries
  .github/workflows/deploy-union-eyes.yml
Due: gitleaks

feat(union-eyes): publish organizational continuity marketing surfaces
  apps/union-eyes/app/[locale]/institutional-continuity-risk/_components/HumanScenesCarousel.tsx
  apps/union-eyes/app/[locale]/institutional-continuity-risk/layout.tsx
  apps/union-eyes/app/[locale]/institutional-continuity-risk/page.tsx
  apps/union-eyes/app/[locale]/organizational-continuity-risk/_components/HumanScenesCarousel.tsx
  apps/union-eyes/app/[locale]/organizational-continuity-risk/layout.tsx
  apps/union-eyes/app/[locale]/organizational-continuity-risk/page.tsx
  apps/union-eyes/app/[locale]/page.tsx
  apps/union-eyes/messages/en-CA.json
Due: gitleaks, lint-staged, typecheck-staged

chore(governance): refresh locked repo inventory outputs
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

Fix canary traffic mode and release AI eval gate
  .github/workflows/canary-deploy.yml
  .github/workflows/release-train.yml
Due: gitleaks

Fix Union Eyes continuity e2e routes
  apps/union-eyes/e2e/stakeholder-demo-journeys.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): align French homepage CTA copy and canary deploy update
  .github/workflows/canary-deploy.yml
  apps/union-eyes/messages/fr-CA.json
  apps/union-eyes/messages/fr.json
  scripts/one-shot-add-home-page-i18n.mjs
Due: gitleaks, lint-staged

fix(union-eyes): align fr-CA CTA overrides to bilan
  apps/union-eyes/messages/fr-CA.json
Due: gitleaks

fix(union-eyes): align fr final homepage cta to bilan
  apps/union-eyes/messages/fr.json
Due: gitleaks

fix(ue): locale-aware solutions redirects for fr CTA
  apps/union-eyes/app/(marketing)/solutions/executive-leadership/page.tsx
  apps/union-eyes/app/(marketing)/solutions/governance-leadership/page.tsx
  apps/union-eyes/app/(marketing)/solutions/labour-leadership/page.tsx
  apps/union-eyes/app/(marketing)/solutions/operations-leadership/page.tsx
  apps/union-eyes/app/(marketing)/solutions/page.tsx
  apps/union-eyes/app/(marketing)/solutions/procurement/page.tsx
  apps/union-eyes/app/(marketing)/solutions/technology-leadership/page.tsx
  apps/union-eyes/lib/locale-routing.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(security): patch tmp advisory 1119610 via override
  package.json
  pnpm-lock.yaml
Due: gitleaks

fix(ci): restore governance scripts and DR runbook contract
  docs/union-eyes/dr/restore-drill-runbook.md
  package.json
Due: gitleaks

fix(ue): ship FR copy refresh and unblock governance checks
  apps/union-eyes/messages/fr-CA.json
  docs/doctrine/whitepapers/CONTINUITY_GAP_MASTER_WHITEPAPER.md
  docs/doctrine/whitepapers/README.md
  docs/zonga/dr/restore-drill-runbook.md
  packages/tax/src/data-versions.ts
  reports/governance-graph/ontology-classification-matrix.md
  reports/governance-graph/ontology-reconciliation-matrix.md
  reports/governance-graph/phase3-architecture-audit.md
  reports/governance-graph/workstream-i-ontology-reconciliation-audit.md
  reports/governance-graph/workstream-k-route-deviation.md
  reports/governance-graph/workstream-k-topology-ux-audit.md
  reports/governance-graph/workstream-k-topology-ux-implementation.md
  tooling/contract-tests/union-eyes-dr-restore-readiness.test.ts
  tooling/contract-tests/zonga-dr-restore-readiness.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): sync repo inventory outputs for governance gate
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

fix(ci): gate dependabot auto-merge on repo support
  .github/workflows/dependabot-auto-merge.yml
Due: gitleaks

fix: satisfy contract guards for union-eyes API aliases
  apps/union-eyes/app/api/communications/track/click/route.ts
  apps/union-eyes/app/api/communications/track/open/[campaignId]/[recipientId]/route.ts
  apps/union-eyes/app/api/communications/unsubscribe/[recipientId]/route.ts
  apps/union-eyes/app/api/communications/webhooks/resend/route.ts
  apps/union-eyes/app/api/continuity/archives/route.ts
  apps/union-eyes/app/api/continuity/docs/route.ts
  apps/union-eyes/app/api/continuity/inheritance/route.ts
  apps/union-eyes/app/api/governance/route.ts
  apps/union-eyes/app/api/intelligence/route.ts
  apps/union-eyes/app/api/investigations/audit/route.ts
  apps/union-eyes/app/api/investigations/evidence/route.ts
  apps/union-eyes/app/api/investigations/route.ts
  apps/union-eyes/app/api/investigations/timeline/route.ts
  apps/union-eyes/app/api/oci/assessment/route.ts
  apps/union-eyes/app/api/oci/intake/route.ts
  apps/union-eyes/app/api/oci/report/[assessmentId]/route.ts
  apps/union-eyes/app/api/oci/results/[id]/route.ts
  apps/union-eyes/app/api/onboarding/readiness/route.ts
  apps/union-eyes/app/api/onboarding/transfers/route.ts
  ops/outputs/data-residency-runtime.json
  ops/outputs/governance-runtime-budget.json
  ops/outputs/onboarding-kpis.json
  ops/outputs/strategic-resilience-report.json
Due: gitleaks, lint-staged, typecheck-staged

chore: refresh governance output snapshots
  ops/outputs/data-residency-runtime.json
  ops/outputs/governance-runtime-budget.json
  ops/outputs/onboarding-kpis.json
  ops/outputs/strategic-resilience-report.json
Due: gitleaks
