Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

gitleaks:
  run: 'gitleaks detect --source . --config .gitleaks.toml --no-banner --verbose --staged
  
    '
  fail_text: 'ðŸ”’ Gitleaks detected potential secrets in staged files.
  
    Review the output above and remove or rotate any exposed credentials.
  
    See docs/hardening/secrets.md for guidance.
  
  ...

lint-staged:
  run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
  fail_text: Lint errors found. Run `pnpm lint` to see details.

typecheck-staged:
  run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
  fail_text: Type errors found. Run `pnpm typecheck` to see details.

revert(ci): drop workflow edits pending GitHub workflow OAuth scope
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Due: gitleaks

ci(union-eyes): restore PG15 canonical snapshot E2E + staging perf BASE_URL
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Due: gitleaks

ci(e2e): bind UE snapshot retrieve to staging OIDC + account-key fallback
  .github/workflows/e2e.yml
Due: gitleaks

fix(ue): baseline drizzle ledger after canonical snapshot restore
  tooling/scripts/lib/union-eyes-platform-migrations.mjs
  tooling/scripts/lib/union-eyes-scoped-migrations.mjs
  tooling/scripts/run-union-eyes-drizzle-bootstrap.mjs
Due: lint-staged

fix(mainline): close green gates — waivers, adm-zip, UE E2E snapshot, tests
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  apps/union-eyes/app/api/__tests__/documents-repository-id.route.test.ts
  apps/union-eyes/app/api/__tests__/grievances-id.route.test.ts
  apps/union-eyes/app/api/__tests__/grievances.route.test.ts
  apps/union-eyes/app/api/__tests__/organizations-id.route.test.ts
  apps/union-eyes/app/api/governance/__tests__/governance-platform-authority-boundary.test.ts
  apps/union-eyes/db/__tests__/workbook-credential-payment-authority-scoped-0013-migration.test.ts
  apps/union-eyes/lib/auth/__tests__/rbac-server.test.ts
  apps/union-eyes/scripts/__tests__/no-arg-system-context-ratchet.test.ts
  apps/union-eyes/scripts/__tests__/runtime-schema-authority-oracle.test.ts
  apps/union-eyes/services/platform-economics/__tests__/entitlement-guard.test.ts
  governance/security/design-reviews/2026-09-23-ue-rbac-system-context.md
  reports/union-eyes/runtime-schema-lineage/MAINLINE_GREEN_GATE_MATRIX.json
  tests/load/smoke.js
Due: gitleaks, lint-staged, typecheck-staged

fix(ue): pre-check audit_security tables before seed DELETE
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ue): seed via authUsers only — avoid domain schema drift
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ue): seed organizations.sectors=[] for canonical snapshot NOT NULL
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ue): seed org NOT NULL defaults for canonical snapshot columns
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ue): seed all organizations client-default columns explicitly
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(ue): drop unused users import from seed-test-env
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ue): set profiles.id explicitly in seed-test-env
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ue): seed claims NOT NULL client-defaults for canonical snapshot
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ue): cast both sides of org_members↔claims org_id join
  apps/union-eyes/app/api/cases/[caseId]/route.ts
  apps/union-eyes/app/api/cases/route.ts
  apps/union-eyes/app/api/claims/[id]/route.ts
  apps/union-eyes/app/api/workbench/assigned/route.ts
  apps/union-eyes/lib/scheduled-report-executor.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ue): seed NOT NULL org-member defaults (exempt_from_per_capita)
  apps/union-eyes/db/migrations-platform/0005_organization_members_deleted_at.sql
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ue): seed claim_updates ids; soft-skip non-RBAC drift
  apps/union-eyes/db/migrations-platform/0007_claim_updates_runtime_columns.sql
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

ci(e2e): retry pgvector image pull (Docker Hub 502 resilience)
  .github/workflows/e2e.yml
Due: gitleaks

fix(ue): set organization_members.id explicitly in seed
  apps/union-eyes/db/migrations-platform/0005_organization_members_deleted_at.sql
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(ue): drop unused isMissingColumnError helper
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ue): set claims.id and mutable sectors[] in seed-test-env
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ue): soft-skip claim_updates FK drift in seed
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ue): apply platform DDL after snapshot (stop baselining gaps)
  .github/workflows/e2e.yml
  apps/union-eyes/db/migrations-platform/0005_organization_members_deleted_at.sql
  apps/union-eyes/db/migrations-platform/0007_claim_updates_runtime_columns.sql
  apps/union-eyes/db/migrations-platform/meta/_journal.json
  apps/union-eyes/scripts/seed-test-env.ts
  tooling/scripts/run-union-eyes-drizzle-bootstrap.mjs
Due: gitleaks, lint-staged, typecheck-staged

docs(ue): record schema P0 disposition after rebasing lineage onto main
  migrations/INDEX.md
  reports/union-eyes/runtime-schema-lineage/SCHEMA_P0_CONVERGENCE_DISPOSITION.md
Due: gitleaks

chore(inventory): lock UE lineage file counts after schema rebase
  reports/union-eyes/runtime-schema-lineage/SCHEMA_P0_CONVERGENCE_DISPOSITION.md
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

demo(ue): add NZ-007 P0 external-specialist sandbox
  apps/union-eyes-demo/DEMO_SANDBOX_P0.md
  apps/union-eyes-demo/app/[locale]/dashboard/(demo)/external-specialist/page.tsx
  apps/union-eyes-demo/app/[locale]/dashboard/layout.tsx
  apps/union-eyes-demo/components/demo/external-specialist-sandbox.tsx
  apps/union-eyes-demo/lib/demo/sandbox/__tests__/sandbox-p0.test.ts
  apps/union-eyes-demo/lib/demo/sandbox/claim-labels.ts
  apps/union-eyes-demo/lib/demo/sandbox/handoff.ts
  apps/union-eyes-demo/lib/demo/sandbox/journey.ts
  apps/union-eyes-demo/lib/demo/sandbox/personas.ts
  apps/union-eyes-demo/lib/demo/sandbox/seed.ts
  apps/union-eyes-demo/scripts/load-sandbox-personas.ts
  apps/union-eyes/app/api/external/__tests__/external-routes.test.ts
  apps/union-eyes/lib/demo-sandbox/__tests__/nz007-p0-grants.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ue-demo): hydrate the external-specialist sandbox
  apps/union-eyes-demo/DEMO_SANDBOX_P0.md
  apps/union-eyes-demo/next.config.mjs
  apps/union-eyes-demo/proxy.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(inventory): lock counts for the NZ-007 sandbox
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

demo(ue): NZ-007 P0 external-specialist sandbox (EC-06/01/05/02) (#821)
  apps/union-eyes-demo/DEMO_SANDBOX_P0.md
  apps/union-eyes-demo/app/[locale]/dashboard/(demo)/external-specialist/page.tsx
  apps/union-eyes-demo/app/[locale]/dashboard/layout.tsx
  apps/union-eyes-demo/components/demo/external-specialist-sandbox.tsx
  apps/union-eyes-demo/lib/demo/sandbox/__tests__/sandbox-p0.test.ts
  apps/union-eyes-demo/lib/demo/sandbox/claim-labels.ts
  apps/union-eyes-demo/lib/demo/sandbox/handoff.ts
  apps/union-eyes-demo/lib/demo/sandbox/journey.ts
  apps/union-eyes-demo/lib/demo/sandbox/personas.ts
  apps/union-eyes-demo/lib/demo/sandbox/seed.ts
  apps/union-eyes-demo/next.config.mjs
  apps/union-eyes-demo/proxy.ts
  apps/union-eyes-demo/scripts/load-sandbox-personas.ts
  apps/union-eyes/app/api/external/__tests__/external-routes.test.ts
  apps/union-eyes/lib/demo-sandbox/__tests__/nz007-p0-grants.test.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

chore(security): reword gitleaks allowlist note to avoid self-match
  .gitleaksignore
Due: none

feat(union-eyes): add executable canonical schema contract
  apps/union-eyes/db/schema-authority/generated/.gitignore
  apps/union-eyes/db/schema-authority/registry.json
  apps/union-eyes/db/schema-authority/registry.schema.json
  apps/union-eyes/db/schema-authority/runtime-drift-dispositions.json
  apps/union-eyes/db/schema-authority/runtime-drift-dispositions.schema.json
  apps/union-eyes/db/schema-authority/runtime-required-contract.json
  apps/union-eyes/db/schema-authority/runtime-required-contract.schema.json
  apps/union-eyes/package.json
  apps/union-eyes/scripts/schema-authority/__tests__/fresh-build-guard.test.ts
  apps/union-eyes/scripts/schema-authority/__tests__/generate-introspect.test.ts
  apps/union-eyes/scripts/schema-authority/__tests__/lint-authority.test.ts
  apps/union-eyes/scripts/schema-authority/__tests__/normalize.test.ts
  apps/union-eyes/scripts/schema-authority/__tests__/verify-runtime-contract.test.ts
  apps/union-eyes/scripts/schema-authority/fresh-build.ts
  apps/union-eyes/scripts/schema-authority/generate-canonical-schema.ts
  apps/union-eyes/scripts/schema-authority/lib/contracts.ts
  apps/union-eyes/scripts/schema-authority/lib/normalize.ts
  apps/union-eyes/scripts/schema-authority/lint-authority.ts
  apps/union-eyes/scripts/schema-authority/tsconfig.json
  apps/union-eyes/scripts/schema-authority/verify-runtime-contract.ts
  apps/union-eyes/scripts/schema-authority/vitest.config.ts
  tooling/scripts/lib/union-eyes-scoped-migrations.mjs
  tooling/scripts/run-union-eyes-drizzle-bootstrap.mjs
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): resolve org under RLS bootstrap context in withOrganizationAuth
  apps/union-eyes/lib/__tests__/organization-middleware.test.ts
  apps/union-eyes/lib/organization-middleware.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): use pg config objects in schema-contract harness
  apps/union-eyes/scripts/schema-authority/fresh-build.ts
  apps/union-eyes/scripts/schema-authority/generate-canonical-schema.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): converge canonical runtime schema
  apps/union-eyes/backend/auth_core/migrations/0005_organizationmembers_deleted_at_and_more.py
  apps/union-eyes/backend/auth_core/models.py
  apps/union-eyes/backend/content/migrations/0004_documents_access_level_documents_blob_container_and_more.py
  apps/union-eyes/backend/content/models.py
  apps/union-eyes/backend/grievances/migrations/0005_claims_idempotency_hash.py
  apps/union-eyes/backend/grievances/models.py
Due: gitleaks

fix(union-eyes): resolve org under user-identity RLS context in withApi
  apps/union-eyes/lib/api/__tests__/with-api-org-bootstrap.test.ts
  apps/union-eyes/lib/api/with-api.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(security): allowlist schema-contract harness gitleaks false positive
  .gitleaksignore
Due: none

fix(union-eyes): pass withApi's authenticated user into withRLSContext
  apps/union-eyes/app/api/health-safety/__tests__/hazards-incidents-submission.integration.test.ts
  apps/union-eyes/app/api/members/[id]/consents/__tests__/route.test.ts
  apps/union-eyes/lib/api/with-api.ts
  apps/union-eyes/lib/db/__tests__/with-rls-context.test.ts
  apps/union-eyes/lib/db/request-auth-context.ts
  apps/union-eyes/lib/db/with-rls-context.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): make withApi rlsOrgContext runHandler async (TS2769 overload)
  apps/union-eyes/lib/api/with-api.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): make Django AddField idempotent against platform SQL 0005/0006
  apps/union-eyes/backend/auth_core/migrations/0005_organizationmembers_deleted_at_and_more.py
  apps/union-eyes/backend/content/migrations/0004_documents_access_level_documents_blob_container_and_more.py
  apps/union-eyes/backend/content/models.py
  apps/union-eyes/backend/grievances/migrations/0005_claims_idempotency_hash.py
  apps/union-eyes/db/schema-authority/registry.json
Due: gitleaks

Path conditions:
  gitleaks: any of: *.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}
  lint-staged: any of: *.{ts,tsx,js,jsx,mjs}
  typecheck-staged: any of: *.{ts,tsx}
