Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

lefthook.yml:

# lefthook.yml â€” Pre-commit guardrails for Nzila Automation monorepo
# Docs: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true

  commands:
    gitleaks:
      glob: "*.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}"
      run: >
        gitleaks detect
        --source .
        --config .gitleaks.toml
        --no-banner
        --verbose
        --staged
      fail_text: |
        ðŸ”’ Gitleaks detected potential secrets in staged files.
        Review the output above and remove or rotate any exposed credentials.
        See docs/hardening/secrets.md for guidance.
        Install gitleaks: https://github.com/gitleaks/gitleaks#installing

    lint-staged:
      glob: "*.{ts,tsx,js,jsx,mjs}"
      run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Lint errors found. Run `pnpm lint` to see details."

    typecheck-staged:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Type errors found. Run `pnpm typecheck` to see details."

pre-push:
  commands:
    contract-tests:
      run: >
        npx vitest run
        --config tooling/contract-tests/vitest.config.ts
        --dir tooling/contract-tests
      fail_text: |
        Contract tests failed. Run `pnpm contract-tests` to see details.
        Do not push code that violates repo invariants.

round 45: dependency-frontier root authority batch
  apps/union-eyes/app/api/chatbot/messages/route.ts
  apps/union-eyes/app/api/chatbot/sessions/[sessionId]/messages/route.ts
  apps/union-eyes/app/api/signatures/sign/route.ts
  apps/union-eyes/backend/ai_core/tests_round45_chatbot_containment.py
  apps/union-eyes/backend/ai_core/views.py
  apps/union-eyes/backend/content/tests_round45_signature_containment.py
  apps/union-eyes/backend/content/views.py
  apps/union-eyes/backend/notifications/tests_round45_newsletter_containment.py
  apps/union-eyes/backend/notifications/views.py
  apps/union-eyes/db/rls-storage-authority/claims-continuity.ts
  apps/union-eyes/db/rls-storage-authority/communications-notifications.ts
  apps/union-eyes/db/rls-storage-authority/documents-evidence.ts
  apps/union-eyes/db/rls-storage-authority/reference-latent.ts
  apps/union-eyes/lib/ai/__tests__/chatbot-service.test.ts
  apps/union-eyes/lib/ai/chatbot-service.ts
  apps/union-eyes/lib/signature/__tests__/signature-service-record-signature.test.ts
  apps/union-eyes/lib/signature/signature-service.ts
  reports/union-eyes-authority-convergence-report.json
  reports/union-eyes-authority-convergence-report.md
  reports/union-eyes-explicit-grant-dry-run.json
  reports/union-eyes-explicit-grant-dry-run.md
  reports/union-eyes-public-schema-grant-census.json
  reports/union-eyes-public-schema-grant-census.md
  reports/union-eyes-storage-authority-census.json
  reports/union-eyes-storage-authority-census.md
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

round 46: system and mixed execution authority cohort
  apps/union-eyes/app/api/mobile/devices/__tests__/route.test.ts
  apps/union-eyes/app/api/mobile/devices/route.ts
  apps/union-eyes/backend/analytics/tests_round46_union_density_containment.py
  apps/union-eyes/backend/analytics/views.py
  apps/union-eyes/backend/content/tests_round46_webhook_shopify_containment.py
  apps/union-eyes/backend/content/views.py
  apps/union-eyes/backend/notifications/tests_round46_push_devices_containment.py
  apps/union-eyes/backend/notifications/views.py
  apps/union-eyes/db/__tests__/rls-storage-authority-round46-system-mixed-execution.test.ts
  apps/union-eyes/db/rls-storage-authority/integrations-workers.ts
  apps/union-eyes/db/rls-storage-authority/reference-latent.ts
  apps/union-eyes/lib/services/external-data/__tests__/wage-enrichment-service.test.ts
  apps/union-eyes/lib/services/external-data/wage-enrichment-service.ts
  apps/union-eyes/lib/services/rewards/__tests__/webhook-service.test.ts
  apps/union-eyes/lib/services/rewards/webhook-service.ts
  apps/union-eyes/services/observability/__tests__/realtime-alerting-service.test.ts
  apps/union-eyes/services/observability/realtime-alerting-service.ts
  reports/union-eyes-authority-convergence-report.json
  reports/union-eyes-authority-convergence-report.md
  reports/union-eyes-explicit-grant-dry-run.json
  reports/union-eyes-explicit-grant-dry-run.md
  reports/union-eyes-public-schema-grant-census.json
  reports/union-eyes-public-schema-grant-census.md
  reports/union-eyes-storage-authority-census.json
  reports/union-eyes-storage-authority-census.md
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

round 47: communications consent and user-subject authority cohort
  apps/union-eyes/app/api/members/[id]/consents/__tests__/route.test.ts
  apps/union-eyes/app/api/members/[id]/consents/route.ts
  apps/union-eyes/backend/compliance/tests_round47_consent_containment.py
  apps/union-eyes/backend/compliance/views.py
  apps/union-eyes/backend/notifications/tests_round47_communications_containment.py
  apps/union-eyes/backend/notifications/views.py
  apps/union-eyes/db/__tests__/rls-storage-authority-round47-communications-consent-user-subject.test.ts
  apps/union-eyes/db/rls-storage-authority/communications-notifications.ts
  apps/union-eyes/lib/api/crud-factory.ts
  reports/union-eyes-authority-convergence-report.json
  reports/union-eyes-authority-convergence-report.md
  reports/union-eyes-explicit-grant-dry-run.json
  reports/union-eyes-explicit-grant-dry-run.md
  reports/union-eyes-public-schema-grant-census.json
  reports/union-eyes-public-schema-grant-census.md
  reports/union-eyes-storage-authority-census.json
  reports/union-eyes-storage-authority-census.md
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

round 48: derived analytics and AI telemetry authority cohort
  apps/union-eyes/app/api/__tests__/ai-feedback.route.test.ts
  apps/union-eyes/app/api/__tests__/ml-churn-risk.route.test.ts
  apps/union-eyes/app/api/ai/feedback/route.ts
  apps/union-eyes/app/api/ml/predictions/churn-risk/route.ts
  apps/union-eyes/backend/notifications/tests_round48_mobile_analytics_containment.py
  apps/union-eyes/backend/notifications/views.py
  apps/union-eyes/db/__tests__/rls-storage-authority-round48-derived-analytics-ai-telemetry.test.ts
  apps/union-eyes/db/rls-storage-authority/analytics-ai.ts
  apps/union-eyes/db/rls-storage-authority/finance.ts
  apps/union-eyes/db/rls-storage-authority/reference-latent.ts
  reports/union-eyes-authority-convergence-report.json
  reports/union-eyes-authority-convergence-report.md
  reports/union-eyes-explicit-grant-dry-run.json
  reports/union-eyes-explicit-grant-dry-run.md
  reports/union-eyes-public-schema-grant-census.json
  reports/union-eyes-public-schema-grant-census.md
  reports/union-eyes-storage-authority-census.json
  reports/union-eyes-storage-authority-census.md
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

fix: correct stale repo-inventory counts from round 48 commit
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

round 49: immutable security and audit evidence authority cohort
  apps/union-eyes/app/api/__tests__/location-track.route.test.ts
  apps/union-eyes/app/api/cron/deadline-overdue/route.ts
  apps/union-eyes/app/api/location/track/route.ts
  apps/union-eyes/app/api/security/events/route.ts
  apps/union-eyes/app/api/signatures/audit/[documentId]/__tests__/route.test.ts
  apps/union-eyes/app/api/signatures/audit/[documentId]/route.ts
  apps/union-eyes/backend/compliance/tests_round49_evidence_containment.py
  apps/union-eyes/backend/compliance/views.py
  apps/union-eyes/backend/content/views.py
  apps/union-eyes/backend/core/views.py
  apps/union-eyes/backend/services/api/break_glass_service_views.py
  apps/union-eyes/backend/services/api/certification_management_service_views.py
  apps/union-eyes/backend/services/api/employer_non_interference_service_views.py
  apps/union-eyes/backend/services/api/founder_conflict_service_views.py
  apps/union-eyes/db/__tests__/rls-storage-authority-round49-immutable-security-audit-evidence.test.ts
  apps/union-eyes/db/rls-storage-authority/health-safety.ts
  apps/union-eyes/db/rls-storage-authority/reference-latent.ts
  apps/union-eyes/lib/deadline-engine/__tests__/audit.test.ts
  apps/union-eyes/lib/deadline-engine/audit.ts
  reports/union-eyes-authority-convergence-report.json
  reports/union-eyes-authority-convergence-report.md
  reports/union-eyes-explicit-grant-dry-run.json
  reports/union-eyes-explicit-grant-dry-run.md
  reports/union-eyes-public-schema-grant-census.json
  reports/union-eyes-public-schema-grant-census.md
  reports/union-eyes-storage-authority-census.json
  reports/union-eyes-storage-authority-census.md
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

round 51: global reference and shared configuration scope authority
  apps/union-eyes/app/api/__tests__/admin-feature-flags.route.test.ts
  apps/union-eyes/app/api/admin/feature-flags/route.ts
  apps/union-eyes/backend/auth_core/tests_round51_address_containment.py
  apps/union-eyes/backend/auth_core/views.py
  apps/union-eyes/backend/billing/tests_round51_dead_service_containment.py
  apps/union-eyes/backend/billing/views.py
  apps/union-eyes/backend/compliance/tests_round51_dead_service_containment.py
  apps/union-eyes/backend/compliance/views.py
  apps/union-eyes/backend/core/tests_round51_kb_sla_containment.py
  apps/union-eyes/backend/core/views.py
  apps/union-eyes/backend/unions/tests_round51_federation_remittances_containment.py
  apps/union-eyes/backend/unions/views.py
  apps/union-eyes/db/rls-storage-authority/claims-continuity.ts
  apps/union-eyes/db/rls-storage-authority/communications-notifications.ts
  apps/union-eyes/db/rls-storage-authority/documents-evidence.ts
  apps/union-eyes/db/rls-storage-authority/finance.ts
  apps/union-eyes/db/rls-storage-authority/health-safety.ts
  apps/union-eyes/db/rls-storage-authority/integrations-workers.ts
  apps/union-eyes/db/rls-storage-authority/reference-latent.ts
  apps/union-eyes/scripts/generate-scope-discriminator-report.ts
  reports/union-eyes-authority-convergence-report.json
  reports/union-eyes-authority-convergence-report.md
  reports/union-eyes-explicit-grant-dry-run.json
  reports/union-eyes-explicit-grant-dry-run.md
  reports/union-eyes-public-schema-grant-census.json
  reports/union-eyes-public-schema-grant-census.md
  reports/union-eyes-scope-discriminator-round51.json
  reports/union-eyes-scope-discriminator-round51.md
  reports/union-eyes-storage-authority-census.json
  reports/union-eyes-storage-authority-census.md
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

round 53: final simple-tenant exception closure
  apps/union-eyes/app/api/calendars/[id]/__tests__/route.test.ts
  apps/union-eyes/app/api/calendars/[id]/route.ts
  apps/union-eyes/app/api/calendars/__tests__/route.test.ts
  apps/union-eyes/app/api/calendars/route.ts
  apps/union-eyes/app/api/education/registrations/__tests__/route.test.ts
  apps/union-eyes/app/api/education/registrations/route.ts
  apps/union-eyes/app/api/enterprise/sso/providers/__tests__/route.test.ts
  apps/union-eyes/app/api/enterprise/sso/providers/route.ts
  apps/union-eyes/backend/analytics/tests_round53_reports_containment.py
  apps/union-eyes/backend/analytics/views.py
  apps/union-eyes/backend/unions/tests_round53_calendar_scheduling_containment.py
  apps/union-eyes/backend/unions/tests_round53_training_registration_containment.py
  apps/union-eyes/backend/unions/views.py
  apps/union-eyes/db/__tests__/rls-storage-authority-round48-derived-analytics-ai-telemetry.test.ts
  apps/union-eyes/db/rls-storage-authority/finance.ts
  apps/union-eyes/db/rls-storage-authority/reference-latent.ts
  apps/union-eyes/scripts/generate-simple-tenant-remediation-report-round53.ts
  reports/union-eyes-authority-convergence-report.json
  reports/union-eyes-authority-convergence-report.md
  reports/union-eyes-explicit-grant-dry-run.json
  reports/union-eyes-explicit-grant-dry-run.md
  reports/union-eyes-public-schema-grant-census.json
  reports/union-eyes-public-schema-grant-census.md
  reports/union-eyes-simple-tenant-remediation-round53.json
  reports/union-eyes-simple-tenant-remediation-round53.md
  reports/union-eyes-storage-authority-census.json
  reports/union-eyes-storage-authority-census.md
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

round 54: final non-voting parent-owned authority convergence
  apps/union-eyes/app/api/contracts/[id]/clauses/route.ts
  apps/union-eyes/backend/ai_core/views.py
  apps/union-eyes/backend/auth_core/views.py
  apps/union-eyes/backend/compliance/views.py
  apps/union-eyes/backend/content/views.py
  apps/union-eyes/backend/notifications/views.py
  apps/union-eyes/backend/unions/tests_round54_parent_owned_containment.py
  apps/union-eyes/backend/unions/views.py
  apps/union-eyes/db/rls-storage-authority/communications-notifications.ts
  apps/union-eyes/db/rls-storage-authority/documents-evidence.ts
  apps/union-eyes/db/rls-storage-authority/health-safety.ts
  apps/union-eyes/db/rls-storage-authority/integrations-workers.ts
  apps/union-eyes/db/rls-storage-authority/reference-latent.ts
  apps/union-eyes/lib/ai/__tests__/chatbot-service.test.ts
  apps/union-eyes/lib/ai/chatbot-service.ts
  apps/union-eyes/scripts/generate-parent-owned-remediation-report-round54.ts
  apps/union-eyes/services/platform-economics/__tests__/contract-service.test.ts
  apps/union-eyes/services/platform-economics/contract-service.ts
  reports/union-eyes-authority-convergence-report.json
  reports/union-eyes-authority-convergence-report.md
  reports/union-eyes-explicit-grant-dry-run.json
  reports/union-eyes-explicit-grant-dry-run.md
  reports/union-eyes-parent-owned-remediation-round54.json
  reports/union-eyes-parent-owned-remediation-round54.md
  reports/union-eyes-public-schema-grant-census.json
  reports/union-eyes-public-schema-grant-census.md
  reports/union-eyes-storage-authority-census.json
  reports/union-eyes-storage-authority-census.md
Due: gitleaks, lint-staged, typecheck-staged

round 54: regenerate committed inventory snapshot (union-eyes 5133 -> 5135 code files)
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

round 55: close final non-voting parent architecture exceptions
  apps/union-eyes/app/[locale]/dashboard/communications/distribution-lists/[id]/page.tsx
  apps/union-eyes/app/api/__tests__/clause-library-compare.route.test.ts
  apps/union-eyes/app/api/clause-library/[id]/__tests__/route.test.ts
  apps/union-eyes/app/api/clause-library/[id]/route.ts
  apps/union-eyes/app/api/clause-library/[id]/share/route.ts
  apps/union-eyes/app/api/clause-library/[id]/tags/__tests__/route.test.ts
  apps/union-eyes/app/api/clause-library/[id]/tags/route.ts
  apps/union-eyes/app/api/clause-library/__tests__/route.test.ts
  apps/union-eyes/app/api/clause-library/compare/route.ts
  apps/union-eyes/app/api/clause-library/route.ts
  apps/union-eyes/app/api/clause-library/search/route.ts
  apps/union-eyes/app/api/communications/distribution-lists/[id]/subscribers/[subscriberId]/__tests__/route.test.ts
  apps/union-eyes/app/api/communications/distribution-lists/[id]/subscribers/[subscriberId]/route.ts
  apps/union-eyes/app/api/communications/distribution-lists/[id]/subscribers/__tests__/route.test.ts
  apps/union-eyes/app/api/communications/distribution-lists/[id]/subscribers/route.ts
  apps/union-eyes/backend/bargaining/tests_round55_clause_library_containment.py
  apps/union-eyes/backend/bargaining/views.py
  apps/union-eyes/components/communications/distribution-list-manager.tsx
  apps/union-eyes/db/__tests__/rls-storage-authority-round47-communications-consent-user-subject.test.ts
  apps/union-eyes/db/rls-storage-authority/communications-notifications.ts
  apps/union-eyes/db/rls-storage-authority/reference-latent.ts
  apps/union-eyes/lib/clause-library/__tests__/sharing-authority.test.ts
  apps/union-eyes/lib/clause-library/sharing-authority.ts
  apps/union-eyes/scripts/generate-clause-library-newsletter-remediation-report-round55.ts
  reports/union-eyes-authority-convergence-report.json
  reports/union-eyes-authority-convergence-report.md
  reports/union-eyes-explicit-grant-dry-run.json
  reports/union-eyes-explicit-grant-dry-run.md
  reports/union-eyes-parent-architecture-round55.json
  reports/union-eyes-parent-architecture-round55.md
  reports/union-eyes-public-schema-grant-census.json
  reports/union-eyes-public-schema-grant-census.md
  reports/union-eyes-storage-authority-census.json
  reports/union-eyes-storage-authority-census.md
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

fix(deps): remediate pre-existing Next.js sharp and multer advisories
  package.json
  pnpm-lock.yaml
Due: gitleaks

round 56: accelerated high-risk authority convergence wave
  apps/union-eyes/app/api/__tests__/calendar-sync-connections-owner-scoping.route.test.ts
  apps/union-eyes/app/api/calendar-sync/connections/[id]/route.ts
  apps/union-eyes/app/api/calendar-sync/connections/route.ts
  apps/union-eyes/app/api/pilot/__tests__/pilot-feedback-idor-fix.route.test.ts
  apps/union-eyes/app/api/pilot/feedback/route.ts
  apps/union-eyes/backend/billing/tests_round56_payments_containment.py
  apps/union-eyes/backend/billing/views.py
  apps/union-eyes/backend/core/tests_round56_integration_credentials_containment.py
  apps/union-eyes/backend/core/views.py
  apps/union-eyes/backend/unions/tests_round56_budget_pool_containment.py
  apps/union-eyes/backend/unions/views.py
  apps/union-eyes/db/rls-storage-authority/communications-notifications.ts
  apps/union-eyes/db/rls-storage-authority/documents-evidence.ts
  apps/union-eyes/db/rls-storage-authority/finance.ts
  apps/union-eyes/db/rls-storage-authority/integrations-workers.ts
  apps/union-eyes/db/rls-storage-authority/reference-latent.ts
  reports/union-eyes-accelerated-authority-wave-round56.json
  reports/union-eyes-accelerated-authority-wave-round56.md
  reports/union-eyes-authority-convergence-report.json
  reports/union-eyes-authority-convergence-report.md
  reports/union-eyes-explicit-grant-dry-run.json
  reports/union-eyes-explicit-grant-dry-run.md
  reports/union-eyes-public-schema-grant-census.json
  reports/union-eyes-public-schema-grant-census.md
  reports/union-eyes-storage-authority-census.json
  reports/union-eyes-storage-authority-census.md
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

fix(governance): regenerate stale repo inventory (Round 57 test file additions)
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

round 58a: close final strike-fund authority blocker
  apps/union-eyes/app/api/__tests__/finance-summary.route.test.ts
  apps/union-eyes/app/api/finance/summary/route.ts
  apps/union-eyes/db/__tests__/strike-fund-disbursements-organization-provenance.test.ts
  apps/union-eyes/db/migrations/20260909_strike_fund_disbursements_organization_id.sql
  apps/union-eyes/db/migrations/MANIFEST.md
  apps/union-eyes/db/rls-storage-authority/finance.ts
  apps/union-eyes/db/schema/domains/finance/taxes.ts
  apps/union-eyes/db/schema/strike-fund-tax-schema.ts
  apps/union-eyes/lib/ai/__tests__/financial-insights-strike-fund-org-scope.test.ts
  apps/union-eyes/lib/ai/financial-insights.ts
  apps/union-eyes/package.json
  apps/union-eyes/scripts/verify-strike-fund-org-backfill.ts
  apps/union-eyes/services/__tests__/tax-slip-service.test.ts
  apps/union-eyes/services/tax-slip-service.ts
  pnpm-lock.yaml
  reports/union-eyes-authority-convergence-report.json
  reports/union-eyes-authority-convergence-report.md
  reports/union-eyes-explicit-grant-dry-run.json
  reports/union-eyes-explicit-grant-dry-run.md
  reports/union-eyes-public-schema-grant-census.json
  reports/union-eyes-public-schema-grant-census.md
  reports/union-eyes-storage-authority-census.json
  reports/union-eyes-storage-authority-census.md
  security/redteam/redteam-results.json
Due: gitleaks, lint-staged, typecheck-staged

round 58b: Union Eyes RLS+GRANT enforcement compiler (Phase 1+)
  apps/union-eyes/db/__tests__/rls-enforcement-helpers-behavioral.test.ts
  apps/union-eyes/db/migrations/20260910_rls_enforcement_expansion_round58.sql
  apps/union-eyes/package.json
  apps/union-eyes/reports/union-eyes-rls-enforcement-blockers.json
  apps/union-eyes/reports/union-eyes-rls-geometry.json
  apps/union-eyes/scripts/rls-enforcement/acl-oracle-dry-run.ts
  apps/union-eyes/scripts/rls-enforcement/check-enforcement-drift.ts
  apps/union-eyes/scripts/rls-enforcement/derive-table-geometry.ts
  apps/union-eyes/scripts/rls-enforcement/generate-rls-enforcement-migration.ts
  apps/union-eyes/scripts/rls-enforcement/policy-syntax-dry-run.ts
Due: gitleaks, lint-staged, typecheck-staged

round 58c: close enforcement geometry, complete cutover proof suite
  .github/workflows/deploy-union-eyes.yml
  apps/union-eyes/db/migrations/20260910_rls_enforcement_expansion_round58.sql
  apps/union-eyes/db/rls-storage-authority/claims-continuity.ts
  apps/union-eyes/package.json
  apps/union-eyes/reports/union-eyes-authority-enforcement-round58.json
  apps/union-eyes/reports/union-eyes-authority-enforcement-round58.md
  apps/union-eyes/reports/union-eyes-rls-enforcement-blockers.json
  apps/union-eyes/reports/union-eyes-rls-geometry.json
  apps/union-eyes/scripts/rls-enforcement/__tests__/deployment-dag-contract.test.ts
  apps/union-eyes/scripts/rls-enforcement/derive-table-geometry.ts
  apps/union-eyes/scripts/rls-enforcement/enforcement-geometry-overrides.ts
  apps/union-eyes/scripts/rls-enforcement/full-migration-transactional-proof.ts
  apps/union-eyes/scripts/rls-enforcement/generate-rls-enforcement-migration.ts
  apps/union-eyes/scripts/rls-enforcement/policy-oracle.ts
  apps/union-eyes/scripts/rls-enforcement/policy-syntax-dry-run.ts
  apps/union-eyes/scripts/rls-enforcement/post-apply-verifier.ts
  apps/union-eyes/scripts/rls-enforcement/preflight-round59.ts
  reports/union-eyes-authority-convergence-report.json
  reports/union-eyes-authority-convergence-report.md
  reports/union-eyes-explicit-grant-dry-run.json
  reports/union-eyes-explicit-grant-dry-run.md
  reports/union-eyes-public-schema-grant-census.json
  reports/union-eyes-public-schema-grant-census.md
Due: gitleaks, lint-staged, typecheck-staged

round 58d: converge database topology, purge Supabase, close enforcement cutover
  .github/workflows/deploy-union-eyes.yml
  apps/union-eyes/app/api/arbitration/precedents/[id]/citations/route.ts
  apps/union-eyes/app/api/arbitration/precedents/[id]/documents/route.ts
  apps/union-eyes/app/api/arbitration/precedents/[id]/route.ts
  apps/union-eyes/app/api/arbitration/precedents/__tests__/arbitration-decisions-writerole.test.ts
  apps/union-eyes/app/api/arbitration/precedents/route.ts
  apps/union-eyes/app/api/arbitration/precedents/search/route.ts
  apps/union-eyes/db/__tests__/rls-storage-authority-registry-composition.test.ts
  apps/union-eyes/db/migrations/20260910_rls_enforcement_expansion_round58.sql
  apps/union-eyes/db/rls-storage-authority/claims-continuity.ts
  apps/union-eyes/db/rls-storage-authority/financial-service-latent.ts
  apps/union-eyes/db/rls-storage-authority/index.ts
  apps/union-eyes/lib/__tests__/db-adapter.test.ts
  apps/union-eyes/lib/config/env-validation.ts
  apps/union-eyes/lib/db-adapter.ts
  apps/union-eyes/lib/services/__tests__/pci-compliance-service.test.ts
  apps/union-eyes/lib/services/pci-compliance-service.ts
  apps/union-eyes/next.config.ts
  apps/union-eyes/package.json
  apps/union-eyes/reports/union-eyes-111-declaration-census.json
  apps/union-eyes/reports/union-eyes-authority-enforcement-round58.json
  apps/union-eyes/reports/union-eyes-authority-enforcement-round58.md
  apps/union-eyes/reports/union-eyes-canonical-database-topology-round58d.json
  apps/union-eyes/reports/union-eyes-canonical-database-topology-round58d.md
  apps/union-eyes/reports/union-eyes-rls-enforcement-blockers.json
  apps/union-eyes/scripts/rls-enforcement/__tests__/supabase-purge-ratchet.test.ts
  apps/union-eyes/scripts/rls-enforcement/census-111-declarations.ts
  apps/union-eyes/scripts/rls-enforcement/full-migration-transactional-proof.ts
  apps/union-eyes/scripts/rls-enforcement/generate-rls-enforcement-migration.ts
  apps/union-eyes/services/financial-service/.env.example
  apps/union-eyes/services/financial-service/IMPLEMENTATION_COMPLETE.md
  apps/union-eyes/services/financial-service/package.json
  pnpm-lock.yaml
  reports/union-eyes-authority-convergence-report.json
  reports/union-eyes-authority-convergence-report.md
  reports/union-eyes-explicit-grant-dry-run.json
  reports/union-eyes-explicit-grant-dry-run.md
  reports/union-eyes-public-schema-grant-census.json
  reports/union-eyes-public-schema-grant-census.md
Due: gitleaks, lint-staged, typecheck-staged

round 58e: remote-CI closure pass (ops refresh, real dependency fix, stale report fix)
  apps/union-eyes/scripts/generate-authority-convergence-report.ts
  package.json
  pnpm-lock.yaml
  reports/ops/snapshot.json
  reports/ops/snapshot.md
  reports/union-eyes-authority-convergence-report.json
  reports/union-eyes-authority-convergence-report.md
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

round 59: apply Round-58 enforcement migration atomically
  .github/workflows/deploy-union-eyes.yml
  apps/union-eyes/package.json
  apps/union-eyes/scripts/apply-authority-enforcement-migration.ts
Due: gitleaks, lint-staged, typecheck-staged

round 59: fix ALTER ROLE PASSWORD bind-parameter bug in role provisioning
  apps/union-eyes/scripts/provision-runtime-db-roles.ts
Due: gitleaks, lint-staged, typecheck-staged

round 59: fix uuid=text RLS policy operator error on real staging data
  apps/union-eyes/db/migrations/20260910_rls_enforcement_expansion_round58.sql
  apps/union-eyes/reports/union-eyes-rls-enforcement-blockers.json
  apps/union-eyes/scripts/rls-enforcement/generate-rls-enforcement-migration.ts
Due: gitleaks, lint-staged, typecheck-staged

round 59: make enforcement migration tolerant of missing tables per environment
  apps/union-eyes/db/migrations/20260910_rls_enforcement_expansion_round58.sql
  apps/union-eyes/reports/union-eyes-rls-enforcement-blockers.json
  apps/union-eyes/scripts/rls-enforcement/generate-rls-enforcement-migration.ts
Due: gitleaks, lint-staged, typecheck-staged

round 59: guard enforcement policy calls on required column existence too
  apps/union-eyes/db/migrations/20260910_rls_enforcement_expansion_round58.sql
  apps/union-eyes/reports/union-eyes-rls-enforcement-blockers.json
  apps/union-eyes/scripts/rls-enforcement/generate-rls-enforcement-migration.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: update stale Dockerfile COPY path for OCI whitepapers (relocated to docs/oci/superseded/whitepapers)
  Dockerfile
Due: none

fix: RLS preflight firewall-rule commands used ambiguous --name instead of --server-name
  .github/workflows/deploy-union-eyes.yml
Due: gitleaks

fix: az CLI on GH runner no longer accepts --rule-name for postgres firewall-rule
  .github/workflows/deploy-union-eyes.yml
Due: gitleaks

diag: add temporary read-only grant/RLS-state dump for organization_members to RLS preflight
  .github/workflows/deploy-union-eyes.yml
Due: gitleaks

fix(round59): correct round-58 grant-order regression (PART E revoked PART C's grants)
  .github/workflows/deploy-union-eyes.yml
  apps/union-eyes/package.json
  apps/union-eyes/scripts/apply-round58-grant-order-fix.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(round59): rls-verify no-context probe must accept permission-denied for LATENT_UNREACHABLE tables
  apps/union-eyes/scripts/rls-verify.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(round59): remove temporary RLS diagnostic block from deploy workflow
  .github/workflows/deploy-union-eyes.yml
Due: gitleaks

fix(union-eyes): close RLS geometry gap for pilot_applications and automation_rules
  apps/union-eyes/scripts/apply-round59-rls-geometry-gap-closure.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): stop Django backend from inheriting stale admin PGUSER
  .github/workflows/deploy-union-eyes.yml
Due: gitleaks

fix(union-eyes): hard-allowlist ReportExecutor dynamic column references
  apps/union-eyes/lib/__tests__/report-executor.test.ts
  apps/union-eyes/lib/report-executor.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): encrypt SSO oidcClientSecret at rest (Round 59B)
  apps/union-eyes/app/api/enterprise/sso/providers/__tests__/route.test.ts
  apps/union-eyes/app/api/enterprise/sso/providers/route.ts
  apps/union-eyes/lib/encryption.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): use migration-admin credential for startup migrate (Round 59B)
  .github/workflows/deploy-union-eyes.yml
  apps/union-eyes/backend/Dockerfile
Due: gitleaks
