Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

lefthook.yml:

# lefthook.yml â€” Pre-commit guardrails for Nzila Automation monorepo
# Docs: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true

  commands:
    gitleaks:
      glob: "*.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}"
      run: >
        gitleaks detect
        --source .
        --config .gitleaks.toml
        --no-banner
        --verbose
        --staged
      fail_text: |
        ðŸ”’ Gitleaks detected potential secrets in staged files.
        Review the output above and remove or rotate any exposed credentials.
        See docs/hardening/secrets.md for guidance.
        Install gitleaks: https://github.com/gitleaks/gitleaks#installing

    lint-staged:
      glob: "*.{ts,tsx,js,jsx,mjs}"
      run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Lint errors found. Run `pnpm lint` to see details."

    typecheck-staged:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Type errors found. Run `pnpm typecheck` to see details."

pre-push:
  commands:
    contract-tests:
      run: >
        npx vitest run
        --config tooling/contract-tests/vitest.config.ts
        --dir tooling/contract-tests
      fail_text: |
        Contract tests failed. Run `pnpm contract-tests` to see details.
        Do not push code that violates repo invariants.

fix(governance): sync inventory for tooling tests
  lefthook.yml
  scripts/check-inventory-staging-safety.mjs
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged

fix(gitops): pass container env vars separately
  .github/workflows/gitops-deploy.yml
  tooling/contract-tests/ci-cd-hardening.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(gitops): fail closed on deployment proof
  .github/workflows/gitops-deploy.yml
  scripts/release/build-deploy-evidence.ts
  scripts/release/drift-version.ts
  scripts/release/run-smoke.ts
  tooling/contract-tests/ci-cd-hardening.test.ts
Due: gitleaks, lint-staged, typecheck-staged

docs(convergence): refresh P0.2 repository topology
  docs/engineering-convergence/2026-09-24_PRE_PHASE_0_CONVERGENCE.md
  docs/engineering-convergence/2026-09-25_P0_2_REPOSITORY_TOPOLOGY.md
  tooling/scripts/engineering-estate-topology.ps1
Due: gitleaks

docs(convergence): record P0.3 estate findings
  docs/engineering-convergence/2026-09-24_PRE_PHASE_0_CONVERGENCE.md
Due: gitleaks

docs(convergence): close P0.4 orphan discovery
  docs/engineering-convergence/2026-09-24_PRE_PHASE_0_CONVERGENCE.md
Due: gitleaks

docs(convergence): classify every development lane
  docs/engineering-convergence/2026-09-24_PRE_PHASE_0_CONVERGENCE.md
  docs/engineering-convergence/2026-09-25_P0_5_LANE_CLASSIFICATION.md
Due: gitleaks

docs(convergence): map SaaS domains and lane conflicts
  docs/engineering-convergence/2026-09-24_PRE_PHASE_0_CONVERGENCE.md
  docs/engineering-convergence/2026-09-25_P0_5_LANE_CLASSIFICATION.md
Due: gitleaks

docs(convergence): rule migration ownership at P0.8
  docs/engineering-convergence/2026-09-24_PRE_PHASE_0_CONVERGENCE.md
  docs/engineering-convergence/2026-09-25_P0_8_MIGRATION_CONVERGENCE.md
Due: gitleaks

docs(convergence): fix P0.9 authority architecture
  docs/engineering-convergence/2026-09-25_P0_9_AUTHORITY_SECURITY_CONVERGENCE.md
Due: gitleaks

docs(convergence): protect evidence and CIVIC boundaries
  docs/engineering-convergence/2026-09-25_P0_10_DOCUMENTATION_EVIDENCE_CONVERGENCE.md
  docs/engineering-convergence/2026-09-25_P0_11_CIVIC_PROTECTION.md
Due: gitleaks

docs(convergence): establish P0.12 integration order
  docs/engineering-convergence/2026-09-25_P0_12_INTEGRATION_ORDER.md
Due: gitleaks

docs(convergence): normalize ledger formatting
  docs/engineering-convergence/2026-09-25_P0_10_DOCUMENTATION_EVIDENCE_CONVERGENCE.md
  docs/engineering-convergence/2026-09-25_P0_11_CIVIC_PROTECTION.md
  docs/engineering-convergence/2026-09-25_P0_12_INTEGRATION_ORDER.md
  docs/engineering-convergence/2026-09-25_P0_8_MIGRATION_CONVERGENCE.md
  docs/engineering-convergence/2026-09-25_P0_9_AUTHORITY_SECURITY_CONVERGENCE.md
Due: gitleaks

fix(gitops): probe control-plane health routes
  governance/release/deployment-inventory.json
  tooling/contract-tests/ci-cd-hardening.test.ts
Due: gitleaks, lint-staged, typecheck-staged

ci: scope builds and deploys to affected apps
  .github/workflows/ci.yml
  .github/workflows/gitops-deploy.yml
  scripts/release/deploy-app-selection.ts
  scripts/release/resolve-deploy-apps.ts
  tooling/contract-tests/ci-cd-hardening.test.ts
  tooling/contract-tests/gitops-app-selection.test.ts
  tooling/contract-tests/migration-safety-gate.test.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

fix(governance): block cross-app CIVIC runtime aliases
  docs/oci/CIVIC_OCI_DOCTRINE_INTEGRITY.md
  scripts/lib/civic-oci-doctrine.ts
  tooling/contract-tests/civic-oci-doctrine-integrity.test.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(ue): wire Django migrate into schema-lineage cleanroom
  apps/union-eyes/db/migrations-platform/0001_billing_subscriptions.sql
  apps/union-eyes/db/migrations-platform/0002_employer_execution_and_related_a.sql
  apps/union-eyes/db/migrations-platform/0003_integration_partners_and_security_posture.sql
  apps/union-eyes/db/migrations-platform/0004_audit_gap_canonical_tables.sql
  apps/union-eyes/db/migrations-platform/README.md
  apps/union-eyes/db/migrations-platform/meta/_journal.json
  apps/union-eyes/db/migrations/LINEAGE-FROZEN.md
  apps/union-eyes/scripts/__tests__/runtime-schema-authority-oracle.test.ts
  apps/union-eyes/scripts/generate-runtime-schema-authority-oracle.ts
  migrations/INDEX.md
  reports/union-eyes-runtime-schema-authority-oracle.json
  reports/union-eyes-runtime-schema-authority-oracle.md
  reports/union-eyes/runtime-schema-lineage/CLEANROOM_REPORT.json
  reports/union-eyes/runtime-schema-lineage/DISPATCH_STATUS.json
  reports/union-eyes/runtime-schema-lineage/PHYSICAL_ORACLE_RECONCILIATION.json
  reports/union-eyes/runtime-schema-lineage/SCHEMA_LINEAGE_MANIFEST.json
  reports/union-eyes/runtime-schema-lineage/SCHEMA_LINEAGE_MANIFEST.md
  reports/union-eyes/runtime-schema-lineage/cleanroom-public-tables.txt
  reports/union-eyes/runtime-schema-lineage/cleanroom-relations.txt
  reports/union-eyes/runtime-schema-lineage/creation-lineage-inventory.csv
  reports/union-eyes/runtime-schema-lineage/creation-lineage-inventory.json
  reports/union-eyes/runtime-schema-lineage/creation-lineages-summary.json
  reports/union-eyes/runtime-schema-lineage/disposition-cards-29.json
  reports/union-eyes/runtime-schema-lineage/disposition-cards-29.md
  reports/union-eyes/runtime-schema-lineage/no-creation-lineage-29.json
  reports/union-eyes/runtime-schema-lineage/no-creation-lineage-remaining.json
  reports/union-eyes/runtime-schema-lineage/no-lineage-29-evidence-raw.json
  reports/union-eyes/runtime-schema-lineage/proposed-A-repairs.json
  reports/union-eyes/runtime-schema-lineage/proposed-A-repairs.md
  reports/union-eyes/runtime-schema-lineage/rls-unenforced-tables.txt
  tooling/scripts/lib/union-eyes-platform-migrations.mjs
  tooling/scripts/run-union-eyes-drizzle-bootstrap.mjs
  tooling/scripts/run-union-eyes-schema-lineage-cleanroom.mjs
Due: gitleaks, lint-staged, typecheck-staged

chore(ue): record cleanroom digest and RLS blocker status
  reports/union-eyes/runtime-schema-lineage/DISPATCH_STATUS.json
Due: gitleaks

feat(ue): close RLS for 100 lineage-restored tables (scoped 0014)
  apps/union-eyes/db/migrations-cache/0014_lineage_restoration_rls_closure.sql
  apps/union-eyes/db/migrations-cache/meta/_journal.json
  reports/union-eyes/runtime-schema-lineage/CLEANROOM_REPORT.json
  reports/union-eyes/runtime-schema-lineage/DISPATCH_STATUS.json
  reports/union-eyes/runtime-schema-lineage/PHYSICAL_ORACLE_RECONCILIATION.json
  reports/union-eyes/runtime-schema-lineage/rls-unenforced-classification-raw.json
  reports/union-eyes/runtime-schema-lineage/rls-unenforced-classification.json
  reports/union-eyes/runtime-schema-lineage/rls-unenforced-columns.txt
  reports/union-eyes/runtime-schema-lineage/rls-unenforced-tables.txt
Due: gitleaks

chore(ue): record RLS PASS convergence and Azure readiness flags
  reports/union-eyes/runtime-schema-lineage/DISPATCH_STATUS.json
Due: gitleaks

fix(ue): resolve entitlements and roles under withSystemContext
  apps/union-eyes/lib/auth/rbac-server.ts
  apps/union-eyes/services/platform-economics/entitlement-guard.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(ue): point COMPLETE_SCHEMA_CONVERGENCE_SHA at publisher tip
  reports/union-eyes/runtime-schema-lineage/DISPATCH_STATUS.json
Due: gitleaks

chore(ue): record Phase G BLOCKED with org-resolution defects
  reports/union-eyes/runtime-schema-lineage/DISPATCH_STATUS.json
  reports/union-eyes/runtime-schema-lineage/PHASE_G_FIXTURES_AND_SQL_RLS.json
  reports/union-eyes/runtime-schema-lineage/PHASE_G_FIXTURE_IDS.json
  reports/union-eyes/runtime-schema-lineage/PHASE_G_RLS_AND_HTTP.json
  reports/union-eyes/runtime-schema-lineage/PHASE_G_STATUS.json
  reports/union-eyes/runtime-schema-lineage/PHASE_G_STATUS.md
Due: gitleaks

chore(ue): record Azure staging reconstitution PASS (complete lineage)
  reports/union-eyes/runtime-schema-lineage/AZURE_STAGING_RECONSTITUTION.json
  reports/union-eyes/runtime-schema-lineage/DISPATCH_STATUS.json
Due: gitleaks

fix(ue): Phase G blockers — org_members.deleted_at + /organizations/current
  apps/union-eyes/app/api/organizations/[id]/route.ts
  apps/union-eyes/app/api/organizations/current/route.ts
  apps/union-eyes/db/migrations-platform/0005_organization_members_deleted_at.sql
  apps/union-eyes/db/migrations-platform/meta/_journal.json
  tooling/scripts/run-union-eyes-schema-lineage-cleanroom.mjs
Due: gitleaks, lint-staged, typecheck-staged

chore(ue): record COMPLETE_SCHEMA_CONVERGENCE_SHA after publisher gate
  reports/union-eyes/runtime-schema-lineage/DISPATCH_STATUS.json
Due: gitleaks

fix(ue): resolve org membership under withSystemContext in auth guard
  apps/union-eyes/lib/__tests__/api-auth-guard.test.ts
  apps/union-eyes/lib/api-auth-guard.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ue): wrap /organizations/current in withRLSContext + classify INV-31b
  apps/union-eyes/app/api/organizations/current/route.ts
  tooling/contract-tests/ue-raw-db-classification.json
Due: gitleaks, lint-staged, typecheck-staged

chore(ue): set COMPLETE_SCHEMA_CONVERGENCE_SHA to branch tip f71c6e5ca
  reports/union-eyes/runtime-schema-lineage/DISPATCH_STATUS.json
Due: gitleaks

fix(ue): bootstrap getOrganizationIdForUser via withSystemContext
  apps/union-eyes/app/api/organizations/current/route.ts
  apps/union-eyes/lib/__tests__/organization-utils.test.ts
  apps/union-eyes/lib/organization-utils.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(ue): finalize DISPATCH_STATUS commitSha after RLS PASS
  reports/union-eyes/runtime-schema-lineage/DISPATCH_STATUS.json
Due: gitleaks

feat(ue): bind snapshot publisher to runtime-schema oracle
  apps/union-eyes/package.json
  apps/union-eyes/scripts/__tests__/canonical-schema-publisher-oracle-binding.test.ts
  apps/union-eyes/scripts/__tests__/runtime-schema-authority-oracle.test.ts
  reports/union-eyes-runtime-schema-authority-oracle.json
  reports/union-eyes-runtime-schema-authority-oracle.md
  reports/union-eyes/runtime-schema-lineage/DISPATCH_STATUS.json
  reports/union-eyes/runtime-schema-lineage/LOCAL_REGRESSION_GATE.json
  reports/union-eyes/runtime-schema-lineage/gates/gate-results.json
  tooling/db/canonical-schema/manifest.json
  tooling/db/canonical-schema/oracle-binding.json
  tooling/db/canonical-schema/publish-from-runtime-oracle.ts
  tooling/db/canonical-schema/verify.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(ue): finalize COMPLETE_SCHEMA_CONVERGENCE_SHA tip
  reports/union-eyes/runtime-schema-lineage/DISPATCH_STATUS.json
Due: gitleaks

fix(ue): scope grievance list/get queries with withRLSContext
  apps/union-eyes/app/api/grievances/[id]/route.ts
  apps/union-eyes/app/api/grievances/route.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(ue): Phase G status after 0000255 — original blockers cleared, authority still BLOCKED
  reports/union-eyes/runtime-schema-lineage/PHASE_G_HTTP_RERUN.json
  reports/union-eyes/runtime-schema-lineage/PHASE_G_STATUS.json
  reports/union-eyes/runtime-schema-lineage/PHASE_G_STATUS.md
Due: gitleaks

docs(ue): add Phase H pilot evidence and operational state to lineage reports
  reports/union-eyes/runtime-schema-lineage/PHASE_H_AUTH_PATH_CORRECTION.md
  reports/union-eyes/runtime-schema-lineage/PHASE_H_DISPOSITION.md
  reports/union-eyes/runtime-schema-lineage/PHASE_H_EVIDENCE.json
  reports/union-eyes/runtime-schema-lineage/PHASE_H_EVIDENCE.md
  reports/union-eyes/runtime-schema-lineage/PHASE_H_EXTERNAL_SPECIALIST_MATRIX.json
  reports/union-eyes/runtime-schema-lineage/PHASE_H_EXTERNAL_SPECIALIST_MATRIX.md
  reports/union-eyes/runtime-schema-lineage/PHASE_H_PILOT_CLOSURE_COMPLETE.md
  reports/union-eyes/runtime-schema-lineage/PHASE_H_PILOT_GOVERNANCE_PACKET.json
  reports/union-eyes/runtime-schema-lineage/PHASE_H_PILOT_GOVERNANCE_PACKET.md
  reports/union-eyes/runtime-schema-lineage/PHASE_H_PILOT_REDISPOSITION_APPLIED.json
  reports/union-eyes/runtime-schema-lineage/PHASE_H_PILOT_REDISPOSITION_APPLIED.md
  reports/union-eyes/runtime-schema-lineage/PHASE_H_PILOT_ROLLBACK_SUPPORT_SIGNOFF.json
  reports/union-eyes/runtime-schema-lineage/PHASE_H_PILOT_ROLLBACK_SUPPORT_SIGNOFF.md
  reports/union-eyes/runtime-schema-lineage/PHASE_H_PRIMARY_AUTH_PROOF.json
  reports/union-eyes/runtime-schema-lineage/PHASE_H_PRIMARY_AUTH_PROOF.md
  reports/union-eyes/runtime-schema-lineage/PILOT_OPERATIONAL_STATE.json
  reports/union-eyes/runtime-schema-lineage/PILOT_OPERATIONAL_STATE.md
  reports/union-eyes/runtime-schema-lineage/PILOT_PREFLIGHT_DISPOSITION.md
  reports/union-eyes/runtime-schema-lineage/PILOT_PREFLIGHT_EVIDENCE.json
  reports/union-eyes/runtime-schema-lineage/PILOT_PREFLIGHT_EVIDENCE.md
Due: gitleaks

chore(ue): Phase G PASS evidence — 0000259 authority matrix
  ops/governance-snapshots/staging-1790188834472.json
  reports/union-eyes/runtime-schema-lineage/DISPATCH_STATUS.json
  reports/union-eyes/runtime-schema-lineage/PHASE_G_HTTP_RERUN.json
  reports/union-eyes/runtime-schema-lineage/PHASE_G_STATUS.json
  reports/union-eyes/runtime-schema-lineage/PHASE_G_STATUS.md
Due: gitleaks

fix(ue): Phase G docs — PLATFORM_SQL 0006 + repository RLS + matrix path
  apps/union-eyes/app/api/documents/repository/[id]/route.ts
  apps/union-eyes/db/migrations-platform/0006_documents_runtime_columns.sql
  apps/union-eyes/db/migrations-platform/meta/_journal.json
  scripts/_phase_g_http_rerun.mts
  tooling/contract-tests/ue-raw-db-classification.json
  tooling/scripts/run-union-eyes-schema-lineage-cleanroom.mjs
Due: gitleaks, lint-staged, typecheck-staged

chore(ue): canonical snapshot lifecycle PASS — 92611387 publish/restore
  reports/union-eyes/runtime-schema-lineage/CANONICAL_SNAPSHOT_LIFECYCLE.json
  reports/union-eyes/runtime-schema-lineage/CANONICAL_SNAPSHOT_LIFECYCLE.md
  reports/union-eyes/runtime-schema-lineage/DISPATCH_STATUS.json
  reports/union-eyes/runtime-schema-lineage/snapshots/staging-canonical-20260923T184938Z-92611387.meta.json
Due: gitleaks

fix(ue): skip missing audit_security cleanup in seed:test-env
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged
