Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

gitleaks:
  run: 'gitleaks detect --source . --config .gitleaks.toml --no-banner --verbose --staged
  
    '
  fail_text: 'ðŸ”’ Gitleaks detected potential secrets in staged files.
  
    Review the output above and remove or rotate any exposed credentials.
  
    See docs/hardening/secrets.md for guidance.
  
  ...

lint-staged:
  run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
  fail_text: Lint errors found. Run `pnpm lint` to see details.

typecheck-staged:
  run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
  fail_text: Type errors found. Run `pnpm typecheck` to see details.

fix(release): isolate migration safety onto a fresh parallel runner
  .github/workflows/gitops-deploy.yml
  scripts/release/migration-safety-policy.ts
  scripts/release/validate-migration-safety.ts
  tooling/contract-tests/migration-safety-gate.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(release): isolate migration safety onto a fresh parallel runner (#769)
  .github/workflows/gitops-deploy.yml
  scripts/release/migration-safety-policy.ts
  scripts/release/validate-migration-safety.ts
  tooling/contract-tests/migration-safety-gate.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): run P4 Django migrations from backend cwd
  .github/workflows/union-eyes-authority-rollout.yml
  tooling/contract-tests/union-eyes-p4-authority-rollout.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): run P4 Django migrations from backend cwd (#770)
  .github/workflows/union-eyes-authority-rollout.yml
  tooling/contract-tests/union-eyes-p4-authority-rollout.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): align P4 RLS foundation with production geometry
  .github/workflows/ci.yml
  apps/union-eyes/db/__tests__/rls-0108-schema-compatibility-postgres.test.ts
  apps/union-eyes/db/migrations/0108_rls_tenant_isolation_foundation.sql
  apps/union-eyes/db/rls-0108-protected-tables.ts
  apps/union-eyes/db/rls-storage-authority/baseline-0108.ts
  apps/union-eyes/scripts/rls-verify.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(inventory): regenerate repo inventory for new 0108 test file
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

fix(union-eyes): align Round58 RLS enforcement with production authority geometry
  apps/union-eyes/db/__tests__/round58-production-geometry-remediation.test.ts
  apps/union-eyes/db/migrations/20260910_rls_enforcement_expansion_round58.sql
  apps/union-eyes/db/migrations/20260913_round58_production_geometry_prerequisites.sql
  apps/union-eyes/reports/union-eyes-rls-enforcement-blockers.json
  apps/union-eyes/scripts/apply-authority-enforcement-migration.ts
  apps/union-eyes/scripts/rls-enforcement/__tests__/generator-guarded-call-emission.test.ts
  apps/union-eyes/scripts/rls-enforcement/generate-rls-enforcement-migration.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): contain three Django ModelViewSets incompatible with Round58 authority columns
  apps/union-eyes/backend/content/tests_round58_board_packets_containment.py
  apps/union-eyes/backend/content/views.py
  apps/union-eyes/backend/tests/test_round58_six_root_writer_ratchet.py
  apps/union-eyes/backend/unions/tests_round58_voting_congress_containment.py
  apps/union-eyes/backend/unions/views.py
Due: gitleaks

chore(repo): refresh inventory for Round58 containment tests
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

fix(governance): auto-sync repo inventory to stop CI inventory-lock drift
  lefthook.yml
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

fix(governance): fail closed on unstaged inventory-relevant changes
  lefthook.yml
  scripts/check-inventory-staging-safety.mjs
Due: gitleaks, lint-staged

fix(union-eyes): make 0108 reapply least-privilege idempotent
  apps/union-eyes/scripts/__tests__/apply-rls-foundation-migration.postgres.test.ts
  apps/union-eyes/scripts/apply-rls-foundation-migration.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): harden 0108 attestation to exact policy expressions and helper signatures
  apps/union-eyes/scripts/__tests__/apply-rls-foundation-migration.postgres.test.ts
  apps/union-eyes/scripts/apply-rls-foundation-migration.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): harden 0108 reapply for exact role-set and Round58 ACL compatibility
  apps/union-eyes/scripts/__tests__/apply-rls-foundation-migration.postgres.test.ts
  apps/union-eyes/scripts/apply-rls-foundation-migration.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

fix(governance): stage regenerated inventory output in inventory-sync hook
  lefthook.yml
Due: gitleaks

fix(union-eyes): complete Round58 production geometry remediation (P4_ROUND58_COMPLETE_GEOMETRY_REMEDIATION)
  apps/union-eyes/db/migrations/20260910_rls_enforcement_expansion_round58.sql
  apps/union-eyes/db/migrations/20260915_round58_complete_production_geometry_prerequisites.sql
  apps/union-eyes/reports/union-eyes-rls-enforcement-blockers.json
  apps/union-eyes/scripts/apply-authority-enforcement-migration.ts
  apps/union-eyes/scripts/rls-enforcement/enforcement-geometry-overrides.ts
Due: gitleaks, lint-staged, typecheck-staged

test(union-eyes): harden PR #776 with committed regression suite + full apply-chain verification
  apps/union-eyes/db/__tests__/round58-complete-production-geometry-remediation.postgres.test.ts
  apps/union-eyes/db/migrations/20260914_round58_complete_production_geometry_prerequisites.sql
  apps/union-eyes/scripts/apply-authority-enforcement-migration.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

P4_ROUND58: close remaining evidence gaps with real disposable-fixture proof
  apps/union-eyes/db/__tests__/p4-authority-state-attest.postgres.test.ts
  apps/union-eyes/scripts/rls-enforcement/build-p4-disposable-fixture-cli.ts
  apps/union-eyes/scripts/rls-enforcement/p4-disposable-fixture.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): add governed existing-environment scoped migration executor
  apps/union-eyes/db/__tests__/scoped-migrations-existing-env.test.ts
  apps/union-eyes/package.json
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
  tooling/scripts/apply-union-eyes-scoped-migrations-existing-env.mjs
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): fail closed on conflicting --check/--apply, drop implicit dotenv loading
  apps/union-eyes/db/__tests__/scoped-migrations-existing-env.test.ts
  tooling/scripts/apply-union-eyes-scoped-migrations-existing-env.mjs
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): add governed existing-environment scoped migration executor (#777)
  apps/union-eyes/db/__tests__/scoped-migrations-existing-env.test.ts
  apps/union-eyes/package.json
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
  tooling/scripts/apply-union-eyes-scoped-migrations-existing-env.mjs
Due: gitleaks, lint-staged, typecheck-staged

docs(union-eyes): Phase 3A Runtime Acceptance — evidence ledger (RLS bypass finding) (#751)
  docs/union-eyes/reality-remediation/26_UE_PHASE3A_RUNTIME_ACCEPTANCE.md
Due: gitleaks

fix(union-eyes): enforce document download permission
  apps/union-eyes/app/api/documents/[id]/download/route.test.ts
  apps/union-eyes/app/api/documents/[id]/download/route.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes): add external representation authority foundation
  apps/union-eyes/db/migrations/20260915_external_representation_authority.sql
  apps/union-eyes/db/migrations/20260915_external_representation_authority_rollback.sql
  apps/union-eyes/db/schema/domains/claims/grievances.ts
  apps/union-eyes/db/schema/domains/claims/workflows.ts
  apps/union-eyes/db/schema/grievance-schema.ts
  apps/union-eyes/db/schema/grievance-workflow-schema.ts
  apps/union-eyes/db/schema/index.ts
  apps/union-eyes/db/schema/representation-authority-schema.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes): add scoped external resource authorization
  apps/union-eyes/db/__tests__/rls-storage-authority-registry-composition.test.ts
  apps/union-eyes/db/rls-storage-authority/claims-continuity.ts
  apps/union-eyes/db/rls-storage-authority/documents-evidence.ts
  apps/union-eyes/lib/external-resource-middleware.ts
  apps/union-eyes/lib/external-resource-route-utils.ts
  apps/union-eyes/lib/services/external-document-grant-service.ts
  apps/union-eyes/lib/services/external-matter-projection-service.ts
  apps/union-eyes/lib/services/external-resource-authorization-service.ts
  apps/union-eyes/lib/services/representation-authority-service.ts
  reports/union-eyes-authority-convergence-report.json
  reports/union-eyes-authority-convergence-report.md
  reports/union-eyes-explicit-grant-dry-run.json
  reports/union-eyes-explicit-grant-dry-run.md
  reports/union-eyes-public-schema-grant-census.json
  reports/union-eyes-public-schema-grant-census.md
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes): add external matter and document routes
  apps/union-eyes/app/api/external/documents/[id]/download/route.ts
  apps/union-eyes/app/api/external/documents/[id]/route.ts
  apps/union-eyes/app/api/external/grievances/[id]/documents/route.ts
  apps/union-eyes/app/api/external/grievances/[id]/documents/upload/route.ts
  apps/union-eyes/app/api/external/grievances/[id]/route.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes): add deadline confirmation workflow
  apps/union-eyes/app/api/grievance-deadlines/[id]/confirmation/route.ts
  apps/union-eyes/lib/services/deadline-confirmation-service.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

test(union-eyes): add external specialist and migration coverage
  apps/union-eyes/app/api/external/__tests__/external-routes.test.ts
  apps/union-eyes/app/api/grievance-deadlines/[id]/confirmation/route.test.ts
  apps/union-eyes/lib/services/__tests__/external-document-grant-service.test.ts
  apps/union-eyes/lib/services/__tests__/external-matter-projection-service.test.ts
  apps/union-eyes/lib/services/__tests__/external-resource-authorization-service.test.ts
  apps/union-eyes/scripts/__tests__/apply-rls-foundation-migration.postgres.test.ts
  apps/union-eyes/scripts/__tests__/p4-authority-state.postgres.test.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
  tooling/scripts/apply-union-eyes-scoped-migrations-existing-env.mjs
Due: gitleaks, lint-staged, typecheck-staged

test(union-eyes): recognize external resource auth guard
  tooling/contract-tests/org-isolation.test.ts
  tooling/contract-tests/org-scope-enforcement.test.ts
  tooling/contract-tests/vertical-governance.test.ts
Due: gitleaks, lint-staged, typecheck-staged

test(union-eyes): align RLS acceptance fixtures with organization schema
  apps/union-eyes/scripts/__tests__/rls-verify-fixture.test.ts
  apps/union-eyes/scripts/rls-verify.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

test(union-eyes): separate RLS fixture bootstrap from runtime principal
  apps/union-eyes/scripts/__tests__/rls-verify-fixture.test.ts
  apps/union-eyes/scripts/rls-verify.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): prevent internal narrative fallback in external projection
  apps/union-eyes/app/api/external/__tests__/external-routes.test.ts
  apps/union-eyes/lib/services/__tests__/external-matter-projection-service.test.ts
  apps/union-eyes/lib/services/external-matter-projection-service.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(union-eyes): add secure staging acceptance auth
  apps/union-eyes/lib/services/__tests__/external-resource-authorization-service.test.ts
  packages/platform-auth/package.json
  packages/platform-auth/src/acceptance-auth.test.ts
  packages/platform-auth/src/acceptance-auth.ts
  packages/platform-auth/src/entra/server.ts
  packages/platform-auth/src/index.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): close external specialist runtime privileges
  apps/union-eyes/db/__tests__/scoped-migrations-existing-env.test.ts
  apps/union-eyes/db/migrations-cache/0006_external_specialist_runtime_privilege_closure.rollback.sql
  apps/union-eyes/db/migrations-cache/0006_external_specialist_runtime_privilege_closure.sql
  apps/union-eyes/db/migrations-cache/meta/_journal.json
  apps/union-eyes/lib/external-resource-middleware.ts
  packages/platform-auth/src/acceptance-auth.ts
Due: gitleaks, lint-staged, typecheck-staged

test(union-eyes): mock external route RLS context
  apps/union-eyes/app/api/external/__tests__/external-routes.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(release): raise migration safety diff buffer
  scripts/release/migration-safety-policy.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): repair auth bootstrap runtime boundary
  apps/union-eyes/db/__tests__/scoped-migrations-existing-env.test.ts
  apps/union-eyes/db/migrations-cache/0007_auth_bootstrap_runtime_remediation.rollback.sql
  apps/union-eyes/db/migrations-cache/0007_auth_bootstrap_runtime_remediation.sql
  apps/union-eyes/db/migrations-cache/meta/_journal.json
  packages/platform-auth/src/auth-db.ts
  packages/platform-auth/src/password/auth-service.test.ts
  packages/platform-auth/src/password/auth-service.ts
  packages/platform-auth/src/password/session.test.ts
  packages/platform-auth/src/password/session.ts
  packages/platform-auth/src/risk/assess.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): align auth bootstrap migration with staging schema
  apps/union-eyes/db/migrations-cache/0007_auth_bootstrap_runtime_remediation.sql
Due: none

fix(union-eyes): resolve external route params in runtime
  apps/union-eyes/app/api/external/__tests__/external-routes.test.ts
  apps/union-eyes/lib/external-resource-middleware.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): support promised external route params
  apps/union-eyes/app/api/external/__tests__/external-routes.test.ts
  apps/union-eyes/lib/external-resource-middleware.ts
Due: gitleaks, lint-staged, typecheck-staged

Path conditions:
  gitleaks: any of: *.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}
  lint-staged: any of: *.{ts,tsx,js,jsx,mjs}
  typecheck-staged: any of: *.{ts,tsx}
