Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

lefthook.yml:

# lefthook.yml â€” Pre-commit guardrails for Nzila Automation monorepo
# Docs: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true

  commands:
    gitleaks:
      glob: "*.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}"
      run: >
        gitleaks detect
        --source .
        --config .gitleaks.toml
        --no-banner
        --verbose
        --staged
      fail_text: |
        ðŸ”’ Gitleaks detected potential secrets in staged files.
        Review the output above and remove or rotate any exposed credentials.
        See docs/hardening/secrets.md for guidance.
        Install gitleaks: https://github.com/gitleaks/gitleaks#installing

    lint-staged:
      glob: "*.{ts,tsx,js,jsx,mjs}"
      run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Lint errors found. Run `pnpm lint` to see details."

    typecheck-staged:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Type errors found. Run `pnpm typecheck` to see details."

pre-push:
  commands:
    contract-tests:
      run: >
        npx vitest run
        --config tooling/contract-tests/vitest.config.ts
        --dir tooling/contract-tests
      fail_text: |
        Contract tests failed. Run `pnpm contract-tests` to see details.
        Do not push code that violates repo invariants.

docs(platform): add golden path guide and platform architecture docs
  docs/GOLDEN_PATH_DEVELOPER_GUIDE.md
  docs/platform/CONTRACTS.md
  docs/platform/MIGRATION_NOTES.md
  docs/platform/ORG_SCOPE_MODEL.md
  docs/platform/PLATFORM_OPERATING_MODEL.md
  docs/platform/SHARED_SERVICES.md
  docs/platform/SHELL_ARCHITECTURE.md
Due: gitleaks

fix(cupe-vocabulary): replace deprecated moduleResolution node with bundler
  packages/cupe-vocabulary/tsconfig.json
Due: gitleaks

fix: improve build strategy — scope deploys, fix missing deps, wildcard Dockerfile COPY
  .github/workflows/deploy-console.yml
  .github/workflows/deploy-partners.yml
  .github/workflows/deploy-web.yml
  .github/workflows/gitops-deploy.yml
  Dockerfile
  apps/control-plane/package.json
  pnpm-lock.yaml
Due: gitleaks

fix: trivy BuildKit compat + lodash CVE-2026-4800 override
  .github/workflows/trivy.yml
  package.json
  pnpm-lock.yaml
Due: gitleaks

fix: deploy-production SLSA provenance — use actions/attest-build-provenance
  .github/workflows/deploy-production.yml
Due: gitleaks

fix(auth): Clerk webhook HMAC verification, add membership.updated handler
  apps/union-eyes/backend/auth_core/views.py
  apps/union-eyes/lib/auth/__tests__/role-access-flows.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): add webhook env vars to deploy + 39 Clerk webhook tests
  .github/workflows/deploy-union-eyes.yml
  apps/union-eyes/backend/auth_core/tests_clerk_webhooks.py
  apps/union-eyes/backend/config/settings.py
Due: gitleaks

feat(auth): consolidate control-plane + platform-admin onto shared Clerk instance (enhanced-muskox-49)
  apps/control-plane/app/layout.tsx
  apps/control-plane/app/sign-in/[[...sign-in]]/page.tsx
  apps/control-plane/app/sign-up/[[...sign-up]]/page.tsx
  apps/control-plane/middleware.ts
  apps/control-plane/next.config.ts
  apps/control-plane/package.json
  apps/platform-admin/app/layout.tsx
  apps/platform-admin/app/sign-in/[[...sign-in]]/page.tsx
  apps/platform-admin/app/sign-up/[[...sign-up]]/page.tsx
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

chore(auth): unify Clerk keys across all deploy workflows
  .github/workflows/deploy-union-eyes.yml
  .github/workflows/gitops-deploy.yml
Due: gitleaks

feat: add master test user provisioning script + CUPE national org
  apps/union-eyes/backend/auth_core/tests_clerk_webhooks.py
  scripts/provision-all-test-users.mjs
Due: gitleaks, lint-staged

fix: extract hardcoded secrets to env vars in provisioning script
  scripts/provision-all-test-users.mjs
Due: lint-staged

fix: resolve all CI gate failures — GA check, red-team, AI eval, IaC scan, lint
  .github/workflows/ci.yml
  .github/workflows/compliance.yml
  apps/cfo/lib/public-api.ts
  apps/console/lib/proof-center-ports.ts
  apps/flow/lib/clerk-org-resolver.ts
  apps/flow/lib/control/command-bus.ts
  apps/orchestrator-api/src/routes/workflows.ts
  apps/union-eyes/lib/dashboard-metrics.ts
  apps/zonga/lib/control/command-bus.ts
  governance/ga/GA_CHECK_REPORT.md
  governance/ga/ga-check.json
  packages/agri-core/src/schemas/index.ts
  packages/db/migrations/hash-chain-immutability-triggers.sql
  packages/zonga-control-plane/src/flow-proof.test.ts
  packages/zonga-control-plane/src/governance-proof.test.ts
  packages/zonga-economics/src/pricing-tiers.ts
  packages/zonga-events/src/event-economics.ts
  pnpm-lock.yaml
  security/redteam/deterministic.ts
  security/redteam/prompt-injection.test.ts
  security/redteam/property-based.test.ts
  tooling/ai-evals/run-evals-ci.ts
  tooling/ga-check/ga-check.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: restore fast-check devDep + sync lockfile, add gitleaks allowlist for test webhook
  .gitleaks.toml
  package.json
Due: gitleaks

fix: enable BuildKit for COPY --parents, skip infra-level Checkov checks
  .github/workflows/ci.yml
  .github/workflows/gitops-deploy.yml
Due: gitleaks

fix: use docker buildx for BuildKit, add security-events permission for SARIF upload
  .github/workflows/ci.yml
  .github/workflows/gitops-deploy.yml
Due: gitleaks

ci(gitops): add docker/setup-buildx-action for COPY --parents support
  .github/workflows/gitops-deploy.yml
Due: gitleaks

fix(docker): replace COPY --parents with RUN --mount=type=bind
  Dockerfile
Due: none

fix(zonga): harden CSP to allow Clerk auth domains
  apps/zonga/next.config.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(zonga): absolute signInUrl for satellite + copy public dir in Docker
  Dockerfile
  apps/zonga/app/layout.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): add QueryClientProvider to Providers — resolves /cba-intelligence 500
  apps/union-eyes/components/utilities/providers.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): gate cba-intelligence behind feature flag; tighten sources GET to minRole steward
  apps/union-eyes/app/[locale]/cba-intelligence/page.tsx
  apps/union-eyes/app/api/cba-intelligence/sources/[id]/route.ts
  apps/union-eyes/app/api/cba-intelligence/sources/route.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): restrict cba-intelligence to congress/federation/union org types (CUPE, CAPE, CLC level)
  apps/union-eyes/app/[locale]/cba-intelligence/page.tsx
  apps/union-eyes/components/sidebar.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): fix TS2448 sidebar orgType used before declaration
  apps/union-eyes/components/sidebar.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): remove dead organization_users step from getUserRole
  apps/union-eyes/lib/auth/rbac-server.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): update rbac-server tests + fix Dockerfile dev stage
  Dockerfile
  apps/union-eyes/lib/auth/__tests__/rbac-server.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): correct 5 marketing accuracy issues on UE site
  apps/union-eyes/app/(marketing)/features/ai-workbench/page.tsx
  apps/union-eyes/app/(marketing)/features/grievance-tracking/page.tsx
  apps/union-eyes/app/(marketing)/page.tsx
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes): world-class client billing portal
  apps/union-eyes/app/[locale]/finance/billing/page.tsx
  apps/union-eyes/app/[locale]/finance/invoices/[id]/page.tsx
  apps/union-eyes/app/[locale]/finance/invoices/page.tsx
  apps/union-eyes/app/api/finance/billing/route.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): patch remaining billing blindspots
  apps/union-eyes/app/[locale]/finance/allocation/page.tsx
  apps/union-eyes/app/[locale]/finance/page.tsx
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes): full audit phase — wire all missing API routes and fix page bugs
  apps/union-eyes/app/[locale]/dues/exceptions/page.tsx
  apps/union-eyes/app/[locale]/elections/new/page.tsx
  apps/union-eyes/app/[locale]/elections/page.tsx
  apps/union-eyes/app/[locale]/portal/page.tsx
  apps/union-eyes/app/api/cases/route.ts
  apps/union-eyes/app/api/dues/arrears/[id]/payment/route.ts
  apps/union-eyes/app/api/dues/arrears/[id]/reminder/route.ts
  apps/union-eyes/app/api/dues/arrears/route.ts
  apps/union-eyes/app/api/dues/dashboard/route.ts
  apps/union-eyes/app/api/dues/exceptions/route.ts
  apps/union-eyes/app/api/dues/reconciliation/auto-match/route.ts
  apps/union-eyes/app/api/dues/reconciliation/match/route.ts
  apps/union-eyes/app/api/dues/reconciliation/queue/route.ts
  apps/union-eyes/app/api/dues/reconciliation/reject/route.ts
  apps/union-eyes/app/api/dues/remittances/upload/route.ts
  apps/union-eyes/app/api/elections/[id]/route.ts
  apps/union-eyes/app/api/elections/[id]/vote/route.ts
  apps/union-eyes/app/api/elections/route.ts
  apps/union-eyes/app/api/grievances/workload/route.ts
  apps/union-eyes/app/api/members/import/route.ts
  apps/union-eyes/app/api/members/segments/[id]/route.ts
  apps/union-eyes/app/api/members/segments/preview/route.ts
  apps/union-eyes/app/api/strike-fund/applications/route.ts
  apps/union-eyes/app/api/strike-fund/dashboard/route.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): resolve 4 TypeScript errors from sanity check
  apps/union-eyes/app/[locale]/finance/billing/page.tsx
  apps/union-eyes/app/api/cases/route.ts
  apps/union-eyes/app/api/dues/remittances/upload/route.ts
  apps/union-eyes/app/api/members/segments/[id]/route.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): scope pension/benefit page to calling member's own data
  apps/union-eyes/app/api/pension/benefits/route.ts
  apps/union-eyes/app/api/pension/contributions/route.ts
  apps/union-eyes/app/api/pension/members/route.ts
  apps/union-eyes/app/api/pension/t4a/route.ts
  apps/union-eyes/components/pension/pension-member-console.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): wire education/training page to real DB data
  apps/union-eyes/app/[locale]/training/page.tsx
  apps/union-eyes/app/api/education/certifications/route.ts
  apps/union-eyes/app/api/education/completions/route.ts
  apps/union-eyes/app/api/education/programs/route.ts
  apps/union-eyes/app/api/education/registrations/route.ts
  apps/union-eyes/app/api/education/sessions/route.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): fix integration dashboard SQL queries to match actual schema
  apps/union-eyes/app/[locale]/dashboard/integrations/page.tsx
  apps/union-eyes/app/api/integrations/api-keys/route.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(cross-app): wire all required connections between union-eyes, console, control-plane and platform-admin
  apps/console/app/(dashboard)/console/page.tsx
  apps/control-plane/app/api/control-plane/modules/union-eyes/telemetry/route.ts
  apps/union-eyes/app/api/metrics/operational/route.ts
  apps/union-eyes/app/api/union-eyes/queue-status/route.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(staging): add NEXT_PUBLIC_CONTROL_PLANE_URL and NEXT_PUBLIC_PLATFORM_ADMIN_URL build args
  .github/workflows/gitops-deploy.yml
  Dockerfile
Due: gitleaks

feat(union-eyes): add server-side role/feature gates to dashboard pages
  apps/union-eyes/app/[locale]/dashboard/ai-assistant/page.tsx
  apps/union-eyes/app/[locale]/dashboard/movement-insights/export/page.tsx
  apps/union-eyes/app/[locale]/dashboard/movement-insights/page.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(web): remove specific AI prompt/model counts from public-facing copy
  apps/web/app/investors/page.tsx
  apps/web/app/page.tsx
  apps/web/app/products/page.tsx
  apps/web/app/verticals/[slug]/page.tsx
Due: gitleaks, lint-staged, typecheck-staged

chore(scripts): update zonga Clerk provision and seed scripts
  scripts/zonga-clerk-provision.mjs
  scripts/zonga-clerk-seed.sql
Due: lint-staged
