Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

gitleaks:
  run: 'gitleaks detect --source . --config .gitleaks.toml --no-banner --verbose --staged
  
    '
  fail_text: 'ðŸ”’ Gitleaks detected potential secrets in staged files.
  
    Review the output above and remove or rotate any exposed credentials.
  
    See docs/hardening/secrets.md for guidance.
  
  ...

lint-staged:
  run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
  fail_text: Lint errors found. Run `pnpm lint` to see details.

typecheck-staged:
  run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
  fail_text: Type errors found. Run `pnpm typecheck` to see details.

chore: refresh canonical repo inventory outputs
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

fix: make repo-inventory generatedAt day-stable for CI drift checks
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/src/generate.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: stabilize k6 smoke gate for unauthenticated CI runs
  tests/load/smoke.js
Due: gitleaks, lint-staged

fix(zonga): satisfy worker route governance contracts
  apps/zonga/app/api/internal/workers/crm-retry/route.ts
  apps/zonga/app/api/internal/workers/mpesa-retries/route.ts
Due: gitleaks, lint-staged, typecheck-staged

governance: capital allocation engine with catalog-governed allocation rules
  .github/workflows/capital-discipline.yml
  README.md
  governance/portfolio/product-catalog.json
  package.json
  reports/capital-allocation.md
  reports/capital-signal-readiness.md
  reports/founder-time-map.md
  reports/kill-list.md
  reports/portfolio-status.json
  reports/resource-allocation.md
  reports/runway-scenarios.md
  reports/top-3-to-fund.md
  scripts/generate-capital-allocation.ts
  scripts/lib/capital-allocation.ts
  scripts/lib/capital-signal-adapters.ts
  scripts/runway-model.ts
  scripts/validate-capital-discipline.ts
  tests/capital-allocation.spec.ts
  tooling/contract-tests/capital-allocation.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: satisfy contract guards and stabilize capital scenario evaluation
  apps/zonga/app/api/internal/workers/media-transcode/route.ts
  ops/outputs/data-residency-runtime.json
  ops/outputs/governance-runtime-budget.json
  ops/outputs/onboarding-kpis.json
  ops/outputs/strategic-resilience-report.json
  scripts/lib/capital-allocation.ts
Due: gitleaks, lint-staged, typecheck-staged

chore: refresh portfolio status artifact
  reports/portfolio-status.json
Due: gitleaks

docs(abr): update Sprint 4 final-delta deliverables to marketing site and documentation
  CHANGELOG.md
  apps/abr/README.md
Due: gitleaks

fix(actions): satisfy ABR contract auth/org-scope gates
  apps/abr/app/api/abr/dashboard/route.ts
  apps/abr/app/api/abr/export/executive-summary/route.ts
  apps/abr/app/api/abr/export/incidents/route.ts
  apps/abr/app/api/abr/export/remediation/route.ts
  apps/abr/app/api/abr/exports/dashboard/route.ts
  apps/abr/app/api/abr/exports/incidents/route.ts
  apps/abr/app/api/abr/incidents/[id]/actions/route.ts
  apps/abr/app/api/abr/incidents/[id]/assign/route.ts
  apps/abr/app/api/abr/incidents/[id]/route.ts
  apps/abr/app/api/abr/incidents/[id]/transition/route.ts
  apps/abr/app/api/abr/incidents/route.ts
  apps/abr/lib/api-guards.ts
  apps/abr/lib/audit-log.ts
  apps/abr/modules/incidents/service.ts
  tooling/contract-tests/db-boundary.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(contracts): add version/ready/auth_core route exclusions, fix SQL JOIN false positive
  apps/abr/maturity.json
  apps/agrimo/maturity.json
  apps/cfo/maturity.json
  apps/console/maturity.json
  apps/control-plane/maturity.json
  apps/cora/maturity.json
  apps/flow/maturity.json
  apps/mobility-client-portal/maturity.json
  apps/mobility/maturity.json
  apps/nacp-exams/maturity.json
  apps/orchestrator-api/maturity.json
  apps/partners/maturity.json
  apps/platform-admin/maturity.json
  apps/trade/maturity.json
  apps/union-eyes/maturity.json
  apps/web/maturity.json
  apps/zonga/maturity.json
  docs/platform/portfolio-matrix.md
  nzila-truth-manifest.json
  reports/portfolio-investor-view.md
  reports/portfolio-ops-dashboard.json
  reports/portfolio-status.json
  reports/portfolio-status.md
  tooling/contract-tests/cross-org-breach-http.test.ts
  tooling/contract-tests/org-isolation-runtime.test.ts
  tooling/contract-tests/org-isolation.test.ts
  tooling/contract-tests/org-scope-enforcement.test.ts
  tooling/contract-tests/vertical-governance.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(contracts): resolve all 68 contract test failures
  apps/abr/modules/incidents/service.ts
  apps/console/app/api/health/route.ts
  apps/partners/app/api/health/route.ts
  apps/union-eyes/app/api/health/route.ts
  tooling/contract-tests/abr-org-isolation.test.ts
  tooling/contract-tests/api-completeness.test.ts
  tooling/contract-tests/api-contracts.test.ts
  tooling/contract-tests/api-route-otel.test.ts
  tooling/contract-tests/cross-org-breach-http.test.ts
  tooling/contract-tests/observability-coverage.test.ts
  tooling/contract-tests/observability-unification.test.ts
  tooling/contract-tests/org-isolation-runtime.test.ts
  tooling/contract-tests/org-isolation.test.ts
  tooling/contract-tests/org-scope-enforcement.test.ts
  tooling/contract-tests/telemetry-coverage.test.ts
  tooling/contract-tests/vertical-governance.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(contracts): resolve all 68 contract test failures (#391)
  apps/abr/maturity.json
  apps/abr/modules/incidents/service.ts
  apps/agrimo/maturity.json
  apps/cfo/maturity.json
  apps/console/app/api/health/route.ts
  apps/console/maturity.json
  apps/control-plane/maturity.json
  apps/cora/maturity.json
  apps/flow/maturity.json
  apps/mobility-client-portal/maturity.json
  apps/mobility/maturity.json
  apps/nacp-exams/maturity.json
  apps/orchestrator-api/maturity.json
  apps/partners/app/api/health/route.ts
  apps/partners/maturity.json
  apps/platform-admin/maturity.json
  apps/trade/maturity.json
  apps/union-eyes/app/api/health/route.ts
  apps/union-eyes/maturity.json
  apps/web/maturity.json
  apps/zonga/maturity.json
  docs/platform/portfolio-matrix.md
  nzila-truth-manifest.json
  reports/portfolio-investor-view.md
  reports/portfolio-ops-dashboard.json
  reports/portfolio-status.json
  reports/portfolio-status.md
  tooling/contract-tests/abr-org-isolation.test.ts
  tooling/contract-tests/api-completeness.test.ts
  tooling/contract-tests/api-contracts.test.ts
  tooling/contract-tests/api-route-otel.test.ts
  tooling/contract-tests/cross-org-breach-http.test.ts
  tooling/contract-tests/observability-coverage.test.ts
  tooling/contract-tests/observability-unification.test.ts
  tooling/contract-tests/org-isolation-runtime.test.ts
  tooling/contract-tests/org-isolation.test.ts
  tooling/contract-tests/org-scope-enforcement.test.ts
  tooling/contract-tests/telemetry-coverage.test.ts
  tooling/contract-tests/vertical-governance.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: upgrade Django 5.1→5.2.1 (9 CVEs) + README canonical truth
  README.md
  apps/abr/backend/requirements.txt
  apps/abr/modules/intelligence/service.ts
  apps/agrimo/backend/requirements.txt
  apps/union-eyes/backend/requirements.txt
  apps/zonga/backend/requirements.txt
  tech-repo-scaffold/django-backbone/requirements/base.txt
  tech-repo-scaffold/vertical-apps/template/backend/requirements.txt
Due: gitleaks, lint-staged, typecheck-staged

feat: wire Playwright E2E into CI
  .github/workflows/e2e.yml
  apps/cfo/e2e/cfo.spec.ts
  apps/cfo/package.json
  apps/cfo/playwright.config.ts
  apps/console/package.json
  apps/console/playwright.config.ts
  apps/flow/e2e/flow.spec.ts
  apps/flow/package.json
  apps/flow/playwright.config.ts
  apps/partners/e2e/partners.spec.ts
  apps/partners/package.json
  apps/partners/playwright.config.ts
  apps/web/package.json
  apps/web/playwright.config.ts
Due: gitleaks, lint-staged, typecheck-staged

chore: update lockfile with @playwright/test deps
  pnpm-lock.yaml
Due: gitleaks

fix(e2e): use PORT env var instead of -- -p flag for next start
  .github/workflows/e2e.yml
Due: gitleaks

fix(docs): resolve all broken markdown links
  .linkcheckignore
  apps/flow/docs/DOMAIN_MODEL.md
  apps/flow/docs/DOMAIN_MODEL_HARDENED.md
  apps/flow/docs/RUNBOOK.md
  apps/flow/docs/SHOPMOICA-DEMO-FLOW.md
  apps/flow/docs/STAGING_SEED_GUIDE.md
  apps/flow/docs/WORKFLOW_MODEL.md
  docs/REMEDIATION_TASKS.md
  docs/architecture/ARCHITECTURAL_LAYERS.md
  docs/architecture/ARCHITECTURE_GOVERNANCE_INDEX.md
  docs/architecture/AUTH_ARCHITECTURE.md
  docs/governance/APP_LIFECYCLE_MATRIX.md
  docs/governance/CBA_INTELLIGENCE_VALIDATION_REPORT.md
  docs/governance/PLATFORM_SURFACE_RESPONSIBILITIES.md
  docs/governance/PLATFORM_VS_APP_DECISION_RULE.md
  docs/governance/enterprise-readiness.md
  docs/migration/app-alignment/union-eyes.md
  docs/ops/disaster-recovery.md
  docs/ops/incident-response.md
  docs/ops/on-call.md
  docs/pilot/01-scope-checklist.md
  docs/pilot/04-monitoring-and-slos.md
  docs/plans/LOAD_PROJECTION_CAPACITY_PLAN.md
  docs/plans/partner-app-validation.md
  docs/plans/probabilistic-cardinality-replicability-plan.md
  docs/platform/PLATFORM_SURFACE_MODEL.md
  docs/risk/nzila-ai-risk-register.md
  docs/zonga/pilot-commercial-model.md
  docs/zonga/pilot-readiness-audit.md
  ops/runbooks/finance-close/README.md
  ops/runbooks/governance/README.md
  ops/runbooks/numbered/README.md
  ops/runbooks/platform/ai-model-rollback.md
  ops/runbooks/platform/database-recovery.md
  ops/runbooks/platform/incident-response.md
  ops/runbooks/platform/tenant-offboarding.md
  ops/runbooks/ue-pilot.md
  packages/platform-jurisdiction-compliance/INTEGRATION_GUIDE.md
  packages/platform-jurisdiction-compliance/POLICY_API_REFERENCE.md
  scripts/migrations/agri/README.md
Due: gitleaks

fix(docs): track proof-artifacts/README.md so link-check passes in CI
  .gitignore
  proof-artifacts/README.md
Due: gitleaks

fix(scripts): use path.sep in safeJoin for cross-platform CI
  scripts/docs/build-docs-index.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(platform-evidence-pack): correct avgOverrideRatePct test expectation (64.3/12=5.36)
  packages/platform-evidence-pack/src/__tests__/ai-governance-monthly.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(web): set reuseExistingServer:true in Playwright config
  apps/web/playwright.config.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(e2e): set reuseExistingServer:true in all Playwright configs
  apps/cfo/playwright.config.ts
  apps/console/playwright.config.ts
  apps/control-plane/playwright.config.ts
  apps/flow/playwright.config.ts
  apps/partners/playwright.config.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(e2e): use standalone server.js instead of next start in CI
  .github/workflows/e2e.yml
Due: gitleaks

fix(e2e): correct standalone server.js path for monorepo structure
  .github/workflows/e2e.yml
Due: gitleaks

fix(web/e2e): align assertions with actual CI behavior (title, auth)
  apps/web/e2e/web.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(e2e): add DATABASE_URL stub to pass boot assertions in CI
  .github/workflows/e2e.yml
Due: gitleaks

fix(e2e): align all app specs with CI reality (no DB, no auth session)
  apps/cfo/e2e/cfo.spec.ts
  apps/console/e2e/console.spec.ts
  apps/flow/e2e/flow.spec.ts
  apps/partners/e2e/partners.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(e2e): add CONTROL_PLANE_API_KEY and UNION_EYES_URL stubs for CI boot
  .github/workflows/e2e.yml
Due: gitleaks

fix(e2e): skip Playwright webServer in CI for control-plane (workflow handles startup)
  apps/control-plane/playwright.config.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(e2e): add CONTROL_PLANE_URL and ORCHESTRATOR_API_URL stubs for console boot-env
  .github/workflows/e2e.yml
Due: gitleaks

fix(e2e): align health contract fields and harden flow CI assertions
  apps/cfo/e2e/cfo.spec.ts
  apps/flow/e2e/flow.spec.ts
  apps/partners/e2e/partners.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

Path conditions:
  gitleaks: any of: *.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}
  lint-staged: any of: *.{ts,tsx,js,jsx,mjs}
  typecheck-staged: any of: *.{ts,tsx}
