Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

lefthook.yml:

# lefthook.yml â€” Pre-commit guardrails for Nzila Automation monorepo
# Docs: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true

  commands:
    gitleaks:
      glob: "*.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}"
      run: >
        gitleaks detect
        --source .
        --config .gitleaks.toml
        --no-banner
        --verbose
        --staged
      fail_text: |
        ðŸ”’ Gitleaks detected potential secrets in staged files.
        Review the output above and remove or rotate any exposed credentials.
        See docs/hardening/secrets.md for guidance.
        Install gitleaks: https://github.com/gitleaks/gitleaks#installing

    lint-staged:
      glob: "*.{ts,tsx,js,jsx,mjs}"
      run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Lint errors found. Run `pnpm lint` to see details."

    typecheck-staged:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Type errors found. Run `pnpm typecheck` to see details."

pre-push:
  commands:
    contract-tests:
      run: >
        npx vitest run
        --config tooling/contract-tests/vitest.config.ts
        --dir tooling/contract-tests
      fail_text: |
        Contract tests failed. Run `pnpm contract-tests` to see details.
        Do not push code that violates repo invariants.

feat(ue): Phase B infra maturity — AFD/WAF, evidence blob store, KV RBAC, IaC parity
  apps/union-eyes/docs/FINAL_READINESS_STATUS.md
  apps/union-eyes/docs/OBSERVABILITY_VALIDATION.md
  apps/union-eyes/docs/PHASE_B_PRODUCTION_DEPLOYMENT_VALIDATION.md
  apps/union-eyes/docs/PILOT_RUNTIME_REVIEW.md
  apps/union-eyes/docs/PRODUCTION_INFRA_INVENTORY.md
  apps/union-eyes/docs/SECRET_MANAGEMENT_VALIDATION.md
  apps/union-eyes/infra/environments/union-eyes-env.bicep
  apps/union-eyes/infra/waf-afd/waf-afd.bicep
Due: gitleaks

feat(ue): KV migration complete, AFD custom domain + diag logs, revision --0000064
  apps/union-eyes/docs/FINAL_READINESS_STATUS.md
  apps/union-eyes/docs/PILOT_RUNTIME_REVIEW.md
Due: gitleaks

feat(ue): IaC KV-integrated secrets, Cloudflare DNS script, stale secret cleanup
  apps/union-eyes/docs/OBSERVABILITY_VALIDATION.md
  apps/union-eyes/docs/PRODUCTION_INFRA_INVENTORY.md
  apps/union-eyes/docs/SECRET_MANAGEMENT_VALIDATION.md
  apps/union-eyes/infra/dns/cloudflare-dns-afd.ps1
  apps/union-eyes/infra/environments/union-eyes-env.bicep
Due: gitleaks

docs(union-eyes): add PRODUCT_READINESS_REPORT synthesising all validation sources
  apps/union-eyes/docs/PRODUCT_READINESS_REPORT.md
Due: gitleaks

fix(union-eyes): P1/P2 — create 404 list pages + migrate FSM to canonical authority
  apps/union-eyes/app/[locale]/dashboard/cases/page.tsx
  apps/union-eyes/app/[locale]/dashboard/claims/page.tsx
  apps/union-eyes/app/[locale]/dashboard/grievances/page.tsx
  apps/union-eyes/app/api/cases/[caseId]/transition/route.ts
  apps/union-eyes/components/cases/cases-console.tsx
  apps/union-eyes/components/claims/claims-console.tsx
  apps/union-eyes/docs/FSM_AUTHORITY.md
  apps/union-eyes/e2e/missing-routes.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes): validation pass docs, UX fixes, e2e specs, FSM audit complete
  apps/union-eyes/app/[locale]/(marketing)/pilot-request/page.tsx
  apps/union-eyes/app/[locale]/dashboard/admin/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/claims/new/page.tsx
  apps/union-eyes/app/[locale]/dashboard/documents/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/loading.tsx
  apps/union-eyes/app/api/cases/[caseId]/next-actions/route.ts
  apps/union-eyes/app/api/cron/sla-watchdog/route.ts
  apps/union-eyes/app/api/workflow/transition/route.ts
  apps/union-eyes/docs/FLOW_VALIDATION_MATRIX.md
  apps/union-eyes/docs/MODULE_PAGE_INVENTORY.md
  apps/union-eyes/docs/PAGE_RENDER_VALIDATION.md
  apps/union-eyes/docs/USER_JOURNEY_VALIDATION.md
  apps/union-eyes/docs/USER_TESTING_PLAN.md
  apps/union-eyes/docs/USER_TESTING_RESULTS.md
  apps/union-eyes/docs/UX_CLEANUP_LOG.md
  apps/union-eyes/e2e/empty-states.spec.ts
  apps/union-eyes/e2e/member-journey.spec.ts
  apps/union-eyes/e2e/permission-boundaries.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(ops): refresh runtime outputs — governance scan post-AFD/WAF deploy
  ops/outputs/data-residency-runtime.json
  ops/outputs/governance-runtime-budget.json
  ops/outputs/onboarding-kpis.json
  ops/outputs/strategic-resilience-report.json
  reports/doc-consistency.json
  reports/doc-consistency.md
Due: gitleaks

fix(contract-tests): register new list pages, fix stale Clerk vendor refs in docs
  apps/union-eyes/docs/FLOW_VALIDATION_MATRIX.md
  apps/union-eyes/docs/USER_JOURNEY_VALIDATION.md
  tooling/contract-tests/ue-auth-reality.test.ts
  tooling/contract-tests/ue-persona-access.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): split feature-flag constants to break server->client import chain
  apps/union-eyes/components/cases/case-list.tsx
  apps/union-eyes/components/dashboard/signals-widget.tsx
  apps/union-eyes/lib/services/feature-flags.constants.ts
  apps/union-eyes/lib/services/feature-flags.ts
  apps/union-eyes/tsconfig.json
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): align union-eyes QA baseline with canonical schema; soft-smoke opt-in for unverified custom domains
  .github/workflows/deploy-union-eyes.yml
  tooling/sql/union-eyes-qa-baseline.sql
Due: gitleaks

fix(ci): add billing tables to QA baseline; default app.unioneyes.app to soft smoke
  .github/workflows/deploy-union-eyes.yml
  tooling/sql/union-eyes-qa-baseline.sql
Due: gitleaks

fix(ci): add platform_invoices/platform_payments to QA baseline
  tooling/sql/union-eyes-qa-baseline.sql
Due: none

fix(i18n): add grievancesPage/casesPage metadata namespaces
  apps/union-eyes/messages/en-CA.json
  apps/union-eyes/messages/en.json
  apps/union-eyes/messages/fr-CA.json
  apps/union-eyes/messages/fr.json
  apps/union-eyes/messages/it.json
  apps/union-eyes/messages/pt.json
Due: gitleaks

test(redteam): recognize withApi wrapper as org-scoped (ue org-scope fuzz)
  security/redteam/ue-org-scope-fuzz.test.ts
Due: gitleaks, lint-staged, typecheck-staged

test(redteam): add withApiAuth + withRoleAuth to org enforcement patterns
  security/redteam/ue-org-scope-fuzz.test.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): guard getUserRole in dashboard layout; fix RED-TEAM-ORG-007; use readFileSync in inventory generator
  apps/union-eyes/app/[locale]/dashboard/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/work/page.tsx
  security/redteam/ue-org-scope-fuzz.test.ts
  tooling/repo-inventory/src/generate.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(dashboard): guard getOrganizationIdForUser with try/catch to prevent 500
  apps/union-eyes/app/[locale]/dashboard/layout.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(dashboard): guard root page errors with fallbacks instead of re-throwing
  apps/union-eyes/app/[locale]/dashboard/page.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(deploy): soft-warn on app.unioneyes.app in DNS verification step
  .github/workflows/deploy-union-eyes.yml
Due: gitleaks

fix(e2e): remove nested main from LayoutWrapper; add role=main to ShellLayout
  apps/union-eyes/components/layout-wrapper.tsx
  packages/platform-shell/src/components/ShellLayout.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(dashboard): use main element in DashboardLayout content area
  apps/union-eyes/app/[locale]/dashboard/layout.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): production release remediation (P1–P5)
  apps/union-eyes/app/[locale]/(marketing)/governance/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/trust/stewardship-appendix/page.tsx
  apps/union-eyes/app/[locale]/dashboard/layout.tsx
  apps/union-eyes/app/api/members/__tests__/route.cross-org.test.ts
  apps/union-eyes/app/api/members/route.ts
  apps/union-eyes/components/mobile/BottomNav.tsx
  apps/union-eyes/db/migrations/0097_nzilaos_rls_org_isolation.sql
  apps/union-eyes/db/migrations/0098_predeployment_hardening.sql
  apps/union-eyes/db/migrations/0099_audit_remediation.sql
  apps/union-eyes/db/migrations/0100_clerk_to_entra_user_ids.sql
  apps/union-eyes/db/migrations/0101_auth_password_reset_tokens.sql
  apps/union-eyes/db/migrations/0102_align_organization_members_columns.sql
  apps/union-eyes/db/migrations/0103_org_users_unique_constraint.sql
  apps/union-eyes/db/migrations/0104_dedup_and_quality_warnings.sql
  apps/union-eyes/db/migrations/0105_correspondence_pipeline.sql
  apps/union-eyes/db/migrations/0106_integration_fabric.sql
  apps/union-eyes/db/migrations/MANIFEST.md
  apps/union-eyes/reports/narrative/narrative-audit.json
  apps/union-eyes/reports/narrative/narrative-audit.md
  apps/union-eyes/scripts/generate-migration-manifest.ts
  docs/documentation-index.md
  docs/ops/ownership-registry.md
  docs/ops/release-governance/release-governance-audit.md
  ops/outputs/data-residency-runtime.json
  ops/outputs/governance-runtime-budget.json
  ops/outputs/onboarding-kpis.json
  ops/outputs/strategic-resilience-report.json
  reports/doc-consistency.json
  reports/doc-consistency.md
  reports/documentation-index.json
  reports/ownership-registry.json
  reports/release-governance-audit.json
  reports/release-secret-audit.json
  reports/repo-excellence-audit.json
  reports/repo-excellence-audit.md
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes): governed runtime registry + dashboard auth + API CI enforcement
  apps/union-eyes/app/[locale]/dashboard/analytics/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/audits/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/governance-center/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/governance/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/integrations/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/reports/layout.tsx
  apps/union-eyes/lib/api/with-api.ts
  apps/union-eyes/lib/dashboard/require-dashboard-access.ts
  apps/union-eyes/package.json
  apps/union-eyes/reports/route-registry.json
  apps/union-eyes/scripts/generate-route-registry.ts
  apps/union-eyes/scripts/validate-api-governance.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(middleware): activate Next.js middleware stack via middleware.ts entrypoint
  apps/union-eyes/lib/api/with-api.ts
  apps/union-eyes/lib/rate-limiter.ts
  apps/union-eyes/middleware.ts
  apps/union-eyes/proxy.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(governance): runtime policy orchestration — closes annotation-to-enforcement loop
  apps/union-eyes/lib/api/route-policy.ts
  apps/union-eyes/lib/api/with-api.ts
  apps/union-eyes/package.json
  apps/union-eyes/reports/route-registry.json
  apps/union-eyes/scripts/generate-route-registry.ts
  apps/union-eyes/scripts/validate-route-policies.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(governance): production gate validation + deprecated route policy coverage
  apps/union-eyes/app/api/members/__tests__/route.cross-org.test.ts
  apps/union-eyes/lib/api-auth-guard.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(governance): Wave 7 — policy orchestration + federation inheritance
  apps/union-eyes/evidence-output/artifacts.json
  apps/union-eyes/evidence-output/pack.json
  apps/union-eyes/evidence-output/seal.json
  apps/union-eyes/lib/governance-policy/__tests__/evaluation.test.ts
  apps/union-eyes/lib/governance-policy/__tests__/inheritance.test.ts
  apps/union-eyes/lib/governance-policy/ai-governance.ts
  apps/union-eyes/lib/governance-policy/contracts.ts
  apps/union-eyes/lib/governance-policy/evaluation.ts
  apps/union-eyes/lib/governance-policy/inheritance.ts
  apps/union-eyes/lib/governance-policy/registry.ts
  apps/union-eyes/lib/governance-policy/types.ts
  apps/union-eyes/lib/public-experience/governance.ts
  apps/union-eyes/package.json
  apps/union-eyes/scripts/generate-governance-ledger.ts
  apps/union-eyes/scripts/generate-governance-summary.ts
  apps/union-eyes/scripts/validate-governance-contracts.ts
  docs/documentation-index.md
  docs/ops/ownership-registry.md
  docs/ops/release-governance/release-governance-audit.md
  reports/doc-consistency.json
  reports/doc-consistency.md
  reports/documentation-index.json
  reports/ownership-registry.json
  reports/release-governance-audit.json
  reports/release-secret-audit.json
  reports/repo-excellence-audit.json
  reports/repo-excellence-audit.md
Due: gitleaks, lint-staged, typecheck-staged

feat(observability): Wave 8 — governed observability + evidence correlation
  apps/union-eyes/lib/api/with-api.ts
  apps/union-eyes/lib/governance-observability/__tests__/classification.test.ts
  apps/union-eyes/lib/governance-observability/__tests__/correlation.test.ts
  apps/union-eyes/lib/governance-observability/__tests__/ledger.test.ts
  apps/union-eyes/lib/governance-observability/__tests__/retention.test.ts
  apps/union-eyes/lib/governance-observability/__tests__/telemetry.test.ts
  apps/union-eyes/lib/governance-observability/classification.ts
  apps/union-eyes/lib/governance-observability/correlation.ts
  apps/union-eyes/lib/governance-observability/ledger.ts
  apps/union-eyes/lib/governance-observability/retention.ts
  apps/union-eyes/lib/governance-observability/telemetry.ts
  apps/union-eyes/lib/governance-observability/types.ts
  apps/union-eyes/lib/governance-policy/ai-governance.ts
  apps/union-eyes/lib/public-experience/governance.ts
  apps/union-eyes/package.json
  apps/union-eyes/scripts/generate-observability-report.ts
  apps/union-eyes/scripts/validate-governance-observability.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(simulation): Wave 9 — governance digital twin + operational simulation fabric
  apps/union-eyes/lib/governance-simulation/__tests__/ai-simulation.test.ts
  apps/union-eyes/lib/governance-simulation/__tests__/continuity.test.ts
  apps/union-eyes/lib/governance-simulation/__tests__/federation.test.ts
  apps/union-eyes/lib/governance-simulation/__tests__/ledger.test.ts
  apps/union-eyes/lib/governance-simulation/__tests__/scenarios.test.ts
  apps/union-eyes/lib/governance-simulation/__tests__/scoring.test.ts
  apps/union-eyes/lib/governance-simulation/__tests__/simulation.test.ts
  apps/union-eyes/lib/governance-simulation/ai-simulation.ts
  apps/union-eyes/lib/governance-simulation/continuity.ts
  apps/union-eyes/lib/governance-simulation/federation.ts
  apps/union-eyes/lib/governance-simulation/ledger.ts
  apps/union-eyes/lib/governance-simulation/scenarios.ts
  apps/union-eyes/lib/governance-simulation/scoring.ts
  apps/union-eyes/lib/governance-simulation/simulation.ts
  apps/union-eyes/lib/governance-simulation/types.ts
  apps/union-eyes/package.json
  apps/union-eyes/scripts/generate-simulation-report.ts
  apps/union-eyes/scripts/validate-governance-simulation.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(sovereignty): Wave 10 — sovereign federation execution fabric
  apps/union-eyes/lib/federation-sovereignty/__tests__/autonomy.test.ts
  apps/union-eyes/lib/federation-sovereignty/__tests__/conflicts.test.ts
  apps/union-eyes/lib/federation-sovereignty/__tests__/coordination.test.ts
  apps/union-eyes/lib/federation-sovereignty/__tests__/delegation.test.ts
  apps/union-eyes/lib/federation-sovereignty/__tests__/inheritance.test.ts
  apps/union-eyes/lib/federation-sovereignty/__tests__/ledger.test.ts
  apps/union-eyes/lib/federation-sovereignty/__tests__/simulation.test.ts
  apps/union-eyes/lib/federation-sovereignty/autonomy.ts
  apps/union-eyes/lib/federation-sovereignty/conflicts.ts
  apps/union-eyes/lib/federation-sovereignty/coordination.ts
  apps/union-eyes/lib/federation-sovereignty/delegation.ts
  apps/union-eyes/lib/federation-sovereignty/inheritance.ts
  apps/union-eyes/lib/federation-sovereignty/ledger.ts
  apps/union-eyes/lib/federation-sovereignty/scoring.ts
  apps/union-eyes/lib/federation-sovereignty/simulation.ts
  apps/union-eyes/lib/federation-sovereignty/types.ts
  apps/union-eyes/lib/public-experience/types.ts
  apps/union-eyes/package.json
  apps/union-eyes/scripts/generate-sovereignty-report.ts
  apps/union-eyes/scripts/validate-governance-sovereignty.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(trust-center): Wave 11 — buyer evidence automation
  apps/union-eyes/docs/INDEX.md
  apps/union-eyes/docs/trust-center/AI_GOVERNANCE_AND_HUMAN_OVERSIGHT.md
  apps/union-eyes/docs/trust-center/BUSINESS_CONTINUITY_AND_RECOVERY_OVERVIEW.md
  apps/union-eyes/docs/trust-center/DATA_RESIDENCY_AND_INFRASTRUCTURE_OVERVIEW.md
  apps/union-eyes/docs/trust-center/FEDERATION_AND_SOVEREIGNTY_OVERVIEW.md
  apps/union-eyes/docs/trust-center/GOVERNANCE_AND_AUDITABILITY_OVERVIEW.md
  apps/union-eyes/docs/trust-center/INDEX.md
  apps/union-eyes/docs/trust-center/PROCUREMENT_EVIDENCE_MAP.md
  apps/union-eyes/docs/trust-center/PUBLIC_SAFE_ARCHITECTURE_SUMMARY.md
  apps/union-eyes/docs/trust-center/SECURITY_AND_PRIVACY_OVERVIEW.md
  apps/union-eyes/lib/trust-center/__tests__/evidence.test.ts
  apps/union-eyes/lib/trust-center/evidence.ts
  apps/union-eyes/lib/trust-center/types.ts
  apps/union-eyes/package.json
  apps/union-eyes/reports/trust-center-evidence-manifest.json
  apps/union-eyes/scripts/generate-trust-center-manifest.ts
  apps/union-eyes/scripts/generate-trust-center-summary.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(trust-center): generate all report artifacts, fix simulation report top-level await
  apps/union-eyes/docs/procurement/FEDERATION_SOVEREIGNTY_OVERVIEW.md
  apps/union-eyes/docs/procurement/GOVERNANCE_SIMULATION_OVERVIEW.md
  apps/union-eyes/docs/trust-center/INDEX.md
  apps/union-eyes/reports/federation-sovereignty-ledger.json
  apps/union-eyes/reports/federation-sovereignty-summary.json
  apps/union-eyes/reports/governance-simulation-summary.json
  apps/union-eyes/reports/trust-center-evidence-manifest.json
  apps/union-eyes/scripts/generate-simulation-report.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(trust-center): correct evidence artifact paths, reach 100% coverage
  apps/union-eyes/docs/trust-center/INDEX.md
  apps/union-eyes/reports/trust-center-evidence-manifest.json
  apps/union-eyes/scripts/generate-trust-center-manifest.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(contract-tests): update Clerk allowed-paths for docs reorganisation
  tooling/contract-tests/ue-auth-reality.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): resolve all CI gate failures for Waves 6-11 PR
  README.business.md
  apps/union-eyes/lib/federation-sovereignty/delegation.ts
  apps/union-eyes/lib/federation-sovereignty/simulation.ts
  apps/union-eyes/lib/governance-policy/registry.ts
  apps/union-eyes/lib/governance-simulation/scenarios.ts
  apps/union-eyes/lib/public-experience/registry.ts
  apps/union-eyes/middleware.ts
  docs/documentation-index.md
  docs/ops/ownership-registry.md
  docs/ops/release-governance/release-governance-audit.md
  governance/ga/GA_CHECK_REPORT.md
  governance/ga/ga-check.json
  ops/outputs/data-residency-runtime.json
  ops/outputs/governance-runtime-budget.json
  ops/outputs/onboarding-kpis.json
  ops/outputs/strategic-resilience-report.json
  reports/doc-consistency.json
  reports/doc-consistency.md
  reports/documentation-index.json
  reports/ownership-registry.json
  reports/release-governance-audit.json
  reports/release-secret-audit.json
  reports/repo-excellence-audit.json
  reports/repo-excellence-audit.md
Due: gitleaks, lint-staged, typecheck-staged

chore(inventory): update inventory lock for Waves 6-11 new files
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

fix(ci): prevent set -eo pipefail false-positive in inventory lock check
  .github/workflows/ci.yml
  ops/outputs/data-residency-runtime.json
  ops/outputs/governance-runtime-budget.json
  ops/outputs/onboarding-kpis.json
  ops/outputs/strategic-resilience-report.json
Due: gitleaks

fix(e2e): exempt auth_core health from IP rate limiter; tolerate 429 in health probe
  apps/union-eyes/lib/public-routes.ts
  apps/union-eyes/proxy.ts
  apps/union-eyes/tests/e2e/_helpers.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(e2e): replace isVisible() with toBeVisible() in cape-features spec
  apps/union-eyes/e2e/cape-features.spec.ts
Due: gitleaks, lint-staged, typecheck-staged
