Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

lefthook.yml:

# lefthook.yml â€” Pre-commit guardrails for Nzila Automation monorepo
# Docs: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true

  commands:
    gitleaks:
      glob: "*.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}"
      run: >
        gitleaks detect
        --source .
        --config .gitleaks.toml
        --no-banner
        --verbose
        --staged
      fail_text: |
        ðŸ”’ Gitleaks detected potential secrets in staged files.
        Review the output above and remove or rotate any exposed credentials.
        See docs/hardening/secrets.md for guidance.
        Install gitleaks: https://github.com/gitleaks/gitleaks#installing

    lint-staged:
      glob: "*.{ts,tsx,js,jsx,mjs}"
      run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Lint errors found. Run `pnpm lint` to see details."

    typecheck-staged:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Type errors found. Run `pnpm typecheck` to see details."

pre-push:
  commands:
    contract-tests:
      run: >
        npx vitest run
        --config tooling/contract-tests/vitest.config.ts
        --dir tooling/contract-tests
      fail_text: |
        Contract tests failed. Run `pnpm contract-tests` to see details.
        Do not push code that violates repo invariants.

fix(docker): replace corepack with npm install for pnpm — corepack keyid mismatch on node:22-alpine
  Dockerfile
  apps/orchestrator-api/Dockerfile
Due: none

fix(ci): pin pnpm version to 10.11.0 in all remaining workflows (#72)
  .github/workflows/nzila-playbook-runner.yml
  .github/workflows/release-train.yml
  .github/workflows/sbom.yml
Due: gitleaks

fix(ci): remove pnpm cache from generate-sbom job — store never populated (#74)
  .github/workflows/sbom.yml
Due: gitleaks

feat(web): add Clerk + rate-limit middleware; redirect contact CTA to partner sign-in
  apps/web/app/contact/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/partners/page.tsx
  apps/web/middleware.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

feat(web): add Clerk + rate-limit middleware; redirect contact CTA to partner sign-in (#75)
  apps/web/app/contact/page.tsx
  apps/web/app/layout.tsx
  apps/web/app/partners/page.tsx
  apps/web/middleware.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

feat: structural enforcement upgrade — scoped DAL, auto-audit, CLI, boot assertions
  apps/console/eslint.config.mjs
  apps/partners/eslint.config.mjs
  apps/union-eyes/eslint.config.mjs
  apps/web/eslint.config.mjs
  docs/architecture/AUDIT_ENFORCEMENT.md
  docs/architecture/ENFORCEMENT_SUMMARY.md
  docs/architecture/ENTITY_ISOLATION.md
  docs/architecture/VERTICAL_SCAFFOLDING.md
  docs/migration/ENFORCEMENT_UPGRADE.md
  docs/stress-test/REMEDIATION_PLAN.md
  packages/cli/package.json
  packages/cli/src/commands/create-vertical.ts
  packages/cli/src/index.ts
  packages/cli/tsconfig.json
  packages/db/eslint-no-shadow-db.mjs
  packages/db/package.json
  packages/db/src/__tests__/audit.test.ts
  packages/db/src/__tests__/scoped.test.ts
  packages/db/src/audit.ts
  packages/db/src/index.ts
  packages/db/src/raw.ts
  packages/db/src/scoped.ts
  packages/db/vitest.config.ts
  packages/os-core/package.json
  packages/os-core/src/boot-assert.ts
  packages/os-core/src/index.ts
  pnpm-lock.yaml
  tooling/contract-tests/audit-enforcement.test.ts
  tooling/contract-tests/db-boundary.test.ts
  tooling/contract-tests/enforcement-hardening.test.ts
  tooling/contract-tests/invariants.test.ts
  tooling/contract-tests/vertical-governance.test.ts
  tooling/contract-tests/vitest.config.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: normalize path separators in contract tests for cross-platform CI
  tooling/contract-tests/db-boundary.test.ts
  tooling/contract-tests/vertical-governance.test.ts
Due: gitleaks, lint-staged, typecheck-staged

refactor: migrate vitest to projects API with root orchestrator
  .vscode/settings.json
  apps/console/vitest.config.ts
  apps/partners/vitest.config.ts
  apps/web/vitest.config.ts
  package.json
  packages/ai-core/vitest.config.ts
  packages/ai-sdk/vitest.config.ts
  packages/db/vitest.config.ts
  packages/ml-sdk/vitest.config.ts
  packages/os-core/vitest.config.ts
  packages/payments-stripe/vitest.config.ts
  packages/qbo/vitest.config.ts
  packages/tools-runtime/vitest.config.ts
  packages/ui/vitest.config.ts
  tooling/contract-tests/vitest.config.ts
  vitest.config.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: bump orchestrator-api alpine base image for CVE-2025-15467
  apps/orchestrator-api/Dockerfile
Due: none

fix: add .trivyignore for upstream Go stdlib CVEs in Node Alpine
  .github/workflows/trivy.yml
  .trivyignore
Due: gitleaks

feat(governance): core hardening — scoped DAL, mandatory audit, hash chain, evidence seal
  packages/db/eslint-no-shadow-db.mjs
  packages/db/migrations/hash-chain-immutability-triggers.sql
  packages/db/src/audit.ts
  tooling/contract-tests/audit-enforcement.test.ts
  tooling/contract-tests/db-boundary.test.ts
  tooling/contract-tests/evidence-seal-mandatory.test.ts
  tooling/contract-tests/hash-chain-drift.test.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(governance): Nzila Governance OS — Full Hardening Rollout (#79)
  .github/workflows/ci.yml
  .github/workflows/nzila-governance.yml
  .github/workflows/red-team.yml
  CODEOWNERS
  apps/console/app/api/stripe/webhooks/route.ts
  apps/console/eslint.config.mjs
  apps/partners/eslint.config.mjs
  apps/union-eyes/eslint.config.mjs
  apps/web/eslint.config.mjs
  docs/repo-contract/app-governance-workflow.yml
  governance/ga-check.ts
  governance/profiles/index.ts
  packages/cli/src/commands/create-vertical.ts
  packages/cli/src/index.ts
  packages/config/eslint-no-direct-provider.mjs
  packages/config/package.json
  packages/db/eslint-no-shadow-db.mjs
  packages/db/migrations/hash-chain-immutability-triggers.sql
  packages/db/src/audit.ts
  packages/os-core/package.json
  packages/os-core/src/abr/confidential-reporting.ts
  packages/os-core/src/fin/key-lifecycle.ts
  packages/os-core/src/ue/case-evidence-export.ts
  packages/payments-stripe/src/types.ts
  security/redteam/abr-adversarial.test.ts
  security/redteam/adversarial.test.ts
  security/redteam/redteam-results.json
  security/redteam/vitest.config.ts
  tooling/contract-tests/audit-enforcement.test.ts
  tooling/contract-tests/db-boundary.test.ts
  tooling/contract-tests/eslint-governance.test.ts
  tooling/contract-tests/evidence-seal-mandatory.test.ts
  tooling/contract-tests/fin-key-lifecycle.test.ts
  tooling/contract-tests/governance-profiles.test.ts
  tooling/contract-tests/hash-chain-drift.test.ts
  tooling/contract-tests/migration-policy.test.ts
  tooling/contract-tests/ue-role-graph.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: markdownlint MD013 — allow 120-char lines, relax tables/code-blocks
  .markdownlint.json
Due: gitleaks

fix: python.analysis.ignore — suppress satellite repo Django errors from automation workspace
  .vscode/settings.json
Due: gitleaks

refactor(union-eyes): replace shadow AI imports with @nzila/ai-sdk (INV-01)
  apps/union-eyes/lib/ai/ai-client.ts
  apps/union-eyes/lib/ai/chatbot-service.ts
  apps/union-eyes/lib/ai/embeddings-service.ts
  apps/union-eyes/lib/services/ai/auto-classification-service.ts
  apps/union-eyes/lib/services/ai/clause-extraction-service.ts
  apps/union-eyes/lib/services/ai/precedent-matching-service.ts
  apps/union-eyes/lib/services/ai/vector-search-service.ts
  apps/union-eyes/package.json
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes): elevate public site + modern sign-in (Nzila design system)
  apps/union-eyes/app/(marketing)/components/animated-cta.tsx
  apps/union-eyes/app/(marketing)/components/animated-hero.tsx
  apps/union-eyes/app/(marketing)/components/animated-reviews.tsx
  apps/union-eyes/app/(marketing)/layout.tsx
  apps/union-eyes/app/(marketing)/page.tsx
  apps/union-eyes/app/(marketing)/pricing/pricing-page-client.tsx
  apps/union-eyes/app/globals.css
  apps/union-eyes/app/sign-in/[[...sign-in]]/page.tsx
  apps/union-eyes/app/sign-up/[[...sign-up]]/page.tsx
  apps/union-eyes/components/auth/auth-page-layout.tsx
  apps/union-eyes/components/layout-wrapper.tsx
  apps/union-eyes/components/public/scroll-reveal.tsx
  apps/union-eyes/components/public/section-heading.tsx
  apps/union-eyes/components/public/site-footer.tsx
  apps/union-eyes/components/public/site-navigation.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): bypass Clerk org setup, force redirect to dashboard
  apps/union-eyes/app/layout.tsx
  apps/union-eyes/app/sign-in/[[...sign-in]]/page.tsx
  apps/union-eyes/app/sign-up/[[...sign-up]]/page.tsx
  apps/union-eyes/next.config.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes): flagship nav/footer + move marketing pages into route group
  apps/union-eyes/app/(marketing)/case-studies/[slug]/page.tsx
  apps/union-eyes/app/(marketing)/case-studies/page.tsx
  apps/union-eyes/app/(marketing)/pilot-request/page.tsx
  apps/union-eyes/app/(marketing)/story/page.tsx
  apps/union-eyes/components/public/site-footer.tsx
  apps/union-eyes/components/public/site-navigation.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix: align payroll service inserts with dues-finance schema and fix db-validator return type
  apps/union-eyes/lib/db-validator.ts
  apps/union-eyes/lib/services/payroll-integration-service.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): restore ignoreBuildErrors to false (0 TS errors)
  apps/union-eyes/next.config.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(security): add auth guards to all API routes — 1223/1223 contract tests pass
  apps/union-eyes/app/api/governance/board-packets/[id]/distribute/route.ts
  apps/union-eyes/app/api/governance/policies/evaluate/route.ts
  apps/union-eyes/app/api/payments/checkout/create/route.ts
  tooling/contract-tests/vertical-governance.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): resolve 5 CI workflow failures
  .github/workflows/nzila-governance.yml
  .github/workflows/trivy.yml
  .gitleaks.toml
  .trivyignore
Due: gitleaks

fix(web): resolve TS2358 in docs.test.ts instanceof checks
  apps/web/lib/docs.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(web): add @tailwindcss/typography dependency — fix build
  apps/abr/next-env.d.ts
  apps/console/next-env.d.ts
  apps/partners/next-env.d.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

fix: resolve build failures across all apps
  apps/abr/i18n/config.ts
  apps/abr/i18n/request.ts
  apps/abr/lib/api.ts
  apps/nacp-exams/app/globals.css
  apps/nacp-exams/i18n/config.ts
  apps/nacp-exams/i18n/request.ts
  apps/nacp-exams/next-env.d.ts
  apps/shop-quoter/app/sign-in/[[...sign-in]]/page.tsx
  apps/shop-quoter/app/sign-up/[[...sign-up]]/page.tsx
  apps/shop-quoter/i18n/config.ts
  apps/shop-quoter/i18n/request.ts
  apps/shop-quoter/tailwind.config.ts
  apps/union-eyes/app/globals.css
  apps/web/next.config.ts
  apps/zonga/app/globals.css
  apps/zonga/i18n/config.ts
  apps/zonga/i18n/request.ts
  apps/zonga/next-env.d.ts
  apps/zonga/next.config.ts
  apps/zonga/tailwind.config.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: clerk dev loop prevention + auth bypass in dev mode
  apps/abr/app/layout.tsx
  apps/abr/middleware.ts
  apps/abr/next-env.d.ts
  apps/abr/next.config.ts
  apps/console/app/layout.tsx
  apps/console/middleware.ts
  apps/console/next-env.d.ts
  apps/nacp-exams/next-env.d.ts
  apps/partners/middleware.ts
  apps/partners/next-env.d.ts
  apps/shop-quoter/middleware.ts
  apps/shop-quoter/next-env.d.ts
  apps/union-eyes/instrumentation.ts
  apps/union-eyes/next-env.d.ts
  apps/web/middleware.ts
  apps/zonga/next-env.d.ts
  packages/commerce-state/src/engine.ts
  packages/nacp-core/src/machines/exam-session.test.ts
  packages/nacp-core/src/machines/exam-session.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): replace os-core import with edge-safe logger in middleware
  apps/union-eyes/middleware.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(commerce-state): add TEntity generic to validateMachine to fix contravariance error
  packages/commerce-state/src/engine.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(os-core): webpackIgnore dynamic imports to prevent server-only leak
  packages/os-core/src/policy/authorize.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): add webpack fallbacks for Node.js builtins in client bundle
  apps/union-eyes/next.config.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ui): add explicit type annotations to all primitive re-exports (TS2742)
  apps/union-eyes/components/ui/accordion.tsx
  apps/union-eyes/components/ui/alert-dialog.tsx
  apps/union-eyes/components/ui/aspect-ratio.tsx
  apps/union-eyes/components/ui/chart.tsx
  apps/union-eyes/components/ui/collapsible.tsx
  apps/union-eyes/components/ui/context-menu.tsx
  apps/union-eyes/components/ui/dialog.tsx
  apps/union-eyes/components/ui/drawer.tsx
  apps/union-eyes/components/ui/dropdown-menu.tsx
  apps/union-eyes/components/ui/hover-card.tsx
  apps/union-eyes/components/ui/menubar.tsx
  apps/union-eyes/components/ui/navigation-menu.tsx
  apps/union-eyes/components/ui/popover.tsx
  apps/union-eyes/components/ui/resizable.tsx
  apps/union-eyes/components/ui/select.tsx
  apps/union-eyes/components/ui/sheet.tsx
  apps/union-eyes/components/ui/tabs.tsx
  apps/union-eyes/components/ui/toast.tsx
  apps/union-eyes/components/ui/tooltip.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(seed): narrow sectors literal type for drizzle enum compatibility
  apps/union-eyes/db/seeds/seed-cape-acep.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): fix drizzle insert types + CLC API params type
  apps/union-eyes/lib/data-export-import.ts
  apps/union-eyes/lib/services/external-data/clc-partnership-service.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): add remaining ambient declarations + temporarily skip TS in build
  apps/union-eyes/modules.d.ts
  apps/union-eyes/next.config.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(fx): add @nzila/fx multi-currency package — 8 modules, 109 tests
  packages/fx/package.json
  packages/fx/src/__tests__/boc.test.ts
  packages/fx/src/__tests__/cache.test.ts
  packages/fx/src/__tests__/convert.test.ts
  packages/fx/src/__tests__/gain-loss.test.ts
  packages/fx/src/__tests__/ledger.test.ts
  packages/fx/src/__tests__/rates.test.ts
  packages/fx/src/__tests__/types.test.ts
  packages/fx/src/boc.ts
  packages/fx/src/cache.ts
  packages/fx/src/convert.ts
  packages/fx/src/gain-loss.ts
  packages/fx/src/index.ts
  packages/fx/src/ledger.ts
  packages/fx/src/rates.ts
  packages/fx/src/types.ts
  packages/fx/tsconfig.json
  packages/fx/vitest.config.ts
Due: gitleaks, lint-staged, typecheck-staged
