Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

lefthook.yml:

# lefthook.yml â€” Pre-commit guardrails for Nzila Automation monorepo
# Docs: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true

  commands:
    gitleaks:
      glob: "*.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}"
      run: >
        gitleaks detect
        --source .
        --config .gitleaks.toml
        --no-banner
        --verbose
        --staged
      fail_text: |
        ðŸ”’ Gitleaks detected potential secrets in staged files.
        Review the output above and remove or rotate any exposed credentials.
        See docs/hardening/secrets.md for guidance.
        Install gitleaks: https://github.com/gitleaks/gitleaks#installing

    lint-staged:
      glob: "*.{ts,tsx,js,jsx,mjs}"
      run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Lint errors found. Run `pnpm lint` to see details."

    typecheck-staged:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Type errors found. Run `pnpm typecheck` to see details."

pre-push:
  commands:
    contract-tests:
      run: >
        npx vitest run
        --config tooling/contract-tests/vitest.config.ts
        --dir tooling/contract-tests
      fail_text: |
        Contract tests failed. Run `pnpm contract-tests` to see details.
        Do not push code that violates repo invariants.

fix(seed): surface actual PG error code/column on schema-drift catch
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(pilot-fabric): provision sovereign pilot fabric for union-eyes
  .github/workflows/gitops-deploy.yml
  docs/nzila-tier2-hardening/full-live-runtime-sovereignty-certification.md
  docs/nzila-tier2-hardening/full-pilot-fabric-legitimacy.md
  infrastructure/gitops/environments/pilot.yml
  scripts/release/resolve-deploy-apps.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(sovereignty-proving): full Tier 2 operational sovereignty proving layer
  docs/nzila-sovereignty-proving/README.md
  docs/nzila-sovereignty-proving/full-auth-identity-stress-validation.md
  docs/nzila-sovereignty-proving/full-cognition-degradation-governance.md
  docs/nzila-sovereignty-proving/full-continuity-safe-operations-proving.md
  docs/nzila-sovereignty-proving/full-fail-closed-runtime-proof.md
  docs/nzila-sovereignty-proving/full-live-degradation-traversal-program.md
  docs/nzila-sovereignty-proving/full-live-sovereignty-traversal-e2e.md
  docs/nzila-sovereignty-proving/full-operational-honesty-certification.md
  docs/nzila-sovereignty-proving/full-tier2-operational-sovereignty-review.md
  package.json
  tooling/scripts/validate-sovereignty-proving.mjs
Due: gitleaks, lint-staged

fix(e2e-bootstrap): align organization_members QA baseline with Drizzle schema
  tooling/sql/union-eyes-qa-baseline.sql
Due: none

feat(residual-closure): R1-R9 closure layer + R5 locale alias real fix
  apps/union-eyes/proxy.ts
  docs/nzila-residual-closure/README.md
  docs/nzila-residual-closure/full-residual-elimination-review.md
  docs/nzila-residual-closure/r1-pilot-django-sidecar-binding-closure.md
  docs/nzila-residual-closure/r2-cognition-degradation-drill-corpus.md
  docs/nzila-residual-closure/r3-continuity-degradation-drill-corpus.md
  docs/nzila-residual-closure/r4-notification-degradation-drill-corpus.md
  docs/nzila-residual-closure/r5-locale-double-prefix-fix.md
  docs/nzila-residual-closure/r6-seeded-persona-corpus-completion.md
  docs/nzila-residual-closure/r7-operational-honesty-copy-sweep.md
  docs/nzila-residual-closure/r8-provider-key-rotation-cadence.md
  docs/nzila-residual-closure/r9-org-resolver-callsite-audit.md
  package.json
  tooling/scripts/validate-residual-closure.mjs
Due: gitleaks, lint-staged, typecheck-staged

chore(r9): harden org-resolver call-sites + add forbidden-pattern guardrail
  apps/union-eyes/app/[locale]/dashboard/stewards/page.tsx
  apps/union-eyes/app/api/org/current/route.ts
  apps/union-eyes/app/api/tenant/current/route.ts
  apps/union-eyes/lib/org-id-from-context.ts
  package.json
  tooling/scripts/validate-org-resolver-guardrail.mjs
Due: gitleaks, lint-staged, typecheck-staged

chore(r7): operational honesty copy sweep + forbidden-framing guardrail
  apps/union-eyes/app/[locale]/dashboard/admin/page.tsx
  apps/union-eyes/app/api/emergency/dashboard/route.ts
  apps/union-eyes/components/federation/FederationDashboard.tsx
  apps/union-eyes/components/mobile/OfflineBanner.tsx
  apps/union-eyes/components/monitoring/StatusPage.tsx
  apps/union-eyes/messages/en-CA.json
  apps/union-eyes/messages/en.json
  apps/union-eyes/messages/fr-CA.json
  apps/union-eyes/messages/fr.json
  apps/union-eyes/messages/it.json
  apps/union-eyes/messages/pt.json
  package.json
  tooling/scripts/validate-operational-honesty-guardrail.mjs
Due: gitleaks, lint-staged, typecheck-staged

chore(r6,r8): persona corpus seed SQL + provider rotation log scaffold
  docs/nzila-residual-closure/rotation-log.md
  tooling/seeds/r6-persona-corpus.sql
Due: gitleaks

chore(r1): pilot django sidecar runbook (preflight + deploy)
  tooling/scripts/r1-pilot-django-sidecar-deploy.ps1
  tooling/scripts/r1-pilot-django-sidecar-preflight.ps1
Due: gitleaks

chore(r1): record live pilot Django sidecar binding + amend deploy script
  docs/nzila-residual-closure/r1-pilot-django-sidecar-binding-log.md
  tooling/scripts/r1-pilot-django-sidecar-deploy.ps1
Due: gitleaks

fix(union-eyes,governance): seed UUID for organization_members + refresh inventory
  apps/union-eyes/scripts/seed-test-env.ts
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

chore(r1): record Upstash Redis bind + PG admin password re-rotation
  docs/nzila-residual-closure/r1-pilot-django-sidecar-binding-log.md
Due: gitleaks

feat(r1): upstash-redis REST client in Django sidecar + token-rotation script
  apps/union-eyes/backend/auth_core/views.py
  apps/union-eyes/backend/config/settings.py
  apps/union-eyes/backend/requirements.txt
  tooling/scripts/r1-pilot-upstash-token-rotate.ps1
Due: gitleaks

feat(r1): rotate Upstash REST token + script parser fix (Tier 2 FULL GO)
  docs/nzila-residual-closure/r1-pilot-django-sidecar-binding-log.md
  tooling/scripts/r1-pilot-upstash-token-rotate.ps1
Due: gitleaks

chore(r1): pilot django sidecar runbook (preflight + deploy) (#474)
  apps/union-eyes/backend/auth_core/views.py
  apps/union-eyes/backend/config/settings.py
  apps/union-eyes/backend/requirements.txt
  docs/nzila-residual-closure/r1-pilot-django-sidecar-binding-log.md
  tooling/scripts/r1-pilot-django-sidecar-deploy.ps1
  tooling/scripts/r1-pilot-django-sidecar-preflight.ps1
  tooling/scripts/r1-pilot-upstash-token-rotate.ps1
Due: gitleaks

fix(platform-auth): accept E2E seed session tokens when PLAYWRIGHT_TEST_AUTH=true
  packages/platform-auth/src/entra/server.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes,e2e): seed profiles + observable dashboard identity lineage
  apps/union-eyes/app/[locale]/dashboard/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/page.tsx
  apps/union-eyes/scripts/seed-test-env.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes,e2e): create profiles table in QA baseline + guard seed when absent
  apps/union-eyes/scripts/seed-test-env.ts
  tooling/sql/union-eyes-qa-baseline.sql
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): consolidate duplicate organizationMembers + claims schemas to single source of truth
  apps/union-eyes/app/api/members/route.ts
  apps/union-eyes/db/schema-organizations.ts
  apps/union-eyes/db/schema/claims-schema.ts
  apps/union-eyes/db/schema/domains/claims/claims.ts
  apps/union-eyes/db/schema/organization-members-schema.ts
  apps/union-eyes/scripts/seed-union-eyes-demo.ts
  tooling/sql/union-eyes-qa-baseline.sql
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): point claims canonical-schema source at canonical claims-schema.ts after shim consolidation
  tooling/db/canonical-schema/manifest.json
Due: gitleaks

test(e2e): align cape-features & dashboard specs to consolidated /dashboard routes
  apps/union-eyes/e2e/cape-features.spec.ts
  apps/union-eyes/e2e/dashboard.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

docs(union-eyes): runtime authority audit Wave 1 + validator
  docs/union-eyes/runtime-authority-audit/README.md
  docs/union-eyes/runtime-authority-audit/full-canonical-module-inventory.md
  docs/union-eyes/runtime-authority-audit/full-feature-gating-hardening.md
  docs/union-eyes/runtime-authority-audit/full-legacy-surface-elimination.md
  docs/union-eyes/runtime-authority-audit/full-page-route-authority-audit.md
  docs/union-eyes/runtime-authority-audit/scan-snapshot.md
  package.json
  tooling/scripts/validate-runtime-authority-audit.mjs
Due: gitleaks, lint-staged

feat(union-eyes): runtime authority audit Wave 2 - 12 high-risk gates + deny tests
  apps/union-eyes/app/[locale]/dashboard/analytics-admin/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/billing-admin/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/clc/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/compliance-admin/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/cross-union-analytics/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/debug/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/employer-execution/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/executive-operating-intelligence/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/pension/admin/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/pension/trustee/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/sector-analytics/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/strike-fund/layout.tsx
  apps/union-eyes/e2e/authenticated-role-navigation.spec.ts
  docs/union-eyes/runtime-authority-audit/README.md
  docs/union-eyes/runtime-authority-audit/full-doctrine-alignment-sweep.md
  docs/union-eyes/runtime-authority-audit/full-monetization-runtime-alignment.md
  docs/union-eyes/runtime-authority-audit/full-stakeholder-visibility-matrix.md
  tooling/scripts/validate-runtime-authority-audit.mjs
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes): runtime authority audit Wave 3 Phase A - sovereignty gates + canonical nav convergence
  apps/union-eyes/app/(marketing)/components/workflow-section.tsx
  apps/union-eyes/app/[locale]/(marketing)/contact/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/executive-intelligence/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/insights/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/institutional-continuity/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/locale-site-navigation.tsx
  apps/union-eyes/app/[locale]/(marketing)/proof/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/solutions/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/solutions/procurement/page.tsx
  apps/union-eyes/app/[locale]/dashboard/cognition/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/customer-success/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/longitudinal-cognition/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/operations/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/ops/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/security/layout.tsx
  apps/union-eyes/app/[locale]/page.tsx
  apps/union-eyes/components/dashboard-navbar.tsx
  apps/union-eyes/components/dashboards/pilot-dashboard.tsx
  apps/union-eyes/components/dashboards/union-dashboard.tsx
  apps/union-eyes/components/marketing/insight-article-view.tsx
  apps/union-eyes/components/marketing/insights-section-pages.tsx
  apps/union-eyes/components/marketing/institutional-visual-systems.tsx
  apps/union-eyes/lib/dashboard/role-experience.ts
  apps/union-eyes/lib/marketing-hero-imagery.ts
  apps/union-eyes/messages/en-CA.json
  apps/union-eyes/messages/en.json
  apps/union-eyes/messages/fr-CA.json
  apps/union-eyes/public/manifest.json
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes): runtime authority audit Wave 3 Phase B - Tier A+B deletions, sovereignty deny tests, review doc
  apps/union-eyes/app/[locale]/dashboard/claims/[id]/page.tsx
  apps/union-eyes/app/[locale]/dashboard/claims/new/page.tsx
  apps/union-eyes/app/[locale]/dashboard/claims/page.tsx
  apps/union-eyes/app/[locale]/dashboard/deadlines/page.tsx
  apps/union-eyes/app/[locale]/dashboard/executive/page.tsx
  apps/union-eyes/app/[locale]/dashboard/grievances/page.tsx
  apps/union-eyes/app/[locale]/dashboard/insights/page.tsx
  apps/union-eyes/app/[locale]/dashboard/messages/page.tsx
  apps/union-eyes/app/[locale]/portal/claims/[id]/page.tsx
  apps/union-eyes/app/[locale]/portal/claims/new/page.tsx
  apps/union-eyes/app/[locale]/portal/claims/page.tsx
  apps/union-eyes/app/[locale]/portal/documents/page.tsx
  apps/union-eyes/app/[locale]/portal/dues/page.tsx
  apps/union-eyes/app/[locale]/portal/error.tsx
  apps/union-eyes/app/[locale]/portal/layout.tsx
  apps/union-eyes/app/[locale]/portal/messages/page.tsx
  apps/union-eyes/app/[locale]/portal/notifications/page.tsx
  apps/union-eyes/app/[locale]/portal/page.tsx
  apps/union-eyes/app/[locale]/portal/profile/page.tsx
  apps/union-eyes/app/[locale]/portal/settings/page.tsx
  apps/union-eyes/e2e/authenticated-role-navigation.spec.ts
  apps/union-eyes/e2e/cape-features.spec.ts
  apps/union-eyes/e2e/dashboard.spec.ts
  apps/union-eyes/e2e/stakeholder-demo-journeys.spec.ts
  docs/union-eyes/runtime-authority-audit/wave3-runtime-consolidation-review.md
  tooling/scripts/validate-runtime-authority-audit.mjs
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes): runtime authority audit Wave 4 - 8-pillar canonical platform overview, pricing maturity rebuild, review doc
  apps/union-eyes/app/[locale]/(marketing)/locale-site-footer.tsx
  apps/union-eyes/app/[locale]/(marketing)/locale-site-navigation.tsx
  apps/union-eyes/app/[locale]/(marketing)/platform/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/pricing/page.tsx
  apps/union-eyes/lib/marketing-hero-imagery.ts
  docs/union-eyes/runtime-authority-audit/wave4-experience-convergence-review.md
  tooling/scripts/validate-runtime-authority-audit.mjs
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes): runtime authority audit Wave 6 - sovereignty atmosphere + /platform ontology collapse
  apps/union-eyes/app/[locale]/(marketing)/platform/explainable-intelligence/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/platform/governance-intelligence/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/platform/operational-coherence/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/platform/organizational-memory/page.tsx
  apps/union-eyes/app/[locale]/dashboard/cognition/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/customer-success/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/longitudinal-cognition/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/operations/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/ops/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/security/layout.tsx
  apps/union-eyes/components/sovereignty/sovereignty-posture-banner.tsx
  docs/union-eyes/runtime-authority-audit/wave6-institutional-inevitability-review.md
  tooling/scripts/validate-runtime-authority-audit.mjs
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes): runtime authority audit Wave 7 - procurement inevitability + continuity-note register
  apps/union-eyes/app/[locale]/(marketing)/pilot-request/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/platform/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/pricing/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/trust/page.tsx
  apps/union-eyes/components/marketing/institutional-continuity-note.tsx
  apps/union-eyes/messages/en-CA.json
  apps/union-eyes/messages/en.json
  apps/union-eyes/messages/fr-CA.json
  apps/union-eyes/messages/fr.json
  apps/union-eyes/messages/it.json
  apps/union-eyes/messages/pt.json
  docs/union-eyes/runtime-authority-audit/wave7-procurement-inevitability-review.md
  tooling/scripts/validate-runtime-authority-audit.mjs
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes): runtime authority audit Wave 8 - institutional permanence + fr-CA continuity parity
  apps/union-eyes/app/[locale]/(marketing)/locale-site-footer.tsx
  apps/union-eyes/app/[locale]/(marketing)/pilot-request/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/platform/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/pricing/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/trust/page.tsx
  apps/union-eyes/components/marketing/insights-hub-navigation.tsx
  apps/union-eyes/components/marketing/insights-section-pages.tsx
  apps/union-eyes/lib/marketing-hero-imagery.ts
  apps/union-eyes/messages/en-CA.json
  apps/union-eyes/messages/en.json
  apps/union-eyes/messages/fr-CA.json
  apps/union-eyes/messages/fr.json
  docs/union-eyes/runtime-authority-audit/wave8-institutional-permanence-review.md
  tooling/scripts/validate-runtime-authority-audit.mjs
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes): runtime authority audit Wave 9 - constitutional sovereignty bilingualization
  apps/union-eyes/app/[locale]/dashboard/cognition/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/customer-success/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/longitudinal-cognition/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/operations/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/ops/layout.tsx
  apps/union-eyes/app/[locale]/dashboard/security/layout.tsx
  apps/union-eyes/components/sovereignty/sovereignty-posture-banner.tsx
  apps/union-eyes/messages/en-CA.json
  apps/union-eyes/messages/en.json
  apps/union-eyes/messages/fr-CA.json
  apps/union-eyes/messages/fr.json
  docs/union-eyes/runtime-authority-audit/wave9-constitutional-runtime-finalization-review.md
  tooling/scripts/validate-runtime-authority-audit.mjs
Due: gitleaks, lint-staged, typecheck-staged

test(union-eyes): fix e2e role fixture + dashboard auth + improve CI server log diagnostics
  .github/workflows/e2e.yml
  apps/union-eyes/e2e/dashboard.spec.ts
  apps/union-eyes/e2e/helpers/role-fixtures.ts
Due: gitleaks, lint-staged, typecheck-staged

test(contract): align PERSONA_ACCESS_001 matrix with canonical dashboard layout
  tooling/contract-tests/ue-persona-access.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes/e2e): align tests + runtime to canonical sources of truth
  apps/union-eyes/e2e/cape-features.spec.ts
  apps/union-eyes/e2e/cba-intelligence.spec.ts
  apps/union-eyes/e2e/pilot-journey.spec.ts
  apps/union-eyes/lib/dashboard/role-experience.ts
  apps/union-eyes/lib/logger.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): align e2e to canonical UI/log/baseline
  apps/union-eyes/e2e/cape-features.spec.ts
  apps/union-eyes/lib/logger.ts
  tooling/sql/union-eyes-qa-baseline.sql
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): resolve routing mismatches and stabilize CAPE e2e
  apps/union-eyes/app/api/cases/[caseId]/route.ts
  apps/union-eyes/components/dashboard-navbar.tsx
  apps/union-eyes/components/dashboards/union-dashboard.tsx
  apps/union-eyes/e2e/cape-features.spec.ts
  apps/union-eyes/e2e/helpers/navigation-assertions.ts
  tooling/sql/union-eyes-qa-baseline.sql
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): narrow case status type for transition patch
  apps/union-eyes/app/api/cases/[caseId]/route.ts
Due: gitleaks, lint-staged, typecheck-staged

ci(trivy): set resilient DB repository fallbacks
  .github/workflows/cupe-pilot-readiness.yml
  .github/workflows/nzila-governance.yml
  .github/workflows/trivy.yml
Due: gitleaks

test(ue-e2e): tolerate degraded role-gated read endpoints
  apps/union-eyes/e2e/ue-workflow.spec.ts
  apps/union-eyes/tests/e2e/_helpers.ts
  apps/union-eyes/tests/e2e/auditor-readonly.spec.ts
Due: gitleaks, lint-staged, typecheck-staged
