Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

lefthook.yml:

# lefthook.yml â€” Pre-commit guardrails for Nzila Automation monorepo
# Docs: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true

  commands:
    gitleaks:
      glob: "*.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}"
      run: >
        gitleaks detect
        --source .
        --config .gitleaks.toml
        --no-banner
        --verbose
        --staged
      fail_text: |
        ðŸ”’ Gitleaks detected potential secrets in staged files.
        Review the output above and remove or rotate any exposed credentials.
        See docs/hardening/secrets.md for guidance.
        Install gitleaks: https://github.com/gitleaks/gitleaks#installing

    lint-staged:
      glob: "*.{ts,tsx,js,jsx,mjs}"
      run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Lint errors found. Run `pnpm lint` to see details."

    typecheck-staged:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Type errors found. Run `pnpm typecheck` to see details."

pre-push:
  commands:
    contract-tests:
      run: >
        npx vitest run
        --config tooling/contract-tests/vitest.config.ts
        --dir tooling/contract-tests
      fail_text: |
        Contract tests failed. Run `pnpm contract-tests` to see details.
        Do not push code that violates repo invariants.

feat(ue/i18n): wire homepage to getTranslations; add fr-CA for all homepage sections
  apps/union-eyes/app/[locale]/page.tsx
  apps/union-eyes/messages/en-CA.json
  apps/union-eyes/messages/fr-CA.json
  scripts/one-shot-update-home-i18n.mjs
Due: gitleaks, lint-staged, typecheck-staged

feat(ue/i18n): translate SEO metadata for all 7 solutions pages
  apps/union-eyes/app/[locale]/(marketing)/solutions/executive-leadership/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/solutions/governance-leadership/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/solutions/labour-leadership/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/solutions/operations-leadership/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/solutions/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/solutions/procurement/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/solutions/technology-leadership/page.tsx
  apps/union-eyes/messages/en-CA.json
  apps/union-eyes/messages/fr-CA.json
  scripts/one-shot-solutions-meta-i18n.mjs
Due: gitleaks, lint-staged, typecheck-staged

union-eyes: fix labour-safe appendix framing and add WS H report
  apps/union-eyes/app/[locale]/(marketing)/trust/stewardship-appendix/page.tsx
  reports/governance-graph/workstream-h-implementation-report.md
Due: gitleaks, lint-staged, typecheck-staged

wave-18(union-eyes): warning-tier reduction (228 -> 46, -80%)
  apps/union-eyes/app/[locale]/(marketing)/executive-intelligence/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/governance/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/insights/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/institutional-continuity/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/pilot-request/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/solutions/executive-leadership/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/solutions/governance-leadership/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/solutions/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/trust/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/trust/stewardship-appendix/page.tsx
  apps/union-eyes/messages/en-CA.json
  apps/union-eyes/messages/en.json
  apps/union-eyes/reports/narrative/narrative-audit.json
  apps/union-eyes/reports/narrative/narrative-audit.md
  apps/union-eyes/tooling/marketing/config/forbidden-vocabulary.ts
  apps/union-eyes/tooling/marketing/narrative-audit.ts
  reports/runtime/wave-18-warning-tier-reduction.md
Due: gitleaks, lint-staged, typecheck-staged

wave-18.1(union-eyes): drive narrative warnings to 0 via platform structural-noun allowlist + nav-label alignment
  apps/union-eyes/messages/en-CA.json
  apps/union-eyes/messages/en.json
  apps/union-eyes/reports/narrative/narrative-audit.json
  apps/union-eyes/reports/narrative/narrative-audit.md
  apps/union-eyes/tooling/marketing/config/forbidden-vocabulary.ts
  reports/runtime/wave-18-warning-tier-reduction.md
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): contract test honors public messages namespaces (CI fix for marketing-vocabulary)
  apps/union-eyes/tooling/contract-tests/marketing-vocabulary.test.ts
  apps/union-eyes/tooling/marketing/config/forbidden-vocabulary.ts
  apps/union-eyes/tooling/marketing/narrative-audit.ts
Due: gitleaks, lint-staged, typecheck-staged

wave-18(union-eyes): non-English translation parity for narrative vocabulary
  apps/union-eyes/messages/fr-CA.json
  apps/union-eyes/messages/fr.json
  apps/union-eyes/messages/it.json
  apps/union-eyes/messages/pt.json
Due: gitleaks

chore(repo-inventory): refresh inventory artifacts (CI drift)
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

chore(ops): update runtime output artifacts post wave-18 merge
  ops/outputs/data-residency-runtime.json
  ops/outputs/governance-runtime-budget.json
  ops/outputs/onboarding-kpis.json
  ops/outputs/strategic-resilience-report.json
Due: gitleaks

chore: ignore reports/runtime/ in link-check (historical audit reports with repo-root-relative paths)
  .linkcheckignore
Due: none

fix(ci): refresh lockfile and fix gitleaks false positive
  .gitleaks.toml
  pnpm-lock.yaml
Due: gitleaks

fix(contract-tests): resolve healthcare surveys contract test failures
  apps/console/app/(dashboard)/healthcare/discovery/surveys/[surveyId]/page.tsx
  apps/console/app/(dashboard)/healthcare/discovery/surveys/[surveyId]/results/page.tsx
  apps/console/app/(dashboard)/healthcare/discovery/surveys/page.tsx
  apps/console/app/api/healthcare/responses/[responseId]/review/route.ts
  apps/console/app/api/healthcare/surveys/[surveyId]/export-summary/route.ts
  apps/console/app/api/healthcare/surveys/[surveyId]/status/route.ts
  apps/console/app/api/healthcare/surveys/responses/route.ts
  apps/console/app/api/healthcare/surveys/route.ts
  apps/console/app/api/healthcare/surveys/seed-unit-92/route.ts
  apps/console/app/healthcare/respond/[token]/page.tsx
  apps/console/lib/db/index.ts
  apps/console/lib/healthcare-discovery.ts
  governance/exceptions/no-console.json
  ops/outputs/data-residency-runtime.json
  ops/outputs/governance-runtime-budget.json
  ops/outputs/onboarding-kpis.json
  ops/outputs/strategic-resilience-report.json
  packages/data-lifecycle/src/manifest.ts
  packages/db/src/org-registry.ts
  tooling/contract-tests/org-isolation.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ga-check): exempt apps/*/lib/db/ boundary re-export from raw DB import check
  tooling/ga-check/ga-check.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): fix schema drift snapshot and healthcare-surveys eslint specifier
  packages/healthcare-surveys/eslint.config.mjs
  packages/healthcare-surveys/package.json
  pnpm-lock.yaml
  tooling/db/schema-snapshot.json
Due: gitleaks, lint-staged

fix(union-eyes): replace forbidden 'Request a Demo' with approved copy
  apps/union-eyes/app/[locale]/page.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(security): exempt DB boundary re-export from adversarial raw-import check
  security/redteam/adversarial.test.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes): flagship staging readiness pass
  apps/union-eyes/app/api/evidence/export/route.ts
  apps/union-eyes/app/api/governance/telemetry/route.ts
  apps/union-eyes/docs/DEMO_RUNBOOK.md
  apps/union-eyes/docs/FINAL_READINESS_STATUS.md
  apps/union-eyes/docs/GOVERNANCE_RUNTIME_MODEL.md
  apps/union-eyes/docs/OPS_VALIDATION_CHECKLIST.md
  apps/union-eyes/docs/ORG_SCOPE_AUDIT.md
  apps/union-eyes/docs/UE_STAGING_AUDIT.md
  apps/union-eyes/lib/stagingSeed.ts
  apps/union-eyes/package.json
  apps/union-eyes/scripts/staging-seed.ts
  docs/documentation-index.md
  docs/ops/ownership-registry.md
  docs/ops/release-governance/release-governance-audit.md
  governance/ga/GA_CHECK_REPORT.md
  governance/ga/ga-check.json
  ops/outputs/data-residency-runtime.json
  ops/outputs/governance-runtime-budget.json
  ops/outputs/onboarding-kpis.json
  ops/outputs/strategic-resilience-report.json
  platform/registry/apps.json
  reports/doc-consistency.json
  reports/doc-consistency.md
  reports/documentation-index.json
  reports/ownership-registry.json
  reports/release-governance-audit.json
  reports/release-secret-audit.json
  reports/repo-excellence-audit.json
  reports/repo-excellence-audit.md
Due: gitleaks, lint-staged, typecheck-staged

feat(ue): upgrade health route to RuntimeHealthResponse canonical shape
  apps/union-eyes/app/api/health/route.ts
Due: gitleaks, lint-staged, typecheck-staged

test(ue): add operational endpoint contract tests (health/telemetry/export)
  apps/union-eyes/app/api/evidence/export/route.ts
  apps/union-eyes/tests/api/operational-endpoints.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(ue): register health/telemetry/export routes in QA inventory
  apps/union-eyes/tests/api/_qa-route-inventory.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ue): evidence/export route readinessCategory must be pilot_critical
  apps/union-eyes/tests/api/_qa-route-inventory.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ue): P2/P3 security hardening — org-scope evidence guard + FSM bypass prevention
  apps/union-eyes/app/api/claims/[id]/evidence/route.ts
  apps/union-eyes/app/api/claims/[id]/route.ts
  apps/union-eyes/lib/__tests__/workflow-engine.test.ts
  apps/union-eyes/lib/api/crud-factory.ts
  apps/union-eyes/lib/workflow-engine.ts
Due: gitleaks, lint-staged, typecheck-staged

docs(ue): update ORG_SCOPE_AUDIT with P2/P3 findings and fixes
  apps/union-eyes/docs/ORG_SCOPE_AUDIT.md
Due: gitleaks

perf(ue): P8 query limits, error boundaries, and enum type safety
  apps/union-eyes/app/[locale]/dashboard/cases/[id]/error.tsx
  apps/union-eyes/app/[locale]/dashboard/leadership/page.tsx
  apps/union-eyes/app/api/grievances/route.ts
  apps/union-eyes/lib/services/dashboard-kpi-service.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(registry): register trustcore, trustcore-trustops, and maestria apps
  platform/registry/apps.json
Due: gitleaks

fix(ue): health route — use getBuildMetadata, normalizeHealthChecks, healthStatusFromChecks for contract compliance
  apps/union-eyes/app/api/health/route.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ue): reconcile health route — buildRuntimeHealthResponse + cross-app contract compliance
  apps/union-eyes/app/api/health/route.ts
  apps/union-eyes/tests/api/operational-endpoints.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(ue): close amber items — E2E negative-path, perf baseline, org-scope fuzz, production topology
  apps/union-eyes/db/org-registry.ts
  apps/union-eyes/docs/FINAL_READINESS_STATUS.md
  apps/union-eyes/docs/PERFORMANCE_BASELINE.md
  apps/union-eyes/docs/PRODUCTION_CUTOVER_CHECKLIST.md
  apps/union-eyes/docs/PRODUCTION_TOPOLOGY.md
  apps/union-eyes/package.json
  apps/union-eyes/scripts/perf-baseline.ts
  apps/union-eyes/tests/e2e/auth-failure-handling.spec.ts
  apps/union-eyes/tests/e2e/evidence-misuse.spec.ts
  apps/union-eyes/tests/e2e/negative-workflow-transitions.spec.ts
  apps/union-eyes/tests/e2e/org-isolation-negative.spec.ts
  docs/documentation-index.md
  docs/ops/ownership-registry.md
  docs/ops/release-governance/release-governance-audit.md
  ops/outputs/data-residency-runtime.json
  ops/outputs/governance-runtime-budget.json
  ops/outputs/onboarding-kpis.json
  ops/outputs/strategic-resilience-report.json
  platform/registry/apps.json
  reports/doc-consistency.json
  reports/doc-consistency.md
  reports/documentation-index.json
  reports/ownership-registry.json
  reports/release-governance-audit.json
  reports/release-secret-audit.json
  reports/repo-excellence-audit.json
  reports/repo-excellence-audit.md
  security/redteam/ue-org-scope-fuzz.test.ts
  tooling/contract-tests/ue-org-column-audit.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): return 401/403 from metrics endpoint instead of 500
  apps/union-eyes/app/api/metrics/operational/route.ts
  apps/union-eyes/docs/BACKUP_RESTORE_VALIDATION.md
  apps/union-eyes/docs/DEPLOYMENT_REHEARSAL.md
  apps/union-eyes/docs/FINAL_READINESS_STATUS.md
  apps/union-eyes/docs/INCIDENT_DRILL_REPORT.md
  apps/union-eyes/docs/OBSERVABILITY_VALIDATION.md
  apps/union-eyes/docs/PHASE_B_PRODUCTION_DEPLOYMENT_VALIDATION.md
  apps/union-eyes/docs/PILOT_RUNTIME_REVIEW.md
  apps/union-eyes/docs/PRODUCTION_INFRA_INVENTORY.md
  apps/union-eyes/docs/ROLLBACK_VALIDATION.md
  apps/union-eyes/docs/SECRET_MANAGEMENT_VALIDATION.md
Due: gitleaks, lint-staged, typecheck-staged

ue: Phase B B2A/B2C/B3A validated — deploy rehearsal + rollback drill complete
  apps/union-eyes/docs/DEPLOYMENT_REHEARSAL.md
  apps/union-eyes/docs/FINAL_READINESS_STATUS.md
  apps/union-eyes/docs/OBSERVABILITY_VALIDATION.md
  apps/union-eyes/docs/PHASE_B_PRODUCTION_DEPLOYMENT_VALIDATION.md
  apps/union-eyes/docs/PILOT_RUNTIME_REVIEW.md
  apps/union-eyes/docs/ROLLBACK_VALIDATION.md
  apps/union-eyes/docs/SECRET_MANAGEMENT_VALIDATION.md
Due: gitleaks

ue: Phase B B3C/B5A/B5B validated — alerts wired, PITR restore drill complete
  apps/union-eyes/docs/BACKUP_RESTORE_VALIDATION.md
  apps/union-eyes/docs/FINAL_READINESS_STATUS.md
  apps/union-eyes/docs/OBSERVABILITY_VALIDATION.md
  apps/union-eyes/docs/PHASE_B_PRODUCTION_DEPLOYMENT_VALIDATION.md
Due: gitleaks

ue: Redis live — Upstash wired on --0000049, health redis:ok confirmed
  apps/union-eyes/docs/FINAL_READINESS_STATUS.md
  apps/union-eyes/docs/PHASE_B_PRODUCTION_DEPLOYMENT_VALIDATION.md
  apps/union-eyes/docs/SECRET_MANAGEMENT_VALIDATION.md
Due: gitleaks

ue: Phase B Redis validated — Upstash live on --0000049, health ok (37ms)
  apps/union-eyes/docs/FINAL_READINESS_STATUS.md
  apps/union-eyes/docs/PHASE_B_PRODUCTION_DEPLOYMENT_VALIDATION.md
  apps/union-eyes/docs/PRODUCTION_INFRA_INVENTORY.md
  apps/union-eyes/docs/SECRET_MANAGEMENT_VALIDATION.md
Due: gitleaks

ue: Phase B B4C/B8 validated — PRODUCTION CANDIDATE label advanced
  apps/union-eyes/docs/FINAL_READINESS_STATUS.md
  apps/union-eyes/docs/INCIDENT_DRILL_REPORT.md
  apps/union-eyes/docs/PHASE_B_PRODUCTION_DEPLOYMENT_VALIDATION.md
Due: gitleaks

ue: Phase B B7 procurement finalization — Clerk refs removed from buyer docs
  docs/categories/stakeholders/GOLDEN_PATH_DEVELOPER_GUIDE.md
  docs/categories/stakeholders/how-to/GOLDEN_PATH_DEVELOPER_GUIDE.md
  docs/categories/stakeholders/how-to/rotate-secrets.md
  reports/product-reports/union-eyes/ue-procurement-pack-cupe.md
Due: gitleaks

fix(ue): correct NZILA_MODE prod→production + set lineage env vars
  apps/union-eyes/docs/PHASE_B_PRODUCTION_DEPLOYMENT_VALIDATION.md
  apps/union-eyes/docs/PILOT_RUNTIME_REVIEW.md
  apps/union-eyes/infra/environments/union-eyes-env.bicep
  apps/union-eyes/lib/runtime/environment.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ue): correct NZILA_MODE prod→production + set lineage env vars
  apps/union-eyes/docs/PHASE_B_PRODUCTION_DEPLOYMENT_VALIDATION.md
Due: gitleaks
