Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

gitleaks:
  run: 'gitleaks detect --source . --config .gitleaks.toml --no-banner --verbose --staged
  
    '
  fail_text: 'ðŸ”’ Gitleaks detected potential secrets in staged files.
  
    Review the output above and remove or rotate any exposed credentials.
  
    See docs/hardening/secrets.md for guidance.
  
  ...

lint-staged:
  run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
  fail_text: Lint errors found. Run `pnpm lint` to see details.

typecheck-staged:
  run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
  fail_text: Type errors found. Run `pnpm typecheck` to see details.

fix(security): patch 9 HIGH CVEs via pnpm overrides (next 16.2.6, exporter-prometheus 0.217.0)
  package.json
  pnpm-lock.yaml
Due: gitleaks

fix(security): waive CVE-2026-44902 on sdk-node (transitive exporter-prometheus already overridden to >=0.217.0)
  .trivyignore
Due: none

chore(governance): truth convergence delta 2026-05-11 + gate authority registry (#502)
  .linkcheckignore
  .trivyignore
  docs/platform/portfolio-matrix.md
  governance/gates/gate-authority-registry.json
  governance/release/deployment-inventory.json
  nzila-truth-manifest.json
  package.json
  packages/platform-contracts/src/registry.test.ts
  packages/platform-contracts/src/registry.ts
  pnpm-lock.yaml
  reports/governance/truth-convergence-delta-2026-05-11.md
  reports/portfolio-ops-dashboard.json
  reports/portfolio-status.json
  reports/portfolio-status.md
  reports/runtime/evidence-authority.json
  tooling/security/supply-chain-policy.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(flow): resolve shopmoica cutover checklist via candidate paths post-docs-reorg
  scripts/flow-shopmoica-cutover-check.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): harden union-eyes prod detection + per-env routing + surface RBAC errors
  .github/workflows/deploy-union-eyes.yml
Due: gitleaks

chore(union-eyes): remove stale eslint-disable for unconfigured playwright rule
  apps/union-eyes/e2e/cape-features.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(flow): resolve shopmoica cutover checklist via candidate paths post-docs-reorg (#504)
  scripts/flow-shopmoica-cutover-check.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): harden union-eyes prod detection + per-env routing + surface RBAC errors (#505)
  .github/workflows/deploy-union-eyes.yml
Due: gitleaks

fix(release): tag-release respects remote tags for --skip-if-exists
  scripts/release/tag-release.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(release): tag-release respects remote tags for --skip-if-exists (#507)
  scripts/release/tag-release.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes/e2e): replace networkidle with domcontentloaded on dashboard goto
  apps/union-eyes/e2e/cape-features.spec.ts
  apps/union-eyes/e2e/cba-intelligence.spec.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(deploy-union-eyes): drop stale Upstash Redis secret refs
  .github/workflows/deploy-union-eyes.yml
Due: gitleaks

chore(repo-inventory): regenerate inventory for 2026-05-12
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

feat(health): add runtime health contract + harden orchestrator /health
  apps/orchestrator-api/src/routes/health.ts
  packages/os-core/src/__tests__/runtime-health.test.ts
  packages/os-core/src/health.ts
  packages/os-core/src/index.ts
Due: gitleaks, lint-staged, typecheck-staged

docs(runtime): Delta-2 health contract evidence (report + status sidecar)
  reports/runtime/runtime-health-contract-delta-2026-05-11.md
  reports/runtime/runtime-health-status-2026-05-11.json
Due: gitleaks

chore(runtime-health): delta-3 generator + validator + CI + post-redeploy proof plan
  .github/workflows/runtime-governance-attestation.yml
  package.json
  reports/runtime/post-delta-2-redeploy-proof-plan-2026-05-11.md
  reports/runtime/runtime-health-proof-delta-3-2026-05-11.md
  reports/runtime/runtime-health-status-latest.json
  tooling/scripts/generate-runtime-health-status.mjs
  tooling/scripts/validate-runtime-health-status.mjs
Due: gitleaks, lint-staged

fix(orchestrator-api): lazy-load next/server in apiHandler + drop BuildKit cache mount
  apps/orchestrator-api/Dockerfile
  packages/os-core/src/api-handler.ts
Due: gitleaks, lint-staged, typecheck-staged

ops(runtime): add post-redeploy orchestrator health attestation 2026-05-12
  reports/runtime/live-health-post-redeploy-2026-05-12.json
  reports/runtime/post-delta-2/2026-05-12/orchestrator-api/headers.txt
  reports/runtime/post-delta-2/2026-05-12/orchestrator-api/probe-health.json
  reports/runtime/post-delta-2/2026-05-12/orchestrator-api/probe-ready.json
  reports/runtime/post-delta-2/2026-05-12/orchestrator-api/probe-root.txt
  reports/runtime/post-delta-2/2026-05-12/orchestrator-api/revision.json
  reports/runtime/post-delta-2/2026-05-12/orchestrator-api/signed-by.txt
  reports/runtime/post-redeploy-runtime-attestation-2026-05-12.json
  reports/runtime/post-redeploy-runtime-attestation-2026-05-12.md
Due: gitleaks

chore(runtime-health): supersede orchestrator failure with post-redeploy evidence (Delta-5)
  reports/runtime/evidence-authority.json
  reports/runtime/runtime-health-status-latest.json
  reports/runtime/runtime-supersession-delta-5-2026-05-12.json
  reports/runtime/runtime-supersession-delta-5-2026-05-12.md
  tooling/scripts/generate-runtime-health-status.mjs
  tooling/scripts/validate-runtime-health-status.mjs
Due: gitleaks, lint-staged

fix(docs): correct relative link targets in runtime reports for Doc Hygiene CI
  docs/documentation-index.md
  reports/documentation-index.json
  reports/runtime/post-delta-2-redeploy-proof-plan-2026-05-11.md
  reports/runtime/post-redeploy-runtime-attestation-2026-05-12.md
  reports/runtime/runtime-health-contract-delta-2026-05-11.md
  reports/runtime/runtime-health-proof-delta-3-2026-05-11.md
Due: gitleaks

ci(trivy): per-image build target (orchestrator uses 'runtime', monorepo uses 'base')
  .github/workflows/trivy.yml
Due: gitleaks

chore(repo-inventory): regenerate for 2026-05-12 (Governance Gates)
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

chore(runtime-health): Delta-2/3 health contract, evidence automation, and CI attestation (#509)
  .github/workflows/runtime-governance-attestation.yml
  .github/workflows/trivy.yml
  apps/orchestrator-api/Dockerfile
  apps/orchestrator-api/src/routes/health.ts
  docs/documentation-index.md
  package.json
  packages/os-core/src/__tests__/runtime-health.test.ts
  packages/os-core/src/api-handler.ts
  packages/os-core/src/health.ts
  packages/os-core/src/index.ts
  reports/documentation-index.json
  reports/runtime/evidence-authority.json
  reports/runtime/live-health-post-redeploy-2026-05-12.json
  reports/runtime/post-delta-2-redeploy-proof-plan-2026-05-11.md
  reports/runtime/post-delta-2/2026-05-12/orchestrator-api/headers.txt
  reports/runtime/post-delta-2/2026-05-12/orchestrator-api/probe-health.json
  reports/runtime/post-delta-2/2026-05-12/orchestrator-api/probe-ready.json
  reports/runtime/post-delta-2/2026-05-12/orchestrator-api/probe-root.txt
  reports/runtime/post-delta-2/2026-05-12/orchestrator-api/revision.json
  reports/runtime/post-delta-2/2026-05-12/orchestrator-api/signed-by.txt
  reports/runtime/post-redeploy-runtime-attestation-2026-05-12.json
  reports/runtime/post-redeploy-runtime-attestation-2026-05-12.md
  reports/runtime/runtime-health-contract-delta-2026-05-11.md
  reports/runtime/runtime-health-proof-delta-3-2026-05-11.md
  reports/runtime/runtime-health-status-2026-05-11.json
  reports/runtime/runtime-health-status-latest.json
  reports/runtime/runtime-supersession-delta-5-2026-05-12.json
  reports/runtime/runtime-supersession-delta-5-2026-05-12.md
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
  tooling/scripts/generate-runtime-health-status.mjs
  tooling/scripts/validate-runtime-health-status.mjs
Due: gitleaks, lint-staged, typecheck-staged

chore(runtime-health): mainline baseline attestation 2026-05-12 (post PR #509 merge)
  reports/runtime/mainline-runtime-baseline-2026-05-12.json
  reports/runtime/mainline-runtime-baseline-2026-05-12.md
Due: gitleaks

chore(runtime-health): mainline baseline attestation 2026-05-12 (post PR #509) (#510)
  reports/runtime/mainline-runtime-baseline-2026-05-12.json
  reports/runtime/mainline-runtime-baseline-2026-05-12.md
Due: gitleaks

fix(orchestrator-api): critical-aware /ready (Delta-7)
  apps/orchestrator-api/src/api-guards.ts
  apps/orchestrator-api/src/routes/__tests__/ready.test.ts
  apps/orchestrator-api/src/routes/ready.ts
  apps/orchestrator-api/src/runtime-dependencies.ts
  reports/runtime/orchestrator-readiness-delta-7-2026-05-12.json
  reports/runtime/orchestrator-readiness-delta-7-2026-05-12.md
Due: gitleaks, lint-staged, typecheck-staged

fix(security): patch protobufjs (CVE-2026-44289..44293) and OTel HIGH transitive advisories
  apps/union-eyes/package.json
  package.json
  packages/observability/package.json
  packages/os-core/package.json
  packages/otel-core/package.json
  pnpm-lock.yaml
Due: gitleaks

fix(security): patch protobufjs (CVE-2026-44289..44293) and OTel HIGH transitive advisories (#512)
  apps/union-eyes/package.json
  package.json
  packages/observability/package.json
  packages/os-core/package.json
  packages/otel-core/package.json
  pnpm-lock.yaml
Due: gitleaks

fix(orchestrator-api): critical-aware /ready (Delta-7) (#511)
  apps/orchestrator-api/src/api-guards.ts
  apps/orchestrator-api/src/routes/__tests__/ready.test.ts
  apps/orchestrator-api/src/routes/ready.ts
  apps/orchestrator-api/src/runtime-dependencies.ts
  reports/runtime/orchestrator-readiness-delta-7-2026-05-12.json
  reports/runtime/orchestrator-readiness-delta-7-2026-05-12.md
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): align OTel deps to v2 line and migrate Resource->resourceFromAttributes, SEMRESATTRS_*->ATTR_*
  packages/observability/package.json
  packages/os-core/package.json
  packages/os-core/src/telemetry/__tests__/otel.test.ts
  packages/os-core/src/telemetry/otel.ts
  packages/os-core/src/telemetry/vendor.d.ts
  packages/otel-core/package.json
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

chore(inventory): refresh after OTel v2 dep bump
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

fix(ci): align OTel deps to v2 + migrate Resource API (#513)
  packages/observability/package.json
  packages/os-core/package.json
  packages/os-core/src/telemetry/__tests__/otel.test.ts
  packages/os-core/src/telemetry/otel.ts
  packages/os-core/src/telemetry/vendor.d.ts
  packages/otel-core/package.json
  pnpm-lock.yaml
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

ci(security-design-review): skip gate for dependabot manifest-only PRs
  .github/workflows/security-design-review.yml
Due: gitleaks

fix(trustcore): hydrate onboarding wizard via lazy useState initializer
  apps/trustcore/components/onboarding/OnboardingWizard.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(trustcore): hydrate onboarding wizard via lazy useState initializer (#515)
  apps/trustcore/components/onboarding/OnboardingWizard.tsx
Due: gitleaks, lint-staged, typecheck-staged

Path conditions:
  gitleaks: any of: *.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}
  lint-staged: any of: *.{ts,tsx,js,jsx,mjs}
  typecheck-staged: any of: *.{ts,tsx}
