Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

lefthook.yml:

# lefthook.yml â€” Pre-commit guardrails for Nzila Automation monorepo
# Docs: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true

  commands:
    gitleaks:
      glob: "*.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}"
      run: >
        gitleaks detect
        --source .
        --config .gitleaks.toml
        --no-banner
        --verbose
        --staged
      fail_text: |
        ðŸ”’ Gitleaks detected potential secrets in staged files.
        Review the output above and remove or rotate any exposed credentials.
        See docs/hardening/secrets.md for guidance.
        Install gitleaks: https://github.com/gitleaks/gitleaks#installing

    lint-staged:
      glob: "*.{ts,tsx,js,jsx,mjs}"
      run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Lint errors found. Run `pnpm lint` to see details."

    typecheck-staged:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
      fail_text: "Type errors found. Run `pnpm typecheck` to see details."

pre-push:
  commands:
    contract-tests:
      run: >
        npx vitest run
        --config tooling/contract-tests/vitest.config.ts
        --dir tooling/contract-tests
      fail_text: |
        Contract tests failed. Run `pnpm contract-tests` to see details.
        Do not push code that violates repo invariants.

feat(union-eyes): add pension intelligence AI profiles and service
  apps/union-eyes/lib/ai/ai-client.ts
  apps/union-eyes/lib/ai/pension-intelligence.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): complete AI feature gating and add pension routes
  apps/union-eyes/app/api/ai/grievances/triage/route.ts
  apps/union-eyes/app/api/ai/insights/summary/route.ts
  apps/union-eyes/app/api/ai/pension/members/[id]/projection/route.ts
  apps/union-eyes/app/api/ai/pension/plans/[id]/funding/route.ts
  apps/union-eyes/app/api/ai/pension/plans/[id]/trustee-summary/route.ts
  apps/union-eyes/lib/services/feature-flags.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes): implement 3 stub AI routes
  apps/union-eyes/app/api/ai/employers/[id]/risk/route.ts
  apps/union-eyes/app/api/ai/grievances/[id]/triage/route.ts
  apps/union-eyes/app/api/ai/insights/[reportType]/route.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): wire AI services to platform org + apply missing control plane tables
  apps/union-eyes/lib/ai/ai-client.ts
  apps/union-eyes/lib/ai/clause-reasoning.ts
  apps/union-eyes/lib/ai/employer-risk.ts
  apps/union-eyes/lib/ai/executive-insights.ts
  apps/union-eyes/lib/ai/grievance-triage.ts
  apps/union-eyes/lib/ai/pension-intelligence.ts
  apps/union-eyes/lib/ai/steward-copilot.ts
  migrations/platform/ai-control-plane-tables.sql
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): add UE_SYSTEM_ORG_ID to AI mocks + guard db.execute in auto-match
  apps/union-eyes/app/api/dues/reconciliation/auto-match/route.ts
  apps/union-eyes/lib/__tests__/clause-reasoning.test.ts
  apps/union-eyes/lib/__tests__/employer-risk.test.ts
  apps/union-eyes/lib/__tests__/executive-insights.test.ts
  apps/union-eyes/lib/__tests__/grievance-triage.test.ts
  apps/union-eyes/lib/__tests__/steward-copilot.test.ts
  apps/union-eyes/lib/ai/__tests__/clause-reasoning.test.ts
  apps/union-eyes/lib/ai/__tests__/employer-risk.test.ts
  apps/union-eyes/lib/ai/__tests__/executive-insights.test.ts
  apps/union-eyes/lib/ai/__tests__/grievance-triage.test.ts
  apps/union-eyes/lib/ai/__tests__/steward-copilot.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(lint): remove unused imports/vars and any types across union-eyes and zonga-events
  apps/union-eyes/app/api/dues/arrears/route.ts
  apps/union-eyes/app/api/grievances/workload/route.ts
  apps/union-eyes/app/api/social-media/accounts/route.ts
  apps/union-eyes/components/admin/clc-remittances-dashboard.tsx
  apps/union-eyes/lib/ai/pension-intelligence.ts
  packages/zonga-events/src/event-settlement.ts
  packages/zonga-events/src/ticketing-proof.test.ts
  packages/zonga-events/src/ticketing.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(pre-prod): eliminate all blindspots — wire real data, remove Supabase
  apps/union-eyes/app/api/ai/grievances/[id]/clause-reasoning/route.ts
  apps/union-eyes/app/api/dues/deductions/route.ts
  apps/union-eyes/app/api/gdpr/data-export/route.ts
  apps/union-eyes/app/api/members/import/route.ts
  apps/union-eyes/app/api/ml/query/route.ts
  apps/union-eyes/app/api/social-media/accounts/route.ts
  apps/union-eyes/app/api/social-media/analytics/route.ts
  apps/union-eyes/app/api/social-media/campaigns/route.ts
  apps/union-eyes/app/api/social-media/posts/route.ts
  apps/union-eyes/app/api/strike-fund/applications/route.ts
  apps/union-eyes/app/api/v2/admin/integrations/configs/[id]/test/route.ts
  apps/union-eyes/app/api/v2/ml/query/route.ts
  apps/union-eyes/components/admin/clc-remittances-dashboard.tsx
  apps/union-eyes/lib/ai/experiments.ts
  apps/union-eyes/lib/ai/rag-pipeline.ts
  apps/union-eyes/lib/analytics/advanced-metrics.ts
  apps/union-eyes/lib/automation/story-automation.ts
  apps/union-eyes/lib/social-media/social-media-service.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): add vitest config for canadian-vocabulary + fix prefer-as-const in social-media analytics
  apps/union-eyes/app/api/social-media/analytics/route.ts
  packages/canadian-vocabulary/vitest.config.ts
  tooling/contract-tests/api-authz-coverage.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: apps/union-eyes/package.json to reduce vulnerabilities (#269)
  apps/union-eyes/package.json
Due: gitleaks

chore: update pnpm-lock.yaml after geoip-lite 1→2 bump
  pnpm-lock.yaml
Due: gitleaks

fix(ci): mock ai-client in rag-pipeline tests + add @types/node to cli
  apps/union-eyes/lib/ai/__tests__/rag-pipeline.test.ts
  packages/cli/package.json
  packages/cli/tsconfig.json
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): add @types/node to security package
  packages/security/package.json
  packages/security/tsconfig.json
  pnpm-lock.yaml
Due: gitleaks

fix(ci): add types:node to remaining tsconfigs (tooling, orchestrator-api, media-worker)
  apps/orchestrator-api/tsconfig.json
  packages/platform-rum/tsconfig.json
  services/media-worker/tsconfig.json
  tooling/chaos/tsconfig.json
  tooling/openapi-gen/tsconfig.json
Due: gitleaks

fix(ci): upgrade moduleResolution:node to bundler in canadian/quebec-vocabulary
  packages/canadian-vocabulary/tsconfig.json
  packages/quebec-vocabulary/tsconfig.json
Due: gitleaks

fix(ci): remove unused outDir from platform-export tsconfig (TS6059)
  packages/platform-export/tsconfig.json
Due: gitleaks

fix(ci): remove unused outDir from platform packages (TS6059 batch fix)
  packages/os-core/tsconfig.json
  packages/platform-cost/tsconfig.json
  packages/platform-deploy/tsconfig.json
  packages/platform-events/tsconfig.json
  packages/platform-integrations-control-plane/tsconfig.json
  packages/platform-isolation/tsconfig.json
  packages/platform-metrics/tsconfig.json
  packages/platform-ops/tsconfig.json
  packages/platform-performance/tsconfig.json
  packages/platform-proof/tsconfig.json
Due: gitleaks

fix(ci): fix ai-core tsconfig JSON syntax and add allowArbitraryExtensions to mobility-client-portal
  apps/mobility-client-portal/tsconfig.json
  packages/ai-core/tsconfig.json
Due: gitleaks

fix(ci): disable noUncheckedSideEffectImports in nextjs tsconfig (TS6 strict CSS import)
  apps/mobility-client-portal/tsconfig.json
  packages/config/tsconfig.nextjs.json
Due: gitleaks

fix(ci): remove redundant ?? undefined chain in circuitBreaker.ts (TS2871)
  packages/integrations-runtime/src/circuitBreaker.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): remove deprecated baseUrl from zonga tsconfig (TS5101)
  apps/zonga/tsconfig.json
Due: gitleaks

fix(ci): Clerk v7 breaking API changes + undici/jsdom29 compat
  .github/workflows/ai-governance.yml
  apps/abr/package.json
  apps/console/app/(dashboard)/layout.tsx
  apps/flow/app/(dashboard)/layout.tsx
  apps/mobility-client-portal/app/(portal)/layout.tsx
  apps/mobility-client-portal/app/[locale]/(portal)/layout.tsx
  apps/mobility-client-portal/app/sign-in/[[...sign-in]]/page.tsx
  apps/mobility-client-portal/app/sign-up/[[...sign-up]]/page.tsx
  apps/mobility/app/(dashboard)/layout.tsx
  apps/mobility/app/[locale]/(dashboard)/layout.tsx
  apps/mobility/app/sign-in/[[...sign-in]]/page.tsx
  apps/mobility/app/sign-up/[[...sign-up]]/page.tsx
  apps/nacp-exams/app/[locale]/dashboard/layout.tsx
  apps/partners/app/[locale]/admin/layout.tsx
  apps/partners/app/[locale]/portal/layout.tsx
  apps/partners/app/admin/layout.tsx
  apps/partners/app/portal/layout.tsx
  apps/union-eyes/app/layout.tsx
  package.json
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged

fix(typecheck): remove unused @ts-expect-error Clerk directives (TS2578, Clerk v7 fixed types)
  apps/union-eyes/app/api/ai/mamba/route.ts
  apps/union-eyes/lib/middleware/admin-auth.ts
  apps/union-eyes/middleware.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(typecheck): fix NextMiddlewareResult assignability in union-eyes middleware (TS2322)
  apps/union-eyes/middleware.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(typecheck): cast clerkHandler result to NextResponse (Response not assignable to NextResponse, TS2739)
  apps/union-eyes/middleware.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(docker): fix OOM, CLERK_SECRET_KEY layer leak, middleware->proxy rename
  Dockerfile
  apps/union-eyes/package.json
  apps/union-eyes/proxy.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(contracts): revert proxy.ts->middleware.ts rename, replace console.error with logger.error
  apps/union-eyes/middleware.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(seeds): assign correct CLIENT_FACING_ROLES to all test users
  apps/union-eyes/db/seeds/seed-master.sql
Due: none

fix(seeds): fix CAPE exec roles and replace CUPE National placeholder IDs
  apps/union-eyes/db/seeds/seed-master.sql
Due: none

seed: sync org_members to DB ground truth — CAPE, CLC, CUPE National, L123
  apps/union-eyes/db/seeds/seed-master.sql
Due: none

fix(seed): correct platform admin emails to match Clerk primary emails
  apps/union-eyes/db/seeds/seed-master.sql
Due: none

feat(automation): 100% Python test coverage — 820 tests, 0 failures
  .coveragerc
  .gitignore
  .vscode/settings.json
  apps/zonga/lib/__tests__/subscription-api.test.ts
  packages/automation/generators/core/dependency_analyzer.py
  packages/automation/generators/core/pattern_extractor.py
  packages/automation/generators/core/platform_analyzer_v2.py
  packages/automation/generators/core/progress_tracker.py
  packages/automation/generators/infra/check_connections.py
  packages/automation/generators/migration/migration_executor.py
  packages/automation/integrations/__init__.py
  packages/automation/integrations/notion.py
  packages/automation/pyproject.toml
  packages/automation/pytest.ini
  packages/automation/security/scanner.py
  packages/automation/tests/conftest.py
  packages/automation/tests/test_backup.py
  packages/automation/tests/test_config.py
  packages/automation/tests/test_dependency_analyzer.py
  packages/automation/tests/test_deployment.py
  packages/automation/tests/test_di.py
  packages/automation/tests/test_integrations.py
  packages/automation/tests/test_logging_config.py
  packages/automation/tests/test_manifest_generator.py
  packages/automation/tests/test_migration_executor.py
  packages/automation/tests/test_monitoring.py
  packages/automation/tests/test_orchestrator.py
  packages/automation/tests/test_pattern_extractor.py
  packages/automation/tests/test_platform_analyzer.py
  packages/automation/tests/test_progress_tracker.py
  packages/automation/tests/test_reporters.py
  packages/automation/tests/test_result.py
  packages/automation/tests/test_security.py
  packages/automation/tests/test_standalone_scripts.py
  packages/automation/tests/test_validation.py
Due: gitleaks, lint-staged, typecheck-staged

fix: regenerate pnpm-lock.yaml for zonga package changes
  pnpm-lock.yaml
Due: gitleaks

fix: avoid CodeQL false positive for URL substring check in test
  packages/automation/tests/test_standalone_scripts.py
Due: gitleaks

feat: 8-phase final delta hardening pass — 250 contract test assertions, control-plane infrastructure, Zonga analytics API
  apps/control-plane/app/api/health/route.ts
  apps/control-plane/lib/evidence.ts
  apps/control-plane/lib/telemetry.ts
  apps/zonga/app/api/analytics/route.ts
  tooling/contract-tests/canonical-schema-enforcement.test.ts
  tooling/contract-tests/ci-cd-hardening.test.ts
  tooling/contract-tests/control-plane-authority.test.ts
  tooling/contract-tests/evidence-universal-coverage.test.ts
  tooling/contract-tests/observability-unification.test.ts
  tooling/contract-tests/org-scope-provability.test.ts
  tooling/contract-tests/shared-core-enforcement.test.ts
  tooling/contract-tests/zonga-monetization-finalization.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: resolve typecheck failures in platform-contracts and zonga
  apps/zonga/app/api/analytics/route.ts
  apps/zonga/lib/actions/download-actions.ts
  apps/zonga/lib/actions/social-actions.ts
  packages/platform-contracts/src/app-registry.ts
  packages/platform-contracts/src/registry.test.ts
  packages/platform-contracts/src/registry.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: resolve 74 contract test failures
  packages/agri-intelligence/__tests__/explainability.test.ts
  tooling/contract-tests/vitest.config.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: resolve CI failures — UE evidence type mapping and control-plane observability dep
  apps/control-plane/package.json
  apps/union-eyes/lib/__tests__/evidence.test.ts
  apps/union-eyes/lib/evidence.ts
  pnpm-lock.yaml
Due: gitleaks, lint-staged, typecheck-staged
