Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

gitleaks:
  run: 'gitleaks detect --source . --config .gitleaks.toml --no-banner --verbose --staged
  
    '
  fail_text: 'ðŸ”’ Gitleaks detected potential secrets in staged files.
  
    Review the output above and remove or rotate any exposed credentials.
  
    See docs/hardening/secrets.md for guidance.
  
  ...

lint-staged:
  run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
  fail_text: Lint errors found. Run `pnpm lint` to see details.

typecheck-staged:
  run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
  fail_text: Type errors found. Run `pnpm typecheck` to see details.

chore(union-eyes): remove BUILD-MARKER from inbox subject after demo CA verified
  apps/union-eyes/lib/demo/cupe4373-demo.ts
Due: gitleaks, lint-staged, typecheck-staged

ci(union-eyes): auto-promote every main push to all 4 ACA envs (close fanout gap)
  .github/workflows/auto-promote-union-eyes.yml
Due: gitleaks

chore(union-eyes): retire legacy nzila-os-union-eyes CA
  .github/workflows/gitops-deploy.yml
  .github/workflows/retire-legacy-union-eyes-ca.yml
  infrastructure/gitops/environments/production.yml
  infrastructure/gitops/environments/staging.yml
  scripts/dns/lib.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(retire-legacy-ue): use vars.DNS_ZONE_ID directly (zone-scoped CF tokens cannot list zones)
  .github/workflows/retire-legacy-union-eyes-ca.yml
Due: gitleaks

fix(workflow): correct AFD route/origin names + use REST PATCH
  .github/workflows/retire-legacy-union-eyes-ca.yml
Due: gitleaks

fix(union-eyes/demo): scope CUPE 4373 demo nav by role
  apps/union-eyes/components/sidebar.tsx
  apps/union-eyes/lib/dashboard/role-experience.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes/demo): scope dashboard root by role so members don't see steward ops console
  apps/union-eyes/app/[locale]/dashboard/page.tsx
Due: gitleaks, lint-staged, typecheck-staged

feat(union-eyes/demo): member-scoped inbox/cases/documents views
  apps/union-eyes/app/[locale]/dashboard/cases/[id]/page.tsx
  apps/union-eyes/app/[locale]/dashboard/cases/page.tsx
  apps/union-eyes/app/[locale]/dashboard/documents/page.tsx
  apps/union-eyes/app/[locale]/dashboard/inbox/page.tsx
  apps/union-eyes/components/demo/cupe4373-member-views.tsx
  apps/union-eyes/lib/demo/cupe4373-member-view.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(infra): VNet-integrated Postgres, ACR pull, KV secret refs
  infrastructure/bicep/main.bicep
  infrastructure/bicep/modules/container-apps.bicep
  infrastructure/bicep/modules/keyvault.bicep
  infrastructure/bicep/modules/network.bicep
  infrastructure/bicep/modules/postgres.bicep
Due: none

feat(ai-evals): externalize gate thresholds to eval.config.json
  tooling/ai-evals/eval-gate.ts
  tooling/ai-evals/eval.config.json
  tooling/ai-evals/eval.config.schema.json
Due: gitleaks, lint-staged, typecheck-staged

chore(vscode): tune Vitest Explorer for 95-project workspace
  .vscode/settings.json
Due: gitleaks

union-eyes: ship customer-zero commercialization wave and Brandon collateral
  apps/union-eyes/app/[locale]/(marketing)/organizational-continuity/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/pilot/apply/page.tsx
  apps/union-eyes/app/[locale]/dashboard/admin/pilots/page.tsx
  apps/union-eyes/app/api/pilot/apply/[id]/artifacts/route.ts
  apps/union-eyes/app/api/pilot/apply/[id]/commercial-transition/route.ts
  apps/union-eyes/app/api/pilot/apply/[id]/commercialization-timeline/route.ts
  apps/union-eyes/app/api/pilot/apply/[id]/intelligence/route.ts
  apps/union-eyes/app/api/pilot/apply/[id]/package-export/route.ts
  apps/union-eyes/app/api/pilot/apply/[id]/proposal/route.ts
  apps/union-eyes/app/api/pilot/apply/[id]/reference-profile/route.ts
  apps/union-eyes/components/marketing/insight-article-view.tsx
  apps/union-eyes/lib/pilot/commercialization-wave1.ts
  docs/documentation-index.md
  docs/ops/ownership-registry.md
  docs/ops/release-governance/release-governance-audit.md
  reports/commercialization/brandon-collateral/brandon-board-packet.md
  reports/commercialization/brandon-collateral/executive-brief.md
  reports/commercialization/brandon-collateral/faq-objection-sheet.md
  reports/commercialization/brandon-collateral/pilot-one-pager.md
  reports/commercialization/brandon-collateral/sample-pilot-timeline.md
  reports/commercialization/union-eyes-brandon-demo-feature-triage.md
  reports/commercialization/union-eyes-commercialization-audit.md
  reports/commercialization/union-eyes-customer-zero-readiness-review.md
  reports/commercialization/union-eyes-first-customer-playbook.md
  reports/commercialization/union-eyes-pilot-delivery-model.md
  reports/commercialization/union-eyes-pilot-program.md
  reports/commercialization/union-eyes-pilot-readiness-gap-analysis.md
  reports/doc-consistency.json
  reports/doc-consistency.md
  reports/documentation-index.json
  reports/ownership-registry.json
  reports/release-governance-audit.json
  reports/release-secret-audit.json
  reports/repo-excellence-audit.json
  reports/repo-excellence-audit.md
Due: gitleaks, lint-staged, typecheck-staged

chore: refresh governance and documentation audit outputs
  docs/documentation-index.md
  docs/ops/ownership-registry.md
  docs/ops/release-governance/release-governance-audit.md
  reports/doc-consistency.json
  reports/doc-consistency.md
  reports/documentation-index.json
  reports/ownership-registry.json
  reports/release-governance-audit.json
  reports/release-secret-audit.json
  reports/repo-excellence-audit.json
  reports/repo-excellence-audit.md
Due: gitleaks

fix: satisfy contract-test authority and persona mapping guards
  apps/union-eyes/app/api/pilot/apply/[id]/commercial-transition/route.ts
  ops/outputs/data-residency-runtime.json
  ops/outputs/governance-runtime-budget.json
  ops/outputs/onboarding-kpis.json
  ops/outputs/strategic-resilience-report.json
  tooling/contract-tests/ue-persona-access.test.ts
Due: gitleaks, lint-staged, typecheck-staged

chore: refresh ops runtime output snapshots
  ops/outputs/data-residency-runtime.json
  ops/outputs/governance-runtime-budget.json
  ops/outputs/onboarding-kpis.json
  ops/outputs/strategic-resilience-report.json
Due: gitleaks

fix: unblock strict typecheck frontier across app proxies and adapters
  apps/agrimo/proxy.ts
  apps/cfo/lib/calendar.ts
  apps/console/proxy.ts
  apps/control-plane/app/api/control-plane/governance/actions/route.ts
  apps/control-plane/proxy.ts
  apps/cora/proxy.ts
  apps/flow/i18n/request.ts
  apps/flow/lib/customer-communication/templates.ts
  apps/flow/proxy.ts
  apps/nacp-exams/i18n/request.ts
  apps/nacp-exams/proxy.ts
  apps/orchestrator-api/src/store.ts
  services/media-worker/src/recovery.test.ts
  services/media-worker/src/server.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: satisfy platform-events no-any invariant
  packages/platform-events/src/store.ts
Due: gitleaks, lint-staged, typecheck-staged

zonga: harden instrumentation for edge runtime and include app in ga gate
  apps/zonga/instrumentation.node.ts
  apps/zonga/instrumentation.ts
  governance/ga-check.ts
Due: gitleaks, lint-staged, typecheck-staged

console: complete workspace-level HubSpot connection validation
  apps/console/app/(dashboard)/integrations/[provider]/page.tsx
  apps/console/app/(dashboard)/integrations/[provider]/provider-connection-form.tsx
  apps/console/app/(dashboard)/workspace/_lib/hubspot-sync.ts
  apps/console/app/(dashboard)/workspace/_lib/sales-actions.ts
  apps/console/app/(dashboard)/workspace/_lib/workspace-auth.ts
  apps/console/app/(dashboard)/workspace/sales/_components/hubspot-sync-button.tsx
  apps/console/app/(dashboard)/workspace/sales/page.tsx
  apps/console/lib/__tests__/integrations-provider-catalog.test.ts
Due: gitleaks, lint-staged, typecheck-staged

repo: fix contract gates blocking hubspot validation push
  apps/console/app/(dashboard)/workspace/_lib/funding-actions.ts
  apps/console/app/(dashboard)/workspace/_lib/house-partner.ts
  apps/console/app/(dashboard)/workspace/_lib/sales-actions.ts
  apps/console/app/api/_telemetry/console/route.ts
  apps/zonga/instrumentation.node.ts
  tooling/contract-tests/auth-purity.test.ts
Due: gitleaks, lint-staged, typecheck-staged

test: enforce console hubspot lifecycle wiring
  tooling/contract-tests/console-hubspot-lifecycle.test.ts
Due: gitleaks, lint-staged, typecheck-staged

test: enforce console workspace sub-page navigation
  tooling/contract-tests/console-workspace-navigation.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(console): stabilize portfolio scoring and attribution for UE
  apps/console/app/(dashboard)/pilot/export/page.tsx
  apps/console/app/(dashboard)/portfolio/_components/portfolio-widgets.tsx
  apps/console/app/(dashboard)/portfolio/page.tsx
  apps/console/components/ui/DataTable.tsx
  apps/console/components/ui/PaginationControls.tsx
  apps/console/lib/executive-intelligence.ts
  apps/union-eyes/lib/services/clause-service.ts
Due: gitleaks, lint-staged, typecheck-staged

harden console authz boundaries and lock regressions
  apps/console/app/(dashboard)/settings/billing/SubscriptionManager.tsx
  apps/console/app/(dashboard)/workspace/_components/workspace-tabs.tsx
  apps/console/app/api/assurance/route.ts
  apps/console/app/api/audit-insights/export/route.ts
  apps/console/app/api/evidence-packs/route.ts
  apps/console/app/api/stripe/checkout/session-status/route.ts
  apps/console/app/api/stripe/checkout/session/route.ts
  apps/console/app/api/stripe/checkout/subscription/route.ts
  apps/console/app/api/stripe/customer-portal/route.ts
  apps/console/app/api/stripe/customers/route.ts
  apps/console/app/api/stripe/refunds/approve/route.ts
  apps/console/app/api/stripe/refunds/route.ts
  apps/console/app/api/stripe/reports/generate/route.ts
  apps/console/app/api/stripe/subscriptions/route.ts
  apps/console/eslint.config.mjs
  apps/console/lib/__tests__/api-guards.authz.test.ts
  apps/console/lib/__tests__/audit-db.test.ts
  apps/console/lib/__tests__/integrations-provider-catalog.coverage.test.ts
  apps/console/lib/__tests__/integrations-server-data.coverage.test.ts
  apps/console/lib/__tests__/proxy-security-context.test.ts
  apps/console/lib/api-guards.ts
  apps/console/lib/perf/store.test.ts
  apps/console/lib/qbo-token-crypto.test.ts
  apps/console/lib/security-context.ts
  apps/console/proxy.ts
  apps/console/vitest.config.ts
Due: gitleaks, lint-staged, typecheck-staged

stabilize flaky fast-suite timeout tests
  apps/orchestrator-api/src/routes/__tests__/ready.test.ts
  packages/platform-cognition-core/src/__tests__/cognition.test.ts
  tooling/openapi-gen/src/__tests__/generator.test.ts
Due: gitleaks, lint-staged, typecheck-staged

add console production canary checklist
  apps/console/README.md
  apps/console/docs/production-canary-checklist.md
Due: gitleaks

add console fortune500 readiness assessment
  apps/console/README.md
  apps/console/docs/fortune500-readiness-assessment.md
Due: gitleaks

close enterprise readiness doc gaps
  docs/categories/stakeholders/public/trust-center.md
  docs/compliance/soc2/gap-log.md
  docs/compliance/soc2/vendor-assurance-index.md
  governance/privacy/incidents/incident-response-training-log.md
Due: gitleaks

capture live access review evidence and close soc2 gaps
  apps/console/docs/fortune500-readiness-assessment.md
  docs/compliance/soc2/gap-log.md
  reports/compliance/access-review/2026-Q2.json
  reports/compliance/access-review/2026-Q2.md
  reports/compliance/access-review/captures/2026-Q2/account.json
  reports/compliance/access-review/captures/2026-Q2/global-admin-members.json
  reports/compliance/access-review/captures/2026-Q2/metrics.json
  reports/compliance/access-review/captures/2026-Q2/privileged-members.json
  reports/compliance/access-review/captures/2026-Q2/user-admin-members.json
  reports/compliance/access-review/captures/2026-Q2/users-signin.json
  reports/compliance/access-review/captures/2026-Q2/users.json
Due: gitleaks

close capacity control gap and refresh readiness score
  apps/console/docs/fortune500-readiness-assessment.md
  docs/compliance/soc2/capacity-scaling-thresholds.md
  docs/compliance/soc2/control-mapping.md
  docs/compliance/soc2/evidence-inventory.md
  docs/compliance/soc2/gap-log.md
Due: gitleaks

add IR tabletop evidence and operationalize vendor assurance pack
  apps/console/docs/fortune500-readiness-assessment.md
  docs/compliance/soc2/gap-log.md
  governance/privacy/incidents/exercises/2026-Q2/README.md
  governance/privacy/incidents/exercises/2026-Q2/after-action-report.md
  governance/privacy/incidents/exercises/2026-Q2/attendance-roster.md
  governance/privacy/incidents/exercises/2026-Q2/decision-timeline.md
  governance/privacy/incidents/exercises/2026-Q2/scenario-brief.md
  governance/privacy/incidents/incident-response-training-log.md
  governance/privacy/incidents/post-mortem-template.md
  governance/privacy/incidents/security-incident-management-plan.md
  reports/compliance/vendor-assurance/azure/status.json
  reports/compliance/vendor-assurance/github/status.json
  reports/compliance/vendor-assurance/intuit/status.json
  reports/compliance/vendor-assurance/openai/status.json
  reports/compliance/vendor-assurance/stripe/status.json
  reports/compliance/vendor-assurance/vercel/status.json
Due: gitleaks

harden console stripe flows and proxy security enforcement
  apps/console/app/api/stripe/checkout/session/route.ts
  apps/console/app/api/stripe/customer-portal/route.ts
  apps/console/app/api/stripe/refunds/approve/route.ts
  apps/console/app/api/stripe/webhooks/route.ts
  apps/console/lib/__tests__/server-redirects.test.ts
  apps/console/lib/server-redirects.ts
  apps/console/proxy.ts
Due: gitleaks, lint-staged, typecheck-staged

add console integrations readiness checks and env coverage
  apps/console/.env.example
  apps/console/app/api/integrations/readiness/route.ts
  apps/console/lib/__tests__/integrations-env-readiness.test.ts
  apps/console/lib/integrations-env-readiness.ts
Due: gitleaks, lint-staged, typecheck-staged

convert ue revenue cockpit to canonical revenue route
  apps/console/app/(dashboard)/ue-revenue-cockpit/page.tsx
Due: gitleaks, lint-staged, typecheck-staged

redirect ue pipeline to canonical workspace sales route
  apps/console/app/(dashboard)/ue-pipeline/page.tsx
  tooling/contract-tests/vitest.config.ts
Due: gitleaks, lint-staged, typecheck-staged

enforce operator-only console access and strict workspace org assertions
  apps/console/app/(dashboard)/layout.tsx
  apps/console/app/(dashboard)/workspace/_lib/legacy-map.ts
  apps/console/app/(dashboard)/workspace/_lib/sales-actions.ts
  apps/console/app/(dashboard)/workspace/_lib/workspace-auth.ts
  apps/console/app/(dashboard)/workspace/settings/page.tsx
  apps/console/lib/__tests__/api-guards.authz.test.ts
  apps/console/lib/api-guards.ts
  apps/console/lib/nav-config.ts
  apps/console/lib/rbac.ts
Due: gitleaks, lint-staged, typecheck-staged

harden overview pages against missing local data schema
  apps/console/app/(dashboard)/console/ai/overview/page.tsx
  apps/console/lib/finance-spine.ts
  apps/console/lib/ml-server.ts
Due: gitleaks, lint-staged, typecheck-staged

Path conditions:
  gitleaks: any of: *.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}
  lint-staged: any of: *.{ts,tsx,js,jsx,mjs}
  typecheck-staged: any of: *.{ts,tsx}
