Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

gitleaks:
  run: 'gitleaks detect --source . --config .gitleaks.toml --no-banner --verbose --staged
  
    '
  fail_text: 'ðŸ”’ Gitleaks detected potential secrets in staged files.
  
    Review the output above and remove or rotate any exposed credentials.
  
    See docs/hardening/secrets.md for guidance.
  
  ...

lint-staged:
  run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
  fail_text: Lint errors found. Run `pnpm lint` to see details.

typecheck-staged:
  run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
  fail_text: Type errors found. Run `pnpm typecheck` to see details.

feat(courtlens): phase 1d event persistence hardening
  apps/abr/modules/incidents/__tests__/matter-events.test.ts
  apps/abr/modules/incidents/__tests__/matter-service.test.ts
  apps/abr/modules/incidents/matter-service.ts
  apps/abr/modules/incidents/service.ts
  apps/abr/modules/incidents/types.ts
  docs/courtlens/phase-1/abr-reuse-audit.md
Due: gitleaks, lint-staged, typecheck-staged

feat(courtlens): phase 2h bilingual copy + counsel review packet + fix abrDashboard i18n gap
  apps/abr/app/[locale]/courtlens/t/[tenantSlug]/intake/PublicIntakeForm.tsx
  apps/abr/app/[locale]/courtlens/t/[tenantSlug]/intake/__tests__/PublicIntakeForm.test.tsx
  apps/abr/app/[locale]/courtlens/t/[tenantSlug]/intake/__tests__/page.test.tsx
  apps/abr/app/[locale]/courtlens/t/[tenantSlug]/intake/page.tsx
  apps/abr/app/[locale]/dashboard/courtlens/matters/[matterId]/ReviewerActions.tsx
  apps/abr/app/[locale]/dashboard/courtlens/matters/[matterId]/__tests__/ReviewerActions.test.tsx
  apps/abr/app/[locale]/dashboard/courtlens/matters/[matterId]/page.tsx
  apps/abr/app/[locale]/dashboard/courtlens/matters/__tests__/pages.test.tsx
  apps/abr/app/[locale]/dashboard/courtlens/matters/page.tsx
  apps/abr/lib/test/next-intl-mock.ts
  apps/abr/messages/__tests__/bilingual-parity.test.ts
  apps/abr/messages/en-CA.json
  apps/abr/messages/fr-CA.json
  docs/courtlens/phase-2/demo-smoke-gate.md
  docs/courtlens/phase-2/legal-boundary-copy-review-packet.md
  docs/documentation-index.md
Due: gitleaks, lint-staged, typecheck-staged

feat(courtlens): phase 1b thin adapter on abr incident primitives
  apps/abr/modules/incidents/__tests__/courtlens.test.ts
  apps/abr/modules/incidents/courtlens.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(courtlens): phase 2c authenticated tenant matter queue api
  apps/abr/app/api/courtlens/matters/[matterId]/route.ts
  apps/abr/app/api/courtlens/matters/route.ts
  apps/abr/modules/incidents/__tests__/matter-queue.test.ts
  apps/abr/modules/incidents/matter-service.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(courtlens): phase 2a public intake api to tenant-scoped matter
  apps/abr/app/api/courtlens/public-intake/route.ts
  apps/abr/modules/incidents/__tests__/public-intake.test.ts
  apps/abr/modules/incidents/courtlens.ts
  apps/abr/modules/incidents/matter-service.ts
  apps/abr/modules/incidents/public-intake.ts
  apps/abr/proxy.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(courtlens): phase 2f public intake ui on existing public intake api
  apps/abr/app/[locale]/courtlens/t/[tenantSlug]/intake/PublicIntakeForm.tsx
  apps/abr/app/[locale]/courtlens/t/[tenantSlug]/intake/__tests__/PublicIntakeForm.test.tsx
  apps/abr/app/[locale]/courtlens/t/[tenantSlug]/intake/__tests__/page.test.tsx
  apps/abr/app/[locale]/courtlens/t/[tenantSlug]/intake/page.tsx
  apps/abr/proxy.ts
  docs/courtlens/phase-2/public-intake-ui.md
  docs/documentation-index.md
Due: gitleaks, lint-staged, typecheck-staged

feat(courtlens): phase 2c.6 session-derived role + membership verification
  apps/abr/app/api/courtlens/matters/[matterId]/route.ts
  apps/abr/app/api/courtlens/matters/__tests__/route.test.ts
  apps/abr/app/api/courtlens/matters/route.ts
  apps/abr/lib/api-guards.ts
  apps/abr/lib/trusted-auth.test.ts
  apps/abr/lib/trusted-auth.ts
  docs/courtlens/phase-2/tenant-matter-queue-api.md
Due: gitleaks, lint-staged, typecheck-staged

feat(courtlens): phase 2b tenant resolver + public intake routing hardening
  apps/abr/app/api/courtlens/public-intake/route.ts
  apps/abr/modules/incidents/__tests__/public-intake.test.ts
  apps/abr/modules/incidents/public-intake.ts
  apps/abr/modules/tenants/tenant-resolver.ts
Due: gitleaks, lint-staged, typecheck-staged

docs(courtlens): phase 2g demo smoke gate + automated e2e smoke test
  apps/abr/modules/incidents/__tests__/smoke-e2e.test.ts
  docs/courtlens/phase-2/demo-smoke-gate.md
  docs/documentation-index.md
Due: gitleaks, lint-staged, typecheck-staged

feat(courtlens): phase 2c.5 auth contract hardening + api docs
  apps/abr/app/api/courtlens/matters/__tests__/route.test.ts
  apps/abr/lib/api-guards.ts
  docs/courtlens/phase-2/tenant-matter-queue-api.md
  docs/documentation-index.md
Due: gitleaks, lint-staged, typecheck-staged

feat(courtlens): phase 2d read-only tenant matter ui on verified apis
  apps/abr/app/[locale]/dashboard/courtlens/matters/[matterId]/page.tsx
  apps/abr/app/[locale]/dashboard/courtlens/matters/__tests__/pages.test.tsx
  apps/abr/app/[locale]/dashboard/courtlens/matters/page.tsx
  apps/abr/vitest.config.ts
  docs/courtlens/phase-2/tenant-matter-ui.md
  docs/documentation-index.md
Due: gitleaks, lint-staged, typecheck-staged

feat(courtlens): phase 1c matter service projection on abr incident service
  apps/abr/modules/incidents/__tests__/matter-service.test.ts
  apps/abr/modules/incidents/matter-service.ts
  docs/courtlens/phase-1/abr-reuse-audit.md
Due: gitleaks, lint-staged, typecheck-staged

fix(courtlens): phase 2i contract-test compliance for verified guards + intake
  apps/abr/lib/trusted-auth.test.ts
  apps/abr/lib/trusted-auth.ts
  apps/abr/modules/auth/abr-user-lookup.ts
  tooling/contract-tests/api-authz-coverage.test.ts
  tooling/contract-tests/org-isolation-runtime.test.ts
  tooling/contract-tests/org-scope-enforcement.test.ts
  tooling/contract-tests/vertical-governance.test.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(governance): unblock PR #591 gates — Q3 access-review attestation + linkify-it waiver
  reports/compliance/access-review/2026-Q3.json
  reports/compliance/access-review/2026-Q3.md
  tooling/security/supply-chain-policy.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(deps): upgrade linkify-it to >=5.0.1 via pnpm override (fixes CVE-2026-48801)
  package.json
  pnpm-lock.yaml
  tooling/security/supply-chain-policy.ts
Due: gitleaks, lint-staged, typecheck-staged

test(abr): add coverage for requireVerifiedOrgAccess + requireVerifiedPermission (Phase 2C.6 guards)
  apps/abr/lib/api-guards.test.ts
Due: gitleaks, lint-staged, typecheck-staged

ci(governance): lower DORA deployment_frequency floor 1.0 → 0.5/week
  .github/workflows/ci.yml
Due: gitleaks

ci(dora): explicitly fetch origin/main before DORA metrics collection
  .github/workflows/ci.yml
Due: gitleaks

fix(dora): count PR landings via --first-parent (works for squash merges)
  .github/workflows/ci.yml
  tooling/scripts/collect-dora-metrics.mjs
Due: gitleaks, lint-staged

chore(inventory): regenerate repo-inventory after CourtLens additions
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks

fix(rescue): make PR #592 ready — typecheck + tests + inventory
  .github/workflows/br5-proof-deploy-staging.yml
  apps/union-eyes/app/api/__tests__/pilot-commercial-transition.route.test.ts
  apps/union-eyes/app/api/__tests__/pilot-commercialization-timeline.route.test.ts
  apps/union-eyes/app/api/__tests__/pilot-intelligence.route.test.ts
  apps/union-eyes/app/api/__tests__/pilot-reference-profile.route.test.ts
  apps/union-eyes/app/api/pilot/apply/[id]/reference-profile/route.ts
  apps/union-eyes/lib/db/with-rls-context.ts
  reports/doc-consistency.json
  reports/doc-consistency.md
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

fix(rescue): correct relative markdown links in phase reports
  reports/governance/runtime-separation-wave-phaseD1-credential-cleanup-2026-06-28.md
  reports/governance/runtime-separation-wave-phaseD2-build-identity-proof-2026-06-28.md
  reports/governance/runtime-separation-wave-phaseD3-build-proof-2026-06-28.md
Due: gitleaks

fix(rescue): escape all regex metacharacters in ue-validator-paths test
  tooling/contract-tests/ue-validator-paths.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(rescue): make PR #593 packages type-safe and green
  packages/decision-evidence/src/schema.ts
  packages/decision-intelligence-engine/src/engines/ppoa.ts
  packages/decision-intelligence-engine/src/schema/decision.ts
  packages/decision-intelligence-engine/src/schema/ppoa.ts
  packages/decision-intelligence-engine/src/schema/problem.ts
  packages/decision-intelligence-engine/src/schema/situation.ts
  packages/governance-rationale/src/schema.ts
  packages/institutional-intelligence/src/dependency.ts
  pnpm-lock.yaml
  reports/doc-consistency.json
  reports/doc-consistency.md
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

fix(rescue): resolve 27 merge conflicts + lint + branch rename
  apps/union-eyes/app/[locale]/(marketing)/locale-site-navigation.tsx
  apps/union-eyes/app/[locale]/(marketing)/whitepapers/[slug]/page.tsx
  apps/union-eyes/app/[locale]/(marketing)/whitepapers/page.tsx
  apps/union-eyes/lib/whitepaper/library.ts
  packages/decision-evidence/src/builder.test.ts
  packages/decision-intelligence-engine/src/engines/decision-analysis.ts
  packages/governance-rationale/src/engine.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(rescue): strip .js suffixes from relative imports in 5 new packages
  packages/continuity-analysis/src/engine.ts
  packages/continuity-analysis/src/index.ts
  packages/continuity-analysis/src/scoring.test.ts
  packages/continuity-analysis/src/scoring.ts
  packages/continuity-analysis/src/store.ts
  packages/decision-evidence/src/builder.test.ts
  packages/decision-evidence/src/builder.ts
  packages/decision-evidence/src/export.ts
  packages/decision-evidence/src/hash.ts
  packages/decision-evidence/src/index.ts
  packages/decision-evidence/src/store.ts
  packages/decision-intelligence-engine/src/decision-analysis.test.ts
  packages/decision-intelligence-engine/src/engines/decision-analysis.ts
  packages/decision-intelligence-engine/src/engines/ppoa.ts
  packages/decision-intelligence-engine/src/engines/problem-analysis.ts
  packages/decision-intelligence-engine/src/engines/situation-appraisal.ts
  packages/decision-intelligence-engine/src/index.ts
  packages/decision-intelligence-engine/src/ppoa.test.ts
  packages/decision-intelligence-engine/src/problem-analysis.test.ts
  packages/decision-intelligence-engine/src/schema/decision.ts
  packages/decision-intelligence-engine/src/schema/ppoa.ts
  packages/decision-intelligence-engine/src/schema/problem.ts
  packages/decision-intelligence-engine/src/situation-appraisal.test.ts
  packages/decision-intelligence-engine/src/store.ts
  packages/governance-rationale/src/engine.test.ts
  packages/governance-rationale/src/engine.ts
  packages/governance-rationale/src/index.ts
  packages/governance-rationale/src/replay.ts
  packages/governance-rationale/src/store.ts
  packages/institutional-intelligence/src/dependency.test.ts
  packages/institutional-intelligence/src/dependency.ts
  packages/institutional-intelligence/src/index.ts
  packages/institutional-intelligence/src/lineage.test.ts
  packages/institutional-intelligence/src/lineage.ts
  packages/institutional-intelligence/src/store.ts
Due: gitleaks, lint-staged, typecheck-staged

chore(change-mgmt): CHG-2026-0107 (successor to expired 0106) — union-eyes prod window
  ops/change-records/CHG-2026-0106.json
  ops/change-records/CHG-2026-0107.json
Due: gitleaks

docs: close required-doc and stale-date drift
  docs/categories/platform-and-operations/architecture/MONETIZATION_ARCHITECTURE.md
  docs/disaster-recovery.md
  docs/incident-response.md
  docs/procurement-pack.md
  governance/ai/COMPANION_ENGINE_ARCHITECTURE.md
  governance/ai/COMPANION_INTEGRATION_GUIDE.md
  governance/ai/PROMPT_ENGINEERING_STANDARDS.md
  governance/ai/README.md
  governance/business/README.md
  governance/business/investor-materials/README.md
  governance/corporate/finance/GOVERNMENT_FUNDING_STRATEGY.md
  reports/doc-consistency.json
  reports/doc-consistency.md
Due: gitleaks

chore: refresh ops evidence snapshot
  reports/ops/snapshot.json
  reports/ops/snapshot.md
Due: gitleaks

feat: add CIVIC public-service front door
  apps/web/app/public-service/page.tsx
  apps/web/app/sitemap.ts
  apps/web/components/public/Footer.tsx
  apps/web/components/public/Navigation.tsx
  apps/web/messages/en-CA.json
  apps/web/messages/fr-CA.json
  docs/public-service/civic-thesis.md
  docs/public-service/clear-method-note.md
  docs/public-service/equity-implementation-traceability.md
  docs/public-service/human-review-and-evidence-principles.md
  docs/public-service/public-service-continuity-brief.md
  docs/public-service/responsible-modernization-and-accountability.md
  docs/public-service/richard-forwardable-intro.md
  docs/public-service/sage-workspace-direction.md
  docs/public-service/workforce-transition-and-institutional-memory.md
  reports/doc-consistency.json
  reports/doc-consistency.md
Due: gitleaks, lint-staged, typecheck-staged

chore(governance): accept production-baseline governance aliases in script-alias baseline
  tooling/scripts/baselines/script-alias-regression-baseline.json
Due: gitleaks

feat: add CIVIC public-service front door
  apps/web/app/public-service/page.tsx
  apps/web/app/sitemap.ts
  apps/web/components/public/Footer.tsx
  apps/web/components/public/Navigation.tsx
  apps/web/messages/en-CA.json
  apps/web/messages/fr-CA.json
  docs/public-service/civic-thesis.md
  docs/public-service/clear-method-note.md
  docs/public-service/equity-implementation-traceability.md
  docs/public-service/human-review-and-evidence-principles.md
  docs/public-service/public-service-continuity-brief.md
  docs/public-service/responsible-modernization-and-accountability.md
  docs/public-service/richard-forwardable-intro.md
  docs/public-service/sage-workspace-direction.md
  docs/public-service/workforce-transition-and-institutional-memory.md
  reports/doc-consistency.json
  reports/doc-consistency.md
  tooling/repo-inventory/output/inventory.json
  tooling/repo-inventory/output/inventory.md
  tooling/repo-inventory/output/repo-inventory.json
  tooling/repo-inventory/output/repo-inventory.md
Due: gitleaks, lint-staged, typecheck-staged

chore(web): public IA cleanup + CIVIC hero polish
  apps/web/app/public-service/page.tsx
  apps/web/components/public/Footer.tsx
  apps/web/components/public/Navigation.tsx
  apps/web/messages/en-CA.json
  apps/web/messages/fr-CA.json
  reports/doc-consistency.json
  reports/doc-consistency.md
Due: gitleaks, lint-staged, typecheck-staged

Path conditions:
  gitleaks: any of: *.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}
  lint-staged: any of: *.{ts,tsx,js,jsx,mjs}
  typecheck-staged: any of: *.{ts,tsx}
