Repository anungis437/nzila-os: changes, and which lefthook commands are due for each by the changed paths.
All: gitleaks, lint-staged, typecheck-staged

gitleaks:
  run: 'gitleaks detect --source . --config .gitleaks.toml --no-banner --verbose --staged
  
    '
  fail_text: 'ðŸ”’ Gitleaks detected potential secrets in staged files.
  
    Review the output above and remove or rotate any exposed credentials.
  
    See docs/hardening/secrets.md for guidance.
  
  ...

lint-staged:
  run: pnpm lint --filter "...[HEAD]" --output-logs errors-only
  fail_text: Lint errors found. Run `pnpm lint` to see details.

typecheck-staged:
  run: pnpm typecheck --filter "...[HEAD]" --output-logs errors-only
  fail_text: Type errors found. Run `pnpm typecheck` to see details.

fix(union-eyes): remove hardcoded signInUrl/signUpUrl to let Clerk satellite env vars take effect
  apps/union-eyes/app/layout.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): add Clerk satellite build args for union-eyes in gitops-deploy
  .github/workflows/gitops-deploy.yml
Due: gitleaks

fix(union-eyes): double-cast PgTable through unknown to fix TS2352 in case-studies route
  apps/union-eyes/app/api/case-studies/route.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): fix claims form — correct enum values, add desiredOutcome, fix witnesses fields, add error feedback
  apps/union-eyes/app/[locale]/portal/claims/new/page.tsx
Due: gitleaks, lint-staged, typecheck-staged

feat: add @nzila/ue-assistant — governed AI assistant for Union Eyes (#254)
  packages/ue-assistant/package.json
  packages/ue-assistant/src/assistant.ts
  packages/ue-assistant/src/audit.ts
  packages/ue-assistant/src/context.ts
  packages/ue-assistant/src/domain-rules.ts
  packages/ue-assistant/src/escalation.ts
  packages/ue-assistant/src/guardrails.ts
  packages/ue-assistant/src/index.ts
  packages/ue-assistant/src/intents.ts
  packages/ue-assistant/src/knowledge.ts
  packages/ue-assistant/src/localization.ts
  packages/ue-assistant/src/response-policy.ts
  packages/ue-assistant/src/roles.ts
  packages/ue-assistant/src/steward-intelligence.ts
  packages/ue-assistant/src/tools.ts
  packages/ue-assistant/src/types.ts
  packages/ue-assistant/src/ue-assistant.test.ts
  packages/ue-assistant/tsconfig.json
  packages/ue-assistant/vitest.config.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(security): add node-forge >=1.4.0 pnpm override (CVE-2026-33891/33894/33895/33896)
  package.json
  pnpm-lock.yaml
Due: gitleaks

fix(ue-assistant): add eslint config and devDependencies; fix(security): node-forge >=1.4.0 override
  packages/ue-assistant/eslint.config.mjs
  packages/ue-assistant/package.json
  pnpm-lock.yaml
Due: gitleaks, lint-staged

fix: apps/union-eyes/package.json to reduce vulnerabilities
  apps/union-eyes/package.json
Due: gitleaks

fix(claims): coerce incidentDate string to Date, guard null organizationId
  apps/union-eyes/app/api/claims/__tests__/claims-post.test.ts
  apps/union-eyes/app/api/claims/route.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(ue-assistant): fix ToolInvocation result type and invalid as const in test
  packages/ue-assistant/src/tools.ts
  packages/ue-assistant/src/types.ts
  packages/ue-assistant/src/ue-assistant.test.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(claims): cast insert values to claims.\ to satisfy Drizzle overload
  apps/union-eyes/app/api/claims/route.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(chatbot): guard null organizationId in POST /api/chatbot/sessions (fixes 500)
  apps/union-eyes/app/api/chatbot/sessions/route.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(timeline): filter by caseId and map field names (fixes Invalid Date + duplicate entries)
  apps/union-eyes/app/api/cases/[caseId]/timeline/route.ts
Due: gitleaks, lint-staged, typecheck-staged

seed: pension enrollment, employment & seniority for CLC, CAPE, Local 123
  apps/union-eyes/db/seeds/seed-pension-employment.sql
Due: none

seed: comprehensive data build-up for CAPE-ACEP and CUPE Local 123
  apps/union-eyes/db/seeds/seed-cape-l123-buildup.sql
Due: none

fix(members): wire up action buttons in members directory
  apps/union-eyes/components/members/members-console.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(rls): wrap case timeline db.execute in withRLSContext (INV-31)
  apps/union-eyes/app/api/cases/[caseId]/timeline/route.ts
Due: gitleaks, lint-staged, typecheck-staged

feat(nav+members): clickable bell, messages/notifications in sidebar, member locations
  apps/union-eyes/app/api/organization/members/route.ts
  apps/union-eyes/components/dashboard-navbar.tsx
  apps/union-eyes/components/members/members-console.tsx
  apps/union-eyes/components/sidebar.tsx
  apps/union-eyes/db/migrations/0052_add_member_location_fields.sql
  apps/union-eyes/db/schema/organization-members-schema.ts
  apps/union-eyes/messages/en.json
  seed-member-locations.sql
  staging-seed-member-locations.sql
Due: gitleaks, lint-staged, typecheck-staged

fix: add missing location column to organizationMembers schema
  apps/union-eyes/db/schema-organizations.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: rename migration 0052 -> 0060 to resolve duplicate prefix
  apps/union-eyes/db/migrations/0060_add_member_location_fields.sql
Due: none

feat(union-eyes): seed contribution & dues data for all orgs
  apps/union-eyes/db/seeds/seed-contributions-dues-staging.sql
  apps/union-eyes/db/seeds/seed-contributions-dues-v2.sql
Due: none

fix: resolve migration prefix 0060 collision + wire up pension benefit estimates
  apps/union-eyes/components/pension/pension-member-console.tsx
  apps/union-eyes/db/migrations/0087_add_member_location_fields.sql
Due: gitleaks, lint-staged, typecheck-staged

fix: merge planType from plans API into member record
  apps/union-eyes/components/pension/pension-member-console.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix: wire Documents tab to real data (documents API + T4A records)
  apps/union-eyes/components/pension/pension-member-console.tsx
Due: gitleaks, lint-staged, typecheck-staged

feat(pension): wire Overview + Contributions tabs to real data
  apps/union-eyes/components/pension/pension-member-console.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(i18n): add missing sidebar.messages and sidebar.notifications keys
  apps/union-eyes/messages/en-CA.json
  apps/union-eyes/messages/fr-CA.json
Due: gitleaks

fix(messages): handle API response shape mismatch in MessagesDashboard
  apps/union-eyes/components/messages/MessagesDashboard.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(messages): correctly unwrap nested withApi envelope
  apps/union-eyes/components/messages/MessagesDashboard.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(topbar): wrap notification bell in Link to /dashboard/notifications
  apps/union-eyes/components/dashboard-topbar.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(activities): use correct schema/columns for audit_logs query
  apps/union-eyes/app/api/activities/route.ts
  apps/union-eyes/components/dashboards/union-dashboard.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): wire dashboard to real data
  apps/union-eyes/app/api/dashboard/stats/route.ts
  apps/union-eyes/components/dashboards/union-dashboard.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(stats): replace invalid 'dismissed' enum with 'rejected' in claims query
  apps/union-eyes/app/api/dashboard/stats/route.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): transform activities API to match dashboard shape + seed widget data
  apps/union-eyes/app/api/activities/route.ts
  seed-dashboard-widgets.sql
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): DeadlineWidget Invalid Date crash - map dueDate→currentDeadline
  apps/union-eyes/components/dashboards/union-dashboard.tsx
  apps/union-eyes/components/deadlines/DeadlineWidget.tsx
Due: gitleaks, lint-staged, typecheck-staged

fix(security): convert dashboard endpoints to withApi for server-side org validation
  apps/union-eyes/app/api/dashboard/stats/route.ts
  apps/union-eyes/app/api/deadlines/dashboard/route.ts
  seed-local123-worldclass.sql
Due: gitleaks, lint-staged, typecheck-staged

fix: long-term schema alignment — Django as canonical ORM source
  apps/union-eyes/backend/grievances/migrations/0004_expand_deadline_models.py
  apps/union-eyes/backend/grievances/models.py
  apps/union-eyes/db/README.md
  apps/union-eyes/db/migrations/20260327_staging_schema_alignment.sql
  apps/union-eyes/db/schema/claims-schema.ts
  apps/union-eyes/db/schema/domains/claims/claims.ts
  docs/architecture/ORM_BOUNDARY.md
  tooling/db/canonical-schema/manifest.json
  tooling/db/canonical-schema/verify.ts
  tooling/db/dual-orm-parity-check.ts
Due: gitleaks, lint-staged, typecheck-staged

fix: schema alignment phase 2+3 — claim_updates/grievance_transitions/grievance_deadlines
  apps/union-eyes/db/migrations/20260327_staging_alignment_phase2.sql
  apps/union-eyes/db/migrations/20260327_staging_alignment_phase3.sql
  apps/union-eyes/db/schema/claims-schema.ts
  apps/union-eyes/db/schema/domains/claims/claims.ts
  apps/union-eyes/db/schema/domains/claims/workflows.ts
  apps/union-eyes/db/schema/grievance-workflow-schema.ts
Due: gitleaks, lint-staged, typecheck-staged

fix(union-eyes): dashboard fixes — deadlines, sidebar, docs API, chatbot race condition
  apps/union-eyes/app/[locale]/dashboard/deadlines/page.tsx
  apps/union-eyes/app/[locale]/dashboard/messages/page.tsx
  apps/union-eyes/app/api/documents/route.ts
  apps/union-eyes/components/ai/ai-chatbot.tsx
  apps/union-eyes/components/sidebar.tsx
  apps/union-eyes/i18n.ts
  apps/union-eyes/messages/en-CA.json
  apps/union-eyes/messages/en.json
  apps/union-eyes/messages/fr-CA.json
  apps/union-eyes/messages/fr.json
Due: gitleaks, lint-staged, typecheck-staged

fix(ai): Drizzle schema entity_id drift + orgId UUID compliance
  apps/union-eyes/lib/ai-client.ts
  apps/union-eyes/lib/ai/ai-client.ts
  apps/union-eyes/lib/ai/chatbot-service.ts
  apps/union-eyes/lib/ai/embeddings-service.ts
  apps/union-eyes/lib/services/ai/auto-classification-service.ts
  apps/union-eyes/lib/services/ai/clause-extraction-service.ts
  apps/union-eyes/lib/services/ai/precedent-matching-service.ts
  apps/union-eyes/lib/services/ai/vector-search-service.ts
  packages/db/src/schema/ai.ts
  scripts/seed-ai-profiles-ue.sql
Due: gitleaks, lint-staged, typecheck-staged

fix(ci): resolve typecheck null-safety errors and contract test alignment
  apps/union-eyes/app/[locale]/dashboard/deadlines/page.tsx
  apps/union-eyes/app/api/cron/sla-watchdog/route.ts
  apps/union-eyes/app/api/dashboard/stats/route.ts
  apps/union-eyes/lib/analytics-aggregation.ts
  apps/union-eyes/lib/claim-notifications.ts
  apps/union-eyes/lib/scheduled-jobs.ts
  apps/union-eyes/lib/services/case-timeline-service.ts
  apps/union-eyes/lib/workflow-engine.ts
  tooling/contract-tests/org-scoped-registry.test.ts
  tooling/contract-tests/polyglot-authority.test.ts
  tooling/contract-tests/ue-persona-access.test.ts
Due: gitleaks, lint-staged, typecheck-staged

Path conditions:
  gitleaks: any of: *.{ts,tsx,js,jsx,json,env,yml,yaml,md,sh,ps1,py}
  lint-staged: any of: *.{ts,tsx,js,jsx,mjs}
  typecheck-staged: any of: *.{ts,tsx}
